Repository JuliaRegistries/General, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DilumAluthge, @ericphanson, @vchuravy, @staticfloat, @maleadt

.github/CODEOWNERS:

CODEOWNERS @DilumAluthge
.ci/ @DilumAluthge
.github/ @DilumAluthge

.ci/parse_env.jl @ericphanson
.github/workflows/feed.yml @DilumAluthge @ericphanson

# For a very small set of LLVM-related JLLs, we have code owners that
# get pinged on all PRs that modify those JLLs.
C/Clang_assert_jll/ @vchuravy @staticfloat
C/Clang_jll/ @vchuravy @staticfloat
L/LLVMExtra_jll/ @vchuravy @maleadt
L/LLVMLibUnwind_jll/ @vchuravy @staticfloat
L/LLVM_assert_jll/ @vchuravy @staticfloat
L/LLVM_full_assert_jll/ @vchuravy @staticfloat
L/LLVM_full_jll/ @vchuravy @staticfloat
L/LLVM_jll/ @vchuravy @staticfloat
L/LLD_jj/ @vchuravy @staticfloat
L/libLLVM_assert_jll/ @vchuravy @staticfloat
L/libLLVM_jll/ @vchuravy @staticfloat
M/MLIR_jll/ @vchuravy @staticfloat

Make sure all actions are pinned as `@commit # hash` (#120924)
  .github/workflows/feed.yml
Owners: @DilumAluthge, @ericphanson

New version: OceanRobots v0.2.11
  O/OceanRobots/Compat.toml
  O/OceanRobots/Deps.toml
  O/OceanRobots/Versions.toml
Owners: none

🤖 Update one or more manifest files in the `.ci` directory (#120925)
  .ci/Manifest-v1.10.toml
  .ci/Manifest-v1.11.toml
  .ci/Manifest-v1.6.toml
  .ci/Manifest-v1.7.toml
  .ci/Manifest-v1.8.toml
  .ci/Manifest-v1.9.toml
Owners: @DilumAluthge

New version: OceanRobots v0.2.11 (#120926)
  O/OceanRobots/Compat.toml
  O/OceanRobots/Deps.toml
  O/OceanRobots/Versions.toml
Owners: none

New version: PermuteArgs v1.2.0
  P/PermuteArgs/Compat.toml
  P/PermuteArgs/Deps.toml
  P/PermuteArgs/Versions.toml
Owners: none

New version: PermuteArgs v1.2.0 (#120928)
  P/PermuteArgs/Compat.toml
  P/PermuteArgs/Deps.toml
  P/PermuteArgs/Versions.toml
Owners: none

New version: ApproxFunBase v0.9.32
  A/ApproxFunBase/Compat.toml
  A/ApproxFunBase/Versions.toml
Owners: none

New version: ApproxFunBase v0.9.32 (#120929)
  A/ApproxFunBase/Compat.toml
  A/ApproxFunBase/Versions.toml
Owners: none

New package: StippleMakie v0.1.0 (#120711)
  Registry.toml
  S/StippleMakie/Compat.toml
  S/StippleMakie/Deps.toml
  S/StippleMakie/Package.toml
  S/StippleMakie/Versions.toml
Owners: none

New version: HarmonicOrthogonalPolynomials v0.6.1
  H/HarmonicOrthogonalPolynomials/Compat.toml
  H/HarmonicOrthogonalPolynomials/Versions.toml
Owners: none

New version: ProblemReductions v0.2.0
  P/ProblemReductions/Versions.toml
Owners: none

New version: HarmonicOrthogonalPolynomials v0.6.1 (#120930)
  H/HarmonicOrthogonalPolynomials/Compat.toml
  H/HarmonicOrthogonalPolynomials/Versions.toml
Owners: none

New version: SingularIntegrals v0.3.5
  S/SingularIntegrals/Compat.toml
  S/SingularIntegrals/Versions.toml
Owners: none

New version: ProblemReductions v0.2.0 (#120931)
  P/ProblemReductions/Versions.toml
Owners: none

New version: SingularIntegrals v0.3.5 (#120932)
  S/SingularIntegrals/Compat.toml
  S/SingularIntegrals/Versions.toml
Owners: none

New version: SCOTCH_jll v7.0.6+1
  jll/S/SCOTCH_jll/Versions.toml
Owners: none

New package: EnergyModelsHydrogen v0.8.0 (#120713)
  E/EnergyModelsHydrogen/Compat.toml
  E/EnergyModelsHydrogen/Deps.toml
  E/EnergyModelsHydrogen/Package.toml
  E/EnergyModelsHydrogen/Versions.toml
  E/EnergyModelsHydrogen/WeakCompat.toml
  E/EnergyModelsHydrogen/WeakDeps.toml
  Registry.toml
Owners: none

New version: SCOTCH_jll v7.0.6+1 (#120933)
  jll/S/SCOTCH_jll/Versions.toml
Owners: none

New version: ApproxFunFourier v0.3.30
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Versions.toml
Owners: none

New version: MultivariateOrthogonalPolynomials v0.7.2
  M/MultivariateOrthogonalPolynomials/Compat.toml
  M/MultivariateOrthogonalPolynomials/Versions.toml
Owners: none

New version: ApproxFunFourier v0.3.30 (#120934)
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Versions.toml
Owners: none

New version: MultivariateOrthogonalPolynomials v0.7.2 (#120935)
  M/MultivariateOrthogonalPolynomials/Compat.toml
  M/MultivariateOrthogonalPolynomials/Versions.toml
Owners: none

New version: TerminalGat v0.1.3
  T/TerminalGat/Versions.toml
Owners: none

New version: TerminalGat v0.1.3 (#120936)
  T/TerminalGat/Versions.toml
Owners: none

New version: RequiredInterfaces v0.1.7
  R/RequiredInterfaces/Compat.toml
  R/RequiredInterfaces/Versions.toml
Owners: none

New version: RequiredInterfaces v0.1.7 (#120937)
  R/RequiredInterfaces/Compat.toml
  R/RequiredInterfaces/Versions.toml
Owners: none

New version: Reactant v0.2.10
  R/Reactant/Compat.toml
  R/Reactant/Versions.toml
Owners: none

New version: Grassmann v0.8.26
  G/Grassmann/Versions.toml
Owners: none

New version: Reactant v0.2.10 (#120938)
  R/Reactant/Compat.toml
  R/Reactant/Versions.toml
Owners: none

New version: Grassmann v0.8.26 (#120939)
  G/Grassmann/Versions.toml
Owners: none

New version: SymbolicRegression v1.2.0
  S/SymbolicRegression/Versions.toml
Owners: none

New version: SymbolicRegression v1.2.0 (#120940)
  S/SymbolicRegression/Versions.toml
Owners: none

New version: MetidaBioeq v0.2.7
  M/MetidaBioeq/Compat.toml
  M/MetidaBioeq/Deps.toml
  M/MetidaBioeq/Versions.toml
Owners: none

New version: MetidaBioeq v0.2.7 (#120941)
  M/MetidaBioeq/Compat.toml
  M/MetidaBioeq/Deps.toml
  M/MetidaBioeq/Versions.toml
Owners: none

New version: HarfBuzz_jll v8.5.0+0
  jll/H/HarfBuzz_jll/Compat.toml
  jll/H/HarfBuzz_jll/Versions.toml
Owners: none

New version: Fontconfig_jll v2.15.0+0
  jll/F/Fontconfig_jll/Compat.toml
  jll/F/Fontconfig_jll/Versions.toml
Owners: none

New version: NaiveNASflux v2.0.13
  N/NaiveNASflux/Compat.toml
  N/NaiveNASflux/Versions.toml
Owners: none

New version: HarfBuzz_jll v8.5.0+0 (#120942)
  jll/H/HarfBuzz_jll/Compat.toml
  jll/H/HarfBuzz_jll/Versions.toml
Owners: none

New version: Fontconfig_jll v2.15.0+0 (#120943)
  jll/F/Fontconfig_jll/Compat.toml
  jll/F/Fontconfig_jll/Versions.toml
Owners: none

New version: ComplexMixtures v2.11.2
  C/ComplexMixtures/Versions.toml
Owners: none
