Repository JuliaRegistries/General, pull requests merged in 2019-05, with the labels that each got.

#453 New version GenomicVectors: 0.4.1
  G/GenomicVectors/Compat.toml
  G/GenomicVectors/Deps.toml
  G/GenomicVectors/Versions.toml
Labels: patch release, waiting for author

#459 New version Alpine: 0.1.9
  A/Alpine/Compat.toml
  A/Alpine/Deps.toml
  A/Alpine/Versions.toml
Labels: patch release

#454 New package IntegerSequences: 0.1.0
  I/IntegerSequences/Compat.toml
  I/IntegerSequences/Deps.toml
  I/IntegerSequences/Package.toml
  I/IntegerSequences/Versions.toml
  Registry.toml
Labels: new package

#461 New version PowerSystems: 0.3.1
  P/PowerSystems/Versions.toml
Labels: patch release

#464 New package IndirectImports: 0.1.0
  I/IndirectImports/Compat.toml
  I/IndirectImports/Deps.toml
  I/IndirectImports/Package.toml
  I/IndirectImports/Versions.toml
  Registry.toml
Labels: new package

#462 New version ClustForOpt: 0.3.4
  C/ClustForOpt/Versions.toml
Labels: patch release

#463 New version IncrementalInference: 0.5.7
  I/IncrementalInference/Deps.toml
  I/IncrementalInference/Versions.toml
Labels: patch release

#465 New version CapacityExpansion: 0.1.3
  C/CapacityExpansion/Versions.toml
Labels: patch release

#460 New package TensorBoardLogger: 0.1.0
  Registry.toml
  T/TensorBoardLogger/Compat.toml
  T/TensorBoardLogger/Deps.toml
  T/TensorBoardLogger/Package.toml
  T/TensorBoardLogger/Versions.toml
Labels: new package

#466 New version YaoBlocks: 0.3.3
  Y/YaoBlocks/Compat.toml
  Y/YaoBlocks/Versions.toml
Labels: patch release

#467 New version YaoArrayRegister: 0.3.6
  Y/YaoArrayRegister/Compat.toml
  Y/YaoArrayRegister/Versions.toml
Labels: patch release

#450 New package Polymake: 0.1.0
  P/Polymake/Compat.toml
  P/Polymake/Deps.toml
  P/Polymake/Package.toml
  P/Polymake/Versions.toml
  Registry.toml
Labels: new package

#468 New version JuDoc: 0.1.2
  J/JuDoc/Versions.toml
Labels: patch release

#470 New version SimilaritySearch: 0.3.6
  S/SimilaritySearch/Versions.toml
Labels: patch release

#471 New version ReferenceTests: 0.6.1
  R/ReferenceTests/Deps.toml
  R/ReferenceTests/Versions.toml
Labels: patch release

#472 New version Polymake: 0.1.1
  P/Polymake/Versions.toml
Labels: patch release

#474 New version GeoStats: 0.8.9
  G/GeoStats/Compat.toml
  G/GeoStats/Deps.toml
  G/GeoStats/Versions.toml
Labels: patch release

#475 New version Flux: 0.8.3
  F/Flux/Compat.toml
  F/Flux/Deps.toml
  F/Flux/Versions.toml
Labels: patch release

#476 New version CmdStan: 5.0.3
  C/CmdStan/Deps.toml
  C/CmdStan/Versions.toml
Labels: patch release

#477 New version ImageDistances: 0.2.1
  I/ImageDistances/Versions.toml
Labels: patch release

#480 New version LazySets: 1.11.0
  L/LazySets/Compat.toml
  L/LazySets/Deps.toml
  L/LazySets/Versions.toml
Labels: minor release

#481 New version SingularSpectrumAnalysis: 0.2.0
  S/SingularSpectrumAnalysis/Compat.toml
  S/SingularSpectrumAnalysis/Deps.toml
  S/SingularSpectrumAnalysis/Versions.toml
Labels: minor release

#484 New version FinancialToolbox: 0.2.3
  F/FinancialToolbox/Compat.toml
  F/FinancialToolbox/Deps.toml
  F/FinancialToolbox/Versions.toml
Labels: patch release

#486 New version MusicManipulations: 0.6.1
  M/MusicManipulations/Compat.toml
  M/MusicManipulations/Versions.toml
Labels: patch release

#485 New version MIDI: 1.2.0
  M/MIDI/Versions.toml
Labels: minor release

#488 New version DualMatrixTools: 1.2.5
  D/DualMatrixTools/Compat.toml
  D/DualMatrixTools/Versions.toml
Labels: patch release

#469 New version Hyperopt: 0.2.0
  H/Hyperopt/Compat.toml
  H/Hyperopt/Deps.toml
  H/Hyperopt/Versions.toml
Labels: minor release

#490 New version SimpleDifferentialOperators: 0.4.2
  S/SimpleDifferentialOperators/Deps.toml
  S/SimpleDifferentialOperators/Versions.toml
Labels: patch release

#491 New version ApproximateComputations: 0.3.3
  A/ApproximateComputations/Compat.toml
  A/ApproximateComputations/Deps.toml
  A/ApproximateComputations/Versions.toml
Labels: patch release

#479 New package TextSearch: 0.2.5
  Registry.toml
  T/TextSearch/Compat.toml
  T/TextSearch/Deps.toml
  T/TextSearch/Package.toml
  T/TextSearch/Versions.toml
Labels: new package

#493 New version LPVSpectral: 0.1.2
  L/LPVSpectral/Compat.toml
  L/LPVSpectral/Deps.toml
  L/LPVSpectral/Versions.toml
Labels: patch release

#492 New version Tracking: 0.9.3
  T/Tracking/Compat.toml
  T/Tracking/Deps.toml
  T/Tracking/Versions.toml
Labels: patch release

#489 New version RoME: 0.3.4
  R/RoME/Compat.toml
  R/RoME/Deps.toml
  R/RoME/Versions.toml
Labels: patch release, waiting for author

#495 New version ReferenceTests: 0.6.2
  R/ReferenceTests/Deps.toml
  R/ReferenceTests/Versions.toml
Labels: patch release

#496 New version CUDAapi: 1.0.0
  C/CUDAapi/Compat.toml
  C/CUDAapi/Deps.toml
  C/CUDAapi/Versions.toml
Labels: major release

#497 New package HSL: 0.1.0
  H/HSL/Compat.toml
  H/HSL/Deps.toml
  H/HSL/Package.toml
  H/HSL/Versions.toml
  Registry.toml
Labels: new package

#473 New package MemberFunctions: 0.1.0
  M/MemberFunctions/Compat.toml
  M/MemberFunctions/Deps.toml
  M/MemberFunctions/Package.toml
  M/MemberFunctions/Versions.toml
  Registry.toml
Labels: new package

#487 New version FDM: 0.5.0
  F/FDM/Deps.toml
  F/FDM/Versions.toml
Labels: minor release

#502 New version PowerModelsAnnex: 0.1.12
  P/PowerModelsAnnex/Compat.toml
  P/PowerModelsAnnex/Deps.toml
  P/PowerModelsAnnex/Versions.toml
Labels: patch release

#503 New version JSON2: 0.3.0
  J/JSON2/Compat.toml
  J/JSON2/Deps.toml
  J/JSON2/Versions.toml
Labels: minor release

#500 New version DiffEqOperators: 3.5.0
  D/DiffEqOperators/Compat.toml
  D/DiffEqOperators/Deps.toml
  D/DiffEqOperators/Versions.toml
Labels: minor release

#483 New version Quadmath: 0.3.2
  Q/Quadmath/Compat.toml
  Q/Quadmath/Versions.toml
Labels: patch release

#504 New version IndirectImports: 0.1.1
  I/IndirectImports/Compat.toml
  I/IndirectImports/Versions.toml
Labels: patch release

#505 New version LiveServer: 0.1.1
  L/LiveServer/Compat.toml
  L/LiveServer/Versions.toml
Labels: patch release

#506 New version LPVSpectral: 0.1.3
  L/LPVSpectral/Compat.toml
  L/LPVSpectral/Versions.toml
Labels: patch release

#507 New version Juniper: 0.3.0
  J/Juniper/Compat.toml
  J/Juniper/Deps.toml
  J/Juniper/Versions.toml
Labels: minor release

#508 New version Sundials: 3.4.0
  S/Sundials/Compat.toml
  S/Sundials/Deps.toml
  S/Sundials/Versions.toml
Labels: minor release

#512 New version DataFrames: 0.18.2
  D/DataFrames/Compat.toml
  D/DataFrames/Versions.toml
Labels: patch release

#511 New version Boltzmann: 0.7.0
  B/Boltzmann/Compat.toml
  B/Boltzmann/Versions.toml
Labels: minor release

#509 New version Pitchjx: 0.0.2
  P/Pitchjx/Compat.toml
  P/Pitchjx/Deps.toml
  P/Pitchjx/Versions.toml
Labels: patch release

#510 New version LabelledArrays: 0.7.0
  L/LabelledArrays/Versions.toml
Labels: minor release

#513 New package GitForge: 0.1.0
  G/GitForge/Compat.toml
  G/GitForge/Deps.toml
  G/GitForge/Package.toml
  G/GitForge/Versions.toml
  Registry.toml
Labels: new package

#514 New version DrWatson: 0.3.0
  D/DrWatson/Compat.toml
  D/DrWatson/Deps.toml
  D/DrWatson/Versions.toml
Labels: minor release

#515 New version DiffEqDevTools: 2.8.0
  D/DiffEqDevTools/Compat.toml
  D/DiffEqDevTools/Deps.toml
  D/DiffEqDevTools/Versions.toml
Labels: minor release

#494 QueryOperators supports IteratorInterfaceExtensions 1.0
  Q/QueryOperators/Compat.toml
Labels: compat fix

#524 New version CSV: 0.5.0
  C/CSV/Compat.toml
  C/CSV/Deps.toml
  C/CSV/Versions.toml
Labels: minor release

#366 New version OpenStreetMapX: 0.1.10
  O/OpenStreetMapX/Compat.toml
  O/OpenStreetMapX/Deps.toml
  O/OpenStreetMapX/Versions.toml
Labels: patch release

#516 New version MCMCChains: 0.3.9
  M/MCMCChains/Versions.toml
Labels: patch release

#517 New version JuliaInterpreter: 0.5.1
  J/JuliaInterpreter/Compat.toml
  J/JuliaInterpreter/Deps.toml
  J/JuliaInterpreter/Versions.toml
Labels: patch release

#518 New version QuantumLattices: 0.1.1
  Q/QuantumLattices/Deps.toml
  Q/QuantumLattices/Versions.toml
Labels: patch release

#519 New version LightQuery: 0.2.1
  L/LightQuery/Deps.toml
  L/LightQuery/Versions.toml
Labels: patch release

#521 New version Sundials: 3.4.1
  S/Sundials/Deps.toml
  S/Sundials/Versions.toml
Labels: patch release

#523 New version MonteCarloMeasurements: 0.2.1
  M/MonteCarloMeasurements/Compat.toml
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#525 New version Pitchjx: 0.0.3
  P/Pitchjx/Versions.toml
Labels: patch release

#526 New version ODEInterfaceDiffEq: 3.2.0
  O/ODEInterfaceDiffEq/Compat.toml
  O/ODEInterfaceDiffEq/Deps.toml
  O/ODEInterfaceDiffEq/Versions.toml
Labels: minor release

#527 New version ImageDistances: 0.2.2
  I/ImageDistances/Compat.toml
  I/ImageDistances/Deps.toml
  I/ImageDistances/Versions.toml
Labels: patch release

#528 New version YaoBlocks: 0.3.4
  Y/YaoBlocks/Compat.toml
  Y/YaoBlocks/Versions.toml
Labels: patch release

#529 New version YaoArrayRegister: 0.3.7
  Y/YaoArrayRegister/Compat.toml
  Y/YaoArrayRegister/Versions.toml
Labels: patch release

#530 New version AbstractAlgebra: 0.4.7
  A/AbstractAlgebra/Compat.toml
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#532 New version OffsetArrays: 0.11.0
  O/OffsetArrays/Compat.toml
  O/OffsetArrays/Deps.toml
  O/OffsetArrays/Versions.toml
Labels: minor release

#533 New version ImageFiltering: 0.6.1
  I/ImageFiltering/Compat.toml
  I/ImageFiltering/Versions.toml
Labels: patch release

#520 New version AdvancedHMC: 0.1.5
  A/AdvancedHMC/Compat.toml
  A/AdvancedHMC/Versions.toml
Labels: patch release

#535 New version CoDa: 0.1.1
  C/CoDa/Compat.toml
  C/CoDa/Deps.toml
  C/CoDa/Versions.toml
Labels: patch release

#536 New version Nemo: 0.13.5
  N/Nemo/Compat.toml
  N/Nemo/Versions.toml
Labels: patch release

#537 New version ExtremeStats: 0.2.1
  E/ExtremeStats/Compat.toml
  E/ExtremeStats/Deps.toml
  E/ExtremeStats/Versions.toml
Labels: patch release

#539 New version Revise: 2.1.4
  R/Revise/Compat.toml
  R/Revise/Versions.toml
Labels: patch release

#540 New version DelayEmbeddings: 1.0.3
  D/DelayEmbeddings/Compat.toml
  D/DelayEmbeddings/Deps.toml
  D/DelayEmbeddings/Versions.toml
Labels: patch release

#542 New version RecurrenceAnalysis: 1.0.2
  R/RecurrenceAnalysis/Compat.toml
  R/RecurrenceAnalysis/Deps.toml
  R/RecurrenceAnalysis/Versions.toml
Labels: patch release

#543 New version DynamicalSystemsBase: 1.2.5
  D/DynamicalSystemsBase/Compat.toml
  D/DynamicalSystemsBase/Deps.toml
  D/DynamicalSystemsBase/Versions.toml
Labels: patch release

#544 New version Parsers: 0.3.3
  P/Parsers/Versions.toml
Labels: patch release

#545 New version Tables: 0.2.1
  T/Tables/Versions.toml
Labels: patch release

#546 New version Laplacians: 1.1.0
  L/Laplacians/Compat.toml
  L/Laplacians/Deps.toml
  L/Laplacians/Versions.toml
Labels: minor release

#549 New version ImageDistances: 0.2.3
  I/ImageDistances/Compat.toml
  I/ImageDistances/Versions.toml
Labels: patch release

#552 New version DynamicalSystems: 1.2.1
  D/DynamicalSystems/Compat.toml
  D/DynamicalSystems/Deps.toml
  D/DynamicalSystems/Versions.toml
Labels: patch release

#554 New version COSMO: 0.4.2
  C/COSMO/Compat.toml
  C/COSMO/Deps.toml
  C/COSMO/Versions.toml
Labels: patch release

#555 New version MIDI: 1.2.1
  M/MIDI/Compat.toml
  M/MIDI/Versions.toml
Labels: patch release

#556 New version HomotopyContinuation: 0.7.1
  H/HomotopyContinuation/Compat.toml
  H/HomotopyContinuation/Versions.toml
Labels: patch release

#558 New version LabelledArrays: 0.7.1
  L/LabelledArrays/Versions.toml
Labels: patch release

#560 New version Caesar: 0.3.1
  C/Caesar/Compat.toml
  C/Caesar/Deps.toml
  C/Caesar/Versions.toml
Labels: patch release

#561 New version ImageFiltering: 0.6.2
  I/ImageFiltering/Versions.toml
Labels: patch release

#562 New version TextSearch: 0.2.6
  T/TextSearch/Compat.toml
  T/TextSearch/Versions.toml
Labels: patch release

#563 New version MosekTools: 0.7.3
  M/MosekTools/Compat.toml
  M/MosekTools/Deps.toml
  M/MosekTools/Versions.toml
Labels: patch release

#564 New version MagneticReadHead: 0.2.2
  M/MagneticReadHead/Compat.toml
  M/MagneticReadHead/Deps.toml
  M/MagneticReadHead/Versions.toml
Labels: patch release

#174 Register Callbacks: 0.1.0
  C/Callbacks/Compat.toml
  C/Callbacks/Deps.toml
  C/Callbacks/Package.toml
  C/Callbacks/Versions.toml
  Registry.toml
Labels: new package

#478 New package Ditherings: 0.1.0
  D/Ditherings/Compat.toml
  D/Ditherings/Deps.toml
  D/Ditherings/Package.toml
  D/Ditherings/Versions.toml
  Registry.toml
Labels: new package

#482 New package FCA: 0.2.1
  F/FCA/Compat.toml
  F/FCA/Deps.toml
  F/FCA/Package.toml
  F/FCA/Versions.toml
  Registry.toml
Labels: new package

#501 New package ExpressPathToRegex: 0.1.0
  E/ExpressPathToRegex/Compat.toml
  E/ExpressPathToRegex/Deps.toml
  E/ExpressPathToRegex/Package.toml
  E/ExpressPathToRegex/Versions.toml
  Registry.toml
Labels: new package

#522 New package UnstructuredGrids: 0.1.1
  Registry.toml
  U/UnstructuredGrids/Compat.toml
  U/UnstructuredGrids/Deps.toml
  U/UnstructuredGrids/Package.toml
  U/UnstructuredGrids/Versions.toml
Labels: new package

#538 New package WaterModels: 0.0.1
  Registry.toml
  W/WaterModels/Compat.toml
  W/WaterModels/Deps.toml
  W/WaterModels/Package.toml
  W/WaterModels/Versions.toml
Labels: new package

#548 New package Infinity: 0.1.0
  I/Infinity/Compat.toml
  I/Infinity/Deps.toml
  I/Infinity/Package.toml
  I/Infinity/Versions.toml
  Registry.toml
Labels: new package

#551 New package ExactDiagonalization: 0.1.0
  E/ExactDiagonalization/Compat.toml
  E/ExactDiagonalization/Deps.toml
  E/ExactDiagonalization/Package.toml
  E/ExactDiagonalization/Versions.toml
  Registry.toml
Labels: new package

#569 New version GeoStatsImages: 0.3.1
  G/GeoStatsImages/Compat.toml
  G/GeoStatsImages/Deps.toml
  G/GeoStatsImages/Versions.toml
Labels: patch release

#568 New version GslibIO: 0.2.1
  G/GslibIO/Compat.toml
  G/GslibIO/Deps.toml
  G/GslibIO/Versions.toml
Labels: patch release

#567 New version StorageGraphs: 0.3.0
  S/StorageGraphs/Versions.toml
Labels: minor release

#547 New package PressureFieldContact: 0.0.1
  P/PressureFieldContact/Compat.toml
  P/PressureFieldContact/Deps.toml
  P/PressureFieldContact/Package.toml
  P/PressureFieldContact/Versions.toml
  Registry.toml
Labels: waiting for author

#572 New version OmniSci: 0.4.0
  O/OmniSci/Compat.toml
  O/OmniSci/Deps.toml
  O/OmniSci/Versions.toml
Labels: minor release

#570 New version FCA: 0.2.2
  F/FCA/Compat.toml
  F/FCA/Versions.toml
Labels: patch release

#559 New package PrettyPrint: 0.1.0
  P/PrettyPrint/Compat.toml
  P/PrettyPrint/Deps.toml
  P/PrettyPrint/Package.toml
  P/PrettyPrint/Versions.toml
  Registry.toml
Labels: new package

#566 New package SparseMatrixDicts: 0.2.2
  Registry.toml
  S/SparseMatrixDicts/Compat.toml
  S/SparseMatrixDicts/Deps.toml
  S/SparseMatrixDicts/Package.toml
  S/SparseMatrixDicts/Versions.toml
Labels: new package

#534 New package OpenPixelControl: 0.1.1
  O/OpenPixelControl/Compat.toml
  O/OpenPixelControl/Deps.toml
  O/OpenPixelControl/Package.toml
  O/OpenPixelControl/Versions.toml
  Registry.toml
Labels: new package

#571 New package F1Method: 0.1.0
  F/F1Method/Compat.toml
  F/F1Method/Deps.toml
  F/F1Method/Package.toml
  F/F1Method/Versions.toml
  Registry.toml
Labels: new package

#574 New version MonteCarloMeasurements: 0.2.2
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#576 New version Hyperopt: 0.2.1
  H/Hyperopt/Compat.toml
  H/Hyperopt/Deps.toml
  H/Hyperopt/Versions.toml
Labels: patch release

#577 New version FITSIO: 0.14.0
  F/FITSIO/Compat.toml
  F/FITSIO/Deps.toml
  F/FITSIO/Versions.toml
Labels: minor release

#579 New version NCDatasets: 0.9.2
  N/NCDatasets/Compat.toml
  N/NCDatasets/Versions.toml
Labels: patch release

#557 New version MeshArrays: 0.1.6
  M/MeshArrays/Compat.toml
  M/MeshArrays/Deps.toml
  M/MeshArrays/Versions.toml
Labels: patch release

#531 New version SeisIO: 0.2.0
  S/SeisIO/Compat.toml
  S/SeisIO/Versions.toml
Labels: minor release

#580 New version FinEtools: 2.0.1
  F/FinEtools/Deps.toml
  F/FinEtools/Versions.toml
Labels: major release

#581 New version GLPK: 0.10.0
  G/GLPK/Compat.toml
  G/GLPK/Deps.toml
  G/GLPK/Versions.toml
Labels: minor release

#582 New version DataKnots: 0.6.0
  D/DataKnots/Compat.toml
  D/DataKnots/Versions.toml
Labels: minor release

#583 New version CSV: 0.5.1
  C/CSV/Versions.toml
Labels: patch release

#585 New version ControlSystemIdentification: 0.1.3
  C/ControlSystemIdentification/Compat.toml
  C/ControlSystemIdentification/Deps.toml
  C/ControlSystemIdentification/Versions.toml
Labels: patch release

#586 New version StatsMakie: 0.0.5
  S/StatsMakie/Compat.toml
  S/StatsMakie/Deps.toml
  S/StatsMakie/Versions.toml
Labels: patch release

#587 New version GeoStatsBase: 0.4.2
  G/GeoStatsBase/Compat.toml
  G/GeoStatsBase/Versions.toml
Labels: patch release

#553 New version DynamicalBilliards: 3.5.2
  D/DynamicalBilliards/Compat.toml
  D/DynamicalBilliards/Deps.toml
  D/DynamicalBilliards/Versions.toml
Labels: patch release

#588 New version CairoMakie: 0.1.1
  C/CairoMakie/Compat.toml
  C/CairoMakie/Deps.toml
  C/CairoMakie/Versions.toml
Labels: patch release

#589 New version PowerSystems: 0.3.2
  P/PowerSystems/Compat.toml
  P/PowerSystems/Versions.toml
Labels: patch release

#592 New version InverseDistanceWeighting: 0.2.1
  I/InverseDistanceWeighting/Compat.toml
  I/InverseDistanceWeighting/Deps.toml
  I/InverseDistanceWeighting/Versions.toml
Labels: patch release

#593 New version LocallyWeightedRegression: 0.3.1
  L/LocallyWeightedRegression/Compat.toml
  L/LocallyWeightedRegression/Deps.toml
  L/LocallyWeightedRegression/Versions.toml
Labels: patch release

#594 New version SpectralGaussianSimulation: 0.1.0
  S/SpectralGaussianSimulation/Compat.toml
  S/SpectralGaussianSimulation/Deps.toml
  S/SpectralGaussianSimulation/Versions.toml
Labels: minor release

#590 New version JuDocTemplates: 0.2.0
  J/JuDocTemplates/Versions.toml
Labels: minor release

#591 New version DirectGaussianSimulation: 0.2.1
  D/DirectGaussianSimulation/Compat.toml
  D/DirectGaussianSimulation/Deps.toml
  D/DirectGaussianSimulation/Versions.toml
Labels: patch release

#595 New version F1Method: 0.2.0
  F/F1Method/Versions.toml
Labels: minor release

#596 New version PGFPlots: 3.1.1
  P/PGFPlots/Compat.toml
  P/PGFPlots/Deps.toml
  P/PGFPlots/Versions.toml
Labels: minor release

#597 New version StorageGraphs: 0.3.1
  S/StorageGraphs/Versions.toml
Labels: patch release

#598 New version CDDLib: 0.5.2
  C/CDDLib/Compat.toml
  C/CDDLib/Deps.toml
  C/CDDLib/Versions.toml
Labels: patch release

#600 New version Grassmann: 0.1.3
  G/Grassmann/Compat.toml
  G/Grassmann/Versions.toml
Labels: patch release

#599 New version ClimateTools: 0.14.0
  C/ClimateTools/Compat.toml
  C/ClimateTools/Deps.toml
  C/ClimateTools/Versions.toml
Labels: minor release

#603 New version SymPy: 1.0.3
  S/SymPy/Compat.toml
  S/SymPy/Deps.toml
  S/SymPy/Versions.toml
Labels: patch release

#602 New version Mustache: 0.5.12
  M/Mustache/Compat.toml
  M/Mustache/Deps.toml
  M/Mustache/Versions.toml
Labels: patch release

#601 New version ControlSystemIdentification: 0.1.4
  C/ControlSystemIdentification/Versions.toml
Labels: patch release

#604 New version OnlineStatsBase: 0.13.0
  O/OnlineStatsBase/Versions.toml
Labels: minor release

#432 New version CMakeWrapper: 0.2.3
  C/CMakeWrapper/Compat.toml
  C/CMakeWrapper/Versions.toml
Labels: patch release

#609 New version OnlineStats: 0.26.0
  O/OnlineStats/Compat.toml
  O/OnlineStats/Versions.toml
Labels: minor release

#607 New version LibPQ: 0.8.0
  L/LibPQ/Compat.toml
  L/LibPQ/Deps.toml
  L/LibPQ/Versions.toml
Labels: minor release

#610 New version VisualRegressionTests: 0.3.1
  V/VisualRegressionTests/Compat.toml
  V/VisualRegressionTests/Deps.toml
  V/VisualRegressionTests/Versions.toml
Labels: patch release

#611 New version SingularSpectrumAnalysis: 0.2.1
  S/SingularSpectrumAnalysis/Deps.toml
  S/SingularSpectrumAnalysis/Versions.toml
Labels: patch release

#612 New version QuantumLattices: 0.1.2
  Q/QuantumLattices/Versions.toml
Labels: patch release

#618 New version GitForge: 0.1.1
  G/GitForge/Versions.toml
Labels: patch release

#616 New version Interpolations: 0.12.0
  I/Interpolations/Compat.toml
  I/Interpolations/Deps.toml
  I/Interpolations/Versions.toml
Labels: minor release
