Repository JuliaRegistries/General, pull requests merged in 2019-09, with the labels that each got.

#3123 New version: GitForge v0.1.5
  G/GitForge/Versions.toml
Labels: patch release

#3042 New package: ExperimentalDesign v0.1.0
  E/ExperimentalDesign/Compat.toml
  E/ExperimentalDesign/Deps.toml
  E/ExperimentalDesign/Package.toml
  E/ExperimentalDesign/Versions.toml
  Registry.toml
Labels: new package

#3058 New version: CovarianceMatrices v0.9.1
  C/CovarianceMatrices/Compat.toml
  C/CovarianceMatrices/Deps.toml
  C/CovarianceMatrices/Versions.toml
Labels: patch release

#3062 New package: UnitfulRecipes v0.1.0
  Registry.toml
  U/UnitfulRecipes/Compat.toml
  U/UnitfulRecipes/Deps.toml
  U/UnitfulRecipes/Package.toml
  U/UnitfulRecipes/Versions.toml
Labels: new package

#3109 New version: FastGaussQuadrature v0.4.0
  F/FastGaussQuadrature/Compat.toml
  F/FastGaussQuadrature/Deps.toml
  F/FastGaussQuadrature/Versions.toml
Labels: minor release

#3113 New version: LevelDB v2.1.0
  L/LevelDB/Versions.toml
Labels: minor release

#3115 New version: Stheno v0.3.2
  S/Stheno/Deps.toml
  S/Stheno/Versions.toml
Labels: patch release

#3110 New version: FillArrays v0.7.0
  F/FillArrays/Compat.toml
  F/FillArrays/Versions.toml
Labels: minor release

#3111 New version: DynamicPolynomials v0.3.3
  D/DynamicPolynomials/Compat.toml
  D/DynamicPolynomials/Versions.toml
Labels: patch release

#3118 New version: TypedPolynomials v0.2.2
  T/TypedPolynomials/Compat.toml
  T/TypedPolynomials/Deps.toml
  T/TypedPolynomials/Versions.toml
Labels: patch release

#3120 New version: ApproxFunBase v0.1.5
  A/ApproxFunBase/Compat.toml
  A/ApproxFunBase/Deps.toml
  A/ApproxFunBase/Versions.toml
Labels: patch release

#3121 Add upperbounds to FastTransforms.jl
  F/FastTransforms/Compat.toml
Labels: compat fix

#3133 New version: CommonSolve v0.2.0
  C/CommonSolve/Versions.toml
Labels: minor release

#3136 New version: Lazy v0.14.0
  L/Lazy/Compat.toml
  L/Lazy/Deps.toml
  L/Lazy/Versions.toml
Labels: minor release

#3138 New version: HypergeometricFunctions v0.1.0
  H/HypergeometricFunctions/Compat.toml
  H/HypergeometricFunctions/Deps.toml
  H/HypergeometricFunctions/Versions.toml
Labels: minor release

#3116 New version: Juniper v0.4.3
  J/Juniper/Compat.toml
  J/Juniper/Versions.toml
Labels: patch release, waiting for author

#3182 New version: GLPK v0.11.3
  G/GLPK/Versions.toml
Labels: patch release

#3173 New version: PolyJuMP v0.3.3
  P/PolyJuMP/Compat.toml
  P/PolyJuMP/Versions.toml
Labels: patch release

#3171 New version: FiniteDifferences v0.7.2
  F/FiniteDifferences/Compat.toml
  F/FiniteDifferences/Versions.toml
Labels: patch release

#3170 New version: ParallelProcessingTools v0.4.1
  P/ParallelProcessingTools/Versions.toml
Labels: patch release

#3169 New version: ADCME v0.2.3
  A/ADCME/Versions.toml
Labels: patch release

#3168 New version: BangBang v0.3.0
  B/BangBang/Compat.toml
  B/BangBang/Deps.toml
  B/BangBang/Versions.toml
Labels: minor release

#3070 New package: Infiltrator v0.1.0
  I/Infiltrator/Compat.toml
  I/Infiltrator/Deps.toml
  I/Infiltrator/Package.toml
  I/Infiltrator/Versions.toml
  Registry.toml
Labels: new package

#3112 New package: NameResolution v0.1.0
  N/NameResolution/Compat.toml
  N/NameResolution/Deps.toml
  N/NameResolution/Package.toml
  N/NameResolution/Versions.toml
  Registry.toml
Labels: new package

#3164 New version: DynamicHMC v2.0.0
  D/DynamicHMC/Compat.toml
  D/DynamicHMC/Deps.toml
  D/DynamicHMC/Versions.toml
Labels: major release

#3163 New version: AugmentedGaussianProcesses v0.5.1
  A/AugmentedGaussianProcesses/Versions.toml
Labels: patch release

#3162 New version: OnlineStatsBase v1.0.0
  O/OnlineStatsBase/Deps.toml
  O/OnlineStatsBase/Versions.toml
Labels: major release

#3139 New version: PolynomialAmoebas v0.1.1
  P/PolynomialAmoebas/Compat.toml
  P/PolynomialAmoebas/Deps.toml
  P/PolynomialAmoebas/Versions.toml
Labels: patch release

#3140 New version: Matcha v0.2.0
  M/Matcha/Compat.toml
  M/Matcha/Versions.toml
Labels: minor release

#3161 New version: GeometryTypes v0.7.6
  G/GeometryTypes/Versions.toml
Labels: patch release

#3143 New version: ApproxFunOrthogonalPolynomials v0.2.2
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Deps.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#3144 New version: ApproxFunFourier v0.1.4
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Deps.toml
  A/ApproxFunFourier/Versions.toml
Labels: patch release

#3159 New version: ApproxFun v0.11.5
  A/ApproxFun/Compat.toml
  A/ApproxFun/Deps.toml
  A/ApproxFun/Versions.toml
Labels: patch release

#3158 New version: SalesForceBulkApi v0.0.5
  S/SalesForceBulkApi/Versions.toml
Labels: patch release

#3145 New version: CDDLib v0.5.3
  C/CDDLib/Compat.toml
  C/CDDLib/Deps.toml
  C/CDDLib/Versions.toml
Labels: patch release

#3147 New version: JuDocTemplates v0.2.3
  J/JuDocTemplates/Versions.toml
Labels: patch release

#3148 New version: ApproxFunSingularities v0.1.3
  A/ApproxFunSingularities/Compat.toml
  A/ApproxFunSingularities/Deps.toml
  A/ApproxFunSingularities/Versions.toml
Labels: patch release

#3150 New version: OSQP v0.6.0
  O/OSQP/Versions.toml
Labels: minor release

#3149 New version: CausalityToolsBase v0.4.2
  C/CausalityToolsBase/Compat.toml
  C/CausalityToolsBase/Versions.toml
Labels: patch release

#3154 New version: Mimi v0.9.3
  M/Mimi/Compat.toml
  M/Mimi/Versions.toml
Labels: patch release

#3153 New version: DoubleFloats v0.9.8
  D/DoubleFloats/Versions.toml
Labels: patch release

#3155 New version: TimeSeriesClustering v0.5.2
  T/TimeSeriesClustering/Versions.toml
Labels: patch release

#3156 New version: Highlights v0.4.3
  H/Highlights/Versions.toml
Labels: patch release

#3151 New version: StanSample v0.2.0
  S/StanSample/Versions.toml
Labels: minor release

#3167 New version: LambdaFn v0.3.0
  L/LambdaFn/Versions.toml
Labels: minor release

#3196 New version: jlpkg v1.1.1
  J/jlpkg/Versions.toml
Labels: patch release

#3193 New version: DrWatson v1.0.1
  D/DrWatson/Versions.toml
Labels: patch release

#3192 New version: FastTransforms v0.6.0
  F/FastTransforms/Compat.toml
  F/FastTransforms/Deps.toml
  F/FastTransforms/Versions.toml
Labels: minor release

#3191 New version: BlockArrays v0.10.0
  B/BlockArrays/Compat.toml
  B/BlockArrays/Versions.toml
Labels: minor release

#3190 New version: LazyArrays v0.11.0
  L/LazyArrays/Compat.toml
  L/LazyArrays/Versions.toml
Labels: minor release

#3189 New version: Debugger v0.6.1
  D/Debugger/Compat.toml
  D/Debugger/Versions.toml
Labels: patch release

#3198 New version: BandedMatrices v0.11.0
  B/BandedMatrices/Compat.toml
  B/BandedMatrices/Versions.toml
Labels: minor release

#3199 New version: JuliaInterpreter v0.7.1
  J/JuliaInterpreter/Versions.toml
Labels: patch release

#3183 New version: JuliaFormatter v0.1.8
  J/JuliaFormatter/Versions.toml
Labels: patch release

#3201 New version: OrdinaryDiffEq v5.15.1
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#3219 New version: DiffEqBase v5.20.1
  D/DiffEqBase/Versions.toml
Labels: patch release

#3165 New version: Kpax3 v0.5.2
  K/Kpax3/Compat.toml
  K/Kpax3/Deps.toml
  K/Kpax3/Versions.toml
Labels: patch release

#3200 New version: Juniper v0.5.0
  J/Juniper/Compat.toml
  J/Juniper/Versions.toml
Labels: minor release

#3202 New version: StringAnalysis v0.3.9
  S/StringAnalysis/Versions.toml
Labels: patch release

#3203 New version: BlockBandedMatrices v0.5.0
  B/BlockBandedMatrices/Compat.toml
  B/BlockBandedMatrices/Versions.toml
Labels: minor release

#3204 New version: InfiniteArrays v0.2.0
  I/InfiniteArrays/Compat.toml
  I/InfiniteArrays/Deps.toml
  I/InfiniteArrays/Versions.toml
Labels: minor release

#3207 New version: SumOfSquares v0.3.5
  S/SumOfSquares/Compat.toml
  S/SumOfSquares/Versions.toml
Labels: patch release

#3208 New version: StochasticDiffEq v6.9.1
  S/StochasticDiffEq/Compat.toml
  S/StochasticDiffEq/Versions.toml
Labels: patch release

#3209 New version: DiffEqJump v6.2.1
  D/DiffEqJump/Versions.toml
Labels: patch release

#3210 New version: ImageAxes v0.6.1
  I/ImageAxes/Compat.toml
  I/ImageAxes/Versions.toml
Labels: patch release

#3211 New version: AdvancedHMC v0.2.4
  A/AdvancedHMC/Versions.toml
Labels: patch release

#3212 New version: Revise v2.1.10
  R/Revise/Compat.toml
  R/Revise/Versions.toml
Labels: patch release

#3213 New version: GaussianDistributions v0.3.3
  G/GaussianDistributions/Compat.toml
  G/GaussianDistributions/Deps.toml
  G/GaussianDistributions/Versions.toml
Labels: patch release

#3214 New version: PhyloNetworks v0.10.0
  P/PhyloNetworks/Compat.toml
  P/PhyloNetworks/Deps.toml
  P/PhyloNetworks/Versions.toml
Labels: minor release

#3215 New version: Reduce v1.2.1
  R/Reduce/Versions.toml
Labels: patch release

#3216 New version: BenchmarkTools v0.4.3
  B/BenchmarkTools/Compat.toml
  B/BenchmarkTools/Deps.toml
  B/BenchmarkTools/Versions.toml
Labels: patch release

#3217 New version: MCMCChains v0.3.14
  M/MCMCChains/Versions.toml
Labels: patch release

#3218 New version: HypergeometricFunctions v0.1.1
  H/HypergeometricFunctions/Compat.toml
  H/HypergeometricFunctions/Versions.toml
Labels: patch release

#3221 New version: MechanismGeometries v0.4.1
  M/MechanismGeometries/Versions.toml
Labels: patch release

#3249 New version: Atom v0.10.0
  A/Atom/Compat.toml
  A/Atom/Deps.toml
  A/Atom/Versions.toml
Labels: minor release

#3206 New version: DynamicHMCModels v1.0.0
  D/DynamicHMCModels/Compat.toml
  D/DynamicHMCModels/Deps.toml
  D/DynamicHMCModels/Versions.toml
Labels: major release

#3224 New version: Missings v0.4.2
  M/Missings/Deps.toml
  M/Missings/Versions.toml
Labels: patch release

#3229 New version: Sobol v1.3.0
  S/Sobol/Versions.toml
Labels: minor release

#3230 New version: Bootstrap v2.2.0
  B/Bootstrap/Compat.toml
  B/Bootstrap/Versions.toml
Labels: minor release

#3233 New version: BangBang v0.3.1
  B/BangBang/Versions.toml
Labels: patch release

#3234 New version: PyPlot v2.8.2
  P/PyPlot/Compat.toml
  P/PyPlot/Versions.toml
Labels: patch release

#3238 New version: UnitfulRecipes v0.1.1
  U/UnitfulRecipes/Compat.toml
  U/UnitfulRecipes/Versions.toml
Labels: patch release

#3239 New version: AxisArrays v0.3.3
  A/AxisArrays/Versions.toml
Labels: patch release

#3240 New version: ApproxFunBase v0.1.6
  A/ApproxFunBase/Compat.toml
  A/ApproxFunBase/Versions.toml
Labels: patch release

#3242 New version: KronLinInv v0.2.1
  K/KronLinInv/Versions.toml
Labels: patch release

#3243 New version: NameResolution v0.1.1
  N/NameResolution/Versions.toml
Labels: patch release

#3244 New version: SeisNoise v0.2.1
  S/SeisNoise/Versions.toml
Labels: patch release

#3245 New version: BSONqs v0.6.1
  B/BSONqs/Versions.toml
Labels: patch release

#3253 New version: Mads v0.7.3
  M/Mads/Compat.toml
  M/Mads/Versions.toml
Labels: patch release

#3251 New version: DocSeeker v0.3.0
  D/DocSeeker/Compat.toml
  D/DocSeeker/Deps.toml
  D/DocSeeker/Versions.toml
Labels: minor release

#3252 New version: HigherOrderKernels v0.1.0
  H/HigherOrderKernels/Compat.toml
  H/HigherOrderKernels/Deps.toml
  H/HigherOrderKernels/Versions.toml
Labels: minor release

#3254 New version: FEniCS v0.3.1
  F/FEniCS/Versions.toml
Labels: patch release

#3255 New version: SMC v0.1.3
  S/SMC/Versions.toml
Labels: patch release

#3256 New version: ModelConstructors v0.1.3
  M/ModelConstructors/Compat.toml
  M/ModelConstructors/Versions.toml
Labels: patch release

#3257 New version: QuantEcon v0.16.2
  Q/QuantEcon/Compat.toml
  Q/QuantEcon/Versions.toml
Labels: patch release

#3258 New version: IterationManagers v0.1.0
  I/IterationManagers/Compat.toml
  I/IterationManagers/Deps.toml
  I/IterationManagers/Versions.toml
Labels: minor release

#3259 New version: Knet v1.2.5
  K/Knet/Deps.toml
  K/Knet/Versions.toml
Labels: patch release

#3260 New version: SetProg v0.0.3
  S/SetProg/Compat.toml
  S/SetProg/Versions.toml
Labels: patch release

#3261 New version: BackwardsLinalg v0.1.1
  B/BackwardsLinalg/Deps.toml
  B/BackwardsLinalg/Versions.toml
Labels: patch release

#3262 New version: LifeTable v0.2.3
  L/LifeTable/Compat.toml
  L/LifeTable/Deps.toml
  L/LifeTable/Versions.toml
Labels: patch release

#3264 New version: StatsPlots v0.12.0
  S/StatsPlots/Compat.toml
  S/StatsPlots/Deps.toml
  S/StatsPlots/Versions.toml
Labels: minor release

#3265 New version: LeastSquaresOptim v0.7.4
  L/LeastSquaresOptim/Versions.toml
Labels: patch release

#3267 New version: Atom v0.10.1
  A/Atom/Compat.toml
  A/Atom/Versions.toml
Labels: patch release

#3269 New version: LASindex v0.1.0
  L/LASindex/Compat.toml
  L/LASindex/Deps.toml
  L/LASindex/Versions.toml
Labels: minor release

#3271 New version: UDUnits v0.2.2
  U/UDUnits/Compat.toml
  U/UDUnits/Versions.toml
Labels: patch release

#3263 New version: FCSFiles v0.1.1
  F/FCSFiles/Compat.toml
  F/FCSFiles/Deps.toml
  F/FCSFiles/Versions.toml
Labels: patch release, waiting for author

#3268 New version: Monads v0.2.3
  M/Monads/Compat.toml
  M/Monads/Deps.toml
  M/Monads/Versions.toml
Labels: minor release, waiting for author

#3280 New version: MultivariateStats v0.7.0
  M/MultivariateStats/Compat.toml
  M/MultivariateStats/Deps.toml
  M/MultivariateStats/Versions.toml
Labels: minor release

#3292 New version: CategoricalArrays v0.6.0
  C/CategoricalArrays/Compat.toml
  C/CategoricalArrays/Deps.toml
  C/CategoricalArrays/Versions.toml
Labels: minor release

#3345 New version: DiffEqBase v6.0.0
  D/DiffEqBase/Compat.toml
  D/DiffEqBase/Deps.toml
  D/DiffEqBase/Versions.toml
Labels: major release

#3343 New version: DiffEqSensitivity v4.0.0
  D/DiffEqSensitivity/Compat.toml
  D/DiffEqSensitivity/Deps.toml
  D/DiffEqSensitivity/Versions.toml
Labels: major release

#3325 New version: DataInterpolations v1.1.0
  D/DataInterpolations/Compat.toml
  D/DataInterpolations/Deps.toml
  D/DataInterpolations/Versions.toml
Labels: minor release

#3295 New version: DirectSum v0.4.0
  D/DirectSum/Versions.toml
Labels: minor release

#3349 New version: AbstractTensors v0.3.0
  A/AbstractTensors/Versions.toml
Labels: minor release

#3289 New version: Reduce v1.2.2
  R/Reduce/Compat.toml
  R/Reduce/Versions.toml
Labels: patch release

#3290 New version: Leibniz v0.0.3
  L/Leibniz/Compat.toml
  L/Leibniz/Versions.toml
Labels: patch release

#3339 New version: Mocking v0.7.0
  M/Mocking/Versions.toml
Labels: minor release

#3272 New version: NLPModelsIpopt v0.2.0
  N/NLPModelsIpopt/Compat.toml
  N/NLPModelsIpopt/Versions.toml
Labels: minor release

#3275 New version: Unitful v0.17.0
  U/Unitful/Versions.toml
Labels: minor release

#3284 New version: ApproxFunFourier v0.1.5
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Versions.toml
Labels: patch release

#3285 New version: ApproxFunOrthogonalPolynomials v0.2.3
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#3287 New version: OnlineStats v1.0.0
  O/OnlineStats/Compat.toml
  O/OnlineStats/Deps.toml
  O/OnlineStats/Versions.toml
Labels: major release

#3288 New version: FEniCS v0.3.2
  F/FEniCS/Compat.toml
  F/FEniCS/Versions.toml
Labels: patch release

#3291 New package: Glo v0.1.0
  G/Glo/Compat.toml
  G/Glo/Deps.toml
  G/Glo/Package.toml
  G/Glo/Versions.toml
  Registry.toml
Labels: new package

#3293 New version: WebAssembly v0.1.1
  W/WebAssembly/Compat.toml
  W/WebAssembly/Deps.toml
  W/WebAssembly/Versions.toml
Labels: patch release

#3294 New version: MathOptInterface v0.9.2
  M/MathOptInterface/Versions.toml
Labels: patch release

#3296 New version: BioEnergeticFoodWebs v1.1.0
  B/BioEnergeticFoodWebs/Compat.toml
  B/BioEnergeticFoodWebs/Deps.toml
  B/BioEnergeticFoodWebs/Versions.toml
Labels: minor release

#3297 New version: FFTW v1.0.0
  F/FFTW/Compat.toml
  F/FFTW/Deps.toml
  F/FFTW/Versions.toml
Labels: major release

#3299 New version: TableView v0.4.1
  T/TableView/Versions.toml
Labels: patch release

#3300 New version: Kronecker v0.3.0
  K/Kronecker/Deps.toml
  K/Kronecker/Versions.toml
Labels: minor release

#3301 New version: TSML v2.3.8
  T/TSML/Versions.toml
Labels: patch release

#3298 New version: FixedEffectModels v0.8.2
  F/FixedEffectModels/Versions.toml
Labels: patch release

#3286 New version: MonteCarloMeasurements v0.4.1
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#3306 New version: SCS v0.6.1
  S/SCS/Versions.toml
Labels: patch release

#3307 New version: LinearFractional v0.6.2
  L/LinearFractional/Versions.toml
Labels: patch release

#3308 New version: HTTP v0.8.6
  H/HTTP/Versions.toml
Labels: patch release

#3302 New version: BSONqs v0.6.2
  B/BSONqs/Versions.toml
Labels: patch release

#3310 New version: Cliffords v0.6.0
  C/Cliffords/Compat.toml
  C/Cliffords/Deps.toml
  C/Cliffords/Versions.toml
Labels: minor release

#3313 New version: BayesNets v3.2.0
  B/BayesNets/Compat.toml
  B/BayesNets/Versions.toml
Labels: minor release

#3317 New version: Plots v0.26.3
  P/Plots/Versions.toml
Labels: patch release

#3318 New version: HORIZONS v0.1.0
  H/HORIZONS/Compat.toml
  H/HORIZONS/Deps.toml
  H/HORIZONS/Versions.toml
Labels: minor release

#3320 New version: JuDocTemplates v0.2.4
  J/JuDocTemplates/Versions.toml
Labels: patch release

#3323 New version: DynamicHMC v2.0.1
  D/DynamicHMC/Versions.toml
Labels: patch release

#3324 New version: GDAL v1.0.0
  G/GDAL/Compat.toml
  G/GDAL/Deps.toml
  G/GDAL/Versions.toml
Labels: major release

#3327 New version: FirstOrderSolvers v0.2.0
  F/FirstOrderSolvers/Compat.toml
  F/FirstOrderSolvers/Deps.toml
  F/FirstOrderSolvers/Versions.toml
Labels: minor release

#3328 New version: DataFrames v0.19.4
  D/DataFrames/Compat.toml
  D/DataFrames/Versions.toml
Labels: patch release

#3329 New version: SymPy v1.0.6
  S/SymPy/Versions.toml
Labels: patch release

#3330 New version: BatchedRoutines v0.2.1
  B/BatchedRoutines/Compat.toml
  B/BatchedRoutines/Deps.toml
  B/BatchedRoutines/Versions.toml
Labels: minor release

#3332 New version: SearchLight v0.12.1
  S/SearchLight/Versions.toml
Labels: patch release

#3333 New version: Genie v0.17.0
  G/Genie/Versions.toml
Labels: minor release
