Repository JuliaRegistries/General, pull requests merged in 2019-04, with the labels that each got.

#132 Register New Package SPICE: 0.1.0
  Registry.toml
  S/SPICE/Compat.toml
  S/SPICE/Deps.toml
  S/SPICE/Package.toml
  S/SPICE/Versions.toml
Labels: new package

#134 Register New Package TCX: 0.1.0
  Registry.toml
  T/TCX/Compat.toml
  T/TCX/Deps.toml
  T/TCX/Package.toml
  T/TCX/Versions.toml
Labels: new package

#128 Register New Package MetaArrays: 0.2.4
  M/MetaArrays/Compat.toml
  M/MetaArrays/Deps.toml
  M/MetaArrays/Package.toml
  M/MetaArrays/Versions.toml
  Registry.toml
Labels: new package

#137 Register New Package RDates: 0.1.0
  R/RDates/Compat.toml
  R/RDates/Deps.toml
  R/RDates/Package.toml
  R/RDates/Versions.toml
  Registry.toml
Labels: new package

#160 Register JuDocTemplates: 0.1.0
  J/JuDocTemplates/Compat.toml
  J/JuDocTemplates/Deps.toml
  J/JuDocTemplates/Package.toml
  J/JuDocTemplates/Versions.toml
  Registry.toml
Labels: new package

#194 Register LibSerialPort: 0.1.0
  L/LibSerialPort/Compat.toml
  L/LibSerialPort/Deps.toml
  L/LibSerialPort/Package.toml
  L/LibSerialPort/Versions.toml
  Registry.toml
Labels: new package

#224 New package JSCall: 0.1.0
  J/JSCall/Compat.toml
  J/JSCall/Deps.toml
  J/JSCall/Package.toml
  J/JSCall/Versions.toml
  Registry.toml
Labels: new package

#229 New package GeometryBasics: 0.1.0
  G/GeometryBasics/Compat.toml
  G/GeometryBasics/Deps.toml
  G/GeometryBasics/Package.toml
  G/GeometryBasics/Versions.toml
  Registry.toml
Labels: new package

#202 Register AffineArithmetic: 0.1.0
  A/AffineArithmetic/Compat.toml
  A/AffineArithmetic/Deps.toml
  A/AffineArithmetic/Package.toml
  A/AffineArithmetic/Versions.toml
  Registry.toml
Labels: new package

#215 New package CovarianceEstimation: 0.2.1
  C/CovarianceEstimation/Compat.toml
  C/CovarianceEstimation/Deps.toml
  C/CovarianceEstimation/Package.toml
  C/CovarianceEstimation/Versions.toml
  Registry.toml
Labels: new package

#246 New package InterpolatedRejectionSampling: 0.1.0
  I/InterpolatedRejectionSampling/Compat.toml
  I/InterpolatedRejectionSampling/Deps.toml
  I/InterpolatedRejectionSampling/Package.toml
  I/InterpolatedRejectionSampling/Versions.toml
  Registry.toml
Labels: new package

#257 New package NamedDims: 0.1.0
  N/NamedDims/Compat.toml
  N/NamedDims/Deps.toml
  N/NamedDims/Package.toml
  N/NamedDims/Versions.toml
  Registry.toml
Labels: new package

#259 New package TetGen: 0.1.0
  Registry.toml
  T/TetGen/Compat.toml
  T/TetGen/Deps.toml
  T/TetGen/Package.toml
  T/TetGen/Versions.toml
Labels: do not merge, new package, waiting for author

#264 New package Pitchjx: 0.0.1
  P/Pitchjx/Compat.toml
  P/Pitchjx/Deps.toml
  P/Pitchjx/Package.toml
  P/Pitchjx/Versions.toml
  Registry.toml
Labels: new package

#237 New package EclipsingBinaryStars: 0.2.2
  E/EclipsingBinaryStars/Compat.toml
  E/EclipsingBinaryStars/Deps.toml
  E/EclipsingBinaryStars/Package.toml
  E/EclipsingBinaryStars/Versions.toml
  Registry.toml
Labels: new package

#267 New package LowLevelParticleFilters: 0.1.0
  L/LowLevelParticleFilters/Compat.toml
  L/LowLevelParticleFilters/Deps.toml
  L/LowLevelParticleFilters/Package.toml
  L/LowLevelParticleFilters/Versions.toml
  Registry.toml
Labels: new package

#269 New version MPIReco: 0.1.1
  M/MPIReco/Compat.toml
  M/MPIReco/Deps.toml
  M/MPIReco/Versions.toml
Labels: waiting for author

#239 New package EntityComponentSystem: 0.0.1
  E/EntityComponentSystem/Compat.toml
  E/EntityComponentSystem/Deps.toml
  E/EntityComponentSystem/Package.toml
  E/EntityComponentSystem/Versions.toml
  Registry.toml
Labels: new package, waiting for author

#301 New version LoweredCodeUtils: 0.3.4
  L/LoweredCodeUtils/Versions.toml
Labels: patch release

#300 New version TensorToolbox: 1.0.1
  T/TensorToolbox/Versions.toml
Labels: patch release

#299 New version ApproxFunBase: 0.1.0
  A/ApproxFunBase/Compat.toml
  A/ApproxFunBase/Versions.toml
Labels: minor release

#302 New version StorageGraphs: 0.2.1
  S/StorageGraphs/Compat.toml
  S/StorageGraphs/Deps.toml
  S/StorageGraphs/Versions.toml
Labels: patch release

#308 New version ApproxFunFourier: 0.1.0
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Versions.toml
Labels: minor release

#295 New package Polyline: 0.1.0
  P/Polyline/Compat.toml
  P/Polyline/Deps.toml
  P/Polyline/Package.toml
  P/Polyline/Versions.toml
  Registry.toml
Labels: new package, waiting for author

#309 New version BayesNets: 3.1.0
  B/BayesNets/Compat.toml
  B/BayesNets/Deps.toml
  B/BayesNets/Versions.toml
Labels: minor release

#313 New version BlockArrays: 0.9.0
  B/BlockArrays/Deps.toml
  B/BlockArrays/Versions.toml
Labels: minor release

#312 New version Circuitscape: 5.5.2
  C/Circuitscape/Versions.toml
Labels: patch release

#311 New version ApproxFunOrthogonalPolynomials: 0.1.0
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: minor release

#314 New version Parsers: 0.3.1
  P/Parsers/Compat.toml
  P/Parsers/Deps.toml
  P/Parsers/Versions.toml
Labels: patch release

#315 New version KeyedFrames: 1.0.0
  K/KeyedFrames/Compat.toml
  K/KeyedFrames/Deps.toml
  K/KeyedFrames/Versions.toml
Labels: major release

#316 New version LayerDicts: 1.0.0
  L/LayerDicts/Compat.toml
  L/LayerDicts/Versions.toml
Labels: major release

#318 New version DrWatson: 0.2.1
  D/DrWatson/Versions.toml
Labels: patch release

#319 New version Nemo: 0.13.4
  N/Nemo/Versions.toml
Labels: patch release

#321 New version Dubins: 1.1.0
  D/Dubins/Compat.toml
  D/Dubins/Versions.toml
Labels: minor release

#322 New version MLJ: 0.1.1
  M/MLJ/Compat.toml
  M/MLJ/Versions.toml
Labels: patch release

#323 New version LLLplus: 1.2.1
  L/LLLplus/Compat.toml
  L/LLLplus/Deps.toml
  L/LLLplus/Versions.toml
Labels: patch release

#329 New version ImageInTerminal: 0.4.0
  I/ImageInTerminal/Compat.toml
  I/ImageInTerminal/Deps.toml
  I/ImageInTerminal/Versions.toml
Labels: minor release

#328 New version YaoBase: 0.9.1
  Y/YaoBase/Versions.toml
Labels: patch release

#326 New version Jute: 0.2.2
  J/Jute/Versions.toml
Labels: patch release

#325 New version ClustForOpt: 0.3.2
  C/ClustForOpt/Versions.toml
Labels: patch release

#332 New version PowerDynBase: 1.0.0
  P/PowerDynBase/Compat.toml
  P/PowerDynBase/Deps.toml
  P/PowerDynBase/Versions.toml
Labels: major release

#331 New version DataFrames: 0.18.0
  D/DataFrames/Compat.toml
  D/DataFrames/Deps.toml
  D/DataFrames/Versions.toml
Labels: minor release

#330 New version BlockBandedMatrices: 0.4.2
  B/BlockBandedMatrices/Versions.toml
Labels: patch release

#335 New version SQLite: 0.8.0
  S/SQLite/Compat.toml
  S/SQLite/Deps.toml
  S/SQLite/Versions.toml
Labels: minor release

#304 New version Turing: 0.6.17
  T/Turing/Compat.toml
  T/Turing/Deps.toml
  T/Turing/Versions.toml
Labels: patch release, waiting for author

#305 New version Cxx: 0.3.0
  C/Cxx/Compat.toml
  C/Cxx/Deps.toml
  C/Cxx/Versions.toml
Labels: minor release, waiting for author

#340 New version DirectSum: 0.2.1
  D/DirectSum/Compat.toml
  D/DirectSum/Deps.toml
  D/DirectSum/Versions.toml
Labels: patch release

#284 New version CurveProximityQueries: 0.1.2
  C/CurveProximityQueries/Compat.toml
  C/CurveProximityQueries/Deps.toml
  C/CurveProximityQueries/Versions.toml
Labels: waiting for author

#317 New package MultiModalMuSig: 0.1.0
  M/MultiModalMuSig/Compat.toml
  M/MultiModalMuSig/Deps.toml
  M/MultiModalMuSig/Package.toml
  M/MultiModalMuSig/Versions.toml
  Registry.toml
Labels: new package

#324 New package CapacityExpansion: 0.1.1
  C/CapacityExpansion/Compat.toml
  C/CapacityExpansion/Deps.toml
  C/CapacityExpansion/Package.toml
  C/CapacityExpansion/Versions.toml
  Registry.toml
Labels: new package

#343 New package JupyterParameters: 0.1.0
  J/JupyterParameters/Compat.toml
  J/JupyterParameters/Deps.toml
  J/JupyterParameters/Package.toml
  J/JupyterParameters/Versions.toml
  Registry.toml
Labels: new package

#348 New version CurveProximityQueries: 0.1.3
  C/CurveProximityQueries/Versions.toml
Labels: patch release

#346 New version ConvexBodyProximityQueries: 0.1.2
  C/ConvexBodyProximityQueries/Compat.toml
  C/ConvexBodyProximityQueries/Deps.toml
  C/ConvexBodyProximityQueries/Versions.toml
Labels: patch release

#345 New version PowerModels: 0.9.6
  P/PowerModels/Compat.toml
  P/PowerModels/Deps.toml
  P/PowerModels/Versions.toml
Labels: patch release

#342 New version BlockBandedMatrices: 0.4.3
  B/BlockBandedMatrices/Compat.toml
  B/BlockBandedMatrices/Versions.toml
Labels: patch release

#339 New version ProxSDP: 0.2.0
  P/ProxSDP/Compat.toml
  P/ProxSDP/Deps.toml
  P/ProxSDP/Versions.toml
Labels: minor release, waiting for author

#336 New version NormalizeQuantiles: 0.5.4
  N/NormalizeQuantiles/Deps.toml
  N/NormalizeQuantiles/Versions.toml
Labels: patch release

#337 New version YaoArrayRegister: 0.3.5
  Y/YaoArrayRegister/Compat.toml
  Y/YaoArrayRegister/Versions.toml
Labels: patch release

#350 New version ImageMagick: 0.7.3
  I/ImageMagick/Compat.toml
  I/ImageMagick/Deps.toml
  I/ImageMagick/Versions.toml
Labels: patch release

#338 New version UMAP: 0.1.3
  U/UMAP/Compat.toml
  U/UMAP/Deps.toml
  U/UMAP/Versions.toml
Labels: patch release

#349 New version IteratorInterfaceExtensions: 1.0.0
  I/IteratorInterfaceExtensions/Compat.toml
  I/IteratorInterfaceExtensions/Versions.toml
Labels: major release

#351 New version ApproxFunBase: 0.1.1
  A/ApproxFunBase/Compat.toml
  A/ApproxFunBase/Versions.toml
Labels: patch release

#352 New version XLSX: 0.5.1
  X/XLSX/Versions.toml
Labels: patch release

#353 New version ImageFeatures: 0.3.0
  I/ImageFeatures/Compat.toml
  I/ImageFeatures/Deps.toml
  I/ImageFeatures/Versions.toml
Labels: minor release

#354 New package MixedSubdivisions: 0.1.0
  M/MixedSubdivisions/Compat.toml
  M/MixedSubdivisions/Deps.toml
  M/MixedSubdivisions/Package.toml
  M/MixedSubdivisions/Versions.toml
  Registry.toml
Labels: new package

#356 New version SQLite: 0.8.1
  S/SQLite/Versions.toml
Labels: patch release

#359 New version ApproxFunFourier: 0.1.1
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Versions.toml
Labels: patch release

#360 New version ApproxFunOrthogonalPolynomials: 0.1.1
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#341 New version Rebugger: 0.3.2
  R/Rebugger/Compat.toml
  R/Rebugger/Deps.toml
  R/Rebugger/Versions.toml
Labels: patch release

#355 New package JuDoc: 0.1.0
  J/JuDoc/Compat.toml
  J/JuDoc/Deps.toml
  J/JuDoc/Package.toml
  J/JuDoc/Versions.toml
  Registry.toml
Labels: new package

#357 New version SimilaritySearch: 0.3.5
  S/SimilaritySearch/Compat.toml
  S/SimilaritySearch/Deps.toml
  S/SimilaritySearch/Versions.toml
Labels: minor release

#361 New version Grassmann: 0.1.2
  G/Grassmann/Compat.toml
  G/Grassmann/Versions.toml
Labels: patch release

#362 New version QuartzImageIO: 0.6.0
  Q/QuartzImageIO/Compat.toml
  Q/QuartzImageIO/Deps.toml
  Q/QuartzImageIO/Versions.toml
Labels: minor release

#364 New version MixedSubdivisions: 0.1.1
  M/MixedSubdivisions/Versions.toml
Labels: patch release

#365 New version YaoBlocks: 0.3.2
  Y/YaoBlocks/Compat.toml
  Y/YaoBlocks/Deps.toml
  Y/YaoBlocks/Versions.toml
Labels: patch release

#367 New version ApproxFunSingularities: 0.1.0
  A/ApproxFunSingularities/Compat.toml
  A/ApproxFunSingularities/Versions.toml
Labels: minor release

#369 New version GeoStatsBase: 0.4.1
  G/GeoStatsBase/Compat.toml
  G/GeoStatsBase/Deps.toml
  G/GeoStatsBase/Versions.toml
Labels: patch release

#371 New version TableTraits: 1.0.0
  T/TableTraits/Compat.toml
  T/TableTraits/Deps.toml
  T/TableTraits/Versions.toml
Labels: major release

#375 New version Luxor: 1.3.0
  L/Luxor/Compat.toml
  L/Luxor/Deps.toml
  L/Luxor/Versions.toml
Labels: minor release

#376 New version ImageCore: 0.8.1
  I/ImageCore/Compat.toml
  I/ImageCore/Deps.toml
  I/ImageCore/Versions.toml
Labels: patch release

#383 New version PowerDynOperationPoint: 1.0.0
  P/PowerDynOperationPoint/Compat.toml
  P/PowerDynOperationPoint/Deps.toml
  P/PowerDynOperationPoint/Versions.toml
Labels: major release

#384 New version LuxurySparse: 0.4.0
  L/LuxurySparse/Compat.toml
  L/LuxurySparse/Deps.toml
  L/LuxurySparse/Versions.toml
Labels: minor release

#382 New version ImageCore: 0.8.2
  I/ImageCore/Versions.toml
Labels: patch release

#380 New version DiffEqBase: 5.7.0
  D/DiffEqBase/Compat.toml
  D/DiffEqBase/Deps.toml
  D/DiffEqBase/Versions.toml
Labels: minor release, waiting for author

#385 New version ImageShow: 0.2.0
  I/ImageShow/Compat.toml
  I/ImageShow/Deps.toml
  I/ImageShow/Versions.toml
Labels: minor release

#377 New version OrdinaryDiffEq: 5.6.0
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Deps.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#379 New version TransformVariables: 0.3.2
  T/TransformVariables/Compat.toml
  T/TransformVariables/Versions.toml
Labels: patch release, waiting for author

#386 New version CxxWrap: 0.8.2
  C/CxxWrap/Deps.toml
  C/CxxWrap/Versions.toml
Labels: patch release

#387 New version JuliaDBMeta: 0.4.2
  J/JuliaDBMeta/Compat.toml
  J/JuliaDBMeta/Deps.toml
  J/JuliaDBMeta/Versions.toml
Labels: patch release

#388 New version DiffEqSensitivity: 3.2.1
  D/DiffEqSensitivity/Compat.toml
  D/DiffEqSensitivity/Deps.toml
  D/DiffEqSensitivity/Versions.toml
Labels: patch release

#390 New version ImageMorphology: 0.2.1
  I/ImageMorphology/Compat.toml
  I/ImageMorphology/Versions.toml
Labels: patch release

#391 New version JupyterParameters: 0.1.1
  J/JupyterParameters/Versions.toml
Labels: patch release

#393 New version ApproxFun: 0.11.1
  A/ApproxFun/Compat.toml
  A/ApproxFun/Versions.toml
Labels: patch release

#394 New version DataFrames: 0.18.1
  D/DataFrames/Compat.toml
  D/DataFrames/Versions.toml
Labels: patch release

#373 Adjust Rsvg Compat.toml
  R/Rsvg/Compat.toml
Labels: compat fix

#395 New version DiffEqFlux: 0.5.0
  D/DiffEqFlux/Compat.toml
  D/DiffEqFlux/Deps.toml
  D/DiffEqFlux/Versions.toml
Labels: minor release

#398 New version Yao: 0.4.1
  Y/Yao/Compat.toml
  Y/Yao/Versions.toml
Labels: patch release

#400 New version MonteCarloMeasurements: 0.2.0
  M/MonteCarloMeasurements/Versions.toml
Labels: minor release

#403 New version JuDoc: 0.1.1
  J/JuDoc/Compat.toml
  J/JuDoc/Versions.toml
Labels: patch release

#404 New version JuDocTemplates: 0.1.1
  J/JuDocTemplates/Compat.toml
  J/JuDocTemplates/Versions.toml
Labels: patch release

#405 New version JupyterParameters: 0.1.2
  J/JupyterParameters/Versions.toml
Labels: patch release

#397 New version DiffEqSensitivity: 3.2.2
  D/DiffEqSensitivity/Compat.toml
  D/DiffEqSensitivity/Deps.toml
  D/DiffEqSensitivity/Versions.toml
Labels: patch release, waiting for author

#374 New version QuantumLattices: 0.1.0
  Q/QuantumLattices/Compat.toml
  Q/QuantumLattices/Deps.toml
  Q/QuantumLattices/Versions.toml
Labels: minor release, waiting for author

#406 New version RadiationSpectra: 0.2.0
  R/RadiationSpectra/Compat.toml
  R/RadiationSpectra/Deps.toml
  R/RadiationSpectra/Versions.toml
Labels: minor release

#408 New version GeoStatsDevTools: 0.4.3
  G/GeoStatsDevTools/Compat.toml
  G/GeoStatsDevTools/Deps.toml
  G/GeoStatsDevTools/Versions.toml
Labels: patch release

#381 New package DutyCycles: 0.1.0
  D/DutyCycles/Compat.toml
  D/DutyCycles/Deps.toml
  D/DutyCycles/Package.toml
  D/DutyCycles/Versions.toml
  Registry.toml
Labels: new package, waiting for author

#392 Update multiple ImageCore compat from 0.7 to 0.8
  C/Caesar/Compat.toml
  I/ImageMorphology/Compat.toml
  I/ImageTransformations/Compat.toml
  M/MosaicViews/Compat.toml
Labels: compat fix

#410 New version ControlSystemIdentification: 0.1.2
  C/ControlSystemIdentification/Versions.toml
Labels: patch release

#409 New version Tables: 0.2.0
  T/Tables/Versions.toml
Labels: minor release

#411 New version SingularIntegralEquations: 0.4.2
  S/SingularIntegralEquations/Compat.toml
  S/SingularIntegralEquations/Deps.toml
  S/SingularIntegralEquations/Versions.toml
Labels: patch release

#412 Remove ImageCore 0.8 restriction on ImageMorphology,
  I/ImageMorphology/Compat.toml
Labels: compat fix

#422 New version IRTools: 0.2.0
  I/IRTools/Compat.toml
  I/IRTools/Versions.toml
Labels: minor release

#370 New version LogarithmicNumbers: 0.3.0
  L/LogarithmicNumbers/Compat.toml
  L/LogarithmicNumbers/Versions.toml
Labels: minor release, waiting for author

#401 New package ApplicationBuilderAppUtils: 0.1.0
  A/ApplicationBuilderAppUtils/Compat.toml
  A/ApplicationBuilderAppUtils/Deps.toml
  A/ApplicationBuilderAppUtils/Package.toml
  A/ApplicationBuilderAppUtils/Versions.toml
  Registry.toml
Labels: new package, waiting for author

#402 New version TableReader: 0.3.2
  T/TableReader/Compat.toml
  T/TableReader/Versions.toml
Labels: patch release, waiting for author

#407 New package PushVectors: 0.1.0
  P/PushVectors/Compat.toml
  P/PushVectors/Deps.toml
  P/PushVectors/Package.toml
  P/PushVectors/Versions.toml
  Registry.toml
Labels: new package

#414 New version ThreePhasePowerModels: 0.2.0
  T/ThreePhasePowerModels/Compat.toml
  T/ThreePhasePowerModels/Deps.toml
  T/ThreePhasePowerModels/Versions.toml
Labels: minor release

#415 New version VideoIO: 0.5.5
  V/VideoIO/Compat.toml
  V/VideoIO/Deps.toml
  V/VideoIO/Versions.toml
Labels: patch release

#416 New version DataKnots: 0.5.0
  D/DataKnots/Versions.toml
Labels: minor release

#417 New version InfrastructureModels: 0.0.16
  I/InfrastructureModels/Compat.toml
  I/InfrastructureModels/Versions.toml
Labels: patch release

#418 Update some compat bounds for VegaLite
  V/VegaLite/Compat.toml
Labels: compat fix

#420 New version ImageTransformations: 0.8.0
  I/ImageTransformations/Compat.toml
  I/ImageTransformations/Deps.toml
  I/ImageTransformations/Versions.toml
Labels: minor release

#421 New version GasModels: 0.3.5
  G/GasModels/Compat.toml
  G/GasModels/Deps.toml
  G/GasModels/Versions.toml
Labels: patch release

#424 New version PowerDynSolve: 1.0.0
  P/PowerDynSolve/Compat.toml
  P/PowerDynSolve/Deps.toml
  P/PowerDynSolve/Versions.toml
Labels: major release

#425 New version BinaryProvider: 0.5.4
  B/BinaryProvider/Deps.toml
  B/BinaryProvider/Versions.toml
Labels: patch release

#426 New version DistributedArrays: 0.6.1
  D/DistributedArrays/Compat.toml
  D/DistributedArrays/Deps.toml
  D/DistributedArrays/Versions.toml
Labels: patch release

#427 New version CapacityExpansion: 0.1.2
  C/CapacityExpansion/Versions.toml
Labels: patch release

#428 New version ClustForOpt: 0.3.3
  C/ClustForOpt/Versions.toml
Labels: patch release

#430 New version Variography: 0.3.6
  V/Variography/Compat.toml
  V/Variography/Deps.toml
  V/Variography/Versions.toml
Labels: patch release

#431 New version AdaptiveDistanceFields: 0.1.0
  A/AdaptiveDistanceFields/Compat.toml
  A/AdaptiveDistanceFields/Versions.toml
Labels: minor release

#433 New version LaTeX_Entities: 1.0.0
  L/LaTeX_Entities/Compat.toml
  L/LaTeX_Entities/Deps.toml
  L/LaTeX_Entities/Versions.toml
Labels: major release

#434 New version Unicode_Entities: 1.0.1
  U/Unicode_Entities/Versions.toml
Labels: patch release

#396 New version JWAS: 0.5.4
  J/JWAS/Compat.toml
  J/JWAS/Versions.toml
Labels: patch release, waiting for author

#435 New version FillArrays: 0.6.1
  F/FillArrays/Versions.toml
Labels: patch release

#436 New version PowerDynamics: 1.0.0
  P/PowerDynamics/Compat.toml
  P/PowerDynamics/Deps.toml
  P/PowerDynamics/Versions.toml
Labels: major release

#437 New version PushVectors: 0.2.0
  P/PushVectors/Versions.toml
Labels: minor release

#440 New version ImageDraw: 0.2.0
  I/ImageDraw/Compat.toml
  I/ImageDraw/Deps.toml
  I/ImageDraw/Versions.toml
Labels: minor release

#378 New package Beauty: 0.1.0
  B/Beauty/Compat.toml
  B/Beauty/Deps.toml
  B/Beauty/Package.toml
  B/Beauty/Versions.toml
  Registry.toml
Labels: new package

#438 New package UpROOT: 0.1.0
  Registry.toml
  U/UpROOT/Compat.toml
  U/UpROOT/Deps.toml
  U/UpROOT/Package.toml
  U/UpROOT/Versions.toml
Labels: new package

#439 New version CDDLib: 0.5.1
  C/CDDLib/Versions.toml
Labels: patch release

#441 New version KrigingEstimators: 0.2.2
  K/KrigingEstimators/Compat.toml
  K/KrigingEstimators/Deps.toml
  K/KrigingEstimators/Versions.toml
Labels: patch release

#429 New package MIRT: 0.1.0
  M/MIRT/Compat.toml
  M/MIRT/Deps.toml
  M/MIRT/Package.toml
  M/MIRT/Versions.toml
  Registry.toml
Labels: new package

#442 New version Zygote: 0.3.0
  Z/Zygote/Compat.toml
  Z/Zygote/Deps.toml
  Z/Zygote/Versions.toml
Labels: minor release

#443 New version VideoIO: 0.5.6
  V/VideoIO/Versions.toml
Labels: patch release

#444 New version StrEntities: 1.0.0
  S/StrEntities/Compat.toml
  S/StrEntities/Deps.toml
  S/StrEntities/Versions.toml
Labels: major release

#448 New version Parsers: 0.3.2
  P/Parsers/Versions.toml
Labels: patch release

#445 New version LabelledArrays: 0.6.0
  L/LabelledArrays/Compat.toml
  L/LabelledArrays/Deps.toml
  L/LabelledArrays/Versions.toml
Labels: minor release

#413 New version PowerModels: 0.9.7
  P/PowerModels/Compat.toml
  P/PowerModels/Versions.toml
Labels: patch release

#447 New package Trebuchet: 0.1.0
  Registry.toml
  T/Trebuchet/Compat.toml
  T/Trebuchet/Deps.toml
  T/Trebuchet/Package.toml
  T/Trebuchet/Versions.toml
Labels: new package

#449 New version Strs: 1.0.0
  S/Strs/Compat.toml
  S/Strs/Deps.toml
  S/Strs/Versions.toml
Labels: major release
