Repository JuliaRegistries/General, pull requests merged in 2019-12, with the labels that each got.

#6100 New version: Surrogates v0.2.0
  S/Surrogates/Versions.toml
Labels: minor release

#6101 New version: Surrogates v0.3.0
  S/Surrogates/Compat.toml
  S/Surrogates/Versions.toml
Labels: minor release

#6102 New version: DemoCards v0.1.0
  D/DemoCards/Compat.toml
  D/DemoCards/Deps.toml
  D/DemoCards/Versions.toml
Labels: minor release

#6103 New version: HypergeometricFunctions v0.2.1
  H/HypergeometricFunctions/Compat.toml
  H/HypergeometricFunctions/Versions.toml
Labels: patch release

#6104 New version: DemoCards v0.1.1
  D/DemoCards/Versions.toml
Labels: patch release

#6051 New version: DASKR v2.5.0
  D/DASKR/Compat.toml
  D/DASKR/Deps.toml
  D/DASKR/Versions.toml
Labels: minor release

#6055 New version: DiffEqDevTools v2.16.0
  D/DiffEqDevTools/Compat.toml
  D/DiffEqDevTools/Versions.toml
Labels: minor release

#6105 New version: CUDAnative v2.6.0
  C/CUDAnative/Compat.toml
  C/CUDAnative/Versions.toml
Labels: minor release

#5970 New package: DataDrivenDiffEq v0.1.0
  D/DataDrivenDiffEq/Compat.toml
  D/DataDrivenDiffEq/Deps.toml
  D/DataDrivenDiffEq/Package.toml
  D/DataDrivenDiffEq/Versions.toml
  Registry.toml
Labels: new package

#6106 New version: Optim v0.19.5
  O/Optim/Compat.toml
  O/Optim/Versions.toml
Labels: patch release

#5974 New package: Tricks v0.1.0
  Registry.toml
  T/Tricks/Compat.toml
  T/Tricks/Deps.toml
  T/Tricks/Package.toml
  T/Tricks/Versions.toml
Labels: new package

#6108 New version: MonteCarloMeasurements v0.5.6
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#6109 New version: Agents v2.0.0
  A/Agents/Compat.toml
  A/Agents/Deps.toml
  A/Agents/Versions.toml
Labels: major release

#6114 New version: SymArrays v0.1.2
  S/SymArrays/Compat.toml
  S/SymArrays/Deps.toml
  S/SymArrays/Versions.toml
Labels: patch release

#6115 New version: DynamicSparseArrays v0.2.0
  D/DynamicSparseArrays/Versions.toml
Labels: minor release

#6116 New version: TSML v2.4.2
  T/TSML/Compat.toml
  T/TSML/Deps.toml
  T/TSML/Versions.toml
Labels: patch release

#6117 New version: PtFEM v1.1.1
  P/PtFEM/Compat.toml
  P/PtFEM/Deps.toml
  P/PtFEM/Versions.toml
Labels: patch release

#6119 New version: GeoStatsBase v0.7.0
  G/GeoStatsBase/Compat.toml
  G/GeoStatsBase/Deps.toml
  G/GeoStatsBase/Versions.toml
Labels: minor release

#6120 New version: Agents v2.0.1
  A/Agents/Versions.toml
Labels: patch release

#6122 New version: Variography v0.5.0
  V/Variography/Compat.toml
  V/Variography/Versions.toml
Labels: minor release

#6123 New version: JuliaFormatter v0.1.37
  J/JuliaFormatter/Versions.toml
Labels: patch release

#6124 New version: MCMCChains v0.4.0
  M/MCMCChains/Compat.toml
  M/MCMCChains/Deps.toml
  M/MCMCChains/Versions.toml
Labels: minor release

#6118 New version: DemoCards v0.1.2
  D/DemoCards/Versions.toml
Labels: patch release

#6125 New version: KrigingEstimators v0.3.3
  K/KrigingEstimators/Compat.toml
  K/KrigingEstimators/Versions.toml
Labels: patch release

#6126 New version: HomotopyContinuation v1.3.0
  H/HomotopyContinuation/Compat.toml
  H/HomotopyContinuation/Deps.toml
  H/HomotopyContinuation/Versions.toml
Labels: minor release

#5883 New package: ObjectDetector v0.1.0
  O/ObjectDetector/Compat.toml
  O/ObjectDetector/Deps.toml
  O/ObjectDetector/Package.toml
  O/ObjectDetector/Versions.toml
  Registry.toml
Labels: new package

#6110 Add a missed version bound for CuArrays
  C/CuArrays/Compat.toml
Labels: compat fix

#6050 New version: GigaSOM v0.2.2
  G/GigaSOM/Compat.toml
  G/GigaSOM/Versions.toml
Labels: patch release

#6130 New version: Plots v0.28.2
  P/Plots/Compat.toml
  P/Plots/Versions.toml
Labels: patch release

#6131 New version: CalculatedABC v0.1.1
  C/CalculatedABC/Versions.toml
Labels: patch release

#6132 New version: HomotopyContinuation v1.3.1
  H/HomotopyContinuation/Compat.toml
  H/HomotopyContinuation/Versions.toml
Labels: patch release

#6134 New version: Stheno v0.5.0
  S/Stheno/Compat.toml
  S/Stheno/Versions.toml
Labels: minor release

#6135 New version: AdvancedHMC v0.2.14
  A/AdvancedHMC/Compat.toml
  A/AdvancedHMC/Versions.toml
Labels: patch release

#6136 New version: MathematicalSystems v0.7.0
  M/MathematicalSystems/Compat.toml
  M/MathematicalSystems/Deps.toml
  M/MathematicalSystems/Versions.toml
Labels: minor release

#6138 New version: ReplicateBE v1.0.5
  R/ReplicateBE/Deps.toml
  R/ReplicateBE/Versions.toml
Labels: patch release

#5943 New version: Oceananigans v0.16.0
  O/Oceananigans/Compat.toml
  O/Oceananigans/Deps.toml
  O/Oceananigans/Versions.toml
Labels: minor release

#6140 New version: Omniscape v0.1.3
  O/Omniscape/Compat.toml
  O/Omniscape/Versions.toml
Labels: patch release

#6020 New version: DiffEqProblemLibrary v4.6.0
  D/DiffEqProblemLibrary/Compat.toml
  D/DiffEqProblemLibrary/Deps.toml
  D/DiffEqProblemLibrary/Versions.toml
Labels: minor release

#6141 New version: OrdinaryDiffEq v5.26.0
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#6142 New version: DocumentFormat v1.1.0
  D/DocumentFormat/Compat.toml
  D/DocumentFormat/Deps.toml
  D/DocumentFormat/Versions.toml
Labels: minor release

#6143 New version: MAT v0.7.0
  M/MAT/Compat.toml
  M/MAT/Deps.toml
  M/MAT/Versions.toml
Labels: minor release

#6144 New version: LinearOperators v1.0.0
  L/LinearOperators/Compat.toml
  L/LinearOperators/Deps.toml
  L/LinearOperators/Versions.toml
Labels: major release

#6146 New version: ArraysOfArrays v0.4.3
  A/ArraysOfArrays/Compat.toml
  A/ArraysOfArrays/Versions.toml
Labels: patch release

#6147 New version: OrdinaryDiffEq v5.26.1
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#6148 New version: DiffEqGPU v1.1.0
  D/DiffEqGPU/Deps.toml
  D/DiffEqGPU/Versions.toml
Labels: minor release

#6149 New version: InfrastructureSystems v0.5.0
  I/InfrastructureSystems/Versions.toml
Labels: minor release

#6150 New version: PowerSystems v0.7.0
  P/PowerSystems/Compat.toml
  P/PowerSystems/Deps.toml
  P/PowerSystems/Versions.toml
Labels: minor release

#6145 New version: ArchGDAL v0.2.2
  A/ArchGDAL/Compat.toml
  A/ArchGDAL/Versions.toml
Labels: patch release

#6154 New version: BoundaryValueDiffEq v2.3.1
  B/BoundaryValueDiffEq/Compat.toml
  B/BoundaryValueDiffEq/Deps.toml
  B/BoundaryValueDiffEq/Versions.toml
Labels: patch release

#6155 New version: AbstractIndices v0.1.1
  A/AbstractIndices/Compat.toml
  A/AbstractIndices/Versions.toml
Labels: patch release

#6158 New version: GeoStatsBase v0.7.1
  G/GeoStatsBase/Compat.toml
  G/GeoStatsBase/Versions.toml
Labels: patch release

#6159 New version: VoronoiFVM v0.5.4
  V/VoronoiFVM/Deps.toml
  V/VoronoiFVM/Versions.toml
Labels: patch release

#6031 New package: MLJJLBoost v0.1.0
  M/MLJJLBoost/Compat.toml
  M/MLJJLBoost/Deps.toml
  M/MLJJLBoost/Package.toml
  M/MLJJLBoost/Versions.toml
  Registry.toml
Labels: new package

#6162 New version: GeoStats v0.10.2
  G/GeoStats/Compat.toml
  G/GeoStats/Versions.toml
Labels: patch release

#6163 New version: HDF5Utils v0.1.3
  H/HDF5Utils/Versions.toml
Labels: patch release

#6164 New version: DICOM v0.6.0
  D/DICOM/Versions.toml
Labels: minor release

#6168 New version: ADCME v0.3.5
  A/ADCME/Versions.toml
Labels: patch release

#6169 New version: Literate v2.2.1
  L/Literate/Versions.toml
Labels: patch release

#6170 New version: MonteCarloMeasurements v0.5.7
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#6171 New version: AIBECS v0.4.0
  A/AIBECS/Compat.toml
  A/AIBECS/Deps.toml
  A/AIBECS/Versions.toml
Labels: minor release

#6172 New version: GLM v1.3.5
  G/GLM/Compat.toml
  G/GLM/Versions.toml
Labels: patch release

#6173 New version: AcuteML v0.1.1
  A/AcuteML/Versions.toml
Labels: patch release

#6174 New version: EmbeddingsAnalysis v0.2.0
  E/EmbeddingsAnalysis/Compat.toml
  E/EmbeddingsAnalysis/Versions.toml
Labels: minor release

#6175 New version: SCS v0.6.3
  S/SCS/Compat.toml
  S/SCS/Versions.toml
Labels: patch release

#6176 New version: OceanGrids v0.1.4
  O/OceanGrids/Compat.toml
  O/OceanGrids/Versions.toml
Labels: patch release

#6177 New version: SparseMatricesCSR v0.4.1
  S/SparseMatricesCSR/Versions.toml
Labels: patch release

#6178 New version: SnoopCompile v1.0.2
  S/SnoopCompile/Versions.toml
Labels: patch release

#6179 New version: ImageFiltering v0.6.6
  I/ImageFiltering/Compat.toml
  I/ImageFiltering/Deps.toml
  I/ImageFiltering/Versions.toml
Labels: patch release

#6007 New version: Gtk v1.0.0
  G/Gtk/Compat.toml
  G/Gtk/Deps.toml
  G/Gtk/Versions.toml
Labels: major release

#6180 New version: Mustache v1.0.0
  M/Mustache/Compat.toml
  M/Mustache/Deps.toml
  M/Mustache/Versions.toml
Labels: major release

#6063 New package: BridgeDiffEq v0.1.0
  B/BridgeDiffEq/Compat.toml
  B/BridgeDiffEq/Deps.toml
  B/BridgeDiffEq/Package.toml
  B/BridgeDiffEq/Versions.toml
  Registry.toml
Labels: new package

#6181 New version: Distributions v0.21.10
  D/Distributions/Compat.toml
  D/Distributions/Deps.toml
  D/Distributions/Versions.toml
Labels: patch release

#6182 New version: HDF5Utils v0.1.4
  H/HDF5Utils/Versions.toml
Labels: patch release

#6184 New version: GridapPardiso v0.3.2
  G/GridapPardiso/Compat.toml
  G/GridapPardiso/Versions.toml
Labels: patch release

#6185 New version: StatsFuns v0.9.1
  S/StatsFuns/Compat.toml
  S/StatsFuns/Versions.toml
Labels: patch release

#6186 New version: PosDefManifold v0.4.0
  P/PosDefManifold/Compat.toml
  P/PosDefManifold/Deps.toml
  P/PosDefManifold/Versions.toml
Labels: minor release

#6187 New version: KernelFunctions v0.2.2
  K/KernelFunctions/Versions.toml
Labels: patch release

#6188 New version: OpenDSSDirect v0.6.0
  O/OpenDSSDirect/Compat.toml
  O/OpenDSSDirect/Deps.toml
  O/OpenDSSDirect/Versions.toml
Labels: minor release

#6192 New version: MacroTools v0.5.3
  M/MacroTools/Compat.toml
  M/MacroTools/Deps.toml
  M/MacroTools/Versions.toml
Labels: patch release

#6189 New version: LogarithmicNumbers v0.4.1
  L/LogarithmicNumbers/Compat.toml
  L/LogarithmicNumbers/Versions.toml
Labels: patch release

#6193 New version: RoME v0.5.2
  R/RoME/Compat.toml
  R/RoME/Versions.toml
Labels: patch release

#6196 New version: CSTParser v1.1.1
  C/CSTParser/Compat.toml
  C/CSTParser/Versions.toml
Labels: patch release

#6197 New version: CSTParser v2.0.0
  C/CSTParser/Compat.toml
  C/CSTParser/Deps.toml
  C/CSTParser/Versions.toml
Labels: major release

#6199 New version: SymbolServer v2.0.0
  S/SymbolServer/Compat.toml
  S/SymbolServer/Deps.toml
  S/SymbolServer/Versions.toml
Labels: major release

#6198 New version: Revise v2.3.2
  R/Revise/Versions.toml
Labels: patch release

#6200 New version: RadiationDetectorSignals v0.1.1
  R/RadiationDetectorSignals/Compat.toml
  R/RadiationDetectorSignals/Versions.toml
Labels: patch release

#6201 New version: SymPy v1.0.8
  S/SymPy/Compat.toml
  S/SymPy/Deps.toml
  S/SymPy/Versions.toml
Labels: patch release

#6204 New version: IndividualDisplacements v0.1.3
  I/IndividualDisplacements/Compat.toml
  I/IndividualDisplacements/Deps.toml
  I/IndividualDisplacements/Versions.toml
Labels: patch release

#6205 New version: Simulate v0.2.0
  S/Simulate/Versions.toml
Labels: minor release

#6207 New version: Qutilities v0.2.0
  Q/Qutilities/Compat.toml
  Q/Qutilities/Deps.toml
  Q/Qutilities/Versions.toml
Labels: minor release

#6208 New version: MathOptFormat v0.3.0
  M/MathOptFormat/Compat.toml
  M/MathOptFormat/Deps.toml
  M/MathOptFormat/Versions.toml
Labels: minor release

#6212 New version: GslibIO v0.3.3
  G/GslibIO/Compat.toml
  G/GslibIO/Versions.toml
Labels: patch release

#6213 New version: InverseDistanceWeighting v0.3.2
  I/InverseDistanceWeighting/Compat.toml
  I/InverseDistanceWeighting/Versions.toml
Labels: patch release

#6214 New version: LocallyWeightedRegression v0.4.2
  L/LocallyWeightedRegression/Compat.toml
  L/LocallyWeightedRegression/Versions.toml
Labels: patch release

#6215 New version: DirectGaussianSimulation v0.3.1
  D/DirectGaussianSimulation/Compat.toml
  D/DirectGaussianSimulation/Versions.toml
Labels: patch release

#6216 New version: SpectralGaussianSimulation v0.2.1
  S/SpectralGaussianSimulation/Compat.toml
  S/SpectralGaussianSimulation/Versions.toml
Labels: patch release

#6217 New version: ImageQuilting v0.9.1
  I/ImageQuilting/Versions.toml
Labels: patch release

#6218 New version: StratiGraphics v0.2.2
  S/StratiGraphics/Compat.toml
  S/StratiGraphics/Versions.toml
Labels: patch release

#6220 New version: StaticLint v2.0.0
  S/StaticLint/Compat.toml
  S/StaticLint/Deps.toml
  S/StaticLint/Versions.toml
Labels: major release

#6219 New version: IntervalRootFinding v0.5.0
  I/IntervalRootFinding/Compat.toml
  I/IntervalRootFinding/Deps.toml
  I/IntervalRootFinding/Versions.toml
Labels: minor release

#6221 New version: NodeJS v1.1.1
  N/NodeJS/Versions.toml
Labels: patch release

#6225 New version: ObjectDetector v0.1.1
  O/ObjectDetector/Versions.toml
Labels: patch release

#6226 New version: SolidStateDetectors v0.3.0
  S/SolidStateDetectors/Compat.toml
  S/SolidStateDetectors/Deps.toml
  S/SolidStateDetectors/Versions.toml
Labels: minor release

#6227 New version: HDF5Utils v0.1.5
  H/HDF5Utils/Versions.toml
Labels: patch release

#6228 New version: Arpack v0.3.2
  A/Arpack/Versions.toml
Labels: patch release

#6229 New version: Arpack v0.4.0
  A/Arpack/Compat.toml
  A/Arpack/Deps.toml
  A/Arpack/Versions.toml
Labels: minor release

#6231 New version: Genie v0.22.6
  G/Genie/Versions.toml
Labels: patch release

#6232 New version: SearchLight v0.15.2
  S/SearchLight/Versions.toml
Labels: patch release

#6233 New version: OrdinaryDiffEq v5.26.2
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#6236 New version: VoronoiFVM v0.5.5
  V/VoronoiFVM/Versions.toml
Labels: patch release

#6237 New version: SparseMatricesCSR v0.4.2
  S/SparseMatricesCSR/Versions.toml
Labels: patch release

#6238 New version: OpenDSSDirect v0.6.1
  O/OpenDSSDirect/Compat.toml
  O/OpenDSSDirect/Versions.toml
Labels: patch release

#6240 New version: StanBase v1.0.3
  S/StanBase/Compat.toml
  S/StanBase/Versions.toml
Labels: patch release

#6241 New version: StanSample v1.0.2
  S/StanSample/Compat.toml
  S/StanSample/Versions.toml
Labels: patch release

#6242 New version: StanOptimize v1.0.2
  S/StanOptimize/Compat.toml
  S/StanOptimize/Versions.toml
Labels: patch release

#6243 New version: StanVariational v1.0.2
  S/StanVariational/Compat.toml
  S/StanVariational/Versions.toml
Labels: patch release

#6244 New version: StanDiagnose v1.0.2
  S/StanDiagnose/Compat.toml
  S/StanDiagnose/Versions.toml
Labels: patch release

#6246 New version: DiffieHellman v0.2.0
  D/DiffieHellman/Deps.toml
  D/DiffieHellman/Versions.toml
Labels: minor release

#6248 New version: Stan v5.0.2
  S/Stan/Compat.toml
  S/Stan/Versions.toml
Labels: patch release

#6249 New version: Multiplexers v0.2.0
  M/Multiplexers/Versions.toml
Labels: minor release

#6223 New version: TaylorIntegration v0.7.1
  T/TaylorIntegration/Compat.toml
  T/TaylorIntegration/Versions.toml
Labels: patch release

#6252 New version: Genie v0.22.7
  G/Genie/Versions.toml
Labels: patch release

#6253 New version: SearchLight v0.15.3
  S/SearchLight/Versions.toml
Labels: patch release

#6254 New version: SymPy v1.0.9
  S/SymPy/Versions.toml
Labels: patch release

#6113 New package: AgentsPlots v0.1.0
  A/AgentsPlots/Compat.toml
  A/AgentsPlots/Deps.toml
  A/AgentsPlots/Package.toml
  A/AgentsPlots/Versions.toml
  Registry.toml
Labels: new package

#6202 New version: MPI v0.11.0
  M/MPI/Compat.toml
  M/MPI/Versions.toml
Labels: minor release

#6258 New version: AWSCore v0.6.6
  A/AWSCore/Versions.toml
Labels: patch release

#6255 JLL Registration: JuliaBinaryWrappers/IntelOpenMP_jll.jl-v2018.0.3+0
  I/IntelOpenMP_jll/Compat.toml
  I/IntelOpenMP_jll/Deps.toml
  I/IntelOpenMP_jll/Package.toml
  I/IntelOpenMP_jll/Versions.toml
  Registry.toml
Labels: binarybuilder

#6121 New package: CoverageTools v1.0.0
  C/CoverageTools/Compat.toml
  C/CoverageTools/Deps.toml
  C/CoverageTools/Package.toml
  C/CoverageTools/Versions.toml
  Registry.toml
Labels: new package

#6260 New version: JuliaInterpreter v0.7.5
  J/JuliaInterpreter/Versions.toml
Labels: patch release

#6261 New version: Optim v0.19.6
  O/Optim/Versions.toml
Labels: patch release

#6263 New version: LibPQ v1.0.6
  L/LibPQ/Compat.toml
  L/LibPQ/Versions.toml
Labels: patch release

#6264 New version: ArviZ v0.2.4
  A/ArviZ/Deps.toml
  A/ArviZ/Versions.toml
Labels: patch release

#6265 New version: VoronoiFVM v0.5.6
  V/VoronoiFVM/Versions.toml
Labels: patch release

#6267 New version: Coverage v1.0.0
  C/Coverage/Compat.toml
  C/Coverage/Deps.toml
  C/Coverage/Versions.toml
Labels: major release

#6269 New version: RegistryCI v0.3.2
  R/RegistryCI/Versions.toml
Labels: patch release

#6270 New version: PredictMDExtra v0.13.3
  P/PredictMDExtra/Compat.toml
  P/PredictMDExtra/Versions.toml
Labels: patch release

#6271 New version: VersionVigilante v0.1.2
  V/VersionVigilante/Versions.toml
Labels: patch release

#6274 New version: RetroCap v0.2.0
  R/RetroCap/Versions.toml
Labels: minor release

#6275 New version: GPUArrays v2.0.1
  G/GPUArrays/Compat.toml
  G/GPUArrays/Versions.toml
Labels: patch release

#6273 Fix incorrect compat entry for PlotAxes
  P/PlotAxes/Compat.toml
Labels: compat fix

#6257 New version: Gurobi v0.7.4
  G/Gurobi/Compat.toml
  G/Gurobi/Versions.toml
Labels: patch release

#6139 New package: DataIO v0.1.0
  D/DataIO/Compat.toml
  D/DataIO/Deps.toml
  D/DataIO/Package.toml
  D/DataIO/Versions.toml
  Registry.toml
Labels: new package

#6239 New package: KissMCMC v0.2.0
  K/KissMCMC/Compat.toml
  K/KissMCMC/Deps.toml
  K/KissMCMC/Package.toml
  K/KissMCMC/Versions.toml
  Registry.toml
Labels: new package

#6276 New version: StatsFuns v0.9.2
  S/StatsFuns/Compat.toml
  S/StatsFuns/Versions.toml
Labels: patch release

#6230 New version: DiffResults v1.0.0
  D/DiffResults/Compat.toml
  D/DiffResults/Deps.toml
  D/DiffResults/Versions.toml
Labels: major release

#6129 New package: EmpiricalDistributions v0.1.0
  E/EmpiricalDistributions/Compat.toml
  E/EmpiricalDistributions/Deps.toml
  E/EmpiricalDistributions/Package.toml
  E/EmpiricalDistributions/Versions.toml
  Registry.toml
Labels: new package

#6279 New version: JuliaFormatter v0.1.38
  J/JuliaFormatter/Versions.toml
Labels: patch release

#6280 New version: YaoBlocks v0.7.6
  Y/YaoBlocks/Versions.toml
Labels: patch release

#6284 New version: DataIO v0.1.1
  D/DataIO/Versions.toml
Labels: patch release
