Repository JuliaRegistries/General, pull requests merged in 2019-07, with the labels that each got.

#1611 Cap all StatsModels dependents at 0.5
  A/ANOVA/Compat.toml
  B/Bootstrap/Compat.toml
  C/CovarianceMatrices/Compat.toml
  F/FixedEffectModels/Compat.toml
  G/GLM/Compat.toml
  H/HurdleDMR/Compat.toml
  I/InteractiveFixedEffectModels/Compat.toml
  M/Microeconometrics/Compat.toml
  M/MixedModels/Compat.toml
  P/PhyloNetworks/Compat.toml
  R/RCall/Compat.toml
  R/RegressionTables/Compat.toml
  T/TexTables/Compat.toml
Labels: compat fix

#1625 New package: VPTrees v0.1.0
  Registry.toml
  V/VPTrees/Compat.toml
  V/VPTrees/Deps.toml
  V/VPTrees/Package.toml
  V/VPTrees/Versions.toml
Labels: new package

#1559 New package: jInv v0.7.1
  J/jInv/Compat.toml
  J/jInv/Deps.toml
  J/jInv/Package.toml
  J/jInv/Versions.toml
  Registry.toml
Labels: new package, waiting for author

#1624 New version: MusicManipulations v0.7.0
  M/MusicManipulations/Compat.toml
  M/MusicManipulations/Versions.toml
Labels: minor release

#1609 New package: BitConverter v0.1.0
  B/BitConverter/Compat.toml
  B/BitConverter/Deps.toml
  B/BitConverter/Package.toml
  B/BitConverter/Versions.toml
  Registry.toml
Labels: new package

#1600 New package: LinearAdjoints v0.1.0
  L/LinearAdjoints/Compat.toml
  L/LinearAdjoints/Deps.toml
  L/LinearAdjoints/Package.toml
  L/LinearAdjoints/Versions.toml
  Registry.toml
Labels: new package

#1620 New version: MIDI v1.4.1
  M/MIDI/Versions.toml
Labels: minor release

#1629 New version: Polyhedra v0.5.2
  P/Polyhedra/Compat.toml
  P/Polyhedra/Deps.toml
  P/Polyhedra/Versions.toml
Labels: patch release

#1630 New package: DataValueInterfaces v1.0.0
  D/DataValueInterfaces/Compat.toml
  D/DataValueInterfaces/Deps.toml
  D/DataValueInterfaces/Package.toml
  D/DataValueInterfaces/Versions.toml
  Registry.toml
Labels: new package

#1631 New version: HomotopyContinuation v1.0.0
  H/HomotopyContinuation/Compat.toml
  H/HomotopyContinuation/Deps.toml
  H/HomotopyContinuation/Versions.toml
Labels: major release

#1632 New version: C3D v0.5.2
  C/C3D/Compat.toml
  C/C3D/Deps.toml
  C/C3D/Versions.toml
Labels: minor release

#1634 New package: CBinding v0.1.0
  C/CBinding/Compat.toml
  C/CBinding/Deps.toml
  C/CBinding/Package.toml
  C/CBinding/Versions.toml
  Registry.toml
Labels: new package

#1635 New version: CompoundPeriods v0.4.0
  C/CompoundPeriods/Compat.toml
  C/CompoundPeriods/Deps.toml
  C/CompoundPeriods/Versions.toml
Labels: minor release

#1636 New package: BackedUpImmutable v0.0.1
  B/BackedUpImmutable/Compat.toml
  B/BackedUpImmutable/Deps.toml
  B/BackedUpImmutable/Package.toml
  B/BackedUpImmutable/Versions.toml
  Registry.toml
Labels: new package

#1637 New version: LibCURL v0.5.2
  L/LibCURL/Compat.toml
  L/LibCURL/Versions.toml
Labels: patch release

#1639 New version: ConvexBodyProximityQueries v0.1.3
  C/ConvexBodyProximityQueries/Compat.toml
  C/ConvexBodyProximityQueries/Versions.toml
Labels: patch release

#1640 New version: CurveProximityQueries v0.1.4
  C/CurveProximityQueries/Compat.toml
  C/CurveProximityQueries/Versions.toml
Labels: patch release

#1641 New version: PlotlyJS v0.12.5
  P/PlotlyJS/Compat.toml
  P/PlotlyJS/Versions.toml
Labels: patch release

#1643 New package: Reproject v0.1.0
  R/Reproject/Compat.toml
  R/Reproject/Deps.toml
  R/Reproject/Package.toml
  R/Reproject/Versions.toml
  Registry.toml
Labels: new package

#1648 New version: PredictMD v0.30.1
  P/PredictMD/Compat.toml
  P/PredictMD/Versions.toml
Labels: patch release

#1649 New version: Gridap v0.2.0
  G/Gridap/Compat.toml
  G/Gridap/Deps.toml
  G/Gridap/Versions.toml
Labels: minor release

#1652 New version: ThreePhasePowerModels v0.3.1
  T/ThreePhasePowerModels/Compat.toml
  T/ThreePhasePowerModels/Versions.toml
Labels: patch release

#1653 New version: ChaosTools v1.7.0
  C/ChaosTools/Deps.toml
  C/ChaosTools/Versions.toml
Labels: minor release

#1654 New package: FastRationals v0.1.0
  F/FastRationals/Compat.toml
  F/FastRationals/Deps.toml
  F/FastRationals/Package.toml
  F/FastRationals/Versions.toml
  Registry.toml
Labels: new package

#1655 New version: DocumentFunction v0.5.1
  D/DocumentFunction/Compat.toml
  D/DocumentFunction/Deps.toml
  D/DocumentFunction/Versions.toml
Labels: patch release

#1656 New version: ReusableFunctions v0.5.2
  R/ReusableFunctions/Compat.toml
  R/ReusableFunctions/Deps.toml
  R/ReusableFunctions/Versions.toml
Labels: patch release

#1657 New version: AffineInvariantMCMC v0.5.0
  A/AffineInvariantMCMC/Compat.toml
  A/AffineInvariantMCMC/Deps.toml
  A/AffineInvariantMCMC/Versions.toml
Labels: minor release

#1658 New version: SVR v0.5.1
  S/SVR/Compat.toml
  S/SVR/Deps.toml
  S/SVR/Versions.toml
Labels: patch release

#1659 New version: Anasol v0.5.3
  A/Anasol/Compat.toml
  A/Anasol/Deps.toml
  A/Anasol/Versions.toml
Labels: patch release

#1660 New version: MetaProgTools v0.5.0
  M/MetaProgTools/Compat.toml
  M/MetaProgTools/Deps.toml
  M/MetaProgTools/Versions.toml
Labels: minor release

#1661 New version: RobustPmap v0.5.0
  R/RobustPmap/Compat.toml
  R/RobustPmap/Deps.toml
  R/RobustPmap/Versions.toml
Labels: minor release

#1662 New version: Kriging v0.4.0
  K/Kriging/Compat.toml
  K/Kriging/Deps.toml
  K/Kriging/Versions.toml
Labels: minor release

#1663 New package: Wells v0.1.0
  Registry.toml
  W/Wells/Compat.toml
  W/Wells/Deps.toml
  W/Wells/Package.toml
  W/Wells/Versions.toml
Labels: new package

#1665 New version: DiffEqBase v5.11.0
  D/DiffEqBase/Deps.toml
  D/DiffEqBase/Versions.toml
Labels: minor release

#1674 New version: GAP v0.2.0
  G/GAP/Deps.toml
  G/GAP/Versions.toml
Labels: minor release

#1673 New version: ClinicalTrialUtilities v0.1.11
  C/ClinicalTrialUtilities/Deps.toml
  C/ClinicalTrialUtilities/Versions.toml
Labels: patch release

#1671 New version: Showoff v0.3.1
  S/Showoff/Compat.toml
  S/Showoff/Versions.toml
Labels: patch release

#1672 New version: Oceananigans v0.8.0
  O/Oceananigans/Versions.toml
Labels: minor release

#1670 New version: Leibniz v0.0.2
  L/Leibniz/Compat.toml
  L/Leibniz/Versions.toml
Labels: patch release

#1669 New version: GeostatInversion v0.3.2
  G/GeostatInversion/Compat.toml
  G/GeostatInversion/Deps.toml
  G/GeostatInversion/Versions.toml
Labels: patch release

#1668 New version: Reduce v1.2.0
  R/Reduce/Compat.toml
  R/Reduce/Deps.toml
  R/Reduce/Versions.toml
Labels: minor release

#1678 New version: BSONqs v0.5.0
  B/BSONqs/Versions.toml
Labels: minor release

#1679 New version: JSON3 v0.1.2
  J/JSON3/Versions.toml
Labels: patch release

#1681 New version: ImageMagick v0.7.5
  I/ImageMagick/Compat.toml
  I/ImageMagick/Versions.toml
Labels: patch release

#1682 New version: AugmentedGaussianProcesses v0.4.3
  A/AugmentedGaussianProcesses/Deps.toml
  A/AugmentedGaussianProcesses/Versions.toml
Labels: patch release

#1684 New version: VideoIO v0.6.7
  V/VideoIO/Deps.toml
  V/VideoIO/Versions.toml
Labels: patch release

#1685 New version: RAFF v0.6.2
  R/RAFF/Versions.toml
Labels: patch release

#1686 New version: Quaternions v0.4.1
  Q/Quaternions/Versions.toml
Labels: patch release

#1687 New version: SparseDiffTools v0.2.0
  S/SparseDiffTools/Deps.toml
  S/SparseDiffTools/Versions.toml
Labels: minor release

#1689 New version: DiffEqProblemLibrary v4.2.0
  D/DiffEqProblemLibrary/Compat.toml
  D/DiffEqProblemLibrary/Deps.toml
  D/DiffEqProblemLibrary/Versions.toml
Labels: minor release

#1690 New version: Unitful v0.16.0
  U/Unitful/Compat.toml
  U/Unitful/Deps.toml
  U/Unitful/Versions.toml
Labels: minor release

#1692 New version: Cbc v0.6.1
  C/Cbc/Compat.toml
  C/Cbc/Versions.toml
Labels: patch release

#1688 New version: DiffEqBase v5.11.1
  D/DiffEqBase/Versions.toml
Labels: minor release

#1694 New package: SeisNoise v0.1.0
  Registry.toml
  S/SeisNoise/Compat.toml
  S/SeisNoise/Deps.toml
  S/SeisNoise/Package.toml
  S/SeisNoise/Versions.toml
Labels: new package

#1693 New package: PowerModelsDistribution v0.4.0
  P/PowerModelsDistribution/Compat.toml
  P/PowerModelsDistribution/Deps.toml
  P/PowerModelsDistribution/Package.toml
  P/PowerModelsDistribution/Versions.toml
  Registry.toml
Labels: new package

#1697 New version: Grassmann v0.2.0
  G/Grassmann/Compat.toml
  G/Grassmann/Deps.toml
  G/Grassmann/Versions.toml
Labels: minor release

#1695 New version: MLJBase v0.2.5
  M/MLJBase/Versions.toml
Labels: patch release

#1699 New version: HTTP v0.8.3
  H/HTTP/Compat.toml
  H/HTTP/Versions.toml
Labels: patch release

#1698 New version: PowerModelsDistribution v0.5.0
  P/PowerModelsDistribution/Compat.toml
  P/PowerModelsDistribution/Versions.toml
Labels: minor release

#1602 New version: UnicodeGraphics v0.1.0
  U/UnicodeGraphics/Compat.toml
  U/UnicodeGraphics/Deps.toml
  U/UnicodeGraphics/Versions.toml
Labels: minor release

#1704 New version: CovarianceEstimation v0.2.2
  C/CovarianceEstimation/Compat.toml
  C/CovarianceEstimation/Versions.toml
Labels: patch release

#1703 New version: AbstractAlgebra v0.5.2
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#1702 New version: JSON3 v0.1.3
  J/JSON3/Versions.toml
Labels: patch release

#1701 New version: OceanGrids v0.1.1
  O/OceanGrids/Versions.toml
Labels: patch release

#1680 New version: DataDeps v0.6.4
  D/DataDeps/Compat.toml
  D/DataDeps/Deps.toml
  D/DataDeps/Versions.toml
Labels: patch release

#1616 New version: Weave v0.9.1
  W/Weave/Compat.toml
  W/Weave/Deps.toml
  W/Weave/Versions.toml
Labels: patch release

#1691 New version: ThreePhasePowerModels v0.3.2
  T/ThreePhasePowerModels/Versions.toml
Labels: patch release

#1708 New version: DataValues v0.4.9
  D/DataValues/Deps.toml
  D/DataValues/Versions.toml
Labels: patch release

#1724 New version: FeatherLib v0.2.0
  F/FeatherLib/Compat.toml
  F/FeatherLib/Deps.toml
  F/FeatherLib/Versions.toml
Labels: minor release

#1633 New package: FDDerivatives v0.1.0
  F/FDDerivatives/Compat.toml
  F/FDDerivatives/Deps.toml
  F/FDDerivatives/Package.toml
  F/FDDerivatives/Versions.toml
  Registry.toml
Labels: new package

#1741 New version: Documenter v0.22.5
  D/Documenter/Versions.toml
Labels: patch release

#1744 New version: RepoSnapshots v0.3.0
  R/RepoSnapshots/Versions.toml
Labels: minor release

#1742 New version: BinaryProvider v0.5.5
  B/BinaryProvider/Compat.toml
  B/BinaryProvider/Deps.toml
  B/BinaryProvider/Versions.toml
Labels: patch release

#1743 New version: NeighbourLists v0.4.1
  N/NeighbourLists/Versions.toml
Labels: patch release

#1725 New version: Tables v0.2.7
  T/Tables/Deps.toml
  T/Tables/Versions.toml
Labels: patch release

#1726 New version: DiffEqDiffTools v0.13.0
  D/DiffEqDiffTools/Versions.toml
Labels: minor release

#1727 New version: DataFrames v0.18.4
  D/DataFrames/Versions.toml
Labels: patch release

#1729 New version: LinearFractional v0.6.1
  L/LinearFractional/Versions.toml
Labels: patch release

#1730 New version: DSGE v0.7.0
  D/DSGE/Deps.toml
  D/DSGE/Versions.toml
Labels: minor release

#1731 New version: MultivariateMoments v0.2.2
  M/MultivariateMoments/Compat.toml
  M/MultivariateMoments/Versions.toml
Labels: patch release

#1732 New version: MIDI v1.4.2
  M/MIDI/Versions.toml
Labels: patch release

#1738 New version: NaturallyUnitful v0.3.0
  N/NaturallyUnitful/Versions.toml
Labels: minor release

#1739 New version: ArrayFire v1.0.3
  A/ArrayFire/Versions.toml
Labels: patch release

#1740 New version: Flatten v0.2.1
  F/Flatten/Deps.toml
  F/Flatten/Versions.toml
Labels: patch release

#1696 New package: BlochSim v0.1.0
  B/BlochSim/Compat.toml
  B/BlochSim/Deps.toml
  B/BlochSim/Package.toml
  B/BlochSim/Versions.toml
  Registry.toml
Labels: new package

#1700 New package: RawFile v1.0.0
  R/RawFile/Compat.toml
  R/RawFile/Deps.toml
  R/RawFile/Package.toml
  R/RawFile/Versions.toml
  Registry.toml
Labels: new package

#1709 New version: DocumentationGenerator v0.1.1
  D/DocumentationGenerator/Versions.toml
Labels: patch release

#1711 New version: AIBECS v0.2.2
  A/AIBECS/Compat.toml
  A/AIBECS/Versions.toml
Labels: patch release

#1712 New version: FieldMetadata v0.1.0
  F/FieldMetadata/Compat.toml
  F/FieldMetadata/Deps.toml
  F/FieldMetadata/Versions.toml
Labels: minor release

#1715 New version: MLJBase v0.2.6
  M/MLJBase/Versions.toml
Labels: patch release

#1716 New version: DiffEqBase v5.12.0
  D/DiffEqBase/Versions.toml
Labels: minor release

#1717 New version: DiffEqProblemLibrary v4.3.0
  D/DiffEqProblemLibrary/Versions.toml
Labels: minor release

#1718 New version: ArraysOfArrays v0.4.0
  A/ArraysOfArrays/Compat.toml
  A/ArraysOfArrays/Deps.toml
  A/ArraysOfArrays/Versions.toml
Labels: minor release

#1719 New version: BitConverter v0.1.1
  B/BitConverter/Versions.toml
Labels: patch release

#1720 New version: FunctionalStateMachine v0.1.2
  F/FunctionalStateMachine/Versions.toml
Labels: patch release

#1722 New version: SuperEnum v0.1.4
  S/SuperEnum/Compat.toml
  S/SuperEnum/Versions.toml
Labels: patch release

#1723 New version: QuantizedArrays v0.1.1
  Q/QuantizedArrays/Deps.toml
  Q/QuantizedArrays/Versions.toml
Labels: patch release

#1728 New version: GLM v1.3.0
  G/GLM/Compat.toml
  G/GLM/Versions.toml
Labels: minor release

#1745 New version: Polyhedra v0.5.3
  P/Polyhedra/Versions.toml
Labels: patch release

#1746 New version: TensorValues v0.3.3
  T/TensorValues/Versions.toml
Labels: patch release

#1747 New version: StructArrays v0.4.0
  S/StructArrays/Compat.toml
  S/StructArrays/Deps.toml
  S/StructArrays/Versions.toml
Labels: minor release

#1748 New version: TaylorModels v0.2.0
  T/TaylorModels/Compat.toml
  T/TaylorModels/Versions.toml
Labels: minor release

#1749 New version: LazySets v1.14.0
  L/LazySets/Compat.toml
  L/LazySets/Deps.toml
  L/LazySets/Versions.toml
Labels: minor release

#1750 New version: TimeSeries v0.16.0
  T/TimeSeries/Deps.toml
  T/TimeSeries/Versions.toml
Labels: minor release

#1751 New version: FieldMetadata v0.1.1
  F/FieldMetadata/Versions.toml
Labels: patch release

#1752 New version: Tracking v0.9.5
  T/Tracking/Versions.toml
Labels: patch release

#1757 New version: BAT v0.3.0
  B/BAT/Compat.toml
  B/BAT/Deps.toml
  B/BAT/Versions.toml
Labels: minor release

#1734 New version: LinkedLists v0.1.1
  L/LinkedLists/Deps.toml
  L/LinkedLists/Versions.toml
Labels: patch release

#1759 New version: NamedDims v0.2.4
  N/NamedDims/Versions.toml
Labels: patch release

#1753 New version: SymEngine v0.6.0
  S/SymEngine/Compat.toml
  S/SymEngine/Versions.toml
Labels: minor release

#1755 New version: ScatteredInterpolation v0.3.3
  S/ScatteredInterpolation/Compat.toml
  S/ScatteredInterpolation/Deps.toml
  S/ScatteredInterpolation/Versions.toml
Labels: patch release

#1761 New version: Cassette v0.2.4
  C/Cassette/Compat.toml
  C/Cassette/Deps.toml
  C/Cassette/Versions.toml
Labels: patch release

#1763 New version: HomotopyContinuation v1.0.1
  H/HomotopyContinuation/Versions.toml
Labels: patch release

#1764 New version: FastRationals v0.1.1
  F/FastRationals/Versions.toml
Labels: patch release

#1767 New version: ArbNumerics v0.6.0
  A/ArbNumerics/Versions.toml
Labels: minor release

#1769 New version: SaferIntegers v2.4.1
  S/SaferIntegers/Versions.toml
Labels: patch release

#1772 New version: ConvexBodyProximityQueries v0.1.4
  C/ConvexBodyProximityQueries/Versions.toml
Labels: patch release

#1773 New version: CurveProximityQueries v0.1.5
  C/CurveProximityQueries/Versions.toml
Labels: patch release

#1774 New version: GridArrays v0.1.1
  G/GridArrays/Versions.toml
Labels: patch release

#1758 New version: DifferentialEquations v6.6.0
  D/DifferentialEquations/Compat.toml
  D/DifferentialEquations/Deps.toml
  D/DifferentialEquations/Versions.toml
Labels: minor release

#1762 New version: StatsBase v0.31.0
  S/StatsBase/Versions.toml
Labels: minor release

#1801 New version: HTTP v0.8.4
  H/HTTP/Versions.toml
Labels: patch release

#1784 New version: Nemo v0.14.1
  N/Nemo/Versions.toml
Labels: patch release

#1706 New package: MackeyGlass v0.1.0
  M/MackeyGlass/Compat.toml
  M/MackeyGlass/Deps.toml
  M/MackeyGlass/Package.toml
  M/MackeyGlass/Versions.toml
  Registry.toml
Labels: new package

#1707 New package: GraphBLASInterface v0.1.0
  G/GraphBLASInterface/Compat.toml
  G/GraphBLASInterface/Deps.toml
  G/GraphBLASInterface/Package.toml
  G/GraphBLASInterface/Versions.toml
  Registry.toml
Labels: new package

#1721 New package: FeedbackNets v0.1.0
  F/FeedbackNets/Compat.toml
  F/FeedbackNets/Deps.toml
  F/FeedbackNets/Package.toml
  F/FeedbackNets/Versions.toml
  Registry.toml
Labels: new package

#1733 New package: Secp256k1 v0.1.0
  Registry.toml
  S/Secp256k1/Compat.toml
  S/Secp256k1/Deps.toml
  S/Secp256k1/Package.toml
  S/Secp256k1/Versions.toml
Labels: new package

#1760 New version: LorentzVectors v0.4.0
  L/LorentzVectors/Deps.toml
  L/LorentzVectors/Versions.toml
Labels: minor release

#1766 New version: StateSpaceModels v0.2.1
  S/StateSpaceModels/Compat.toml
  S/StateSpaceModels/Deps.toml
  S/StateSpaceModels/Versions.toml
Labels: minor release

#1775 New version: ArbNumerics v0.6.1
  A/ArbNumerics/Versions.toml
Labels: patch release

#1776 New version: FastRationals v0.1.2
  F/FastRationals/Versions.toml
Labels: patch release

#1777 New version: Plots v0.25.3
  P/Plots/Versions.toml
Labels: patch release

#1778 New version: DiffEqDevTools v2.10.0
  D/DiffEqDevTools/Compat.toml
  D/DiffEqDevTools/Deps.toml
  D/DiffEqDevTools/Versions.toml
Labels: minor release

#1779 New version: AIBECS v0.2.3
  A/AIBECS/Compat.toml
  A/AIBECS/Versions.toml
Labels: patch release

#1780 New version: SurrogateModelOptim v0.2.0
  S/SurrogateModelOptim/Versions.toml
Labels: minor release

#1782 New version: DelayDiffEq v5.5.0
  D/DelayDiffEq/Compat.toml
  D/DelayDiffEq/Deps.toml
  D/DelayDiffEq/Versions.toml
Labels: minor release

#1783 New version: Mangal v0.1.0
  M/Mangal/Compat.toml
  M/Mangal/Versions.toml
Labels: minor release

#1785 New version: UnitfulAtomic v0.3.0
  U/UnitfulAtomic/Compat.toml
  U/UnitfulAtomic/Deps.toml
  U/UnitfulAtomic/Versions.toml
Labels: minor release

#1786 New version: SetProg v0.0.2
  S/SetProg/Versions.toml
Labels: patch release

#1787 New version: SwitchOnSafety v0.0.2
  S/SwitchOnSafety/Deps.toml
  S/SwitchOnSafety/Versions.toml
Labels: patch release

#1788 New version: BedgraphFiles v2.1.2
  B/BedgraphFiles/Versions.toml
Labels: patch release

#1790 New version: DiffEqBase v5.13.0
  D/DiffEqBase/Versions.toml
Labels: minor release

#1792 New version: LazySets v1.14.1
  L/LazySets/Versions.toml
Labels: patch release

#1793 New version: IterTools v1.2.0
  I/IterTools/Compat.toml
  I/IterTools/Deps.toml
  I/IterTools/Versions.toml
Labels: minor release

#1794 New version: GmshTools v0.2.0
  G/GmshTools/Versions.toml
Labels: minor release

#1795 New version: MirrorUpdater v0.3.0
  M/MirrorUpdater/Versions.toml
Labels: minor release

#1796 New version: HurdleDMR v1.1.0
  H/HurdleDMR/Compat.toml
  H/HurdleDMR/Deps.toml
  H/HurdleDMR/Versions.toml
Labels: minor release

#1799 New version: PredictMDExtra v0.10.0
  P/PredictMDExtra/Compat.toml
  P/PredictMDExtra/Deps.toml
  P/PredictMDExtra/Versions.toml
Labels: minor release

#1802 New version: HDF5 v0.12.0
  H/HDF5/Compat.toml
  H/HDF5/Deps.toml
  H/HDF5/Versions.toml
Labels: minor release

#1781 Set bounds for Unitful compatibility
  U/UnitfulAtomic/Compat.toml
Labels: compat fix
