Repository JuliaRegistries/General, pull requests merged in 2020-02, with the labels that each got.

#8726 New version: DistributionsAD v0.3.2
  D/DistributionsAD/Versions.toml
Labels: patch release

#8727 New version: PrettyTables v0.8.1
  P/PrettyTables/Versions.toml
Labels: patch release

#8728 New version: ClimateEasy v0.2.2
  C/ClimateEasy/Versions.toml
Labels: patch release

#8729 New version: FourierFlows v0.4.1
  F/FourierFlows/Compat.toml
  F/FourierFlows/Versions.toml
Labels: patch release

#8592 New package: ClimateTasks v0.1.0
  C/ClimateTasks/Compat.toml
  C/ClimateTasks/Deps.toml
  C/ClimateTasks/Package.toml
  C/ClimateTasks/Versions.toml
  Registry.toml
Labels: new package

#8712 New version: ADCME v0.4.1
  A/ADCME/Compat.toml
  A/ADCME/Deps.toml
  A/ADCME/Versions.toml
Labels: patch release

#8730 New version: GeoMakie v0.1.1
  G/GeoMakie/Compat.toml
  G/GeoMakie/Deps.toml
  G/GeoMakie/Versions.toml
Labels: patch release

#8731 New version: JuliaFormatter v0.3.2
  J/JuliaFormatter/Versions.toml
Labels: patch release

#8595 New package: LogRoller v0.1.0
  L/LogRoller/Compat.toml
  L/LogRoller/Deps.toml
  L/LogRoller/Package.toml
  L/LogRoller/Versions.toml
  Registry.toml
Labels: new package

#8732 New version: Trajectories v0.2.0
  T/Trajectories/Compat.toml
  T/Trajectories/Deps.toml
  T/Trajectories/Versions.toml
Labels: minor release

#8733 New version: MonteCarloMeasurements v0.7.4
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#8603 New package: NeuroCore v0.1.0
  N/NeuroCore/Compat.toml
  N/NeuroCore/Deps.toml
  N/NeuroCore/Package.toml
  N/NeuroCore/Versions.toml
  Registry.toml
Labels: new package

#8734 New version: TensorCast v0.2.0
  T/TensorCast/Compat.toml
  T/TensorCast/Deps.toml
  T/TensorCast/Versions.toml
Labels: minor release

#8608 New package: MLJScientificTypes v0.1.0
  M/MLJScientificTypes/Compat.toml
  M/MLJScientificTypes/Deps.toml
  M/MLJScientificTypes/Package.toml
  M/MLJScientificTypes/Versions.toml
  Registry.toml
Labels: new package

#8736 New version: IntervalMatrices v0.5.0
  I/IntervalMatrices/Versions.toml
Labels: minor release

#8737 New version: ElectronTests v0.1.3
  E/ElectronTests/Versions.toml
Labels: patch release

#8612 New package: DiffPrivacy v0.1.0
  D/DiffPrivacy/Compat.toml
  D/DiffPrivacy/Deps.toml
  D/DiffPrivacy/Package.toml
  D/DiffPrivacy/Versions.toml
  Registry.toml
Labels: new package

#8739 New version: AutoGrad v1.2.1
  A/AutoGrad/Compat.toml
  A/AutoGrad/Versions.toml
Labels: patch release

#8740 New version: ElectronTests v0.1.4
  E/ElectronTests/Versions.toml
Labels: patch release

#8615 New package: MLJModelInterface v0.1.0
  M/MLJModelInterface/Compat.toml
  M/MLJModelInterface/Deps.toml
  M/MLJModelInterface/Package.toml
  M/MLJModelInterface/Versions.toml
  Registry.toml
Labels: new package

#8620 New package: ArgoData v0.1.0
  A/ArgoData/Compat.toml
  A/ArgoData/Deps.toml
  A/ArgoData/Package.toml
  A/ArgoData/Versions.toml
  Registry.toml
Labels: new package

#8741 New version: ReinforcementLearningBase v0.5.0
  R/ReinforcementLearningBase/Versions.toml
Labels: minor release

#8624 New package: PearsonHash v0.1.0
  P/PearsonHash/Compat.toml
  P/PearsonHash/Deps.toml
  P/PearsonHash/Package.toml
  P/PearsonHash/Versions.toml
  Registry.toml
Labels: new package

#8742 New version: ElectronTests v0.1.5
  E/ElectronTests/Versions.toml
Labels: patch release

#8738 New version: Knet v1.3.3
  K/Knet/Compat.toml
  K/Knet/Deps.toml
  K/Knet/Versions.toml
Labels: patch release

#8743 New version: JSServe v0.3.7
  J/JSServe/Versions.toml
Labels: patch release

#8744 New version: PosDefManifold v0.4.7
  P/PosDefManifold/Versions.toml
Labels: patch release

#8745 New version: ElectronTests v0.1.6
  E/ElectronTests/Compat.toml
  E/ElectronTests/Versions.toml
Labels: patch release

#8746 New version: FieldProperties v0.4.0
  F/FieldProperties/Versions.toml
Labels: minor release

#8747 New version: WignerSymbols v1.1.0
  W/WignerSymbols/Compat.toml
  W/WignerSymbols/Deps.toml
  W/WignerSymbols/Versions.toml
Labels: minor release

#8752 New version: FieldProperties v0.4.1
  F/FieldProperties/Versions.toml
Labels: patch release

#8753 New version: StanBase v2.0.2
  S/StanBase/Versions.toml
Labels: patch release

#8754 New version: StanSample v2.0.2
  S/StanSample/Compat.toml
  S/StanSample/Deps.toml
  S/StanSample/Versions.toml
Labels: patch release

#8756 New version: AdvancedMH v0.3.0
  A/AdvancedMH/Compat.toml
  A/AdvancedMH/Deps.toml
  A/AdvancedMH/Versions.toml
Labels: minor release

#8651 New package: BridgeLandmarks v0.2.0
  B/BridgeLandmarks/Compat.toml
  B/BridgeLandmarks/Deps.toml
  B/BridgeLandmarks/Package.toml
  B/BridgeLandmarks/Versions.toml
  Registry.toml
Labels: needs to be manually merged in 3 days, new package

#8758 New version: IndividualDisplacements v0.1.4
  I/IndividualDisplacements/Compat.toml
  I/IndividualDisplacements/Versions.toml
Labels: patch release

#8759 New version: Compose v0.8.1
  C/Compose/Compat.toml
  C/Compose/Versions.toml
Labels: patch release

#8760 New version: Gadfly v1.2.0
  G/Gadfly/Compat.toml
  G/Gadfly/Deps.toml
  G/Gadfly/Versions.toml
Labels: minor release

#8674 New package: PkgVersion v0.1.0
  P/PkgVersion/Compat.toml
  P/PkgVersion/Deps.toml
  P/PkgVersion/Package.toml
  P/PkgVersion/Versions.toml
  Registry.toml
Labels: new package

#8761 New version: RoME v0.5.4
  R/RoME/Compat.toml
  R/RoME/Versions.toml
Labels: patch release

#8764 New version: ArrayInterface v2.4.0
  A/ArrayInterface/Versions.toml
Labels: minor release

#8765 New version: ArrayInterface v2.4.1
  A/ArrayInterface/Versions.toml
Labels: patch release

#8684 New package: PeaceFounder v0.1.0
  P/PeaceFounder/Compat.toml
  P/PeaceFounder/Deps.toml
  P/PeaceFounder/Package.toml
  P/PeaceFounder/Versions.toml
  Registry.toml
Labels: new package

#8766 New version: ScenTrees v0.1.6
  S/ScenTrees/Versions.toml
Labels: patch release

#8767 New version: DiffEqBase v6.13.2
  D/DiffEqBase/Versions.toml
Labels: patch release

#8768 New version: StochasticDiffEq v6.19.1
  S/StochasticDiffEq/Compat.toml
  S/StochasticDiffEq/Versions.toml
Labels: patch release

#8769 New version: Expectations v1.2.0
  E/Expectations/Compat.toml
  E/Expectations/Versions.toml
Labels: minor release

#8771 New version: DiffEqFlux v1.2.0
  D/DiffEqFlux/Compat.toml
  D/DiffEqFlux/Deps.toml
  D/DiffEqFlux/Versions.toml
Labels: minor release

#8772 New version: ColorVectorSpace v0.8.3
  C/ColorVectorSpace/Compat.toml
  C/ColorVectorSpace/Versions.toml
Labels: patch release

#8773 New version: NamedDims v0.2.15
  N/NamedDims/Versions.toml
Labels: patch release

#8775 New version: Stan v6.0.0
  S/Stan/Compat.toml
  S/Stan/Deps.toml
  S/Stan/Versions.toml
Labels: major release

#8763 New version: SatelliteDynamics v0.4.0
  S/SatelliteDynamics/Versions.toml
Labels: minor release

#8777 New version: ScenTrees v0.2.0
  S/ScenTrees/Versions.toml
Labels: minor release

#8778 New version: FiniteDifferences v0.9.2
  F/FiniteDifferences/Versions.toml
Labels: patch release

#8779 New version: DiffEqFlux v1.2.1
  D/DiffEqFlux/Versions.toml
Labels: patch release

#8781 New version: Measurements v2.2.0
  M/Measurements/Compat.toml
  M/Measurements/Deps.toml
  M/Measurements/Versions.toml
Labels: minor release

#8780 New version: OceanGrids v0.1.6
  O/OceanGrids/Compat.toml
  O/OceanGrids/Deps.toml
  O/OceanGrids/Versions.toml
Labels: patch release

#8782 New version: GRUtils v0.4.7
  G/GRUtils/Versions.toml
Labels: patch release

#8783 New version: WorldOceanAtlasTools v0.4.0
  W/WorldOceanAtlasTools/Deps.toml
  W/WorldOceanAtlasTools/Versions.toml
Labels: minor release

#8784 New version: Catlab v0.5.2
  C/Catlab/Versions.toml
Labels: patch release

#8785 New version: AIBECS v0.4.4
  A/AIBECS/Compat.toml
  A/AIBECS/Deps.toml
  A/AIBECS/Versions.toml
Labels: patch release

#8786 New version: VectorizationBase v0.2.5
  V/VectorizationBase/Versions.toml
Labels: patch release

#8787 New version: SIMDPirates v0.3.3
  S/SIMDPirates/Versions.toml
Labels: patch release

#8788 New version: SLEEFPirates v0.3.2
  S/SLEEFPirates/Versions.toml
Labels: patch release

#8790 New version: LoopVectorization v0.6.4
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#8791 New version: ClimateEasy v0.2.3
  C/ClimateEasy/Versions.toml
Labels: patch release

#8792 New version: ClimateERA v0.2.0
  C/ClimateERA/Compat.toml
  C/ClimateERA/Deps.toml
  C/ClimateERA/Versions.toml
Labels: minor release

#8793 New version: OceanGrids v0.1.7
  O/OceanGrids/Versions.toml
Labels: patch release

#8794 New version: AIBECS v0.4.5
  A/AIBECS/Versions.toml
Labels: patch release

#8796 New version: XLSXasJSON v0.2.0
  X/XLSXasJSON/Compat.toml
  X/XLSXasJSON/Deps.toml
  X/XLSXasJSON/Versions.toml
Labels: minor release

#8797 New version: OceanGrids v0.1.8
  O/OceanGrids/Versions.toml
Labels: patch release

#8798 New version: AIBECS v0.4.6
  A/AIBECS/Versions.toml
Labels: patch release

#8799 New version: DynamicPPL v0.3.0
  D/DynamicPPL/Compat.toml
  D/DynamicPPL/Versions.toml
Labels: minor release

#8800 New version: OhMyREPL v0.5.4
  O/OhMyREPL/Versions.toml
Labels: patch release

#8801 New version: Requires v1.0.1
  R/Requires/Compat.toml
  R/Requires/Versions.toml
Labels: patch release

#8802 New version: SLEEFPirates v0.3.3
  S/SLEEFPirates/Deps.toml
  S/SLEEFPirates/Versions.toml
Labels: patch release

#8804 New version: BridgeLandmarks v0.3.0
  B/BridgeLandmarks/Versions.toml
Labels: minor release

#8803 New package: Rocket v1.0.0
  R/Rocket/Compat.toml
  R/Rocket/Deps.toml
  R/Rocket/Package.toml
  R/Rocket/Versions.toml
  Registry.toml
Labels: new package

#8806 New version: LoopVectorization v0.6.5
  L/LoopVectorization/Versions.toml
Labels: patch release

#8808 New version: Zarr v0.4.0
  Z/Zarr/Compat.toml
  Z/Zarr/Deps.toml
  Z/Zarr/Versions.toml
Labels: minor release

#8809 New version: FixedPointNumbers v0.8.0
  F/FixedPointNumbers/Versions.toml
Labels: minor release

#8810 New version: TSMLextra v0.1.8
  T/TSMLextra/Versions.toml
Labels: patch release

#8811 New version: PowerModels v0.14.1
  P/PowerModels/Compat.toml
  P/PowerModels/Versions.toml
Labels: patch release

#8812 New version: CUDAdrv v5.1.0
  C/CUDAdrv/Compat.toml
  C/CUDAdrv/Versions.toml
Labels: minor release

#8813 New version: CmdStan v6.0.1
  C/CmdStan/Compat.toml
  C/CmdStan/Deps.toml
  C/CmdStan/Versions.toml
Labels: patch release

#8815 New version: NeuroCore v0.1.1
  N/NeuroCore/Compat.toml
  N/NeuroCore/Versions.toml
Labels: patch release

#8817 New version: ClimateTools v0.18.0
  C/ClimateTools/Compat.toml
  C/ClimateTools/Versions.toml
Labels: minor release

#8713 New package: ChainRulesTestUtils v0.1.0
  C/ChainRulesTestUtils/Compat.toml
  C/ChainRulesTestUtils/Deps.toml
  C/ChainRulesTestUtils/Package.toml
  C/ChainRulesTestUtils/Versions.toml
  Registry.toml
Labels: new package

#8819 New version: EvoTrees v0.4.0
  E/EvoTrees/Compat.toml
  E/EvoTrees/Deps.toml
  E/EvoTrees/Versions.toml
Labels: minor release

#8821 New version: ChainRulesTestUtils v0.1.1
  C/ChainRulesTestUtils/Deps.toml
  C/ChainRulesTestUtils/Versions.toml
Labels: patch release

#8822 New version: DrWatson v1.8.1
  D/DrWatson/Versions.toml
Labels: patch release

#8823 New version: Genie v0.25.2
  G/Genie/Versions.toml
Labels: patch release

#8824 New version: RecursiveArrayTools v2.0.5
  R/RecursiveArrayTools/Versions.toml
Labels: patch release

#8825 New version: MLJScientificTypes v0.1.1
  M/MLJScientificTypes/Versions.toml
Labels: patch release

#8826 New version: MLJModelInterface v0.1.1
  M/MLJModelInterface/Compat.toml
  M/MLJModelInterface/Versions.toml
Labels: patch release

#8827 New version: ScientificTypes v0.7.1
  S/ScientificTypes/Versions.toml
Labels: patch release

#8828 New version: FieldProperties v0.4.2
  F/FieldProperties/Versions.toml
Labels: patch release

#8829 New version: ThreadPools v1.0.0
  T/ThreadPools/Compat.toml
  T/ThreadPools/Deps.toml
  T/ThreadPools/Versions.toml
Labels: major release

#8830 New version: F1Method v0.3.0
  F/F1Method/Compat.toml
  F/F1Method/Deps.toml
  F/F1Method/Versions.toml
Labels: minor release

#8831 New version: TensorCast v0.2.1
  T/TensorCast/Versions.toml
Labels: patch release

#8816 New version: ToeplitzMatrices v0.6.1
  T/ToeplitzMatrices/Compat.toml
  T/ToeplitzMatrices/Deps.toml
  T/ToeplitzMatrices/Versions.toml
Labels: patch release

#8833 New version: LITS v0.2.2
  L/LITS/Versions.toml
Labels: patch release

#8834 New version: IntelVectorMath v0.3.0
  I/IntelVectorMath/Compat.toml
  I/IntelVectorMath/Deps.toml
  I/IntelVectorMath/Versions.toml
Labels: minor release

#8836 New version: F1Method v0.3.1
  F/F1Method/Versions.toml
Labels: patch release

#8838 New version: SIMDPirates v0.3.4
  S/SIMDPirates/Compat.toml
  S/SIMDPirates/Deps.toml
  S/SIMDPirates/Versions.toml
Labels: patch release

#8840 New version: LoopVectorization v0.6.6
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Deps.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#8842 Loosen Requires compat for ROCAnalysis
  R/ROCAnalysis/Compat.toml
Labels: compat fix

#8841 New version: FieldProperties v0.4.3
  F/FieldProperties/Versions.toml
Labels: patch release

#8839 New version: LLLplus v1.2.4
  L/LLLplus/Compat.toml
  L/LLLplus/Versions.toml
Labels: patch release

#8845 New version: NeuroCore v0.1.2
  N/NeuroCore/Compat.toml
  N/NeuroCore/Versions.toml
Labels: patch release

#8846 New version: SignalOperators v0.4.0
  S/SignalOperators/Compat.toml
  S/SignalOperators/Deps.toml
  S/SignalOperators/Versions.toml
Labels: minor release

#8847 New version: LLLplus v1.2.5
  L/LLLplus/Compat.toml
  L/LLLplus/Deps.toml
  L/LLLplus/Versions.toml
Labels: patch release

#8854 New version: LSHFunctions v0.0.2
  L/LSHFunctions/Versions.toml
Labels: patch release

#8856 New version: GtkUtilities v1.0.2
  G/GtkUtilities/Compat.toml
  G/GtkUtilities/Versions.toml
Labels: patch release

#8857 New version: IJulia v1.21.0
  I/IJulia/Versions.toml
Labels: minor release

#8858 New version: Genie v0.25.3
  G/Genie/Versions.toml
Labels: patch release

#8859 New version: GAP v0.2.6
  G/GAP/Versions.toml
Labels: patch release

#8860 New version: FieldProperties v0.5.0
  F/FieldProperties/Versions.toml
Labels: minor release

#8861 New version: MosekTools v0.9.3
  M/MosekTools/Versions.toml
Labels: patch release

#8862 New version: MacroTools v0.5.4
  M/MacroTools/Versions.toml
Labels: patch release

#8863 New version: Genie v0.25.4
  G/Genie/Versions.toml
Labels: patch release

#8865 New version: ROCAnalysis v0.3.1
  R/ROCAnalysis/Compat.toml
  R/ROCAnalysis/Deps.toml
  R/ROCAnalysis/Versions.toml
Labels: patch release

#8867 New version: FiniteDiff v2.2.0
  F/FiniteDiff/Compat.toml
  F/FiniteDiff/Versions.toml
Labels: minor release

#8868 New version: Images v0.21.0
  I/Images/Compat.toml
  I/Images/Deps.toml
  I/Images/Versions.toml
Labels: minor release

#8869 New version: GmshTools v0.3.2
  G/GmshTools/Versions.toml
Labels: patch release

#8870 New version: PowerSystems v0.9.0
  P/PowerSystems/Versions.toml
Labels: minor release

#8708 New version: GeoInterface v0.5.2
  G/GeoInterface/Versions.toml
Labels: patch release

#8872 Travis: enable fast finish
  .travis.yml
Labels: ci

#8558 New package: MassInstallAction v0.1.0
  M/MassInstallAction/Compat.toml
  M/MassInstallAction/Deps.toml
  M/MassInstallAction/Package.toml
  M/MassInstallAction/Versions.toml
  Registry.toml
Labels: new package

#8871 New version: LasIO v0.3.4
  L/LasIO/Compat.toml
  L/LasIO/Versions.toml
Labels: patch release

#8874 New version: DiffEqBase v6.13.3
  D/DiffEqBase/Versions.toml
Labels: patch release

#8875 New version: NeuroCore v0.1.3
  N/NeuroCore/Compat.toml
  N/NeuroCore/Versions.toml
Labels: patch release

#8873 New version: SIMDPirates v0.3.5
  S/SIMDPirates/Versions.toml
Labels: patch release

#8878 New version: ProfileVega v1.1.0
  P/ProfileVega/Versions.toml
Labels: minor release

#8879 New version: Sundials v3.8.2
  S/Sundials/Versions.toml
Labels: patch release

#8880 New version: DiffEqFlux v1.2.2
  D/DiffEqFlux/Versions.toml
Labels: patch release

#8877 New version: Genie v0.25.5
  G/Genie/Versions.toml
Labels: patch release

#8881 New version: LITS v0.2.3
  L/LITS/Versions.toml
Labels: patch release

#8885 New version: PowerModels v0.14.2
  P/PowerModels/Versions.toml
Labels: patch release

#8886 New version: ISAtmosphere v0.2.1
  I/ISAtmosphere/Versions.toml
Labels: patch release

#8887 New version: PowerModelsRestoration v0.1.1
  P/PowerModelsRestoration/Compat.toml
  P/PowerModelsRestoration/Versions.toml
Labels: patch release

#8888 New version: SnoopCompile v1.2.1
  S/SnoopCompile/Versions.toml
Labels: patch release

#8889 New version: MonteCarloMeasurements v0.7.5
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#8891 New version: ImageSegmentation v1.4.1
  I/ImageSegmentation/Compat.toml
  I/ImageSegmentation/Versions.toml
Labels: patch release

#8892 New version: MetaImageFormat v0.2.2
  M/MetaImageFormat/Compat.toml
  M/MetaImageFormat/Versions.toml
Labels: patch release

#8893 New version: PredictMD v0.34.14
  P/PredictMD/Compat.toml
  P/PredictMD/Versions.toml
Labels: patch release

#8890 New version: ImageView v0.10.6
  I/ImageView/Compat.toml
  I/ImageView/Versions.toml
Labels: patch release

#8894 New version: InfrastructureSystems v0.5.5
  I/InfrastructureSystems/Versions.toml
Labels: patch release

#8896 New version: SIMDPirates v0.3.6
  S/SIMDPirates/Versions.toml
Labels: patch release

#8897 New version: LoopVectorization v0.6.7
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release
