Repository JuliaRegistries/General, pull requests merged in 2020-03, with the labels that each got.

#10331 New version: IncrementalInference v0.9.0
  I/IncrementalInference/Compat.toml
  I/IncrementalInference/Versions.toml
Labels: minor release

#10170 New package: GeoRegions v1.0.0
  G/GeoRegions/Compat.toml
  G/GeoRegions/Deps.toml
  G/GeoRegions/Package.toml
  G/GeoRegions/Versions.toml
  Registry.toml
Labels: new package

#10333 New version: RoME v0.6.0
  R/RoME/Compat.toml
  R/RoME/Versions.toml
Labels: minor release

#10335 New version: CSTParser v2.2.0
  C/CSTParser/Versions.toml
Labels: minor release

#10337 New version: DocumentFormat v2.1.0
  D/DocumentFormat/Versions.toml
Labels: minor release

#10338 New version: SymbolServer v3.1.0
  S/SymbolServer/Deps.toml
  S/SymbolServer/Versions.toml
Labels: minor release

#10339 New version: StaticLint v3.1.0
  S/StaticLint/Versions.toml
Labels: minor release

#10336 New version: GeoRegions v1.0.1
  G/GeoRegions/Versions.toml
Labels: patch release

#10340 New version: LanguageServer v2.0.0
  L/LanguageServer/Compat.toml
  L/LanguageServer/Deps.toml
  L/LanguageServer/Versions.toml
Labels: major release

#10334 New version: Mongoc v0.4.1
  M/Mongoc/Compat.toml
  M/Mongoc/Versions.toml
Labels: patch release

#10341 New version: ClimateERA v0.3.6
  C/ClimateERA/Compat.toml
  C/ClimateERA/Deps.toml
  C/ClimateERA/Versions.toml
Labels: patch release

#10342 New version: ClimateSatellite v0.3.0
  C/ClimateSatellite/Compat.toml
  C/ClimateSatellite/Deps.toml
  C/ClimateSatellite/Versions.toml
Labels: minor release

#10343 New version: DoubleFloats v1.1.3
  D/DoubleFloats/Compat.toml
  D/DoubleFloats/Versions.toml
Labels: patch release

#10345 New version: Plots v0.29.4
  P/Plots/Versions.toml
Labels: patch release

#9708 New package: JellyMe4 v0.1.0
  J/JellyMe4/Compat.toml
  J/JellyMe4/Deps.toml
  J/JellyMe4/Package.toml
  J/JellyMe4/Versions.toml
  Registry.toml
Labels: new package

#9773 New package: PlotShapefiles v0.1.0
  P/PlotShapefiles/Compat.toml
  P/PlotShapefiles/Deps.toml
  P/PlotShapefiles/Package.toml
  P/PlotShapefiles/Versions.toml
  Registry.toml
Labels: new package

#10346 New version: DynamicalSystemsBase v1.5.3
  D/DynamicalSystemsBase/Versions.toml
Labels: patch release

#10347 New version: AcuteML v0.8.3
  A/AcuteML/Versions.toml
Labels: patch release

#10348 New version: StaticRanges v0.5.4
  S/StaticRanges/Versions.toml
Labels: patch release

#10349 New version: StanSample v2.1.1
  S/StanSample/Versions.toml
Labels: patch release

#10350 New version: RecurrenceAnalysis v1.2.0
  R/RecurrenceAnalysis/Versions.toml
Labels: minor release

#9767 New package: mlpack v3.2.3
  M/mlpack/Compat.toml
  M/mlpack/Deps.toml
  M/mlpack/Package.toml
  M/mlpack/Versions.toml
  Registry.toml
Labels: new package

#10351 New version: StanMamba v5.0.0
  S/StanMamba/Compat.toml
  S/StanMamba/Deps.toml
  S/StanMamba/Versions.toml
Labels: major release

#10352 New version: AxisIndices v0.1.4
  A/AxisIndices/Versions.toml
Labels: patch release

#10354 New version: GaussianMixtures v0.3.2
  G/GaussianMixtures/Compat.toml
  G/GaussianMixtures/Versions.toml
Labels: patch release

#10353 New version: AcuteML v0.8.4
  A/AcuteML/Versions.toml
Labels: patch release

#10356 New version: SphericalHarmonicModes v0.3.2
  S/SphericalHarmonicModes/Versions.toml
Labels: patch release

#10357 New version: IntelVectorMath v0.3.1
  I/IntelVectorMath/Compat.toml
  I/IntelVectorMath/Deps.toml
  I/IntelVectorMath/Versions.toml
Labels: patch release

#10359 New version: JuliaFormatter v0.3.6
  J/JuliaFormatter/Versions.toml
Labels: patch release

#10360 New version: TaylorSeries v0.10.2
  T/TaylorSeries/Compat.toml
  T/TaylorSeries/Versions.toml
Labels: patch release

#10324 Add compat upper bounds for Microbiome and friends
  B/BiobakeryUtils/Compat.toml
  M/Microbiome/Compat.toml
  M/MicrobiomePlots/Compat.toml
Labels: compat fix, help wanted

#10087 New package: Julog v0.1.0
  J/Julog/Compat.toml
  J/Julog/Deps.toml
  J/Julog/Package.toml
  J/Julog/Versions.toml
  Registry.toml
Labels: new package

#10362 New version: SIMDPirates v0.6.4
  S/SIMDPirates/Versions.toml
Labels: patch release

#10364 New version: PolynomialRings v0.7.3
  P/PolynomialRings/Versions.toml
Labels: patch release

#10365 New version: LoopVectorization v0.6.18
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#10366 New version: MIRTio v0.2.2
  M/MIRTio/Versions.toml
Labels: patch release

#10367 New version: VectorizationBase v0.7.0
  V/VectorizationBase/Versions.toml
Labels: minor release

#10368 New version: SIMDPirates v0.6.5
  S/SIMDPirates/Compat.toml
  S/SIMDPirates/Versions.toml
Labels: patch release

#10369 New version: SLEEFPirates v0.4.1
  S/SLEEFPirates/Compat.toml
  S/SLEEFPirates/Versions.toml
Labels: patch release

#10370 New version: Stan v6.0.2
  S/Stan/Versions.toml
Labels: patch release

#10361 New version: CALCEPH v1.0.4
  C/CALCEPH/Compat.toml
  C/CALCEPH/Versions.toml
Labels: patch release

#10373 New version: LoopVectorization v0.6.19
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#10374 New version: OptimizingIR v0.2.1
  O/OptimizingIR/Versions.toml
Labels: patch release

#10375 New version: VectorizedRNG v0.1.4
  V/VectorizedRNG/Compat.toml
  V/VectorizedRNG/Versions.toml
Labels: patch release

#10376 New version: MIRT v0.9.3
  M/MIRT/Compat.toml
  M/MIRT/Versions.toml
Labels: patch release

#10377 New version: ArrayAllez v0.0.6
  A/ArrayAllez/Compat.toml
  A/ArrayAllez/Deps.toml
  A/ArrayAllez/Versions.toml
Labels: patch release

#10378 New version: Pathogen v0.4.4
  P/Pathogen/Compat.toml
  P/Pathogen/Versions.toml
Labels: patch release

#10379 New version: MITgcmTools v0.1.2
  M/MITgcmTools/Compat.toml
  M/MITgcmTools/Versions.toml
Labels: patch release

#10380 New version: BangBang v0.3.19
  B/BangBang/Versions.toml
Labels: patch release

#10381 New version: ConsoleProgressMonitor v0.1.2
  C/ConsoleProgressMonitor/Versions.toml
Labels: patch release

#10382 New version: TerminalLoggers v0.1.1
  T/TerminalLoggers/Compat.toml
  T/TerminalLoggers/Deps.toml
  T/TerminalLoggers/Versions.toml
Labels: patch release

#10383 New version: SphericalHarmonicArrays v0.3.0
  S/SphericalHarmonicArrays/Versions.toml
Labels: minor release

#10384 New version: Sodium v1.0.1
  S/Sodium/Versions.toml
Labels: patch release

#10387 New version: GeometryTypes v0.8.0
  G/GeometryTypes/Versions.toml
Labels: minor release

#10388 New version: Polyline v0.1.1
  P/Polyline/Compat.toml
  P/Polyline/Deps.toml
  P/Polyline/Versions.toml
Labels: patch release

#10389 New version: NiLangCore v0.4.1
  N/NiLangCore/Versions.toml
Labels: patch release

#10390 New version: LazyWAVFiles v0.1.2
  L/LazyWAVFiles/Versions.toml
Labels: patch release

#10391 New version: GeometryTypes v0.8.1
  G/GeometryTypes/Versions.toml
Labels: patch release

#10392 New version: JDF v0.2.11
  J/JDF/Compat.toml
  J/JDF/Versions.toml
Labels: patch release

#10237 New package: Sherlogs v0.1.0
  Registry.toml
  S/Sherlogs/Compat.toml
  S/Sherlogs/Deps.toml
  S/Sherlogs/Package.toml
  S/Sherlogs/Versions.toml
Labels: new package

#10393 New version: NamedDims v0.2.18
  N/NamedDims/Versions.toml
Labels: patch release

#10394 New version: Hecke v0.7.3
  H/Hecke/Deps.toml
  H/Hecke/Versions.toml
Labels: patch release

#10395 New version: AbstractPlotting v0.9.25
  A/AbstractPlotting/Versions.toml
Labels: patch release

#10397 New version: AbstractAlgebra v0.8.1
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#10398 New version: DiffEqSensitivity v6.7.0
  D/DiffEqSensitivity/Compat.toml
  D/DiffEqSensitivity/Deps.toml
  D/DiffEqSensitivity/Versions.toml
Labels: minor release

#10399 New version: LNR v0.2.1
  L/LNR/Compat.toml
  L/LNR/Deps.toml
  L/LNR/Versions.toml
Labels: patch release

#10400 New version: DelayDiffEq v5.22.0
  D/DelayDiffEq/Compat.toml
  D/DelayDiffEq/Versions.toml
Labels: minor release

#10403 New version: ArrayInterface v2.5.0
  A/ArrayInterface/Versions.toml
Labels: minor release

#10404 New version: Zygote v0.4.9
  Z/Zygote/Compat.toml
  Z/Zygote/Deps.toml
  Z/Zygote/Versions.toml
Labels: patch release

#10405 New version: Nemo v0.16.4
  N/Nemo/Compat.toml
  N/Nemo/Versions.toml
Labels: patch release

#10406 New version: Sodium v1.1.0
  S/Sodium/Deps.toml
  S/Sodium/Versions.toml
Labels: minor release

#10407 New version: StringDistances v0.6.3
  S/StringDistances/Compat.toml
  S/StringDistances/Versions.toml
Labels: patch release

#10408 New version: ChainRulesCore v0.7.1
  C/ChainRulesCore/Versions.toml
Labels: patch release

#10410 New version: LazyStack v0.0.7
  L/LazyStack/Versions.toml
Labels: patch release

#10411 New version: KernelFunctions v0.3.0
  K/KernelFunctions/Compat.toml
  K/KernelFunctions/Deps.toml
  K/KernelFunctions/Versions.toml
Labels: minor release

#10413 New version: RoMEPlotting v0.2.0
  R/RoMEPlotting/Compat.toml
  R/RoMEPlotting/Versions.toml
Labels: minor release

#10414 New version: NNlib v0.6.6
  N/NNlib/Versions.toml
Labels: patch release

#10415 New version: DrWatson v1.9.1
  D/DrWatson/Versions.toml
Labels: patch release

#10416 New version: Caesar v0.5.0
  C/Caesar/Compat.toml
  C/Caesar/Versions.toml
Labels: minor release

#10419 New version: ChainRulesTestUtils v0.2.1
  C/ChainRulesTestUtils/Compat.toml
  C/ChainRulesTestUtils/Deps.toml
  C/ChainRulesTestUtils/Versions.toml
Labels: patch release

#10424 New version: LasIO v0.3.5
  L/LasIO/Compat.toml
  L/LasIO/Versions.toml
Labels: patch release

#10425 New version: AutoMLPipeline v0.1.2
  A/AutoMLPipeline/Versions.toml
Labels: patch release

#10426 New version: Triangulate v0.4.2
  T/Triangulate/Versions.toml
Labels: patch release

#10428 New version: LazySets v1.31.0
  L/LazySets/Versions.toml
Labels: minor release

#10264 New package: MathematicalPredicates v0.1.0
  M/MathematicalPredicates/Compat.toml
  M/MathematicalPredicates/Deps.toml
  M/MathematicalPredicates/Package.toml
  M/MathematicalPredicates/Versions.toml
  Registry.toml
Labels: new package

#10431 New version: GlobalSensitivityAnalysis v0.0.7
  G/GlobalSensitivityAnalysis/Compat.toml
  G/GlobalSensitivityAnalysis/Deps.toml
  G/GlobalSensitivityAnalysis/Versions.toml
Labels: patch release

#10432 New version: GAFramework v0.4.0
  G/GAFramework/Versions.toml
Labels: minor release

#10433 New version: Oceananigans v0.24.2
  O/Oceananigans/Versions.toml
Labels: patch release

#10434 New version: IndividualDisplacements v0.1.9
  I/IndividualDisplacements/Compat.toml
  I/IndividualDisplacements/Versions.toml
Labels: patch release

#10435 New version: GlobalSensitivityAnalysis v0.0.8
  G/GlobalSensitivityAnalysis/Versions.toml
Labels: patch release

#10437 New version: Packing v0.3.1
  P/Packing/Compat.toml
  P/Packing/Deps.toml
  P/Packing/Versions.toml
Labels: patch release

#10438 New version: AutoMLPipeline v0.1.3
  A/AutoMLPipeline/Versions.toml
Labels: patch release

#10439 New version: TaylorIntegration v0.8.1
  T/TaylorIntegration/Compat.toml
  T/TaylorIntegration/Deps.toml
  T/TaylorIntegration/Versions.toml
Labels: patch release

#10440 New version: Literate v2.3.0
  L/Literate/Versions.toml
Labels: minor release

#10442 New version: Memento v0.13.0
  M/Memento/Compat.toml
  M/Memento/Versions.toml
Labels: minor release

#10430 New version: SCIP v0.9.3
  S/SCIP/Compat.toml
  S/SCIP/Versions.toml
Labels: patch release

#10444 New version: ClimateEasy v0.3.0
  C/ClimateEasy/Compat.toml
  C/ClimateEasy/Deps.toml
  C/ClimateEasy/Versions.toml
Labels: minor release

#10446 New version: GlobalSensitivityAnalysis v0.0.9
  G/GlobalSensitivityAnalysis/Versions.toml
Labels: patch release

#10447 New version: GeoRegions v1.0.2
  G/GeoRegions/Deps.toml
  G/GeoRegions/Versions.toml
Labels: patch release

#10448 New version: ClimateSatellite v0.3.1
  C/ClimateSatellite/Deps.toml
  C/ClimateSatellite/Versions.toml
Labels: patch release

#10449 New version: LoopVectorization v0.6.20
  L/LoopVectorization/Versions.toml
Labels: patch release

#10450 New version: Sodium v1.0.2
  S/Sodium/Versions.toml
Labels: patch release

#10453 New version: PowerModelsRestoration v0.3.0
  P/PowerModelsRestoration/Compat.toml
  P/PowerModelsRestoration/Deps.toml
  P/PowerModelsRestoration/Versions.toml
Labels: minor release

#10454 New version: AcuteML v0.8.5
  A/AcuteML/Versions.toml
Labels: patch release

#10455 New version: NaiveNASflux v1.1.1
  N/NaiveNASflux/Compat.toml
  N/NaiveNASflux/Versions.toml
Labels: patch release

#10456 New version: ArviZ v0.4.0
  A/ArviZ/Compat.toml
  A/ArviZ/Deps.toml
  A/ArviZ/Versions.toml
Labels: minor release

#10457 New version: CalibrationErrors v0.4.0
  C/CalibrationErrors/Compat.toml
  C/CalibrationErrors/Deps.toml
  C/CalibrationErrors/Versions.toml
Labels: minor release

#10458 New version: Flux v0.10.2
  F/Flux/Compat.toml
  F/Flux/Versions.toml
Labels: patch release

#10459 New version: Meshing v0.5.3
  M/Meshing/Compat.toml
  M/Meshing/Versions.toml
Labels: patch release

#10460 New version: ShaderAbstractions v0.1.4
  S/ShaderAbstractions/Compat.toml
  S/ShaderAbstractions/Versions.toml
Labels: patch release

#10461 New version: FreeTypeAbstraction v0.6.1
  F/FreeTypeAbstraction/Compat.toml
  F/FreeTypeAbstraction/Versions.toml
Labels: patch release

#10462 New version: MakieGallery v0.1.5
  M/MakieGallery/Compat.toml
  M/MakieGallery/Versions.toml
Labels: patch release

#10463 New version: JsonGrinder v1.0.2
  J/JsonGrinder/Versions.toml
Labels: patch release

#10464 New version: Polyline v1.0.0
  P/Polyline/Compat.toml
  P/Polyline/Deps.toml
  P/Polyline/Versions.toml
Labels: major release

#10302 New package: PrincipalMomentAnalysis v0.1.0
  P/PrincipalMomentAnalysis/Compat.toml
  P/PrincipalMomentAnalysis/Deps.toml
  P/PrincipalMomentAnalysis/Package.toml
  P/PrincipalMomentAnalysis/Versions.toml
  Registry.toml
Labels: new package

#10467 New version: Optim v0.20.2
  O/Optim/Compat.toml
  O/Optim/Deps.toml
  O/Optim/Versions.toml
Labels: patch release

#10468 New version: ChainRules v0.4.1
  C/ChainRules/Versions.toml
Labels: patch release

#10469 New version: Animations v0.3.2
  A/Animations/Versions.toml
Labels: patch release

#10470 New version: StatisticalRethinking v2.1.1
  S/StatisticalRethinking/Versions.toml
Labels: patch release

#10471 New version: CSV v0.5.26
  C/CSV/Versions.toml
Labels: patch release

#10473 New version: DynamicPolynomials v0.3.9
  D/DynamicPolynomials/Versions.toml
Labels: patch release

#10475 New version: Autologistic v0.4.2
  A/Autologistic/Compat.toml
  A/Autologistic/Deps.toml
  A/Autologistic/Versions.toml
Labels: patch release

#10477 New version: AutoMLPipeline v0.1.4
  A/AutoMLPipeline/Versions.toml
Labels: patch release

#10478 New version: CalibrationTests v0.3.0
  C/CalibrationTests/Compat.toml
  C/CalibrationTests/Versions.toml
Labels: minor release

#10479 New version: ReservoirComputing v0.3.0
  R/ReservoirComputing/Versions.toml
Labels: minor release

#10481 New version: FreeParameters v0.3.0
  F/FreeParameters/Compat.toml
  F/FreeParameters/Deps.toml
  F/FreeParameters/Versions.toml
Labels: minor release

#10482 New version: RLEVectors v0.9.4
  R/RLEVectors/Compat.toml
  R/RLEVectors/Versions.toml
Labels: patch release

#10317 New package: OpenStreetMapXPlot v0.1.0
  O/OpenStreetMapXPlot/Compat.toml
  O/OpenStreetMapXPlot/Deps.toml
  O/OpenStreetMapXPlot/Package.toml
  O/OpenStreetMapXPlot/Versions.toml
  Registry.toml
Labels: new package

#10483 New version: Animations v0.3.3
  A/Animations/Versions.toml
Labels: patch release

#10484 New version: DiffEqFlux v1.4.0
  D/DiffEqFlux/Compat.toml
  D/DiffEqFlux/Versions.toml
Labels: minor release

#10485 New version: PlotAxes v0.2.6
  P/PlotAxes/Compat.toml
  P/PlotAxes/Versions.toml
Labels: patch release

#10321 New package: PeaceCypher v0.1.0
  P/PeaceCypher/Compat.toml
  P/PeaceCypher/Deps.toml
  P/PeaceCypher/Package.toml
  P/PeaceCypher/Versions.toml
  Registry.toml
Labels: new package

#10486 New version: PyCall v1.91.4
  P/PyCall/Versions.toml
Labels: patch release

#10487 New version: DistributedFactorGraphs v0.7.0
  D/DistributedFactorGraphs/Compat.toml
  D/DistributedFactorGraphs/Deps.toml
  D/DistributedFactorGraphs/Versions.toml
Labels: minor release

#10488 New version: MakieLayout v0.3.3
  M/MakieLayout/Versions.toml
Labels: patch release

#10326 New package: KVectors v0.1.0
  K/KVectors/Compat.toml
  K/KVectors/Deps.toml
  K/KVectors/Package.toml
  K/KVectors/Versions.toml
  Registry.toml
Labels: new package

#10489 New version: FreeTypeAbstraction v0.6.2
  F/FreeTypeAbstraction/Versions.toml
Labels: patch release

#10490 New version: GRUtils v0.4.9
  G/GRUtils/Versions.toml
Labels: patch release

#10491 New version: DisplayAs v0.1.2
  D/DisplayAs/Versions.toml
Labels: patch release

#10492 New version: VegaLite v2.0.0
  V/VegaLite/Compat.toml
  V/VegaLite/Deps.toml
  V/VegaLite/Versions.toml
Labels: major release

#10465 New version: SeisIO v1.0.0
  S/SeisIO/Compat.toml
  S/SeisIO/Deps.toml
  S/SeisIO/Versions.toml
Labels: major release

#10498 New version: Onda v0.8.0
  O/Onda/Versions.toml
Labels: minor release

#10499 New version: StatsModels v0.6.9
  S/StatsModels/Versions.toml
Labels: patch release

#10332 New package: YearMonths v1.0.0
  Registry.toml
  Y/YearMonths/Compat.toml
  Y/YearMonths/Deps.toml
  Y/YearMonths/Package.toml
  Y/YearMonths/Versions.toml
Labels: new package

#10500 New version: StatsBase v0.32.2
  S/StatsBase/Versions.toml
Labels: patch release

#10501 New version: Flux v0.10.3
  F/Flux/Versions.toml
Labels: patch release

#10502 New version: WaterModels v0.2.0
  W/WaterModels/Compat.toml
  W/WaterModels/Deps.toml
  W/WaterModels/Versions.toml
Labels: minor release

#10344 New package: SplittablesBase v0.1.0
  Registry.toml
  S/SplittablesBase/Compat.toml
  S/SplittablesBase/Deps.toml
  S/SplittablesBase/Package.toml
  S/SplittablesBase/Versions.toml
Labels: new package

#10358 New package: HierarchicalUtils v0.0.1
  H/HierarchicalUtils/Compat.toml
  H/HierarchicalUtils/Deps.toml
  H/HierarchicalUtils/Package.toml
  H/HierarchicalUtils/Versions.toml
  Registry.toml
Labels: new package

#10503 New version: MusicXML v0.3.0
  M/MusicXML/Compat.toml
  M/MusicXML/Deps.toml
  M/MusicXML/Versions.toml
Labels: minor release
