Repository JuliaRegistries/General, pull requests merged in 2020-08, with the labels that each got.

#18782 New version: MaxPlus v0.2.0
  M/MaxPlus/Compat.toml
  M/MaxPlus/Deps.toml
  M/MaxPlus/Versions.toml
Labels: BREAKING, minor release

#18644 New package: FLoops v0.1.0
  F/FLoops/Compat.toml
  F/FLoops/Deps.toml
  F/FLoops/Package.toml
  F/FLoops/Versions.toml
  Registry.toml
Labels: new package

#18783 New version: JuliaFormatter v0.7.0
  J/JuliaFormatter/Compat.toml
  J/JuliaFormatter/Deps.toml
  J/JuliaFormatter/Versions.toml
Labels: BREAKING, minor release

#18652 New package: IonCLI v0.1.0
  I/IonCLI/Compat.toml
  I/IonCLI/Deps.toml
  I/IonCLI/Package.toml
  I/IonCLI/Versions.toml
  Registry.toml
Labels: new package

#18660 New package: JacobiDavidson v0.1.0
  J/JacobiDavidson/Compat.toml
  J/JacobiDavidson/Deps.toml
  J/JacobiDavidson/Package.toml
  J/JacobiDavidson/Versions.toml
  Registry.toml
Labels: new package

#18785 New version: MLSuite v0.1.6
  M/MLSuite/Compat.toml
  M/MLSuite/Versions.toml
Labels: patch release

#18789 New version: AxisIndices v0.6.2
  A/AxisIndices/Versions.toml
Labels: patch release

#18790 New version: Comonicon v0.5.0
  C/Comonicon/Deps.toml
  C/Comonicon/Versions.toml
Labels: BREAKING, minor release

#18791 New version: DynamicGrids v0.10.4
  D/DynamicGrids/Versions.toml
Labels: patch release

#18792 New version: SentinelArrays v1.2.10
  S/SentinelArrays/Versions.toml
Labels: patch release

#18793 New version: CSV v0.7.7
  C/CSV/Versions.toml
Labels: patch release

#18794 New version: ConstrainedDynamics v0.5.2
  C/ConstrainedDynamics/Versions.toml
Labels: patch release

#18797 New version: MLSuite v0.1.7
  M/MLSuite/Versions.toml
Labels: patch release

#18798 New version: AxisIndices v0.6.3
  A/AxisIndices/Versions.toml
Labels: patch release

#18788 New version: ArbNumerics v1.1.1
  A/ArbNumerics/Versions.toml
Labels: minor release

#18804 New version: Luxor v2.3.0
  L/Luxor/Versions.toml
Labels: minor release

#18806 New version: IonCLI v0.2.0
  I/IonCLI/Compat.toml
  I/IonCLI/Versions.toml
Labels: BREAKING, minor release

#18808 New version: NeuroCore v0.2.0
  N/NeuroCore/Compat.toml
  N/NeuroCore/Deps.toml
  N/NeuroCore/Versions.toml
Labels: BREAKING, minor release

#18809 New version: ArviZ v0.4.3
  A/ArviZ/Versions.toml
Labels: patch release

#18810 New version: Comonicon v0.5.1
  C/Comonicon/Versions.toml
Labels: patch release

#18813 New version: MCMCDebugging v0.1.3
  M/MCMCDebugging/Versions.toml
Labels: patch release

#18815 New version: Comonicon v0.5.2
  C/Comonicon/Versions.toml
Labels: patch release

#18816 New version: OrdinaryDiffEq v5.42.1
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Deps.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#18817 New version: Transducers v0.4.45
  T/Transducers/Versions.toml
Labels: patch release

#18820 New version: IonCLI v0.2.1
  I/IonCLI/Versions.toml
Labels: patch release

#18821 New version: Jaynes v0.1.8
  J/Jaynes/Versions.toml
Labels: patch release

#18822 New version: Comonicon v0.5.3
  C/Comonicon/Versions.toml
Labels: patch release

#18823 New version: PkgTemplates v0.7.7
  P/PkgTemplates/Versions.toml
Labels: patch release

#18824 New version: JuliaFormatter v0.7.1
  J/JuliaFormatter/Versions.toml
Labels: patch release

#18819 New version: IonCLI v0.2.2
  I/IonCLI/Versions.toml
Labels: patch release

#18826 New version: ImageContainers v0.1.1
  I/ImageContainers/Versions.toml
Labels: patch release

#18827 New version: LoopVectorization v0.8.21
  L/LoopVectorization/Versions.toml
Labels: patch release

#18828 New version: Juno v0.8.3
  J/Juno/Versions.toml
Labels: patch release

#18829 New version: Atom v0.12.19
  A/Atom/Compat.toml
  A/Atom/Versions.toml
Labels: patch release

#18830 New version: HealthBase v0.1.3
  H/HealthBase/Versions.toml
Labels: patch release

#18831 New version: ArbNumerics v1.2.0
  A/ArbNumerics/Versions.toml
Labels: minor release

#18832 New version: NiLang v0.7.1
  N/NiLang/Compat.toml
  N/NiLang/Deps.toml
  N/NiLang/Versions.toml
Labels: patch release

#18722 New package: SimpleMatch v1.0.0
  Registry.toml
  S/SimpleMatch/Compat.toml
  S/SimpleMatch/Deps.toml
  S/SimpleMatch/Package.toml
  S/SimpleMatch/Versions.toml
Labels: new package

#18729 New package: StructEquality v1.0.0
  Registry.toml
  S/StructEquality/Compat.toml
  S/StructEquality/Deps.toml
  S/StructEquality/Package.toml
  S/StructEquality/Versions.toml
Labels: new package

#18730 New package: StippleUI v0.1.0
  Registry.toml
  S/StippleUI/Compat.toml
  S/StippleUI/Deps.toml
  S/StippleUI/Package.toml
  S/StippleUI/Versions.toml
Labels: new package

#18731 New package: StippleCharts v0.1.0
  Registry.toml
  S/StippleCharts/Compat.toml
  S/StippleCharts/Deps.toml
  S/StippleCharts/Package.toml
  S/StippleCharts/Versions.toml
Labels: new package

#18833 New version: OnlinePackage v0.3.0
  O/OnlinePackage/Versions.toml
Labels: BREAKING, minor release

#18834 New version: Pukeko v0.3.0
  P/Pukeko/Compat.toml
  P/Pukeko/Versions.toml
Labels: BREAKING, minor release

#18835 New version: FinEtools v4.3.2
  F/FinEtools/Versions.toml
Labels: patch release

#18694 New version: OceanStateEstimation v0.1.3
  O/OceanStateEstimation/Compat.toml
  O/OceanStateEstimation/Versions.toml
Labels: patch release

#18836 New version: FITSIO v0.16.0
  F/FITSIO/Compat.toml
  F/FITSIO/Deps.toml
  F/FITSIO/Versions.toml
Labels: BREAKING, minor release

#18838 New version: Oracle v0.1.2
  O/Oracle/Versions.toml
Labels: patch release

#18840 New version: FITSIO v0.16.1
  F/FITSIO/Versions.toml
Labels: patch release

#18841 New version: FinEtools v4.4.0
  F/FinEtools/Versions.toml
Labels: minor release

#18842 New version: KernelFunctions v0.4.4
  K/KernelFunctions/Versions.toml
Labels: patch release

#18843 New version: ArbNumerics v1.2.1
  A/ArbNumerics/Versions.toml
Labels: patch release

#18844 New version: Comonicon v0.5.4
  C/Comonicon/Versions.toml
Labels: patch release

#18845 New version: HDF5 v0.13.3
  H/HDF5/Versions.toml
Labels: patch release

#18749 New package: OMOPCommonDataModel v0.1.0
  O/OMOPCommonDataModel/Compat.toml
  O/OMOPCommonDataModel/Deps.toml
  O/OMOPCommonDataModel/Package.toml
  O/OMOPCommonDataModel/Versions.toml
  Registry.toml
Labels: new package

#18846 New version: Comonicon v0.5.5
  C/Comonicon/Versions.toml
Labels: patch release

#18847 New version: SphericalHarmonicModes v0.4.1
  S/SphericalHarmonicModes/Versions.toml
Labels: patch release

#18848 New version: CommonRLInterface v0.2.1
  C/CommonRLInterface/Compat.toml
  C/CommonRLInterface/Versions.toml
Labels: patch release

#18849 New version: AbstractPlotting v0.12.6
  A/AbstractPlotting/Versions.toml
Labels: patch release

#18850 New version: VectorizationBase v0.12.30
  V/VectorizationBase/Versions.toml
Labels: patch release

#18852 New version: SphericalHarmonicModes v0.4.2
  S/SphericalHarmonicModes/Versions.toml
Labels: patch release

#18853 New version: Manopt v0.2.4
  M/Manopt/Versions.toml
Labels: patch release

#18854 New version: Distributions v0.23.8
  D/Distributions/Versions.toml
Labels: patch release

#18855 New version: COSMO v0.7.4
  C/COSMO/Compat.toml
  C/COSMO/Versions.toml
Labels: patch release

#18754 New package: FHIRClient v0.1.0
  F/FHIRClient/Compat.toml
  F/FHIRClient/Deps.toml
  F/FHIRClient/Package.toml
  F/FHIRClient/Versions.toml
  Registry.toml
Labels: new package

#18858 New version: PencilFFTs v0.7.2
  P/PencilFFTs/Versions.toml
Labels: patch release

#18859 New version: LoopVectorization v0.8.22
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#18860 New version: OMOPCommonDataModel v0.1.1
  O/OMOPCommonDataModel/Versions.toml
Labels: patch release

#18863 New version: FixedPointSinCosApproximations v0.2.0
  F/FixedPointSinCosApproximations/Compat.toml
  F/FixedPointSinCosApproximations/Versions.toml
Labels: BREAKING, minor release

#18864 New version: GNSSSignals v0.13.0
  G/GNSSSignals/Compat.toml
  G/GNSSSignals/Versions.toml
Labels: BREAKING, minor release

#18866 New version: FHIRClient v0.1.1
  F/FHIRClient/Versions.toml
Labels: patch release

#18865 New version: Tracking v0.13.0
  T/Tracking/Compat.toml
  T/Tracking/Versions.toml
Labels: BREAKING, minor release

#18856 New version: Torch v0.1.2
  T/Torch/Compat.toml
  T/Torch/Deps.toml
  T/Torch/Versions.toml
Labels: patch release

#18869 New version: Z3 v0.4.1
  Z/Z3/Versions.toml
Labels: patch release

#18871 New version: OMOPCommonDataModel v0.1.2
  O/OMOPCommonDataModel/Versions.toml
Labels: patch release

#18874 New version: FHIRClient v0.1.2
  F/FHIRClient/Versions.toml
Labels: patch release

#18513 New version: SCIP v0.9.6
  S/SCIP/Compat.toml
  S/SCIP/Deps.toml
  S/SCIP/Versions.toml
Labels: patch release

#18878 New version: SPICE v0.2.0
  S/SPICE/Compat.toml
  S/SPICE/Deps.toml
  S/SPICE/Versions.toml
Labels: BREAKING, minor release

#18880 New version: CausalInference v0.5.4
  C/CausalInference/Versions.toml
Labels: patch release

#18882 New version: Catalyst v5.0.3
  C/Catalyst/Versions.toml
Labels: patch release

#18877 Run AutoMerge on Julia 1.5.0
  .github/workflows/automerge.yml
Labels: ci

#18883 New version: Franklin v0.9.1
  F/Franklin/Deps.toml
  F/Franklin/Versions.toml
Labels: patch release

#18884 New version: IncrementalInference v0.14.2
  I/IncrementalInference/Versions.toml
Labels: patch release

#18888 New version: FHIRClient v0.2.0
  F/FHIRClient/Versions.toml
Labels: BREAKING, minor release

#18889 New version: MPSKit v0.2.0
  M/MPSKit/Versions.toml
Labels: BREAKING, minor release

#18890 New version: MLSuite v0.1.8
  M/MLSuite/Versions.toml
Labels: patch release

#18891 New version: TaylorModels v0.3.6
  T/TaylorModels/Versions.toml
Labels: patch release

#18892 New version: PowerSimulations v0.6.1
  P/PowerSimulations/Versions.toml
Labels: patch release

#18893 New version: ReinforcementLearningBase v0.8.0
  R/ReinforcementLearningBase/Compat.toml
  R/ReinforcementLearningBase/Deps.toml
  R/ReinforcementLearningBase/Versions.toml
Labels: BREAKING, minor release

#18894 New version: CGAL v0.2.1
  C/CGAL/Versions.toml
Labels: patch release

#18899 New version: XLSX v0.7.3
  X/XLSX/Versions.toml
Labels: patch release

#18851 New version: IonCLI v0.3.0
  I/IonCLI/Compat.toml
  I/IonCLI/Deps.toml
  I/IonCLI/Versions.toml
Labels: BREAKING, minor release

#18901 New version: JuliaDB v0.13.1
  J/JuliaDB/Compat.toml
  J/JuliaDB/Versions.toml
Labels: patch release

#18904 New version: StatisticalRethinking v2.2.4
  S/StatisticalRethinking/Compat.toml
  S/StatisticalRethinking/Versions.toml
Labels: patch release

#18905 New version: StructuralCausalModels v0.1.2
  S/StructuralCausalModels/Versions.toml
Labels: patch release

#18906 New version: StanModels v2.0.5
  S/StanModels/Compat.toml
  S/StanModels/Versions.toml
Labels: patch release

#18907 New version: Stan v6.0.8
  S/Stan/Versions.toml
Labels: patch release

#18908 New version: StanSample v2.1.7
  S/StanSample/Compat.toml
  S/StanSample/Versions.toml
Labels: patch release

#18909 New version: StanBase v2.0.8
  S/StanBase/Compat.toml
  S/StanBase/Versions.toml
Labels: patch release

#18910 New version: StanOptimize v2.0.4
  S/StanOptimize/Compat.toml
  S/StanOptimize/Versions.toml
Labels: patch release

#18911 New version: StanDiagnose v2.0.3
  S/StanDiagnose/Compat.toml
  S/StanDiagnose/Versions.toml
Labels: patch release

#18912 New version: Dagger v0.9.0
  D/Dagger/Compat.toml
  D/Dagger/Deps.toml
  D/Dagger/Versions.toml
Labels: BREAKING, minor release

#18913 New version: McCormick v0.7.0
  M/McCormick/Compat.toml
  M/McCormick/Deps.toml
  M/McCormick/Versions.toml
Labels: BREAKING, minor release

#18927 New version: StanVariational v2.0.4
  S/StanVariational/Compat.toml
  S/StanVariational/Versions.toml
Labels: patch release

#18930 New version: SoftGlobalScope v1.1.0
  S/SoftGlobalScope/Compat.toml
  S/SoftGlobalScope/Deps.toml
  S/SoftGlobalScope/Versions.toml
Labels: minor release

#18931 New version: FinEtools v4.4.1
  F/FinEtools/Versions.toml
Labels: patch release

#18935 New version: Comonicon v0.5.6
  C/Comonicon/Versions.toml
Labels: patch release

#18936 New version: IonCLI v0.3.1
  I/IonCLI/Versions.toml
Labels: patch release

#18938 New version: Literate v2.5.1
  L/Literate/Versions.toml
Labels: patch release

#18937 New version: FinEtools v4.5.0
  F/FinEtools/Versions.toml
Labels: minor release

#18939 New version: Vega v2.0.0
  V/Vega/Compat.toml
  V/Vega/Deps.toml
  V/Vega/Versions.toml
Labels: BREAKING, major release

#18941 New version: jlpkg v1.2.1
  J/jlpkg/Versions.toml
Labels: patch release

#18940 New version: GLMakie v0.1.9
  G/GLMakie/Versions.toml
Labels: patch release

#18942 New version: SplitApplyCombine v1.1.2
  S/SplitApplyCombine/Versions.toml
Labels: patch release

#18943 New version: VegaLite v2.3.0
  V/VegaLite/Compat.toml
  V/VegaLite/Deps.toml
  V/VegaLite/Versions.toml
Labels: minor release

#18945 New version: ReinforcementLearningEnvironments v0.3.0
  R/ReinforcementLearningEnvironments/Compat.toml
  R/ReinforcementLearningEnvironments/Versions.toml
Labels: BREAKING, minor release

#18946 New version: FinEtools v4.5.1
  F/FinEtools/Versions.toml
Labels: patch release

#18947 New version: Transducers v0.4.46
  T/Transducers/Versions.toml
Labels: patch release

#18948 New version: ReinforcementLearningCore v0.4.0
  R/ReinforcementLearningCore/Compat.toml
  R/ReinforcementLearningCore/Deps.toml
  R/ReinforcementLearningCore/Versions.toml
Labels: BREAKING, minor release

#18949 New version: GmshTools v0.4.2
  G/GmshTools/Versions.toml
Labels: patch release

#18950 New version: GeoGreensFunctions v0.1.1
  G/GeoGreensFunctions/Versions.toml
Labels: patch release

#18951 New version: FFMPEG v0.4.0
  F/FFMPEG/Compat.toml
  F/FFMPEG/Deps.toml
  F/FFMPEG/Versions.toml
Labels: BREAKING, minor release

#18952 New version: VideoIO v0.7.3
  V/VideoIO/Versions.toml
Labels: patch release

#18953 New version: ReinforcementLearningZoo v0.1.5
  R/ReinforcementLearningZoo/Compat.toml
  R/ReinforcementLearningZoo/Deps.toml
  R/ReinforcementLearningZoo/Versions.toml
Labels: patch release

#18954 New version: SphericalHarmonicArrays v0.4.0
  S/SphericalHarmonicArrays/Compat.toml
  S/SphericalHarmonicArrays/Deps.toml
  S/SphericalHarmonicArrays/Versions.toml
Labels: BREAKING, minor release

#18955 New version: NNlib v0.7.4
  N/NNlib/Compat.toml
  N/NNlib/Deps.toml
  N/NNlib/Versions.toml
Labels: patch release

#18956 New version: BSplines v0.2.5
  B/BSplines/Versions.toml
Labels: patch release

#18957 New version: Maybe v0.1.2
  M/Maybe/Versions.toml
Labels: patch release

#18958 New version: SphericalHarmonicModes v0.4.3
  S/SphericalHarmonicModes/Versions.toml
Labels: patch release

#18873 New version: Clang v0.12.0
  C/Clang/Compat.toml
  C/Clang/Deps.toml
  C/Clang/Versions.toml
Labels: BREAKING, minor release

#18960 New version: Plots v1.5.8
  P/Plots/Versions.toml
Labels: patch release

#18961 New version: Jive v0.2.8
  J/Jive/Versions.toml
Labels: patch release

#18962 New version: StatsPlots v0.14.7
  S/StatsPlots/Deps.toml
  S/StatsPlots/Versions.toml
Labels: patch release

#18963 New version: UnsafePointers v0.2.0
  U/UnsafePointers/Versions.toml
Labels: BREAKING, minor release

#18964 New version: DataStructures v0.17.20
  D/DataStructures/Versions.toml
Labels: patch release

#18965 New version: CairoMakie v0.3.1
  C/CairoMakie/Versions.toml
Labels: patch release

#18967 New version: SplitApplyCombine v1.1.3
  S/SplitApplyCombine/Versions.toml
Labels: patch release

#18968 New version: UnsafePointers v0.2.1
  U/UnsafePointers/Versions.toml
Labels: patch release

#18969 New version: KernelFunctions v0.4.5
  K/KernelFunctions/Versions.toml
Labels: patch release

#18970 New version: BlockArrays v0.12.11
  B/BlockArrays/Compat.toml
  B/BlockArrays/Versions.toml
Labels: patch release

#18971 New version: StringEncodings v0.3.2
  S/StringEncodings/Compat.toml
  S/StringEncodings/Deps.toml
  S/StringEncodings/Versions.toml
Labels: patch release

#18796 New package: DataTypesBasic v1.0.0
  D/DataTypesBasic/Compat.toml
  D/DataTypesBasic/Deps.toml
  D/DataTypesBasic/Package.toml
  D/DataTypesBasic/Versions.toml
  Registry.toml
Labels: new package

#18973 New version: InspectDR v0.3.9
  I/InspectDR/Versions.toml
Labels: patch release

#18974 New version: ModelingToolkit v3.14.2
  M/ModelingToolkit/Versions.toml
Labels: patch release

#18975 New version: GenericLinearAlgebra v0.2.4
  G/GenericLinearAlgebra/Compat.toml
  G/GenericLinearAlgebra/Versions.toml
Labels: patch release

#18976 New version: KernelFunctions v0.5.0
  K/KernelFunctions/Versions.toml
Labels: BREAKING, minor release

#18977 New version: ClimateMARGO v0.1.0
  C/ClimateMARGO/Compat.toml
  C/ClimateMARGO/Versions.toml
Labels: BREAKING, minor release

#18979 New version: LoadFlint v0.3.1
  L/LoadFlint/Versions.toml
Labels: patch release

#18980 New version: GAP v0.4.3
  G/GAP/Versions.toml
Labels: patch release

#18982 New version: CombinedParsers v0.1.1
  C/CombinedParsers/Compat.toml
  C/CombinedParsers/Versions.toml
Labels: patch release

#18985 New version: Aqua v0.4.4
  A/Aqua/Versions.toml
Labels: patch release
