Repository JuliaRegistries/General, pull requests merged in 2020-04, with the labels that each got.

#11909 New version: MeshCore v0.5.1
  M/MeshCore/Versions.toml
Labels: patch_release

#11910 New version: EcologicalNetworksPlots v0.0.4
  E/EcologicalNetworksPlots/Compat.toml
  E/EcologicalNetworksPlots/Versions.toml
Labels: BREAKING, patch_release

#11911 New version: AbstractTensors v0.4.5
  A/AbstractTensors/Versions.toml
Labels: patch_release

#11772 New package: PolygonOps v0.1.0
  P/PolygonOps/Compat.toml
  P/PolygonOps/Deps.toml
  P/PolygonOps/Package.toml
  P/PolygonOps/Versions.toml
  Registry.toml
Labels: new package

#11912 New version: Schistoxpkg v1.0.7
  S/Schistoxpkg/Versions.toml
Labels: patch_release

#11913 New version: Thrift v0.6.2
  T/Thrift/Versions.toml
Labels: patch_release

#11915 New version: MonteCarloMeasurements v0.8.7
  M/MonteCarloMeasurements/Versions.toml
Labels: patch_release

#11916 New version: Parquet v0.3.1
  P/Parquet/Compat.toml
  P/Parquet/Versions.toml
Labels: patch_release

#11918 New version: PressureDrop v1.0.5
  P/PressureDrop/Compat.toml
  P/PressureDrop/Versions.toml
Labels: patch_release

#11919 New version: JSON3 v1.0.2
  J/JSON3/Compat.toml
  J/JSON3/Deps.toml
  J/JSON3/Versions.toml
Labels: patch_release

#11920 New version: LogRoller v0.2.2
  L/LogRoller/Compat.toml
  L/LogRoller/Versions.toml
Labels: patch_release

#11924 New version: DataStructures v0.17.11
  D/DataStructures/Versions.toml
Labels: patch_release

#11925 New version: GeoFormatTypes v0.3.0
  G/GeoFormatTypes/Versions.toml
Labels: BREAKING, minor_release

#11921 New version: MonteCarloMeasurements v0.8.8
  M/MonteCarloMeasurements/Versions.toml
Labels: patch_release

#11928 New version: GeometricIntegrators v0.3.0
  G/GeometricIntegrators/Compat.toml
  G/GeometricIntegrators/Deps.toml
  G/GeometricIntegrators/Versions.toml
Labels: BREAKING, minor_release

#11931 New version: ArrayLayouts v0.2.1
  A/ArrayLayouts/Versions.toml
Labels: patch_release

#11932 New version: AxisKeys v0.1.1
  A/AxisKeys/Compat.toml
  A/AxisKeys/Versions.toml
Labels: patch_release

#11934 New version: Variography v0.5.1
  V/Variography/Compat.toml
  V/Variography/Versions.toml
Labels: patch_release

#11935 New version: WGLMakie v0.1.11
  W/WGLMakie/Versions.toml
Labels: patch_release

#11937 New version: KrigingEstimators v0.3.4
  K/KrigingEstimators/Compat.toml
  K/KrigingEstimators/Versions.toml
Labels: patch_release

#11938 New version: GslibIO v0.3.4
  G/GslibIO/Compat.toml
  G/GslibIO/Versions.toml
Labels: patch_release

#11939 New version: Pluto v0.5.3
  P/Pluto/Versions.toml
Labels: patch_release

#11940 New version: InverseDistanceWeighting v0.3.3
  I/InverseDistanceWeighting/Compat.toml
  I/InverseDistanceWeighting/Versions.toml
Labels: patch_release

#11941 New version: LocallyWeightedRegression v0.4.3
  L/LocallyWeightedRegression/Compat.toml
  L/LocallyWeightedRegression/Versions.toml
Labels: patch_release

#11942 New version: DirectGaussianSimulation v0.3.2
  D/DirectGaussianSimulation/Compat.toml
  D/DirectGaussianSimulation/Versions.toml
Labels: patch_release

#11943 New version: Parsers v1.0.1
  P/Parsers/Versions.toml
Labels: patch_release

#11944 New version: SpectralGaussianSimulation v0.2.2
  S/SpectralGaussianSimulation/Compat.toml
  S/SpectralGaussianSimulation/Versions.toml
Labels: patch_release

#11945 New version: TuringPatterns v0.1.1
  T/TuringPatterns/Compat.toml
  T/TuringPatterns/Versions.toml
Labels: patch_release

#11946 New version: ImageQuilting v0.9.2
  I/ImageQuilting/Compat.toml
  I/ImageQuilting/Versions.toml
Labels: patch_release

#11948 New version: StratiGraphics v0.2.3
  S/StratiGraphics/Compat.toml
  S/StratiGraphics/Versions.toml
Labels: patch_release

#11949 New version: Stheno v0.6.3
  S/Stheno/Versions.toml
Labels: patch_release

#11952 New version: BandedMatrices v0.15.1
  B/BandedMatrices/Compat.toml
  B/BandedMatrices/Versions.toml
Labels: patch_release

#11953 New version: Trapz v2.0.2
  T/Trapz/Versions.toml
Labels: patch_release

#11954 New version: ExceptionUnwrapping v0.1.1
  E/ExceptionUnwrapping/Deps.toml
  E/ExceptionUnwrapping/Versions.toml
Labels: patch_release

#11593 Update Package.toml
  X/XPA/Package.toml
Labels: waiting for author

#11955 New version: LazyArrays v0.16.1
  L/LazyArrays/Versions.toml
Labels: patch_release

#11958 New version: Tar v1.2.0
  T/Tar/Versions.toml
Labels: minor_release

#11957 New version: Fontconfig v0.4.0
  F/Fontconfig/Compat.toml
  F/Fontconfig/Deps.toml
  F/Fontconfig/Versions.toml
Labels: BREAKING, minor_release

#11959 New version: PlotUtils v0.6.5
  P/PlotUtils/Versions.toml
Labels: patch_release

#11960 New version: ManifoldsBase v0.8.0
  M/ManifoldsBase/Versions.toml
Labels: BREAKING, minor_release

#11961 New version: TikzPictures v3.1.0
  T/TikzPictures/Compat.toml
  T/TikzPictures/Deps.toml
  T/TikzPictures/Versions.toml
Labels: minor_release

#11962 New version: StatisticalRethinking v2.1.4
  S/StatisticalRethinking/Compat.toml
  S/StatisticalRethinking/Versions.toml
Labels: patch_release

#11963 New version: PeaceVote v0.2.7
  P/PeaceVote/Versions.toml
Labels: patch_release

#11964 New version: PeaceCypher v0.1.3
  P/PeaceCypher/Compat.toml
  P/PeaceCypher/Versions.toml
Labels: patch_release

#11966 New version: PeaceFounder v0.2.5
  P/PeaceFounder/Versions.toml
Labels: patch_release

#11967 New version: SolidStateDetectors v0.4.1
  S/SolidStateDetectors/Compat.toml
  S/SolidStateDetectors/Versions.toml
Labels: patch_release

#11968 New version: GeoStats v0.11.0
  G/GeoStats/Compat.toml
  G/GeoStats/Deps.toml
  G/GeoStats/Versions.toml
Labels: BREAKING, minor_release

#11802 New package: MoistThermodynamics v0.1.0
  M/MoistThermodynamics/Compat.toml
  M/MoistThermodynamics/Deps.toml
  M/MoistThermodynamics/Package.toml
  M/MoistThermodynamics/Versions.toml
  Registry.toml
Labels: new package

#11975 New version: InfrastructureSystems v0.5.14
  I/InfrastructureSystems/Compat.toml
  I/InfrastructureSystems/Versions.toml
Labels: patch_release

#11978 New version: PersistentHomologyTransfer v0.1.5
  P/PersistentHomologyTransfer/Compat.toml
  P/PersistentHomologyTransfer/Versions.toml
Labels: patch_release

#11979 New version: Pluto v0.5.4
  P/Pluto/Deps.toml
  P/Pluto/Versions.toml
Labels: patch_release

#11989 New version: GaussQuadrature v0.5.4
  G/GaussQuadrature/Compat.toml
  G/GaussQuadrature/Versions.toml
Labels: patch_release

#11995 New version: MeshCore v0.6.0
  M/MeshCore/Versions.toml
Labels: BREAKING, minor_release

#11570 New version: YaoArrayRegister v0.6.2
  Y/YaoArrayRegister/Compat.toml
  Y/YaoArrayRegister/Versions.toml
Labels: patch_release

#11996 New version: GeoStatsBase v0.8.1
  G/GeoStatsBase/Versions.toml
Labels: patch_release

#11568 New version: YaoBlocks v0.10.3
  Y/YaoBlocks/Compat.toml
  Y/YaoBlocks/Versions.toml
Labels: patch_release

#12006 New version: Schistoxpkg v1.0.8
  S/Schistoxpkg/Versions.toml
Labels: patch_release

#12015 New version: Photometry v0.5.0
  P/Photometry/Compat.toml
  P/Photometry/Deps.toml
  P/Photometry/Versions.toml
Labels: BREAKING, minor_release

#12016 New version: PaddedViews v0.5.4
  P/PaddedViews/Versions.toml
Labels: patch_release

#12017 New version: ThreadsX v0.1.2
  T/ThreadsX/Compat.toml
  T/ThreadsX/Versions.toml
Labels: patch_release

#12018 New version: Optim v0.20.6
  O/Optim/Versions.toml
Labels: patch_release

#12019 New version: SummationByPartsOperators v0.3.2
  S/SummationByPartsOperators/Versions.toml
Labels: patch_release

#12020 New version: ConfParser v0.1.2
  C/ConfParser/Versions.toml
Labels: patch_release

#12021 New version: Mill v1.1.1
  M/Mill/Compat.toml
  M/Mill/Versions.toml
Labels: patch_release

#11569 New version: YaoSym v0.4.2
  Y/YaoSym/Compat.toml
  Y/YaoSym/Versions.toml
Labels: patch_release

#12023 New version: CompatHelper v1.3.0
  C/CompatHelper/Versions.toml
Labels: minor_release

#12024 New version: YaoExtensions v0.2.1
  Y/YaoExtensions/Compat.toml
  Y/YaoExtensions/Versions.toml
Labels: patch_release

#12025 New version: VectorizationBase v0.10.0
  V/VectorizationBase/Versions.toml
Labels: BREAKING, minor_release

#12026 New version: SIMDPirates v0.7.7
  S/SIMDPirates/Compat.toml
  S/SIMDPirates/Versions.toml
Labels: patch_release

#12027 New version: SLEEFPirates v0.4.4
  S/SLEEFPirates/Compat.toml
  S/SLEEFPirates/Versions.toml
Labels: patch_release

#12028 New version: LoopVectorization v0.6.27
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch_release

#11820 New version: Libtask v0.3.4
  L/Libtask/Versions.toml
Labels: patch_release

#12029 New version: QuantileRegressions v0.0.2
  Q/QuantileRegressions/Compat.toml
  Q/QuantileRegressions/Versions.toml
Labels: BREAKING, patch_release

#12030 New version: WGLMakie v0.1.12
  W/WGLMakie/Versions.toml
Labels: patch_release

#12033 New version: Pluto v0.5.5
  P/Pluto/Versions.toml
Labels: patch_release

#12041 New version: PoincareInvariants v0.2.1
  P/PoincareInvariants/Compat.toml
  P/PoincareInvariants/Deps.toml
  P/PoincareInvariants/Versions.toml
Labels: patch_release

#12043 New version: DimensionalData v0.9.0
  D/DimensionalData/Versions.toml
Labels: BREAKING, minor_release

#12044 New version: PrincipalMomentAnalysisApp v0.2.2
  P/PrincipalMomentAnalysisApp/Deps.toml
  P/PrincipalMomentAnalysisApp/Versions.toml
Labels: patch_release

#12045 New version: ScikitLearn v0.6.0
  S/ScikitLearn/Compat.toml
  S/ScikitLearn/Versions.toml
Labels: BREAKING, minor_release

#12047 New version: NetCDF v0.10.0
  N/NetCDF/Compat.toml
  N/NetCDF/Versions.toml
Labels: BREAKING, minor_release

#12048 New version: MCMCChains v3.0.9
  M/MCMCChains/Versions.toml
Labels: patch_release

#11980 New version: PGFPlots v3.2.1
  P/PGFPlots/Versions.toml
Labels: patch_release

#12049 New version: ClimateBase v0.4.0
  C/ClimateBase/Compat.toml
  C/ClimateBase/Deps.toml
  C/ClimateBase/Versions.toml
Labels: BREAKING, minor_release

#11839 New package: Hankel v0.1.0
  H/Hankel/Compat.toml
  H/Hankel/Deps.toml
  H/Hankel/Package.toml
  H/Hankel/Versions.toml
  Registry.toml
Labels: new package

#12054 New version: JsonGrinder v1.1.0
  J/JsonGrinder/Compat.toml
  J/JsonGrinder/Versions.toml
Labels: minor_release

#12055 New version: Suppressor v0.2.0
  S/Suppressor/Compat.toml
  S/Suppressor/Deps.toml
  S/Suppressor/Versions.toml
Labels: BREAKING, minor_release

#12056 New version: JuMP v0.21.2
  J/JuMP/Compat.toml
  J/JuMP/Versions.toml
Labels: patch_release

#12057 New version: Genie v0.29.0
  G/Genie/Versions.toml
Labels: BREAKING, minor_release

#12058 New version: SimpleSDMLayers v0.2.0
  S/SimpleSDMLayers/Compat.toml
  S/SimpleSDMLayers/Deps.toml
  S/SimpleSDMLayers/Versions.toml
Labels: BREAKING, minor_release

#12059 New version: Pluto v0.5.6
  P/Pluto/Versions.toml
Labels: patch_release

#12060 New version: RecursiveArrayTools v2.1.1
  R/RecursiveArrayTools/Versions.toml
Labels: patch_release

#12062 New version: Tar v1.3.0
  T/Tar/Versions.toml
Labels: minor_release

#12063 New version: ParticleFilters v0.4.1
  P/ParticleFilters/Compat.toml
  P/ParticleFilters/Versions.toml
Labels: patch_release

#12064 New version: UpROOT v0.3.0
  U/UpROOT/Versions.toml
Labels: BREAKING, minor_release

#12065 New version: POMDPSimulators v0.3.5
  P/POMDPSimulators/Compat.toml
  P/POMDPSimulators/Versions.toml
Labels: patch_release

#12066 New version: POMDPModels v0.4.7
  P/POMDPModels/Compat.toml
  P/POMDPModels/Versions.toml
Labels: patch_release

#12067 New version: POMDPPolicies v0.3.2
  P/POMDPPolicies/Compat.toml
  P/POMDPPolicies/Versions.toml
Labels: patch_release

#12069 New version: Nettle v0.5.0
  N/Nettle/Compat.toml
  N/Nettle/Deps.toml
  N/Nettle/Versions.toml
Labels: BREAKING, minor_release

#12070 New version: Pluto v0.5.7
  P/Pluto/Versions.toml
Labels: patch_release

#12072 New version: Robotlib v0.4.0
  R/Robotlib/Compat.toml
  R/Robotlib/Deps.toml
  R/Robotlib/Versions.toml
Labels: BREAKING, minor_release

#12074 New version: DimensionalData v0.10.0
  D/DimensionalData/Versions.toml
Labels: BREAKING, minor_release

#12076 New version: LuxurySparse v0.5.5
  L/LuxurySparse/Versions.toml
Labels: patch_release

#12081 New version: Pluto v0.5.8
  P/Pluto/Versions.toml
Labels: patch_release

#12082 New version: MutableArithmetics v0.2.8
  M/MutableArithmetics/Versions.toml
Labels: patch_release

#12083 New version: SparsityDetection v0.2.0
  S/SparsityDetection/Compat.toml
  S/SparsityDetection/Versions.toml
Labels: BREAKING, minor_release

#12085 New version: KernelAbstractions v0.2.2
  K/KernelAbstractions/Versions.toml
Labels: patch_release

#12104 New version: PhyloModels v0.3.2
  P/PhyloModels/Versions.toml
Labels: patch_release

#12105 New version: RecursiveArrayTools v2.1.2
  R/RecursiveArrayTools/Versions.toml
Labels: patch_release

#12107 New version: DiffEqSensitivity v6.10.1
  D/DiffEqSensitivity/Versions.toml
Labels: patch_release

#12108 New version: DiffEqFlux v1.8.1
  D/DiffEqFlux/Versions.toml
Labels: patch_release

#12109 New version: DiffEqSensitivity v6.10.2
  D/DiffEqSensitivity/Versions.toml
Labels: patch_release

#12111 New version: ScikitLearn v0.6.1
  S/ScikitLearn/Compat.toml
  S/ScikitLearn/Versions.toml
Labels: patch_release

#12112 New version: AbstractAlgebra v0.9.1
  A/AbstractAlgebra/Versions.toml
Labels: patch_release

#12113 New version: AlphaStableDistributions v0.1.1
  A/AlphaStableDistributions/Compat.toml
  A/AlphaStableDistributions/Versions.toml
Labels: patch_release

#12114 New version: TransformUtils v0.2.5
  T/TransformUtils/Versions.toml
Labels: patch_release

#12110 New version: FieldDefaults v0.2.0
  F/FieldDefaults/Compat.toml
  F/FieldDefaults/Versions.toml
Labels: BREAKING, minor_release

#12115 New version: Nemo v0.17.2
  N/Nemo/Compat.toml
  N/Nemo/Versions.toml
Labels: patch_release

#12116 New version: JsonGrinder v1.2.0
  J/JsonGrinder/Versions.toml
Labels: minor_release

#12119 New version: Duff v0.5.0
  D/Duff/Compat.toml
  D/Duff/Versions.toml
Labels: BREAKING, minor_release

#12120 New version: SIMDPirates v0.7.8
  S/SIMDPirates/Versions.toml
Labels: patch_release

#12121 New version: Manifolds v0.1.3
  M/Manifolds/Versions.toml
Labels: patch_release

#11869 New package: TypeParsers v1.0.0
  Registry.toml
  T/TypeParsers/Compat.toml
  T/TypeParsers/Deps.toml
  T/TypeParsers/Package.toml
  T/TypeParsers/Versions.toml
Labels: new package

#12125 New version: GLM v1.3.9
  G/GLM/Compat.toml
  G/GLM/Versions.toml
Labels: patch_release

#12127 New version: Rocket v1.1.3
  R/Rocket/Versions.toml
Labels: patch_release

#12128 New version: IncrementalInference v0.11.1
  I/IncrementalInference/Versions.toml
Labels: patch_release

#12129 New version: FourierAnalysis v1.1.0
  F/FourierAnalysis/Compat.toml
  F/FourierAnalysis/Versions.toml
Labels: minor_release

#11872 New package: UnixTimes v0.1.0
  Registry.toml
  U/UnixTimes/Compat.toml
  U/UnixTimes/Deps.toml
  U/UnixTimes/Package.toml
  U/UnixTimes/Versions.toml
Labels: new package

#12130 New version: HomalgProject v0.1.8
  H/HomalgProject/Versions.toml
Labels: patch_release

#12131 New version: LazyArrays v0.16.2
  L/LazyArrays/Compat.toml
  L/LazyArrays/Versions.toml
Labels: patch_release

#12132 New version: AbstractMCMC v1.0.0
  A/AbstractMCMC/Compat.toml
  A/AbstractMCMC/Deps.toml
  A/AbstractMCMC/Versions.toml
Labels: BREAKING, major_release

#12133 New version: Singular v0.2.2
  S/Singular/Compat.toml
  S/Singular/Deps.toml
  S/Singular/Versions.toml
Labels: patch_release

#12134 New version: SliceMap v0.2.2
  S/SliceMap/Versions.toml
Labels: patch_release

#12135 New version: BandedMatrices v0.15.2
  B/BandedMatrices/Versions.toml
Labels: patch_release

#12137 New version: LoopVectorization v0.6.28
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch_release

#12138 New version: DynamicGrids v0.6.0
  D/DynamicGrids/Compat.toml
  D/DynamicGrids/Versions.toml
Labels: BREAKING, minor_release

#12139 New version: DiffEqSensitivity v6.10.3
  D/DiffEqSensitivity/Versions.toml
Labels: patch_release

#12140 New version: Schistoxpkg v1.0.9
  S/Schistoxpkg/Versions.toml
Labels: patch_release

#12098 Manual fix - VideoIO: Retroactively add upper bound to FFMPEG compat
  V/VideoIO/Compat.toml
Labels: compat fix

#12143 New version: FinEtools v4.1.0
  F/FinEtools/Compat.toml
  F/FinEtools/Deps.toml
  F/FinEtools/Versions.toml
Labels: minor_release

#12145 New version: StaticRanges v0.6.0
  S/StaticRanges/Compat.toml
  S/StaticRanges/Deps.toml
  S/StaticRanges/Versions.toml
Labels: BREAKING, minor_release

#12146 New version: MatrixFactorizations v0.3.1
  M/MatrixFactorizations/Compat.toml
  M/MatrixFactorizations/Versions.toml
Labels: patch_release

#12147 New version: VisualRegressionTests v0.3.3
  V/VisualRegressionTests/Compat.toml
  V/VisualRegressionTests/Versions.toml
Labels: patch_release

#12149 New version: JsonGrinder v1.2.1
  J/JsonGrinder/Versions.toml
Labels: patch_release

#12160 New version: InfrastructureSystems v0.5.15
  I/InfrastructureSystems/Versions.toml
Labels: patch_release

#12164 New version: ClimateBase v0.6.0
  C/ClimateBase/Versions.toml
Labels: BREAKING, minor_release

#12166 New version: LatinHypercubeSampling v1.6.4
  L/LatinHypercubeSampling/Compat.toml
  L/LatinHypercubeSampling/Versions.toml
Labels: patch_release

#12167 New version: MCMCChains v3.0.10
  M/MCMCChains/Compat.toml
  M/MCMCChains/Versions.toml
Labels: patch_release

#12168 New version: FTPServer v0.2.2
  F/FTPServer/Compat.toml
  F/FTPServer/Versions.toml
Labels: patch_release

#12169 New version: ClimateTools v0.20.0
  C/ClimateTools/Compat.toml
  C/ClimateTools/Versions.toml
Labels: BREAKING, minor_release

#12170 New version: Pluto v0.5.9
  P/Pluto/Versions.toml
Labels: patch_release
