Repository JuliaRegistries/General, pull requests merged in 2020-01, with the labels that each got.

#7382 New version: VersionVigilante v0.4.0
  V/VersionVigilante/Versions.toml
Labels: minor release

#7383 New version: LoopVectorization v0.1.1
  L/LoopVectorization/Versions.toml
Labels: patch release

#7384 New version: VersionVigilante v0.4.1
  V/VersionVigilante/Versions.toml
Labels: patch release

#7386 New version: RegistryCI v0.10.0
  R/RegistryCI/Versions.toml
Labels: minor release

#7387 Update RegistryCI to 0.10.0
  .ci/Manifest.toml
Labels: ci

#7246 New package: MarketCycles v0.1.5
  M/MarketCycles/Compat.toml
  M/MarketCycles/Deps.toml
  M/MarketCycles/Package.toml
  M/MarketCycles/Versions.toml
  Registry.toml
Labels: new package

#7389 New version: RegistryCI v0.10.1
  R/RegistryCI/Versions.toml
Labels: patch release

#7391 Bump RegistryCI to 0.10.1
  .ci/Manifest.toml
Labels: ci

#7392 New version: TabularDisplay v1.0.2
  T/TabularDisplay/Compat.toml
  T/TabularDisplay/Deps.toml
  T/TabularDisplay/Versions.toml
Labels: patch release

#7289 New package: VectorizedRNG v0.1.0
  Registry.toml
  V/VectorizedRNG/Compat.toml
  V/VectorizedRNG/Deps.toml
  V/VectorizedRNG/Package.toml
  V/VectorizedRNG/Versions.toml
Labels: new package

#7259 New package: SDPNAL v0.0.1
  Registry.toml
  S/SDPNAL/Compat.toml
  S/SDPNAL/Deps.toml
  S/SDPNAL/Package.toml
  S/SDPNAL/Versions.toml
Labels: new package

#7325 New version: Mill v1.0.4
  M/Mill/Compat.toml
  M/Mill/Versions.toml
Labels: patch release

#7393 New version: TabularDisplay v1.1.0
  T/TabularDisplay/Versions.toml
Labels: minor release

#7394 New version: LoopVectorization v0.1.2
  L/LoopVectorization/Versions.toml
Labels: patch release

#7395 New version: LBFGSB v0.3.0
  L/LBFGSB/Compat.toml
  L/LBFGSB/Deps.toml
  L/LBFGSB/Versions.toml
Labels: minor release

#7397 New version: ProgressBars v0.5.0
  P/ProgressBars/Versions.toml
Labels: minor release

#7405 New version: RecurrenceAnalysis v1.1.0
  R/RecurrenceAnalysis/Compat.toml
  R/RecurrenceAnalysis/Deps.toml
  R/RecurrenceAnalysis/Versions.toml
Labels: minor release

#7406 New version: DelayEmbeddings v1.3.0
  D/DelayEmbeddings/Compat.toml
  D/DelayEmbeddings/Versions.toml
Labels: minor release

#7410 New version: PosDefManifold v0.4.3
  P/PosDefManifold/Versions.toml
Labels: patch release

#7385 New version: SASLib v1.0.0
  S/SASLib/Compat.toml
  S/SASLib/Deps.toml
  S/SASLib/Versions.toml
Labels: major release

#7411 New version: WriteVTK v1.4.0
  W/WriteVTK/Versions.toml
Labels: minor release

#7413 New version: StaticNumbers v0.2.1
  S/StaticNumbers/Versions.toml
Labels: patch release

#7408 New version: RData v0.7.0
  R/RData/Compat.toml
  R/RData/Deps.toml
  R/RData/Versions.toml
Labels: minor release

#7415 New version: Lasso v0.5.1
  L/Lasso/Compat.toml
  L/Lasso/Deps.toml
  L/Lasso/Versions.toml
Labels: patch release

#7416 New version: StochasticDiffEq v6.16.0
  S/StochasticDiffEq/Versions.toml
Labels: minor release

#7414 New version: Caesar v0.4.3
  C/Caesar/Compat.toml
  C/Caesar/Deps.toml
  C/Caesar/Versions.toml
Labels: patch release

#7418 New version: BlockArrays v0.11.1
  B/BlockArrays/Versions.toml
Labels: patch release

#7419 New version: VectorizationBase v0.1.3
  V/VectorizationBase/Versions.toml
Labels: patch release

#7421 New version: SLEEFPirates v0.1.1
  S/SLEEFPirates/Versions.toml
Labels: patch release

#7422 New version: LoopVectorization v0.1.3
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#7425 New version: RetroCap v0.2.1
  R/RetroCap/Versions.toml
Labels: patch release

#7426 New version: RetroCap v0.2.2
  R/RetroCap/Versions.toml
Labels: patch release

#7427 New version: Dictionaries v0.2.1
  D/Dictionaries/Versions.toml
Labels: patch release

#7420 New version: ForecastEval v1.0.1
  F/ForecastEval/Compat.toml
  F/ForecastEval/Deps.toml
  F/ForecastEval/Versions.toml
Labels: patch release

#7429 New version: AcceleratedArrays v0.3.0
  A/AcceleratedArrays/Compat.toml
  A/AcceleratedArrays/Deps.toml
  A/AcceleratedArrays/Versions.toml
Labels: minor release

#7431 New version: BlockBandedMatrices v0.7.1
  B/BlockBandedMatrices/Versions.toml
Labels: patch release

#7432 New version: NetCDF v0.8.2
  N/NetCDF/Compat.toml
  N/NetCDF/Versions.toml
Labels: patch release

#7433 New version: AdvancedHMC v0.2.15
  A/AdvancedHMC/Compat.toml
  A/AdvancedHMC/Deps.toml
  A/AdvancedHMC/Versions.toml
Labels: patch release

#7436 New version: NaiveNASflux v1.1.0
  N/NaiveNASflux/Compat.toml
  N/NaiveNASflux/Versions.toml
Labels: minor release

#7327 New package: Graphene v0.1.0
  G/Graphene/Compat.toml
  G/Graphene/Deps.toml
  G/Graphene/Package.toml
  G/Graphene/Versions.toml
  Registry.toml
Labels: new package

#7438 New version: SIMDPirates v0.1.1
  S/SIMDPirates/Versions.toml
Labels: patch release

#7442 New version: LoopVectorization v0.2.0
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: minor release

#7443 New version: Luxor v1.10.0
  L/Luxor/Compat.toml
  L/Luxor/Versions.toml
Labels: minor release

#7444 New version: OMETIFF v0.3.4
  O/OMETIFF/Compat.toml
  O/OMETIFF/Deps.toml
  O/OMETIFF/Versions.toml
Labels: patch release

#7446 New version: OmniSci v0.8.1
  O/OmniSci/Versions.toml
Labels: patch release

#7447 New version: ModernGL v1.1.2
  M/ModernGL/Versions.toml
Labels: patch release

#7440 New version: GtkUtilities v1.0.0
  G/GtkUtilities/Compat.toml
  G/GtkUtilities/Deps.toml
  G/GtkUtilities/Versions.toml
Labels: major release

#7448 New version: AdvancedHMC v0.2.16
  A/AdvancedHMC/Versions.toml
Labels: patch release

#7450 New version: DataDrivenDiffEq v0.1.1
  D/DataDrivenDiffEq/Compat.toml
  D/DataDrivenDiffEq/Versions.toml
Labels: patch release

#7452 New version: ApproxFunFourier v0.2.1
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Versions.toml
Labels: patch release

#7453 New version: InfiniteArrays v0.6.1
  I/InfiniteArrays/Versions.toml
Labels: patch release

#7454 New version: ObjectDetector v0.1.4
  O/ObjectDetector/Versions.toml
Labels: patch release

#7455 New version: QuantumAlgebra v0.2.1
  Q/QuantumAlgebra/Versions.toml
Labels: patch release

#7457 New version: Tar v1.0.0
  T/Tar/Compat.toml
  T/Tar/Versions.toml
Labels: major release

#7305 New version: DiffEqTutorials v0.2.1
  D/DiffEqTutorials/Compat.toml
  D/DiffEqTutorials/Deps.toml
  D/DiffEqTutorials/Versions.toml
Labels: patch release

#7458 New version: RegistryCI v0.11.0
  R/RegistryCI/Versions.toml
Labels: minor release

#7456 New version: SASLib v1.1.0
  S/SASLib/Compat.toml
  S/SASLib/Deps.toml
  S/SASLib/Versions.toml
Labels: minor release

#7461 New version: FluxUtils v0.1.1
  F/FluxUtils/Versions.toml
Labels: patch release

#7463 New version: PowerSystems v0.7.1
  P/PowerSystems/Versions.toml
Labels: patch release

#7465 New version: ApproxFunOrthogonalPolynomials v0.3.1
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#7467 New version: Distributions v0.21.12
  D/Distributions/Versions.toml
Labels: patch release

#7468 New version: MonteCarloMeasurements v0.6.3
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#7469 New version: NaiveGAflux v0.2.0
  N/NaiveGAflux/Compat.toml
  N/NaiveGAflux/Versions.toml
Labels: minor release

#7471 New version: FstFileFormat v0.1.1
  F/FstFileFormat/Compat.toml
  F/FstFileFormat/Versions.toml
Labels: patch release

#7472 New version: DrWatson v1.7.1
  D/DrWatson/Versions.toml
Labels: patch release

#7473 New version: DataStructures v0.17.7
  D/DataStructures/Versions.toml
Labels: patch release

#7474 New version: SimpleDiffEq v1.0.1
  S/SimpleDiffEq/Versions.toml
Labels: patch release

#7476 New version: ImageMetadata v0.9.0
  I/ImageMetadata/Compat.toml
  I/ImageMetadata/Versions.toml
Labels: minor release

#7477 New version: DensityRatioEstimation v0.3.1
  D/DensityRatioEstimation/Versions.toml
Labels: patch release

#7470 New version: GenomicFeatures v1.0.1
  G/GenomicFeatures/Compat.toml
  G/GenomicFeatures/Deps.toml
  G/GenomicFeatures/Versions.toml
Labels: patch release

#7480 New version: SnoopCompile v1.1.1
  S/SnoopCompile/Versions.toml
Labels: patch release

#7481 New version: MLJBase v0.9.2
  M/MLJBase/Versions.toml
Labels: patch release

#7466 New version: Paillier v0.3.0
  P/Paillier/Compat.toml
  P/Paillier/Deps.toml
  P/Paillier/Versions.toml
Labels: minor release

#7485 New version: VectorizationBase v0.1.4
  V/VectorizationBase/Versions.toml
Labels: patch release

#7486 New version: LoopVectorization v0.2.1
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#7380 New package: AcuteBenchmark v0.1.0
  A/AcuteBenchmark/Compat.toml
  A/AcuteBenchmark/Deps.toml
  A/AcuteBenchmark/Package.toml
  A/AcuteBenchmark/Versions.toml
  Registry.toml
Labels: new package

#7487 New version: ApproxFunSingularities v0.1.7
  A/ApproxFunSingularities/Compat.toml
  A/ApproxFunSingularities/Versions.toml
Labels: patch release

#7488 New version: LoopVectorization v0.2.2
  L/LoopVectorization/Versions.toml
Labels: patch release

#7493 New version: JLD2 v0.1.11
  J/JLD2/Versions.toml
Labels: patch release

#7494 New version: DecisionTree v0.10.1
  D/DecisionTree/Versions.toml
Labels: patch release

#7495 New version: RetroCap v0.2.3
  R/RetroCap/Versions.toml
Labels: patch release

#7490 New version: RandomNumbers v1.4.0
  R/RandomNumbers/Compat.toml
  R/RandomNumbers/Deps.toml
  R/RandomNumbers/Versions.toml
Labels: minor release

#7489 New version: GMT v0.13.0
  G/GMT/Versions.toml
Labels: minor release

#7479 New version: Interpolations v0.12.6
  I/Interpolations/Compat.toml
  I/Interpolations/Versions.toml
Labels: patch release

#7475 New version: Immerse v1.0.0
  I/Immerse/Compat.toml
  I/Immerse/Deps.toml
  I/Immerse/Versions.toml
Labels: major release

#7449 New version: BioEnergeticFoodWebs v1.1.2
  B/BioEnergeticFoodWebs/Versions.toml
Labels: patch release

#7434 New version: FCA v0.2.4
  F/FCA/Versions.toml
Labels: patch release

#7428 New version: JuliaFormatter v0.2.1
  J/JuliaFormatter/Compat.toml
  J/JuliaFormatter/Versions.toml
Labels: patch release

#7399 New package: PointPatterns v0.1.0
  P/PointPatterns/Compat.toml
  P/PointPatterns/Deps.toml
  P/PointPatterns/Package.toml
  P/PointPatterns/Versions.toml
  Registry.toml
Labels: new package

#7400 New package: GtkSourceWidget v1.0.0
  G/GtkSourceWidget/Compat.toml
  G/GtkSourceWidget/Deps.toml
  G/GtkSourceWidget/Package.toml
  G/GtkSourceWidget/Versions.toml
  Registry.toml
Labels: new package

#7412 New package: Diagonalizations v0.1.0
  D/Diagonalizations/Compat.toml
  D/Diagonalizations/Deps.toml
  D/Diagonalizations/Package.toml
  D/Diagonalizations/Versions.toml
  Registry.toml
Labels: new package

#7437 New package: DynamicPPL v0.1.0
  D/DynamicPPL/Compat.toml
  D/DynamicPPL/Deps.toml
  D/DynamicPPL/Package.toml
  D/DynamicPPL/Versions.toml
  Registry.toml
Labels: new package

#7401 New package: LarSurf v0.1.0
  L/LarSurf/Compat.toml
  L/LarSurf/Deps.toml
  L/LarSurf/Package.toml
  L/LarSurf/Versions.toml
  Registry.toml
Labels: new package

#7396 New package: DotNET v0.1.0
  D/DotNET/Compat.toml
  D/DotNET/Deps.toml
  D/DotNET/Package.toml
  D/DotNET/Versions.toml
  Registry.toml
Labels: new package

#7496 New version: Images v0.20.0
  I/Images/Compat.toml
  I/Images/Versions.toml
Labels: minor release

#7497 New version: ApproxFun v0.11.9
  A/ApproxFun/Compat.toml
  A/ApproxFun/Versions.toml
Labels: patch release

#7498 New version: LLVM v1.3.3
  L/LLVM/Versions.toml
Labels: patch release

#7439 New version: CorpusLoaders v0.3.1
  C/CorpusLoaders/Compat.toml
  C/CorpusLoaders/Versions.toml
Labels: patch release

#7499 New version: Gtk v1.1.2
  G/Gtk/Versions.toml
Labels: patch release

#7501 New version: MLJModels v0.6.3
  M/MLJModels/Versions.toml
Labels: patch release

#7502 New version: RegistryCI v0.11.1
  R/RegistryCI/Versions.toml
Labels: patch release

#7506 Bump compat lower bound for RegistryCI
  .ci/Project.toml
Labels: ci

#7507 New version: SimpleDiffEq v1.0.2
  S/SimpleDiffEq/Versions.toml
Labels: patch release

#7508 New version: MCMCBenchmarks v0.5.5
  M/MCMCBenchmarks/Compat.toml
  M/MCMCBenchmarks/Versions.toml
Labels: patch release

#7509 New version: AcuteML v0.2.0
  A/AcuteML/Versions.toml
Labels: minor release

#7510 New version: TimeToLive v0.3.0
  T/TimeToLive/Deps.toml
  T/TimeToLive/Versions.toml
Labels: minor release

#7512 New version: CategoricalArrays v0.7.6
  C/CategoricalArrays/Versions.toml
Labels: patch release

#7513 New version: Oceananigans v0.18.1
  O/Oceananigans/Compat.toml
  O/Oceananigans/Deps.toml
  O/Oceananigans/Versions.toml
Labels: patch release

#7519 New version: JuliaFormatter v0.2.2
  J/JuliaFormatter/Compat.toml
  J/JuliaFormatter/Versions.toml
Labels: patch release

#7521 New version: LoopVectorization v0.2.3
  L/LoopVectorization/Versions.toml
Labels: patch release

#7522 New version: AdvancedHMC v0.2.17
  A/AdvancedHMC/Versions.toml
Labels: patch release

#7524 New version: AdvancedHMC v0.2.18
  A/AdvancedHMC/Versions.toml
Labels: patch release

#7526 New version: PrettyTables v0.8.0
  P/PrettyTables/Versions.toml
Labels: minor release

#7527 New version: JLBoost v0.1.4
  J/JLBoost/Compat.toml
  J/JLBoost/Deps.toml
  J/JLBoost/Versions.toml
Labels: patch release

#7529 New version: BangBang v0.3.12
  B/BangBang/Versions.toml
Labels: patch release

#7530 New version: Catlab v0.5.0
  C/Catlab/Compat.toml
  C/Catlab/Deps.toml
  C/Catlab/Versions.toml
Labels: minor release

#7516 New package: FiniteDiff v2.0.0
  F/FiniteDiff/Compat.toml
  F/FiniteDiff/Deps.toml
  F/FiniteDiff/Package.toml
  F/FiniteDiff/Versions.toml
  Registry.toml
Labels: new package

#7531 New version: Turing v0.8.0
  T/Turing/Compat.toml
  T/Turing/Deps.toml
  T/Turing/Versions.toml
Labels: minor release

#7533 ImageSegmentation: Fix a Julia compat entry
  I/ImageSegmentation/Compat.toml
Labels: compat fix

#7534 New version: Transducers v0.4.8
  T/Transducers/Compat.toml
  T/Transducers/Versions.toml
Labels: patch release

#7535 New version: GtkUtilities v1.0.1
  G/GtkUtilities/Compat.toml
  G/GtkUtilities/Versions.toml
Labels: patch release

#7536 New version: PosDefManifold v0.4.4
  P/PosDefManifold/Versions.toml
Labels: patch release

#7537 New version: Colors v0.11.2
  C/Colors/Versions.toml
Labels: patch release

#7538 New version: Diagonalizations v0.1.1
  D/Diagonalizations/Compat.toml
  D/Diagonalizations/Versions.toml
Labels: patch release

#7539 New version: ProfileView v0.5.3
  P/ProfileView/Compat.toml
  P/ProfileView/Versions.toml
Labels: patch release

#7540 New version: ImageSegmentation v1.4.0
  I/ImageSegmentation/Compat.toml
  I/ImageSegmentation/Versions.toml
Labels: minor release

#7541 New version: JuDocTemplates v0.3.2
  J/JuDocTemplates/Versions.toml
Labels: patch release

#7542 New version: DynamicSparseArrays v0.2.1
  D/DynamicSparseArrays/Versions.toml
Labels: patch release

#7543 New version: EvoDynamics v0.3.0
  E/EvoDynamics/Versions.toml
Labels: minor release

#7545 New version: ProgressBars v0.6.0
  P/ProgressBars/Versions.toml
Labels: minor release

#7546 New version: DynamicalSystemsBase v1.5.0
  D/DynamicalSystemsBase/Compat.toml
  D/DynamicalSystemsBase/Versions.toml
Labels: minor release

#7445 New package: ForecastAccuracy v0.1.0
  F/ForecastAccuracy/Compat.toml
  F/ForecastAccuracy/Deps.toml
  F/ForecastAccuracy/Package.toml
  F/ForecastAccuracy/Versions.toml
  Registry.toml
Labels: new package

#7548 New version: AcuteML v0.3.0
  A/AcuteML/Compat.toml
  A/AcuteML/Deps.toml
  A/AcuteML/Versions.toml
Labels: minor release

#7549 New version: HDF5Utils v0.1.10
  H/HDF5Utils/Versions.toml
Labels: patch release

#7550 New version: Turing v0.8.1
  T/Turing/Compat.toml
  T/Turing/Deps.toml
  T/Turing/Versions.toml
Labels: patch release

#7551 New version: GMT v0.14.0
  G/GMT/Versions.toml
Labels: minor release

#7552 New version: FixedEffects v0.7.0
  F/FixedEffects/Versions.toml
Labels: minor release

#7553 New version: FixedEffectModels v0.10.3
  F/FixedEffectModels/Compat.toml
  F/FixedEffectModels/Versions.toml
Labels: patch release

#7460 New package: XLSXasJSON v0.1.0
  Registry.toml
  X/XLSXasJSON/Compat.toml
  X/XLSXasJSON/Deps.toml
  X/XLSXasJSON/Package.toml
  X/XLSXasJSON/Versions.toml
Labels: name approved, new package

#7554 New version: ControlSystems v0.5.5
  C/ControlSystems/Compat.toml
  C/ControlSystems/Versions.toml
Labels: patch release

#7556 New version: InteractiveFixedEffectModels v0.6.2
  I/InteractiveFixedEffectModels/Compat.toml
  I/InteractiveFixedEffectModels/Versions.toml
Labels: patch release

#7557 New version: DataValues v0.4.13
  D/DataValues/Compat.toml
  D/DataValues/Deps.toml
  D/DataValues/Versions.toml
Labels: patch release

#7558 New version: ErrorfreeArithmetic v0.4.1
  E/ErrorfreeArithmetic/Compat.toml
  E/ErrorfreeArithmetic/Deps.toml
  E/ErrorfreeArithmetic/Versions.toml
Labels: patch release

#7559 New version: LazySets v1.26.0
  L/LazySets/Versions.toml
Labels: minor release

#7563 New version: XLSXasJSON v0.1.1
  X/XLSXasJSON/Compat.toml
  X/XLSXasJSON/Versions.toml
Labels: patch release

#7565 New version: Transducers v0.4.9
  T/Transducers/Versions.toml
Labels: patch release

#7567 New version: XLSXasJSON v0.1.2
  X/XLSXasJSON/Versions.toml
Labels: patch release

#7568 New version: Distributions v0.22.0
  D/Distributions/Versions.toml
Labels: minor release

#7569 New version: ImageFeatures v0.4.0
  I/ImageFeatures/Compat.toml
  I/ImageFeatures/Deps.toml
  I/ImageFeatures/Versions.toml
Labels: minor release

#7571 New version: HMMBase v1.0.3
  H/HMMBase/Compat.toml
  H/HMMBase/Versions.toml
Labels: patch release
