Repository JuliaRegistries/General, pull requests merged in 2021-05, with the labels that each got.

#35755 New version: Fermionic v1.2.1
  F/Fermionic/Versions.toml
Labels: patch release

#35521 New package: ReadStatTables v0.1.0
  R/ReadStatTables/Compat.toml
  R/ReadStatTables/Deps.toml
  R/ReadStatTables/Package.toml
  R/ReadStatTables/Versions.toml
  Registry.toml
Labels: new package

#35756 New version: BinaryBuilderBase v0.6.3
  B/BinaryBuilderBase/Versions.toml
Labels: patch release

#35757 New version: StateSpaceModels v0.5.15
  S/StateSpaceModels/Versions.toml
Labels: patch release

#35527 New package: CropRootBox v0.1.0
  C/CropRootBox/Compat.toml
  C/CropRootBox/Deps.toml
  C/CropRootBox/Package.toml
  C/CropRootBox/Versions.toml
  Registry.toml
Labels: new package

#35759 New version: MLJFlux v0.1.11
  M/MLJFlux/Compat.toml
  M/MLJFlux/Versions.toml
Labels: patch release

#35760 New version: VIDA v0.10.0
  V/VIDA/Compat.toml
  V/VIDA/Versions.toml
Labels: BREAKING, minor release

#35762 New version: EDKit v0.2.3
  E/EDKit/Versions.toml
Labels: patch release

#35533 New package: YaoCompiler v0.1.0
  Registry.toml
  Y/YaoCompiler/Compat.toml
  Y/YaoCompiler/Deps.toml
  Y/YaoCompiler/Package.toml
  Y/YaoCompiler/Versions.toml
Labels: new package

#35763 New version: WordCloud v0.6.8
  W/WordCloud/Versions.toml
Labels: patch release

#35764 New version: YaoCompiler v0.1.1
  Y/YaoCompiler/Compat.toml
  Y/YaoCompiler/Versions.toml
Labels: patch release

#35766 New version: CodeInfoTools v0.2.9
  C/CodeInfoTools/Versions.toml
Labels: patch release

#35768 New version: Hypatia v0.4.0
  H/Hypatia/Compat.toml
  H/Hypatia/Versions.toml
Labels: BREAKING, minor release

#35769 New version: Showoff v1.0.3
  S/Showoff/Versions.toml
Labels: patch release

#35770 New version: ArcadeLearningEnvironment v0.2.4
  A/ArcadeLearningEnvironment/Versions.toml
Labels: patch release

#35771 New version: PressureDrop v1.0.7
  P/PressureDrop/Compat.toml
  P/PressureDrop/Versions.toml
Labels: patch release

#35772 New version: SphericalHarmonics v0.1.11
  S/SphericalHarmonics/Versions.toml
Labels: patch release

#35773 New version: OpenColor v0.2.0
  O/OpenColor/Compat.toml
  O/OpenColor/Deps.toml
  O/OpenColor/Versions.toml
Labels: BREAKING, minor release

#35775 New version: GridArrays v0.1.9
  G/GridArrays/Compat.toml
  G/GridArrays/Versions.toml
Labels: patch release

#35776 New version: DomainIntegrals v0.3.1
  D/DomainIntegrals/Compat.toml
  D/DomainIntegrals/Versions.toml
Labels: patch release

#35777 New version: Batsrus v0.3.4
  B/Batsrus/Versions.toml
Labels: patch release

#35778 New version: InverseIsing v1.0.2
  I/InverseIsing/Versions.toml
Labels: patch release

#35779 New version: Taxonomy v0.1.1
  T/Taxonomy/Versions.toml
Labels: patch release

#35780 New version: StatsBase v0.33.7
  S/StatsBase/Compat.toml
  S/StatsBase/Versions.toml
Labels: patch release

#35559 New package: TruncatedDistributions v0.1.0
  Registry.toml
  T/TruncatedDistributions/Compat.toml
  T/TruncatedDistributions/Deps.toml
  T/TruncatedDistributions/Package.toml
  T/TruncatedDistributions/Versions.toml
Labels: new package

#35781 New version: Symata v0.4.9
  S/Symata/Compat.toml
  S/Symata/Deps.toml
  S/Symata/Versions.toml
Labels: patch release

#35782 New version: InformationGeometry v1.5.3
  I/InformationGeometry/Versions.toml
Labels: patch release

#35564 New package: FiniteHorizonValueIteration v0.3.0
  F/FiniteHorizonValueIteration/Compat.toml
  F/FiniteHorizonValueIteration/Deps.toml
  F/FiniteHorizonValueIteration/Package.toml
  F/FiniteHorizonValueIteration/Versions.toml
  Registry.toml
Labels: new package

#35783 New version: CodeInfoTools v0.3.0
  C/CodeInfoTools/Versions.toml
Labels: BREAKING, minor release

#35784 New version: Crystalline v0.3.6
  C/Crystalline/Compat.toml
  C/Crystalline/Versions.toml
Labels: patch release

#35785 New version: PlotlyBase v0.5.3
  P/PlotlyBase/Versions.toml
Labels: patch release

#35786 New version: Plotly v0.4.0
  P/Plotly/Compat.toml
  P/Plotly/Versions.toml
Labels: BREAKING, minor release

#35787 New version: RigidBodyDynamics v2.3.2
  R/RigidBodyDynamics/Versions.toml
Labels: patch release

#35788 New version: MCMCChains v4.10.0
  M/MCMCChains/Deps.toml
  M/MCMCChains/Versions.toml
Labels: minor release

#35789 New version: SimpleGraphs v0.7.8
  S/SimpleGraphs/Versions.toml
Labels: patch release

#35790 New version: TaylorModels v0.3.9
  T/TaylorModels/Compat.toml
  T/TaylorModels/Versions.toml
Labels: patch release

#35582 New package: BioProfiling v1.0.0
  B/BioProfiling/Compat.toml
  B/BioProfiling/Deps.toml
  B/BioProfiling/Package.toml
  B/BioProfiling/Versions.toml
  Registry.toml
Labels: new package

#35791 New version: DataFrames v1.0.2
  D/DataFrames/Versions.toml
Labels: patch release

#35793 New version: Queryverse v0.7.0
  Q/Queryverse/Compat.toml
  Q/Queryverse/Versions.toml
Labels: BREAKING, minor release

#35588 New package: EqualityConstrainedMinimization v0.1.0
  E/EqualityConstrainedMinimization/Compat.toml
  E/EqualityConstrainedMinimization/Deps.toml
  E/EqualityConstrainedMinimization/Package.toml
  E/EqualityConstrainedMinimization/Versions.toml
  Registry.toml
Labels: new package

#35589 New package: SortFilters v0.1.0
  Registry.toml
  S/SortFilters/Compat.toml
  S/SortFilters/Deps.toml
  S/SortFilters/Package.toml
  S/SortFilters/Versions.toml
Labels: new package

#35794 New version: BrainFlow v4.2.0
  B/BrainFlow/Versions.toml
Labels: minor release

#35792 New version: GeoThermalCloud v0.1.3
  G/GeoThermalCloud/Versions.toml
Labels: patch release

#35104 New package: DictionarySlicing v0.4.0
  D/DictionarySlicing/Compat.toml
  D/DictionarySlicing/Deps.toml
  D/DictionarySlicing/Package.toml
  D/DictionarySlicing/Versions.toml
  Registry.toml
Labels: new package

#35796 New version: CodeInfoTools v0.3.1
  C/CodeInfoTools/Versions.toml
Labels: patch release

#35593 New package: EBIC v0.1.0
  E/EBIC/Compat.toml
  E/EBIC/Deps.toml
  E/EBIC/Package.toml
  E/EBIC/Versions.toml
  Registry.toml
Labels: new package

#35797 New version: GridVisualize v0.2.0
  G/GridVisualize/Compat.toml
  G/GridVisualize/Deps.toml
  G/GridVisualize/Versions.toml
Labels: BREAKING, minor release

#35799 New version: Quantikz v1.0.4
  Q/Quantikz/Versions.toml
Labels: patch release

#35806 New version: Mixtape v0.2.7
  M/Mixtape/Compat.toml
  M/Mixtape/Versions.toml
Labels: patch release

#35577 New package: Dianli v0.1.0
  D/Dianli/Compat.toml
  D/Dianli/Deps.toml
  D/Dianli/Package.toml
  D/Dianli/Versions.toml
  Registry.toml
Labels: Override AutoMerge: name similarity is okay, needs to be manually merged in 3 days, new package

#35611 New package: KeywordCalls v0.1.0
  K/KeywordCalls/Compat.toml
  K/KeywordCalls/Deps.toml
  K/KeywordCalls/Package.toml
  K/KeywordCalls/Versions.toml
  Registry.toml
Labels: new package

#35807 New version: Fermionic v1.3.0
  F/Fermionic/Versions.toml
Labels: minor release

#35808 New version: KeywordCalls v0.1.1
  K/KeywordCalls/Versions.toml
Labels: patch release

#35809 New version: RegistryTools v1.5.4
  R/RegistryTools/Versions.toml
Labels: patch release

#35811 New version: CUDAKernels v0.2.0
  C/CUDAKernels/Compat.toml
  C/CUDAKernels/Versions.toml
Labels: BREAKING, minor release

#35812 New version: CompatHelper v2.0.5
  C/CompatHelper/Versions.toml
Labels: patch release

#35813 New version: LayeredArrays v0.1.1
  L/LayeredArrays/Versions.toml
Labels: patch release

#35814 New version: LoopVectorization v0.12.14
  L/LoopVectorization/Versions.toml
Labels: patch release

#35816 New version: Distributions v0.25.0
  D/Distributions/Versions.toml
Labels: BREAKING, minor release

#35817 New version: DoubleFloats v1.1.20
  D/DoubleFloats/Versions.toml
Labels: patch release

#35820 New version: VectorSphericalHarmonics v0.1.1
  V/VectorSphericalHarmonics/Versions.toml
Labels: patch release

#35821 New version: TrustRegionMethods v0.3.2
  T/TrustRegionMethods/Compat.toml
  T/TrustRegionMethods/Versions.toml
Labels: patch release

#35822 New version: CategoricalArrays v0.9.7
  C/CategoricalArrays/Versions.toml
Labels: patch release

#35823 New version: DescriptorSystems v0.7.0
  D/DescriptorSystems/Compat.toml
  D/DescriptorSystems/Deps.toml
  D/DescriptorSystems/Versions.toml
Labels: BREAKING, minor release

#35824 New version: Turing v0.15.19
  T/Turing/Versions.toml
Labels: patch release

#35825 New version: ProbabilityBoundsAnalysis v0.2.1
  P/ProbabilityBoundsAnalysis/Compat.toml
  P/ProbabilityBoundsAnalysis/Versions.toml
Labels: patch release

#33332 New package: Splines2 v0.2.0
  Registry.toml
  S/Splines2/Compat.toml
  S/Splines2/Deps.toml
  S/Splines2/Package.toml
  S/Splines2/Versions.toml
Labels: new package, stale

#35827 New version: StatsBase v0.33.8
  S/StatsBase/Compat.toml
  S/StatsBase/Deps.toml
  S/StatsBase/Versions.toml
Labels: patch release

#35829 New version: StochasticOptimalTransport v0.1.1
  S/StochasticOptimalTransport/Compat.toml
  S/StochasticOptimalTransport/Deps.toml
  S/StochasticOptimalTransport/Versions.toml
Labels: patch release

#34782 New version: PointerArithmetic v0.2.1
  P/PointerArithmetic/Compat.toml
  P/PointerArithmetic/Versions.toml
Labels: patch release

#35831 New version: ConsistencyResampling v0.3.1
  C/ConsistencyResampling/Versions.toml
Labels: patch release

#35832 New version: ChainRulesCore v0.9.41
  C/ChainRulesCore/Versions.toml
Labels: patch release

#35833 New version: WidgetsBase v0.1.3
  W/WidgetsBase/Compat.toml
  W/WidgetsBase/Versions.toml
Labels: patch release

#35834 New version: EmpiricalDistributions v0.3.4
  E/EmpiricalDistributions/Compat.toml
  E/EmpiricalDistributions/Versions.toml
Labels: patch release

#35835 New version: NodeJS v1.2.0
  N/NodeJS/Versions.toml
Labels: minor release

#35836 New version: TaylorIntegration v0.8.9
  T/TaylorIntegration/Compat.toml
  T/TaylorIntegration/Versions.toml
Labels: patch release

#35837 New version: DirectSum v0.7.6
  D/DirectSum/Versions.toml
Labels: patch release

#35838 New version: GraphDataFrameBridge v0.2.7
  G/GraphDataFrameBridge/Compat.toml
  G/GraphDataFrameBridge/Versions.toml
Labels: patch release

#35839 New version: ImageIO v0.5.4
  I/ImageIO/Versions.toml
Labels: patch release

#35840 New version: Vega v2.2.0
  V/Vega/Versions.toml
Labels: minor release

#35841 New version: VegaLite v2.5.0
  V/VegaLite/Compat.toml
  V/VegaLite/Deps.toml
  V/VegaLite/Versions.toml
Labels: minor release

#35842 New version: DitherPunk v0.2.3
  D/DitherPunk/Compat.toml
  D/DitherPunk/Versions.toml
Labels: patch release

#35843 New version: MonteCarloMeasurements v0.10.3
  M/MonteCarloMeasurements/Compat.toml
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#35844 New version: Grassmann v0.7.4
  G/Grassmann/Versions.toml
Labels: patch release

#35845 New version: CamiXon v1.3.6
  C/CamiXon/Versions.toml
Labels: patch release

#35846 New version: BlobTracking v0.1.6
  B/BlobTracking/Compat.toml
  B/BlobTracking/Versions.toml
Labels: patch release

#35847 New version: LocalRegistry v0.3.3
  L/LocalRegistry/Compat.toml
  L/LocalRegistry/Versions.toml
Labels: patch release

#35848 New version: GridVisualize v0.2.1
  G/GridVisualize/Versions.toml
Labels: patch release

#35849 New version: VoronoiFVM v0.11.5
  V/VoronoiFVM/Compat.toml
  V/VoronoiFVM/Versions.toml
Labels: patch release

#35850 New version: Pluto v0.14.5
  P/Pluto/Versions.toml
Labels: patch release

#35852 New version: PlutoSliderServer v0.2.2
  P/PlutoSliderServer/Compat.toml
  P/PlutoSliderServer/Versions.toml
Labels: patch release

#35851 New version: CamiXon v1.3.7
  C/CamiXon/Versions.toml
Labels: patch release

#35686 New package: PhylogeneticFactorAnalysis v0.1.1
  P/PhylogeneticFactorAnalysis/Compat.toml
  P/PhylogeneticFactorAnalysis/Deps.toml
  P/PhylogeneticFactorAnalysis/Package.toml
  P/PhylogeneticFactorAnalysis/Versions.toml
  Registry.toml
Labels: new package

#35853 New version: FinEtools v5.1.6
  F/FinEtools/Versions.toml
Labels: patch release

#35854 New version: NiLangCore v0.9.0
  N/NiLangCore/Versions.toml
Labels: BREAKING, minor release

#35826 New version: DoubleFloats v1.1.21
  D/DoubleFloats/Versions.toml
Labels: patch release

#35856 New version: ProgressMeter v1.6.0
  P/ProgressMeter/Versions.toml
Labels: minor release

#35857 New version: Fermionic v1.3.1
  F/Fermionic/Versions.toml
Labels: patch release

#35858 New version: HTTP v0.9.8
  H/HTTP/Compat.toml
  H/HTTP/Versions.toml
Labels: patch release

#35859 New version: OrdinaryDiffEq v5.53.0
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#35689 New package: OpenEXR v0.1.0
  O/OpenEXR/Compat.toml
  O/OpenEXR/Deps.toml
  O/OpenEXR/Package.toml
  O/OpenEXR/Versions.toml
  Registry.toml
Labels: new package

#35860 New version: DynamicGridsGtk v0.5.10
  D/DynamicGridsGtk/Compat.toml
  D/DynamicGridsGtk/Versions.toml
Labels: patch release

#35861 New version: DynamicGrids v0.18.1
  D/DynamicGrids/Versions.toml
Labels: patch release

#35866 New version: Mixtape v0.2.8
  M/Mixtape/Versions.toml
Labels: patch release

#35697 New package: YaoHIR v0.1.0
  Registry.toml
  Y/YaoHIR/Compat.toml
  Y/YaoHIR/Deps.toml
  Y/YaoHIR/Package.toml
  Y/YaoHIR/Versions.toml
Labels: new package

#35867 New version: MLJ v0.16.3
  M/MLJ/Compat.toml
  M/MLJ/Versions.toml
Labels: patch release

#35868 New version: StochasticDiffEq v6.33.2
  S/StochasticDiffEq/Compat.toml
  S/StochasticDiffEq/Deps.toml
  S/StochasticDiffEq/Versions.toml
Labels: patch release

#35869 New version: DelayDiffEq v5.30.0
  D/DelayDiffEq/Compat.toml
  D/DelayDiffEq/Versions.toml
Labels: minor release

#35870 New version: Mixtape v0.2.9
  M/Mixtape/Versions.toml
Labels: patch release

#35872 New version: DimensionalData v0.17.4
  D/DimensionalData/Versions.toml
Labels: patch release

#35873 New version: NiLangCore v0.9.1
  N/NiLangCore/Versions.toml
Labels: patch release

#35874 New version: BumpStdlibs v3.1.0
  B/BumpStdlibs/Versions.toml
Labels: minor release

#35875 New version: DynamicGrids v0.18.2
  D/DynamicGrids/Compat.toml
  D/DynamicGrids/Versions.toml
Labels: patch release

#35876 New version: ComponentArrays v0.9.6
  C/ComponentArrays/Versions.toml
Labels: patch release

#35878 New version: Lerche v0.4.3
  L/Lerche/Versions.toml
Labels: patch release

#35879 New version: Tensorial v0.5.3
  T/Tensorial/Versions.toml
Labels: patch release

#35881 New version: KernelDensity v0.6.3
  K/KernelDensity/Compat.toml
  K/KernelDensity/Versions.toml
Labels: patch release

#35882 New version: MultiscaleGraphSignalTransforms v1.5.1
  M/MultiscaleGraphSignalTransforms/Compat.toml
  M/MultiscaleGraphSignalTransforms/Versions.toml
Labels: patch release

#35883 New version: LoopVectorization v0.12.15
  L/LoopVectorization/Versions.toml
Labels: patch release

#35884 New version: LowLevelParticleFilters v1.0.5
  L/LowLevelParticleFilters/Compat.toml
  L/LowLevelParticleFilters/Versions.toml
Labels: patch release

#35885 New version: CausalInference v0.5.7
  C/CausalInference/Compat.toml
  C/CausalInference/Versions.toml
Labels: patch release

#35702 New package: OrthoMatchingPursuit v0.2.0
  O/OrthoMatchingPursuit/Compat.toml
  O/OrthoMatchingPursuit/Deps.toml
  O/OrthoMatchingPursuit/Package.toml
  O/OrthoMatchingPursuit/Versions.toml
  Registry.toml
Labels: new package

#35889 Remove a cron job
  .github/workflows/ci.yml
Labels: CI

#35887 New version: ValueShapes v0.8.3
  V/ValueShapes/Compat.toml
  V/ValueShapes/Versions.toml
Labels: patch release

#35891 Some more manifest management and manifest permissions fixes
  .github/workflows/TagBotTriggers.yml
  .github/workflows/automerge.yml
  .github/workflows/automerge_staging.yml
  .github/workflows/ci.yml
Labels: CI

#35818 New version: MPIFiles v0.11.5
  M/MPIFiles/Deps.toml
  M/MPIFiles/Versions.toml
Labels: patch release

#35892 Use a single PR to update all manifest files
  .github/workflows/update_manifests.yml
  .gitignore
Labels: CI

#35895 Update Manifests: use the TagBot PAT
  .github/workflows/update_manifests.yml
Labels: CI

#35893 New version: StrideArraysCore v0.1.6
  S/StrideArraysCore/Versions.toml
Labels: patch release

#35894 New version: EllipticalSliceSampling v0.4.3
  E/EllipticalSliceSampling/Compat.toml
  E/EllipticalSliceSampling/Versions.toml
Labels: patch release

#35896 [CI] Fix a bug
  .github/workflows/update_manifests.yml
Labels: CI

#35897 New version: Equate v0.1.8
  E/Equate/Compat.toml
  E/Equate/Deps.toml
  E/Equate/Versions.toml
Labels: patch release

#35900 New version: CalibrationErrorsDistributions v0.2.2
  C/CalibrationErrorsDistributions/Compat.toml
  C/CalibrationErrorsDistributions/Versions.toml
Labels: patch release

#35901 New version: CalibrationTests v0.5.3
  C/CalibrationTests/Compat.toml
  C/CalibrationTests/Deps.toml
  C/CalibrationTests/Versions.toml
Labels: patch release

#35904 New version: AugmentedGaussianProcesses v0.10.4
  A/AugmentedGaussianProcesses/Compat.toml
  A/AugmentedGaussianProcesses/Versions.toml
Labels: patch release

#35898 Fix some bugs in the manifest updater
  .github/workflows/update_manifests.yml
Labels: CI

#35907 New version: DynamicGridsInteract v0.5.5
  D/DynamicGridsInteract/Compat.toml
  D/DynamicGridsInteract/Versions.toml
Labels: patch release

#35908 New version: Distances v0.10.3
  D/Distances/Compat.toml
  D/Distances/Deps.toml
  D/Distances/Versions.toml
Labels: patch release

#35913 New version: DitherPunk v0.2.4
  D/DitherPunk/Compat.toml
  D/DitherPunk/Deps.toml
  D/DitherPunk/Versions.toml
Labels: patch release

#35707 New package: MPIAsyncPools v0.1.0
  M/MPIAsyncPools/Compat.toml
  M/MPIAsyncPools/Deps.toml
  M/MPIAsyncPools/Package.toml
  M/MPIAsyncPools/Versions.toml
  Registry.toml
Labels: new package

#35919 New version: GeoData v0.4.1
  G/GeoData/Compat.toml
  G/GeoData/Versions.toml
Labels: patch release

#35921 New version: MPIFiles v0.11.6
  M/MPIFiles/Versions.toml
Labels: patch release

#35911 New version: CamiXon v1.3.8
  C/CamiXon/Compat.toml
  C/CamiXon/Deps.toml
  C/CamiXon/Versions.toml
Labels: patch release

#35922 New version: SequentialSamplingModels v0.1.4
  S/SequentialSamplingModels/Compat.toml
  S/SequentialSamplingModels/Versions.toml
Labels: patch release

#35924 New version: FFTDists v0.1.1
  F/FFTDists/Compat.toml
  F/FFTDists/Versions.toml
Labels: patch release

#35925 New version: ACTRModels v0.6.11
  A/ACTRModels/Compat.toml
  A/ACTRModels/Versions.toml
Labels: patch release

#35926 New version: HypothesisTests v0.10.4
  H/HypothesisTests/Compat.toml
  H/HypothesisTests/Versions.toml
Labels: patch release

#35927 New version: WGLMakie v0.3.5
  W/WGLMakie/Compat.toml
  W/WGLMakie/Versions.toml
Labels: patch release

#35918 New version: CamiXon v1.3.9
  C/CamiXon/Versions.toml
Labels: patch release

#35928 New version: StaticWebPages v0.2.7
  S/StaticWebPages/Compat.toml
  S/StaticWebPages/Versions.toml
Labels: patch release
