Repository JuliaRegistries/General, pull requests merged in 2021-01, with the labels that each got.

#27153 New version: DiffEqBase v6.53.2
  D/DiffEqBase/Versions.toml
Labels: patch release

#27031 New package: TracedSample v0.1.0
  Registry.toml
  T/TracedSample/Compat.toml
  T/TracedSample/Deps.toml
  T/TracedSample/Package.toml
  T/TracedSample/Versions.toml
Labels: new package

#27155 New version: DiffEqBase v6.53.3
  D/DiffEqBase/Versions.toml
Labels: patch release

#27154 New version: FFTW v1.3.0
  F/FFTW/Compat.toml
  F/FFTW/Versions.toml
Labels: minor release

#27156 New version: ModifiedHankelFunctionsOfOrderOneThird v1.1.1
  M/ModifiedHankelFunctionsOfOrderOneThird/Compat.toml
  M/ModifiedHankelFunctionsOfOrderOneThird/Deps.toml
  M/ModifiedHankelFunctionsOfOrderOneThird/Versions.toml
Labels: patch release

#27157 New version: ArrayInterface v2.14.12
  A/ArrayInterface/Versions.toml
Labels: patch release

#27158 New version: SLEEFPirates v0.6.3
  S/SLEEFPirates/Versions.toml
Labels: patch release

#27159 New version: VectorizationBase v0.14.11
  V/VectorizationBase/Versions.toml
Labels: patch release

#27160 New version: DiffEqParamEstim v1.19.1
  D/DiffEqParamEstim/Versions.toml
Labels: patch release

#27161 New version: TestImages v1.4.0
  T/TestImages/Versions.toml
Labels: minor release

#27162 New version: FFTW v1.3.1
  F/FFTW/Compat.toml
  F/FFTW/Versions.toml
Labels: patch release

#27163 New version: ACTRModels v0.6.1
  A/ACTRModels/Versions.toml
Labels: patch release

#27164 New version: LoopVectorization v0.9.15
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#27166 New version: NonlinearSolve v0.3.4
  N/NonlinearSolve/Compat.toml
  N/NonlinearSolve/Versions.toml
Labels: patch release

#27167 New version: RecursiveArrayTools v2.9.0
  R/RecursiveArrayTools/Compat.toml
  R/RecursiveArrayTools/Versions.toml
Labels: minor release

#27043 New package: AxisArrayConversion v0.1.0
  A/AxisArrayConversion/Compat.toml
  A/AxisArrayConversion/Deps.toml
  A/AxisArrayConversion/Package.toml
  A/AxisArrayConversion/Versions.toml
  Registry.toml
Labels: new package

#27169 New version: ChainRules v0.7.42
  C/ChainRules/Compat.toml
  C/ChainRules/Versions.toml
Labels: patch release

#27168 New version: RiskAdjustedLinearizations v0.5.3
  R/RiskAdjustedLinearizations/Versions.toml
Labels: patch release

#27054 New package: AutoGainCtrl v0.1.1
  A/AutoGainCtrl/Compat.toml
  A/AutoGainCtrl/Deps.toml
  A/AutoGainCtrl/Package.toml
  A/AutoGainCtrl/Versions.toml
  Registry.toml
Labels: new package

#27170 New version: TuringModels v1.1.2
  T/TuringModels/Versions.toml
Labels: patch release

#27171 New version: LegendrePolynomials v0.3.0
  L/LegendrePolynomials/Compat.toml
  L/LegendrePolynomials/Deps.toml
  L/LegendrePolynomials/Versions.toml
Labels: BREAKING, minor release

#27172 New version: CitableBase v1.1.0
  C/CitableBase/Versions.toml
Labels: minor release

#27059 New package: DAMMmodel v0.1.0
  D/DAMMmodel/Compat.toml
  D/DAMMmodel/Deps.toml
  D/DAMMmodel/Package.toml
  D/DAMMmodel/Versions.toml
  Registry.toml
Labels: new package

#27174 New version: DiffEqBase v6.53.4
  D/DiffEqBase/Compat.toml
  D/DiffEqBase/Versions.toml
Labels: patch release

#27175 New version: DiscreteEventsLite v0.1.1
  D/DiscreteEventsLite/Versions.toml
Labels: patch release

#27177 New version: Distributions v0.24.9
  D/Distributions/Compat.toml
  D/Distributions/Deps.toml
  D/Distributions/Versions.toml
Labels: patch release

#27178 New version: XLSXasJSON v0.4.0
  X/XLSXasJSON/Compat.toml
  X/XLSXasJSON/Versions.toml
Labels: BREAKING, minor release

#27179 New version: OrdinaryDiffEq v5.47.1
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#27181 New version: StatisticalRethinking v3.1.8
  S/StatisticalRethinking/Versions.toml
Labels: patch release

#27182 New version: ExtendableGrids v0.6.2
  E/ExtendableGrids/Versions.toml
Labels: patch release

#27074 New package: BellScenario v0.1.0
  B/BellScenario/Compat.toml
  B/BellScenario/Deps.toml
  B/BellScenario/Package.toml
  B/BellScenario/Versions.toml
  Registry.toml
Labels: new package

#27183 New version: DynamicPPL v0.10.4
  D/DynamicPPL/Versions.toml
Labels: patch release

#27075 New package: TimeSpans v0.1.0
  Registry.toml
  T/TimeSpans/Compat.toml
  T/TimeSpans/Deps.toml
  T/TimeSpans/Package.toml
  T/TimeSpans/Versions.toml
Labels: new package

#27076 New package: MultidimensionalTools v0.1.0
  M/MultidimensionalTools/Compat.toml
  M/MultidimensionalTools/Deps.toml
  M/MultidimensionalTools/Package.toml
  M/MultidimensionalTools/Versions.toml
  Registry.toml
Labels: new package

#27184 New version: Polymake v0.5.4
  P/Polymake/Compat.toml
  P/Polymake/Versions.toml
Labels: patch release

#27185 New version: Catlab v0.10.1
  C/Catlab/Compat.toml
  C/Catlab/Versions.toml
Labels: patch release

#27188 New version: DynamicPPL v0.10.5
  D/DynamicPPL/Versions.toml
Labels: patch release

#27070 New version: ZhuyinPinyin v1.0.0
  Z/ZhuyinPinyin/Compat.toml
  Z/ZhuyinPinyin/Deps.toml
  Z/ZhuyinPinyin/Versions.toml
Labels: BREAKING, major release

#27190 New version: JuliaFormatter v0.12.0
  J/JuliaFormatter/Versions.toml
Labels: BREAKING, minor release

#27191 New version: ModelingToolkit v4.4.3
  M/ModelingToolkit/Versions.toml
Labels: patch release

#27195 New version: Gaius v0.3.4
  G/Gaius/Versions.toml
Labels: patch release

#27194 New version: CodingTheory v0.2.2
  C/CodingTheory/Compat.toml
  C/CodingTheory/Deps.toml
  C/CodingTheory/Versions.toml
Labels: patch release

#27196 New version: Hyperopt v0.4.0
  H/Hyperopt/Compat.toml
  H/Hyperopt/Deps.toml
  H/Hyperopt/Versions.toml
Labels: BREAKING, minor release

#27197 New version: MethodAnalysis v0.4.4
  M/MethodAnalysis/Versions.toml
Labels: patch release

#27198 New version: RadiationSpectra v0.4.2
  R/RadiationSpectra/Compat.toml
  R/RadiationSpectra/Versions.toml
Labels: patch release

#27199 New version: ACTRModels v0.6.2
  A/ACTRModels/Versions.toml
Labels: patch release

#27203 New version: BrainFlow v3.8.1
  B/BrainFlow/Versions.toml
Labels: patch release

#27204 New version: LoopVectorization v0.9.16
  L/LoopVectorization/Versions.toml
Labels: patch release

#27205 New version: Distributions v0.24.10
  D/Distributions/Versions.toml
Labels: patch release

#27206 New version: Diagonalizations v0.2.0
  D/Diagonalizations/Compat.toml
  D/Diagonalizations/Versions.toml
Labels: BREAKING, minor release

#27093 New package: AStarSearch v0.1.2
  A/AStarSearch/Compat.toml
  A/AStarSearch/Deps.toml
  A/AStarSearch/Package.toml
  A/AStarSearch/Versions.toml
  Registry.toml
Labels: new package

#27210 New version: GeoArrays v0.3.4
  G/GeoArrays/Compat.toml
  G/GeoArrays/Versions.toml
Labels: patch release

#27211 New version: FourierAnalysis v1.1.1
  F/FourierAnalysis/Compat.toml
  F/FourierAnalysis/Versions.toml
Labels: patch release

#27212 New version: PosDefManifoldML v0.4.4
  P/PosDefManifoldML/Compat.toml
  P/PosDefManifoldML/Versions.toml
Labels: patch release

#27215 New version: AlphaVantage v0.2.2
  A/AlphaVantage/Versions.toml
Labels: patch release

#27216 New version: NMFk v1.1.11
  N/NMFk/Versions.toml
Labels: patch release

#27217 New version: ReactionNetworkImporters v0.4.0
  R/ReactionNetworkImporters/Compat.toml
  R/ReactionNetworkImporters/Versions.toml
Labels: BREAKING, minor release

#27218 New version: TetGen v1.1.1
  T/TetGen/Compat.toml
  T/TetGen/Versions.toml
Labels: patch release

#27219 New version: SimplexGridFactory v0.3.1
  S/SimplexGridFactory/Compat.toml
  S/SimplexGridFactory/Versions.toml
Labels: patch release

#27220 New version: MetaGraphsNext v0.1.1
  M/MetaGraphsNext/Compat.toml
  M/MetaGraphsNext/Versions.toml
Labels: patch release

#27221 New version: Counters v0.3.1
  C/Counters/Versions.toml
Labels: patch release

#27113 New package: CitableText v0.1.0
  C/CitableText/Compat.toml
  C/CitableText/Deps.toml
  C/CitableText/Package.toml
  C/CitableText/Versions.toml
  Registry.toml
Labels: new package

#27222 New version: AbstractTensors v0.6.4
  A/AbstractTensors/Versions.toml
Labels: patch release

#27224 New version: Controlz v0.2.0
  C/Controlz/Compat.toml
  C/Controlz/Deps.toml
  C/Controlz/Versions.toml
Labels: BREAKING, minor release

#27123 New package: ParameterSchedulers v0.1.0
  P/ParameterSchedulers/Compat.toml
  P/ParameterSchedulers/Deps.toml
  P/ParameterSchedulers/Package.toml
  P/ParameterSchedulers/Versions.toml
  Registry.toml
Labels: new package

#27225 New version: PosDefManifold v0.4.9
  P/PosDefManifold/Versions.toml
Labels: patch release

#27226 New version: ApplicationBuilder v0.4.1
  A/ApplicationBuilder/Compat.toml
  A/ApplicationBuilder/Deps.toml
  A/ApplicationBuilder/Versions.toml
Labels: patch release

#27228 New version: RigidBodyTools v0.1.7
  R/RigidBodyTools/Versions.toml
Labels: patch release

#27229 New version: CartesianGrids v0.1.7
  C/CartesianGrids/Compat.toml
  C/CartesianGrids/Versions.toml
Labels: patch release

#27231 New version: JuliaZH v1.5.4
  J/JuliaZH/Versions.toml
Labels: patch release

#27232 New version: Atom v0.12.29
  A/Atom/Compat.toml
  A/Atom/Versions.toml
Labels: patch release

#27233 New version: CitableText v0.1.1
  C/CitableText/Compat.toml
  C/CitableText/Versions.toml
Labels: patch release

#27234 New version: Atom v0.12.30
  A/Atom/Versions.toml
Labels: patch release

#27236 New version: ReplicateBE v1.0.12
  R/ReplicateBE/Compat.toml
  R/ReplicateBE/Versions.toml
Labels: patch release

#27237 New version: OffsetArrays v1.4.3
  O/OffsetArrays/Versions.toml
Labels: patch release

#27238 New version: ArrayInterface v2.14.13
  A/ArrayInterface/Versions.toml
Labels: patch release

#27239 New version: Chain v0.4.2
  C/Chain/Versions.toml
Labels: patch release

#27241 New version: LinRegOutliers v0.8.4
  L/LinRegOutliers/Versions.toml
Labels: patch release

#27242 New version: Arblib v0.3.0
  A/Arblib/Compat.toml
  A/Arblib/Versions.toml
Labels: BREAKING, minor release

#27243 New version: NewickTree v0.2.2
  N/NewickTree/Versions.toml
Labels: patch release

#27244 New version: TimeSpans v0.2.0
  T/TimeSpans/Versions.toml
Labels: BREAKING, minor release

#27245 New version: DataEnvelopmentAnalysis v0.2.0
  D/DataEnvelopmentAnalysis/Compat.toml
  D/DataEnvelopmentAnalysis/Versions.toml
Labels: BREAKING, minor release

#27247 New version: ConstrainedSystems v0.2.2
  C/ConstrainedSystems/Compat.toml
  C/ConstrainedSystems/Versions.toml
Labels: patch release

#27249 New version: Batsrus v0.2.1
  B/Batsrus/Versions.toml
Labels: patch release

#27250 New version: FiniteDifferences v0.11.6
  F/FiniteDifferences/Versions.toml
Labels: patch release

#27251 New version: KitBase v0.3.1
  K/KitBase/Compat.toml
  K/KitBase/Deps.toml
  K/KitBase/Versions.toml
Labels: patch release

#27252 New version: Bootstrap v2.3.0
  B/Bootstrap/Compat.toml
  B/Bootstrap/Versions.toml
Labels: minor release

#27253 New version: DiffEqSensitivity v6.39.0
  D/DiffEqSensitivity/Versions.toml
Labels: minor release

#27254 New version: JuliaFormatter v0.12.1
  J/JuliaFormatter/Versions.toml
Labels: patch release

#27255 New version: LibGEOS v0.6.7
  L/LibGEOS/Compat.toml
  L/LibGEOS/Versions.toml
Labels: patch release

#27256 New version: Proj4 v0.7.3
  P/Proj4/Compat.toml
  P/Proj4/Versions.toml
Labels: patch release

#27257 New version: GDAL v1.2.0
  G/GDAL/Compat.toml
  G/GDAL/Versions.toml
Labels: minor release

#27258 New version: AbstractPlotting v0.15.0
  A/AbstractPlotting/Versions.toml
Labels: BREAKING, minor release

#27259 New version: CitableText v0.2.0
  C/CitableText/Compat.toml
  C/CitableText/Deps.toml
  C/CitableText/Versions.toml
Labels: BREAKING, minor release

#27261 New version: GLMakie v0.1.23
  G/GLMakie/Compat.toml
  G/GLMakie/Versions.toml
Labels: patch release

#27262 New version: CairoMakie v0.3.10
  C/CairoMakie/Compat.toml
  C/CairoMakie/Versions.toml
Labels: patch release

#27263 New version: JuliaFormatter v0.12.2
  J/JuliaFormatter/Versions.toml
Labels: patch release

#27265 New version: Bootstrap v2.3.1
  B/Bootstrap/Versions.toml
Labels: patch release

#27266 New version: Leibniz v0.1.3
  L/Leibniz/Versions.toml
Labels: patch release

#26943 New package: ROS v0.2.0
  R/ROS/Compat.toml
  R/ROS/Deps.toml
  R/ROS/Package.toml
  R/ROS/Versions.toml
  Registry.toml
Labels: new package

#27264 New version: WGLMakie v0.2.12
  W/WGLMakie/Compat.toml
  W/WGLMakie/Versions.toml
Labels: patch release

#27267 New version: DirectSum v0.7.5
  D/DirectSum/Versions.toml
Labels: patch release

#27270 New version: VectorizationBase v0.14.12
  V/VectorizationBase/Versions.toml
Labels: patch release

#27275 New version: CGAL v0.4.0
  C/CGAL/Compat.toml
  C/CGAL/Versions.toml
Labels: BREAKING, minor release

#27274 New version: HCIToolbox v0.5.3
  H/HCIToolbox/Versions.toml
Labels: patch release

#27144 New version: StackedHourglass v0.1.4
  S/StackedHourglass/Compat.toml
  S/StackedHourglass/Deps.toml
  S/StackedHourglass/Versions.toml
Labels: patch release

#27276 New version: MLJModelInterface v0.3.7
  M/MLJModelInterface/Versions.toml
Labels: patch release

#27277 New version: OffsetArrays v1.4.4
  O/OffsetArrays/Versions.toml
Labels: patch release

#27278 New version: RoME v0.11.2
  R/RoME/Compat.toml
  R/RoME/Versions.toml
Labels: patch release

#27279 New version: IncrementalInference v0.20.0
  I/IncrementalInference/Versions.toml
Labels: BREAKING, minor release

#27280 New version: RuntimeGeneratedFunctions v0.5.0
  R/RuntimeGeneratedFunctions/Versions.toml
Labels: BREAKING, minor release

#27281 New version: Constraints v0.1.3
  C/Constraints/Versions.toml
Labels: patch release

#27282 New version: LLVM v3.5.2
  L/LLVM/Versions.toml
Labels: patch release

#27283 New version: LocalSearchSolvers v0.1.4
  L/LocalSearchSolvers/Compat.toml
  L/LocalSearchSolvers/Versions.toml
Labels: patch release

#27284 New version: Tracker v0.2.14
  T/Tracker/Versions.toml
Labels: patch release

#27285 Test out the "stopwatch" functionality
  .github/workflows/automerge.yml
Labels: continuous integration (ci)

#27286 More stopwatch experiments
  .ci/Project.toml
  .ci/stopwatch.jl
  .github/workflows/automerge.yml
Labels: continuous integration (ci)

#27287 New version: GAMS v0.1.5
  G/GAMS/Versions.toml
Labels: patch release

#27288 New version: ExpFamilyDistributions v0.3.1
  E/ExpFamilyDistributions/Versions.toml
Labels: patch release

#27165 New package: CorrDCA v0.1.0
  C/CorrDCA/Compat.toml
  C/CorrDCA/Deps.toml
  C/CorrDCA/Package.toml
  C/CorrDCA/Versions.toml
  Registry.toml
Labels: new package

#27289 New version: LoopVectorization v0.9.17
  L/LoopVectorization/Versions.toml
Labels: patch release

#27291 New version: AbstractPlotting v0.15.1
  A/AbstractPlotting/Versions.toml
Labels: patch release

#27293 New version: WordCloud v0.2.6
  W/WordCloud/Versions.toml
Labels: patch release

#27294 New version: NeuralPDE v3.3.0
  N/NeuralPDE/Compat.toml
  N/NeuralPDE/Versions.toml
Labels: minor release

#27295 New version: DiffEqOperators v4.18.0
  D/DiffEqOperators/Compat.toml
  D/DiffEqOperators/Versions.toml
Labels: minor release

#27297 New version: Adapt v2.4.0
  A/Adapt/Versions.toml
Labels: minor release

#27298 New version: KitBase v0.3.2
  K/KitBase/Compat.toml
  K/KitBase/Versions.toml
Labels: patch release

#27296 New version: ROS v0.2.2
  R/ROS/Versions.toml
Labels: patch release

#27299 New version: SymPy v1.0.37
  S/SymPy/Deps.toml
  S/SymPy/Versions.toml
Labels: patch release

#27302 New version: AStarSearch v0.2.0
  A/AStarSearch/Versions.toml
Labels: BREAKING, minor release

#27303 New version: QuantumOptics v0.8.3
  Q/QuantumOptics/Compat.toml
  Q/QuantumOptics/Versions.toml
Labels: patch release

#27304 New version: MultiDimEquations v2.0.0
  M/MultiDimEquations/Compat.toml
  M/MultiDimEquations/Deps.toml
  M/MultiDimEquations/Versions.toml
Labels: BREAKING, major release

#26026 New package: NonlinearSolvers v0.1.0
  N/NonlinearSolvers/Compat.toml
  N/NonlinearSolvers/Deps.toml
  N/NonlinearSolvers/Package.toml
  N/NonlinearSolvers/Versions.toml
  Registry.toml
Labels: new package

#27306 New version: MultiDimEquations v2.0.1
  M/MultiDimEquations/Versions.toml
Labels: patch release

#27308 New version: GRIB v0.3.0
  G/GRIB/Compat.toml
  G/GRIB/Versions.toml
Labels: BREAKING, minor release

#27309 New version: TableView v0.6.3
  T/TableView/Versions.toml
Labels: patch release

#27311 New version: PowerModelsSecurityConstrained v0.7.1
  P/PowerModelsSecurityConstrained/Versions.toml
Labels: patch release

#27312 New version: ModelConstructors v0.2.0
  M/ModelConstructors/Compat.toml
  M/ModelConstructors/Deps.toml
  M/ModelConstructors/Versions.toml
Labels: BREAKING, minor release

#27176 New package: IJuliaTimeMachine v0.1.0
  I/IJuliaTimeMachine/Compat.toml
  I/IJuliaTimeMachine/Deps.toml
  I/IJuliaTimeMachine/Package.toml
  I/IJuliaTimeMachine/Versions.toml
  Registry.toml
Labels: name approved, needs to be manually merged in 3 days, new package

#27317 New version: ModelConstructors v0.2.1
  M/ModelConstructors/Compat.toml
  M/ModelConstructors/Versions.toml
Labels: patch release

#27318 New version: KitML v0.1.1
  K/KitML/Compat.toml
  K/KitML/Deps.toml
  K/KitML/Versions.toml
Labels: patch release

#27319 New version: GenParticleFilters v0.1.1
  G/GenParticleFilters/Compat.toml
  G/GenParticleFilters/Versions.toml
Labels: patch release

#27320 New version: NMFk v1.1.12
  N/NMFk/Versions.toml
Labels: patch release

#27322 New version: ResumableFunctions v0.6.0
  R/ResumableFunctions/Versions.toml
Labels: BREAKING, minor release

#27323 New version: QWTWPlot v1.1.0
  Q/QWTWPlot/Deps.toml
  Q/QWTWPlot/Versions.toml
Labels: minor release

#27324 New version: KahanSummation v0.2.0
  K/KahanSummation/Deps.toml
  K/KahanSummation/Versions.toml
Labels: BREAKING, minor release

#27187 New package: CitableObject v0.1.0
  C/CitableObject/Compat.toml
  C/CitableObject/Deps.toml
  C/CitableObject/Package.toml
  C/CitableObject/Versions.toml
  Registry.toml
Labels: new package

#27325 New version: SoilPlantAirContinuum v0.1.5
  S/SoilPlantAirContinuum/Compat.toml
  S/SoilPlantAirContinuum/Deps.toml
  S/SoilPlantAirContinuum/Versions.toml
Labels: patch release

#27326 New version: BinaryDecisionDiagrams v0.1.5
  B/BinaryDecisionDiagrams/Versions.toml
Labels: patch release

#27327 New version: ImmersedLayers v0.1.2
  I/ImmersedLayers/Compat.toml
  I/ImmersedLayers/Versions.toml
Labels: patch release
