Repository JuliaRegistries/General, pull requests merged in 2022-09, with the labels that each got.

#67472 New version: XLSX v0.8.3
  X/XLSX/Versions.toml
Labels: patch release

#67473 New version: Earth2014 v0.1.1
  E/Earth2014/Compat.toml
  E/Earth2014/Versions.toml
Labels: patch release

#67466 New version: CSetAutomorphisms v0.1.1
  C/CSetAutomorphisms/Compat.toml
  C/CSetAutomorphisms/Deps.toml
  C/CSetAutomorphisms/Versions.toml
Labels: patch release

#67474 New version: AlgebraicRewriting v0.0.2
  A/AlgebraicRewriting/Compat.toml
  A/AlgebraicRewriting/Deps.toml
  A/AlgebraicRewriting/Versions.toml
Labels: BREAKING, patch release

#67476 New version: Lux v0.4.19
  L/Lux/Versions.toml
Labels: patch release

#67477 New version: AlgebraicRewriting v0.0.3
  A/AlgebraicRewriting/Versions.toml
Labels: BREAKING, patch release

#67478 New version: BrainFlow v5.2.1
  B/BrainFlow/Versions.toml
Labels: patch release

#67480 New version: LinearSolve v1.26.0
  L/LinearSolve/Versions.toml
Labels: minor release

#67481 New version: Pavito v0.3.6
  P/Pavito/Versions.toml
Labels: patch release

#67482 New version: MixedModels v4.7.1
  M/MixedModels/Versions.toml
Labels: patch release

#67485 New version: DFControl v0.5.2
  D/DFControl/Versions.toml
Labels: patch release

#67486 New version: FMICore v0.11.0
  F/FMICore/Versions.toml
Labels: BREAKING, minor release

#67487 New version: FMIZoo v0.2.1
  F/FMIZoo/Compat.toml
  F/FMIZoo/Versions.toml
Labels: patch release

#66925 New package: Luna v0.1.4
  L/Luna/Compat.toml
  L/Luna/Deps.toml
  L/Luna/Package.toml
  L/Luna/Versions.toml
  Registry.toml
Labels: new package

#67488 New version: TrainRuns v1.0.2
  T/TrainRuns/Versions.toml
Labels: patch release

#67490 New version: FMIExport v0.1.7
  F/FMIExport/Compat.toml
  F/FMIExport/Versions.toml
Labels: patch release

#67492 New version: FMIBuild v0.1.6
  F/FMIBuild/Compat.toml
  F/FMIBuild/Versions.toml
Labels: patch release

#67493 New version: Wflow v0.6.2
  W/Wflow/Compat.toml
  W/Wflow/Deps.toml
  W/Wflow/Versions.toml
Labels: patch release

#67494 New version: DynamicHMC v3.3.0
  D/DynamicHMC/Compat.toml
  D/DynamicHMC/Deps.toml
  D/DynamicHMC/Versions.toml
Labels: minor release

#67495 New version: ReactionCommons v0.1.1
  R/ReactionCommons/Versions.toml
Labels: patch release

#67496 New version: NLboxsolve v0.4.7
  N/NLboxsolve/Versions.toml
Labels: patch release

#67497 New version: FMIImport v0.11.0
  F/FMIImport/Compat.toml
  F/FMIImport/Versions.toml
Labels: BREAKING, minor release

#67498 New version: ChargeTransport v0.1.8
  C/ChargeTransport/Versions.toml
Labels: patch release

#67499 New version: FMI v0.10.0
  F/FMI/Compat.toml
  F/FMI/Deps.toml
  F/FMI/Versions.toml
Labels: BREAKING, minor release

#67271 New package: ChebyshevTransforms v0.0.1
  C/ChebyshevTransforms/Compat.toml
  C/ChebyshevTransforms/Deps.toml
  C/ChebyshevTransforms/Package.toml
  C/ChebyshevTransforms/Versions.toml
  Registry.toml
Labels: new package

#67503 New version: PGFPlotsX v1.5.1
  P/PGFPlotsX/Compat.toml
  P/PGFPlotsX/Versions.toml
Labels: patch release

#67504 New version: Permanents v0.2.0
  P/Permanents/Compat.toml
  P/Permanents/Deps.toml
  P/Permanents/Versions.toml
Labels: BREAKING, minor release

#67507 New version: PlantBiophysics v0.4.4
  P/PlantBiophysics/Versions.toml
Labels: patch release

#67508 New version: EvoDynamics v0.15.0
  E/EvoDynamics/Versions.toml
Labels: BREAKING, minor release

#67509 New version: Measurements v2.8.0
  M/Measurements/Versions.toml
Labels: minor release

#67511 New version: DCISolver v0.3.2
  D/DCISolver/Compat.toml
  D/DCISolver/Versions.toml
Labels: patch release

#67512 New version: PlutoUI v0.7.40
  P/PlutoUI/Versions.toml
Labels: patch release

#67513 New version: AbstractPDEInterfaces v0.1.5
  A/AbstractPDEInterfaces/Versions.toml
Labels: patch release

#67514 New version: BSeries v0.1.33
  B/BSeries/Versions.toml
Labels: patch release

#67516 New version: StableHashTraits v0.2.0
  S/StableHashTraits/Compat.toml
  S/StableHashTraits/Deps.toml
  S/StableHashTraits/Versions.toml
Labels: BREAKING, minor release

#67517 New version: Anneal v0.4.0
  A/Anneal/Compat.toml
  A/Anneal/Versions.toml
Labels: BREAKING, minor release

#67518 New version: SnoopCompile v2.9.3
  S/SnoopCompile/Compat.toml
  S/SnoopCompile/Deps.toml
  S/SnoopCompile/Versions.toml
Labels: patch release

#67519 New version: SimilaritySearch v0.9.5
  S/SimilaritySearch/Versions.toml
Labels: patch release

#67520 New version: AbstractPDEInterfaces v0.1.6
  A/AbstractPDEInterfaces/Versions.toml
Labels: patch release

#67521 New version: HetaSimulator v0.4.11
  H/HetaSimulator/Versions.toml
Labels: patch release

#67522 New version: Clapeyron v0.3.9
  C/Clapeyron/Versions.toml
Labels: patch release

#67515 New version: MEstimation v0.2.0
  M/MEstimation/Compat.toml
  M/MEstimation/Versions.toml
Labels: BREAKING, minor release

#67286 New package: FletcherPenaltySolver v0.1.0
  F/FletcherPenaltySolver/Compat.toml
  F/FletcherPenaltySolver/Deps.toml
  F/FletcherPenaltySolver/Package.toml
  F/FletcherPenaltySolver/Versions.toml
  Registry.toml
Labels: new package

#67523 New version: DataDeps v0.7.10
  D/DataDeps/Compat.toml
  D/DataDeps/Deps.toml
  D/DataDeps/Versions.toml
Labels: patch release

#67524 New version: FluxArchitectures v0.2.3
  F/FluxArchitectures/Versions.toml
Labels: patch release

#67526 New version: IndividualDisplacements v0.3.12
  I/IndividualDisplacements/Versions.toml
Labels: patch release

#67527 New version: Distributions v0.25.69
  D/Distributions/Versions.toml
Labels: patch release

#67528 New version: MathOptInterface v1.8.0
  M/MathOptInterface/Versions.toml
Labels: minor release

#67529 New version: AccessorsExtra v0.1.10
  A/AccessorsExtra/Compat.toml
  A/AccessorsExtra/Deps.toml
  A/AccessorsExtra/Versions.toml
Labels: patch release

#67530 New version: AzManagers v3.0.2
  A/AzManagers/Versions.toml
Labels: patch release

#67531 New version: PhysicalConstants v0.2.3
  P/PhysicalConstants/Compat.toml
  P/PhysicalConstants/Versions.toml
Labels: patch release

#67532 New version: MLJTuning v0.7.3
  M/MLJTuning/Versions.toml
Labels: patch release

#67533 New version: PowerSystems v1.24.0
  P/PowerSystems/Compat.toml
  P/PowerSystems/Versions.toml
Labels: minor release

#67538 New package: MimiGIVE v1.0.0
  M/MimiGIVE/Compat.toml
  M/MimiGIVE/Deps.toml
  M/MimiGIVE/Package.toml
  M/MimiGIVE/Versions.toml
  Registry.toml
Labels: new package

#67541 New version: Distributions v0.25.70
  D/Distributions/Versions.toml
Labels: patch release

#67542 New version: POMDPTools v0.1.1
  P/POMDPTools/Compat.toml
  P/POMDPTools/Versions.toml
Labels: patch release

#67543 New version: GLPK v1.1.0
  G/GLPK/Versions.toml
Labels: minor release

#67545 New version: PATHSolver v1.2.1
  P/PATHSolver/Versions.toml
Labels: patch release

#67546 New version: FourierFlows v0.10.0
  F/FourierFlows/Versions.toml
Labels: BREAKING, minor release

#67548 New version: Cthulhu v2.7.0
  C/Cthulhu/Versions.toml
Labels: minor release

#67549 New version: Lux v0.4.20
  L/Lux/Versions.toml
Labels: patch release

#67471 New version: Earth2014 v0.1.2
  E/Earth2014/Compat.toml
  E/Earth2014/Versions.toml
Labels: patch release

#67550 New version: Sparspak v0.2.1
  S/Sparspak/Compat.toml
  S/Sparspak/Deps.toml
  S/Sparspak/Versions.toml
Labels: patch release

#67551 New version: BSeries v0.1.34
  B/BSeries/Versions.toml
Labels: patch release

#67552 New version: PowerSystemCaseBuilder v0.5.2
  P/PowerSystemCaseBuilder/Compat.toml
  P/PowerSystemCaseBuilder/Versions.toml
Labels: patch release

#67553 New version: Bonsai v0.3.3
  B/Bonsai/Compat.toml
  B/Bonsai/Deps.toml
  B/Bonsai/Versions.toml
Labels: patch release

#67554 New version: BitemporalPostgres v1.3.0
  B/BitemporalPostgres/Compat.toml
  B/BitemporalPostgres/Versions.toml
Labels: minor release

#67555 New version: PowerSimulations v0.15.5
  P/PowerSimulations/Compat.toml
  P/PowerSimulations/Deps.toml
  P/PowerSimulations/Versions.toml
Labels: patch release

#67557 New version: PowerSimulations v0.15.6
  P/PowerSimulations/Versions.toml
Labels: patch release

#67562 New version: ControlSystems v1.3.0
  C/ControlSystems/Versions.toml
Labels: minor release

#67563 New version: LsqFit v0.13.0
  L/LsqFit/Versions.toml
Labels: BREAKING, minor release

#67564 New version: UnicodePlots v3.1.0
  U/UnicodePlots/Compat.toml
  U/UnicodePlots/Deps.toml
  U/UnicodePlots/Versions.toml
Labels: minor release

#67565 New version: FINUFFT v3.1.0
  F/FINUFFT/Versions.toml
Labels: minor release

#67566 New version: MAGEMin_C v1.2.4
  M/MAGEMin_C/Versions.toml
Labels: patch release

#67568 New version: Jutul v0.1.1
  J/Jutul/Compat.toml
  J/Jutul/Deps.toml
  J/Jutul/Versions.toml
Labels: patch release

#67570 New version: OMEinsumContractionOrders v0.8.0
  O/OMEinsumContractionOrders/Compat.toml
  O/OMEinsumContractionOrders/Versions.toml
Labels: BREAKING, minor release

#66320 New version: PyPlotUtils v0.1.14
  P/PyPlotUtils/Compat.toml
  P/PyPlotUtils/Deps.toml
  P/PyPlotUtils/Versions.toml
Labels: patch release

#67571 New version: Accessors v0.1.20
  A/Accessors/Versions.toml
Labels: patch release

#67574 New version: GraphRecipes v0.5.10
  G/GraphRecipes/Compat.toml
  G/GraphRecipes/Versions.toml
Labels: patch release

#67575 New version: ExactOptimalTransport v0.2.3
  E/ExactOptimalTransport/Compat.toml
  E/ExactOptimalTransport/Versions.toml
Labels: patch release

#67577 New version: GeophysicalFlows v0.15.0
  G/GeophysicalFlows/Compat.toml
  G/GeophysicalFlows/Versions.toml
Labels: BREAKING, minor release

#67578 New version: LibGEOS v0.7.1
  L/LibGEOS/Compat.toml
  L/LibGEOS/Deps.toml
  L/LibGEOS/Versions.toml
Labels: patch release

#67573 Fix compat for hsa_rocr_jll
  H/hsa_rocr_jll/Compat.toml
  H/hsa_rocr_jll/Deps.toml
Labels: compat fix

#67580 New version: OMEinsumContractionOrders v0.8.1
  O/OMEinsumContractionOrders/Versions.toml
Labels: patch release

#67581 New version: VisualRegressionTests v1.3.0
  V/VisualRegressionTests/Compat.toml
  V/VisualRegressionTests/Versions.toml
Labels: minor release

#67582 New version: OMEinsum v0.7.2
  O/OMEinsum/Compat.toml
  O/OMEinsum/Versions.toml
Labels: patch release

#67323 New package: OpenSSL v1.0.0
  O/OpenSSL/Compat.toml
  O/OpenSSL/Deps.toml
  O/OpenSSL/Package.toml
  O/OpenSSL/Versions.toml
  Registry.toml
Labels: new package, needs to be manually merged in 3 days, Override AutoMerge: name similarity is okay

#67585 New version: ArgumentProcessor v1.1.2
  A/ArgumentProcessor/Versions.toml
Labels: patch release

#67587 New version: OdsIO v0.6.2
  O/OdsIO/Versions.toml
Labels: patch release

#67588 New version: MCMCDiagnostics v0.4.0
  M/MCMCDiagnostics/Compat.toml
  M/MCMCDiagnostics/Deps.toml
  M/MCMCDiagnostics/Versions.toml
Labels: BREAKING, minor release

#67589 New version: WriteVTK v1.15.0
  W/WriteVTK/Versions.toml
Labels: minor release

#67590 New version: SimpleChains v0.3.0
  S/SimpleChains/Compat.toml
  S/SimpleChains/Deps.toml
  S/SimpleChains/Versions.toml
Labels: BREAKING, minor release

#67591 New version: PeriodicSchurDecompositions v0.1.1
  P/PeriodicSchurDecompositions/Versions.toml
Labels: patch release

#67593 New version: DiffEqBayesStan v3.0.0
  D/DiffEqBayesStan/Compat.toml
  D/DiffEqBayesStan/Deps.toml
  D/DiffEqBayesStan/Versions.toml
Labels: BREAKING, major release

#67594 New version: HyperDualNumbers v4.0.10
  H/HyperDualNumbers/Compat.toml
  H/HyperDualNumbers/Versions.toml
Labels: patch release

#67595 New version: ModelingToolkit v8.21.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#67596 New version: KernelFunctions v0.10.44
  K/KernelFunctions/Compat.toml
  K/KernelFunctions/Versions.toml
Labels: patch release

#67301 New package: HDMjl v0.0.1
  H/HDMjl/Compat.toml
  H/HDMjl/Deps.toml
  H/HDMjl/Package.toml
  H/HDMjl/Versions.toml
  Registry.toml
Labels: new package

#67600 New version: AStarSearch v0.6.2
  A/AStarSearch/Versions.toml
Labels: patch release

#67602 New version: DWaveNeal v0.2.1
  D/DWaveNeal/Compat.toml
  D/DWaveNeal/Versions.toml
Labels: patch release

#67367 New package: Fleetdm v1.0.0
  F/Fleetdm/Compat.toml
  F/Fleetdm/Deps.toml
  F/Fleetdm/Package.toml
  F/Fleetdm/Versions.toml
  Registry.toml
Labels: new package

#67604 New version: CloudSeis v1.8.1
  C/CloudSeis/Versions.toml
Labels: patch release

#67603 New version: MonteCarloIntegration v0.1.0
  M/MonteCarloIntegration/Compat.toml
  M/MonteCarloIntegration/Deps.toml
  M/MonteCarloIntegration/Versions.toml
Labels: BREAKING, minor release

#67605 New version: NLSProblems v0.5.0
  N/NLSProblems/Compat.toml
  N/NLSProblems/Versions.toml
Labels: BREAKING, minor release

#67606 New version: ArviZ v0.6.5
  A/ArviZ/Versions.toml
Labels: patch release

#67610 New version: ArrayInterfaceCore v0.1.18
  A/ArrayInterfaceCore/Versions.toml
Labels: patch release

#67612 New version: PassiveTracerFlows v0.9.0
  P/PassiveTracerFlows/Compat.toml
  P/PassiveTracerFlows/Versions.toml
Labels: BREAKING, minor release

#67617 New version: HDMjl v0.0.2
  H/HDMjl/Compat.toml
  H/HDMjl/Versions.toml
Labels: BREAKING, patch release

#67618 New version: SciMLBase v1.53.0
  S/SciMLBase/Versions.toml
Labels: minor release

#67619 New version: LazyStack v0.1.0
  L/LazyStack/Compat.toml
  L/LazyStack/Deps.toml
  L/LazyStack/Versions.toml
Labels: BREAKING, minor release

#67620 New version: TensorCast v0.4.5
  T/TensorCast/Compat.toml
  T/TensorCast/Deps.toml
  T/TensorCast/Versions.toml
Labels: patch release

#67621 New version: PSRClassesInterface v0.7.0
  P/PSRClassesInterface/Versions.toml
Labels: BREAKING, minor release

#67622 New version: TransmuteDims v0.1.14
  T/TransmuteDims/Compat.toml
  T/TransmuteDims/Deps.toml
  T/TransmuteDims/Versions.toml
Labels: patch release

#67624 New version: FMIImport v0.11.1
  F/FMIImport/Versions.toml
Labels: patch release

#67625 New version: DiffEqBase v6.99.0
  D/DiffEqBase/Compat.toml
  D/DiffEqBase/Versions.toml
Labels: minor release

#67626 New version: DynamicSparseArrays v0.6.0
  D/DynamicSparseArrays/Deps.toml
  D/DynamicSparseArrays/Versions.toml
Labels: BREAKING, minor release

#67627 New version: OrdinaryDiffEq v6.26.0
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#67628 New version: Proj v1.1.0
  P/Proj/Compat.toml
  P/Proj/Versions.toml
Labels: minor release

#67630 New version: ArrayInterfaceCore v0.1.19
  A/ArrayInterfaceCore/Versions.toml
Labels: patch release

#67402 New package: MultiDocumenter v0.1.0
  M/MultiDocumenter/Compat.toml
  M/MultiDocumenter/Deps.toml
  M/MultiDocumenter/Package.toml
  M/MultiDocumenter/Versions.toml
  Registry.toml
Labels: new package

#67634 New version: SciMLBase v1.53.1
  S/SciMLBase/Versions.toml
Labels: patch release

#67635 New version: Sundials v4.10.1
  S/Sundials/Versions.toml
Labels: patch release

#67636 New version: InternalFluidFlow v0.1.2
  I/InternalFluidFlow/Versions.toml
Labels: patch release

#67637 New version: OrdinaryDiffEq v6.26.1
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#67638 New version: RelocatableFolders v1.0.0
  R/RelocatableFolders/Compat.toml
  R/RelocatableFolders/Deps.toml
  R/RelocatableFolders/Versions.toml
Labels: BREAKING, major release

#67411 New package: PersistenceLandscapes v0.2.0
  P/PersistenceLandscapes/Compat.toml
  P/PersistenceLandscapes/Deps.toml
  P/PersistenceLandscapes/Package.toml
  P/PersistenceLandscapes/Versions.toml
  Registry.toml
Labels: new package

#67642 New version: Mads v1.3.6
  M/Mads/Versions.toml
Labels: patch release

#67644 New version: ClimateModels v0.2.11
  C/ClimateModels/Versions.toml
Labels: patch release

#66520 New package: Malt v0.5.0
  M/Malt/Compat.toml
  M/Malt/Deps.toml
  M/Malt/Package.toml
  M/Malt/Versions.toml
  Registry.toml
Labels: new package, needs to be manually merged in 3 days

#67645 New version: AlignedBinaryFormat v0.6.2
  A/AlignedBinaryFormat/Versions.toml
Labels: patch release

#67420 New package: PairedLinkedLists v0.2.0
  P/PairedLinkedLists/Compat.toml
  P/PairedLinkedLists/Deps.toml
  P/PairedLinkedLists/Package.toml
  P/PairedLinkedLists/Versions.toml
  Registry.toml
Labels: new package

#67646 New version: ArrayInterfaceCore v0.1.20
  A/ArrayInterfaceCore/Versions.toml
Labels: patch release

#67647 New version: Mads v1.3.7
  M/Mads/Versions.toml
Labels: patch release

#67649 New version: ArrayInterface v6.0.23
  A/ArrayInterface/Versions.toml
Labels: patch release

#67652 New version: SciMLBase v1.53.2
  S/SciMLBase/Versions.toml
Labels: patch release

#67651 New version: DimensionalData v0.21.3
  D/DimensionalData/Versions.toml
Labels: patch release

#67653 New version: IncompressibleNavierStokes v0.2.0
  I/IncompressibleNavierStokes/Compat.toml
  I/IncompressibleNavierStokes/Versions.toml
Labels: BREAKING, minor release

#67655 New version: CalibrationTests v0.6.2
  C/CalibrationTests/Compat.toml
  C/CalibrationTests/Versions.toml
Labels: patch release

#67656 New version: GEMPIC v0.3.3
  G/GEMPIC/Versions.toml
Labels: patch release

#67455 New package: MetabolomicsWorkbenchAPI v0.1.0
  M/MetabolomicsWorkbenchAPI/Compat.toml
  M/MetabolomicsWorkbenchAPI/Deps.toml
  M/MetabolomicsWorkbenchAPI/Package.toml
  M/MetabolomicsWorkbenchAPI/Versions.toml
  Registry.toml
Labels: new package

#67657 New version: PyThermo v0.2.0
  P/PyThermo/Compat.toml
  P/PyThermo/Deps.toml
  P/PyThermo/Versions.toml
Labels: BREAKING, minor release

#67660 New version: LinearOperators v2.3.3
  L/LinearOperators/Compat.toml
  L/LinearOperators/Versions.toml
Labels: patch release

#67463 New package: TraceFuns v0.1.0
  Registry.toml
  T/TraceFuns/Compat.toml
  T/TraceFuns/Deps.toml
  T/TraceFuns/Package.toml
  T/TraceFuns/Versions.toml
Labels: new package

#67661 New version: PSRClassesInterface v0.7.1
  P/PSRClassesInterface/Versions.toml
Labels: patch release

#67662 New version: GrafCSV v0.2.0
  G/GrafCSV/Compat.toml
  G/GrafCSV/Versions.toml
Labels: BREAKING, minor release

#67663 New version: PSRClassesInterface v0.7.2
  P/PSRClassesInterface/Versions.toml
Labels: patch release

#67475 New package: QuantumNLDiffEq v0.0.1
  Q/QuantumNLDiffEq/Compat.toml
  Q/QuantumNLDiffEq/Deps.toml
  Q/QuantumNLDiffEq/Package.toml
  Q/QuantumNLDiffEq/Versions.toml
  Registry.toml
Labels: new package

#67664 New version: PowerSimulations v0.15.7
  P/PowerSimulations/Versions.toml
Labels: patch release

#67467 New package: Polymath v0.1.0
  P/Polymath/Compat.toml
  P/Polymath/Deps.toml
  P/Polymath/Package.toml
  P/Polymath/Versions.toml
  Registry.toml
Labels: new package, needs to be manually merged in 3 days

#67479 New package: TeneT v0.1.0
  Registry.toml
  T/TeneT/Compat.toml
  T/TeneT/Deps.toml
  T/TeneT/Package.toml
  T/TeneT/Versions.toml
Labels: new package, needs to be manually merged in 3 days
