Repository JuliaRegistries/General, pull requests merged in 2022-12, with the labels that each got.

#73215 New version: MLJDecisionTreeInterface v0.3.0
  M/MLJDecisionTreeInterface/Compat.toml
  M/MLJDecisionTreeInterface/Versions.toml
Labels: BREAKING, minor release

#73207 New version: Rasters v0.4.3
  R/Rasters/Versions.toml
Labels: patch release

#73216 New version: DelayDiffEq v5.40.3
  D/DelayDiffEq/Versions.toml
Labels: patch release

#73217 New version: BartIO v0.3.0
  B/BartIO/Compat.toml
  B/BartIO/Deps.toml
  B/BartIO/Versions.toml
Labels: BREAKING, minor release

#73218 New version: OrdinaryDiffEq v6.34.0
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#73219 New version: OrdinaryDiffEq v6.34.1
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#73220 New version: Gemini v0.5.4
  G/Gemini/Compat.toml
  G/Gemini/Deps.toml
  G/Gemini/Versions.toml
Labels: patch release

#73221 New version: WebSession v0.1.3
  W/WebSession/Compat.toml
  W/WebSession/Deps.toml
  W/WebSession/Versions.toml
Labels: patch release

#73222 New version: BioStockholm v0.1.3
  B/BioStockholm/Versions.toml
Labels: patch release

#73223 New version: MIRTjim v0.21.1
  M/MIRTjim/Versions.toml
Labels: patch release

#73224 New version: Lux v0.4.36
  L/Lux/Compat.toml
  L/Lux/Versions.toml
Labels: patch release

#73225 New version: NeuroAnalysis v1.1.0
  N/NeuroAnalysis/Compat.toml
  N/NeuroAnalysis/Deps.toml
  N/NeuroAnalysis/Versions.toml
Labels: minor release

#72986 New package: MacroModelling v0.1.0
  M/MacroModelling/Compat.toml
  M/MacroModelling/Deps.toml
  M/MacroModelling/Package.toml
  M/MacroModelling/Versions.toml
  Registry.toml
Labels: new package

#73227 New version: DiffEqGPU v1.23.0
  D/DiffEqGPU/Versions.toml
Labels: minor release

#73228 New version: DiffEqBase v6.109.0
  D/DiffEqBase/Compat.toml
  D/DiffEqBase/Versions.toml
Labels: minor release

#73229 New version: MonteCarloMeasurements v1.0.12
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#73230 New version: LLVM v4.14.1
  L/LLVM/Versions.toml
Labels: patch release

#73231 New version: ExtendableGrids v0.9.16
  E/ExtendableGrids/Versions.toml
Labels: patch release

#73234 New version: OrdinaryDiffEq v6.35.0
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#73233 New version: StructuredArrays v0.2.5
  S/StructuredArrays/Versions.toml
Labels: patch release

#73235 New version: StochasticDelayDiffEq v1.3.2
  S/StochasticDelayDiffEq/Versions.toml
Labels: patch release

#73236 Yank OrdinaryDiffEq v6.34.x releases
  O/OrdinaryDiffEq/Versions.toml
Labels: yank

#73237 New version: LWFBrook90 v0.7.4
  L/LWFBrook90/Versions.toml
Labels: patch release

#73238 New version: VoronoiFVM v0.18.5
  V/VoronoiFVM/Compat.toml
  V/VoronoiFVM/Versions.toml
Labels: patch release

#73240 New version: SciMLSensitivity v7.11.1
  S/SciMLSensitivity/Versions.toml
Labels: patch release

#73241 New version: SortingAlgorithms v0.3.2
  S/SortingAlgorithms/Compat.toml
  S/SortingAlgorithms/Deps.toml
  S/SortingAlgorithms/Versions.toml
Labels: patch release

#73239 New version: Rfam v1.0.0
  R/Rfam/Compat.toml
  R/Rfam/Deps.toml
  R/Rfam/Versions.toml
Labels: BREAKING, major release

#73243 New version: Meshes v0.26.2
  M/Meshes/Versions.toml
Labels: patch release

#73245 New version: Rfam v2.0.0
  R/Rfam/Compat.toml
  R/Rfam/Deps.toml
  R/Rfam/Versions.toml
Labels: BREAKING, major release

#73246 New version: EnumX v1.0.4
  E/EnumX/Versions.toml
Labels: patch release

#73247 New version: VisualGeometryDatasets v0.2.0
  V/VisualGeometryDatasets/Compat.toml
  V/VisualGeometryDatasets/Deps.toml
  V/VisualGeometryDatasets/Versions.toml
Labels: BREAKING, minor release

#73250 New version: AdventOfCode v1.2.0
  A/AdventOfCode/Compat.toml
  A/AdventOfCode/Versions.toml
Labels: minor release

#73252 New version: UnfoldMakie v0.2.3
  U/UnfoldMakie/Versions.toml
Labels: patch release

#73254 New version: Infernal v1.0.0
  I/Infernal/Compat.toml
  I/Infernal/Deps.toml
  I/Infernal/Versions.toml
Labels: BREAKING, major release

#73255 New version: MethodOfLines v0.7.1
  M/MethodOfLines/Versions.toml
Labels: patch release

#73256 New version: MultiDocumenter v0.5.0
  M/MultiDocumenter/Compat.toml
  M/MultiDocumenter/Versions.toml
Labels: BREAKING, minor release

#73257 New version: ModeCouplingTheory v0.6.2
  M/ModeCouplingTheory/Versions.toml
Labels: patch release

#73258 New version: ExpectationMaximization v0.1.4
  E/ExpectationMaximization/Versions.toml
Labels: patch release

#73014 New package: PlantMeteo v0.1.0
  P/PlantMeteo/Compat.toml
  P/PlantMeteo/Deps.toml
  P/PlantMeteo/Package.toml
  P/PlantMeteo/Versions.toml
  Registry.toml
Labels: new package

#73259 New version: Rfam v2.0.2
  R/Rfam/Versions.toml
Labels: patch release

#73260 New version: Rasters v0.4.4
  R/Rasters/Compat.toml
  R/Rasters/Versions.toml
Labels: patch release

#73261 New version: Infernal v1.1.0
  I/Infernal/Versions.toml
Labels: minor release

#73262 New version: Coluna v0.5.2
  C/Coluna/Versions.toml
Labels: patch release

#73263 New version: RungeKutta v0.4.6
  R/RungeKutta/Versions.toml
Labels: patch release

#73264 New version: UnROOT v0.8.20
  U/UnROOT/Versions.toml
Labels: patch release

#73265 New version: FrankWolfe v0.2.16
  F/FrankWolfe/Versions.toml
Labels: patch release

#73266 New version: AlgebraicPetri v0.8.1
  A/AlgebraicPetri/Versions.toml
Labels: patch release

#73267 New version: Catlab v0.14.11
  C/Catlab/Versions.toml
Labels: patch release

#73268 New version: DataFrames v1.4.4
  D/DataFrames/Versions.toml
Labels: patch release

#73269 New version: MieScattering v0.2.0
  M/MieScattering/Compat.toml
  M/MieScattering/Deps.toml
  M/MieScattering/Versions.toml
Labels: BREAKING, minor release

#73270 New version: FLOYao v1.2.1
  F/FLOYao/Versions.toml
Labels: patch release

#73271 New version: Infernal v1.1.1
  I/Infernal/Versions.toml
Labels: patch release

#73273 New version: PowerModelsWildfire v0.3.1
  P/PowerModelsWildfire/Versions.toml
Labels: patch release

#73274 New version: NaiveNASlib v2.0.9
  N/NaiveNASlib/Compat.toml
  N/NaiveNASlib/Versions.toml
Labels: patch release

#73027 New package: LaTeXTables v0.1.0
  L/LaTeXTables/Compat.toml
  L/LaTeXTables/Deps.toml
  L/LaTeXTables/Package.toml
  L/LaTeXTables/Versions.toml
  Registry.toml
Labels: new package

#73276 New version: JlrsReflect v0.3.0
  J/JlrsReflect/Versions.toml
Labels: BREAKING, minor release

#73033 New package: PythonPlot v1.0.0
  P/PythonPlot/Compat.toml
  P/PythonPlot/Deps.toml
  P/PythonPlot/Package.toml
  P/PythonPlot/Versions.toml
  Registry.toml
Labels: new package

#73277 New version: ColorLab v1.0.2
  C/ColorLab/Versions.toml
Labels: patch release

#73278 New version: PSSFSS v1.2.2
  P/PSSFSS/Versions.toml
Labels: patch release

#73279 New version: PowerAnalytics v0.2.0
  P/PowerAnalytics/Deps.toml
  P/PowerAnalytics/Versions.toml
Labels: BREAKING, minor release

#73280 New version: Brillouin v0.5.11
  B/Brillouin/Compat.toml
  B/Brillouin/Deps.toml
  B/Brillouin/Versions.toml
Labels: patch release

#73281 New version: NeuroAnalysis v1.1.1
  N/NeuroAnalysis/Versions.toml
Labels: patch release

#73283 New version: Rfam v2.0.3
  R/Rfam/Versions.toml
Labels: patch release

#73284 New version: QuantumPropagators v0.3.0
  Q/QuantumPropagators/Deps.toml
  Q/QuantumPropagators/Versions.toml
Labels: BREAKING, minor release

#73285 New version: MathOptInterface v1.11.0
  M/MathOptInterface/Versions.toml
Labels: minor release

#73286 New version: Thermochron v0.5.1
  T/Thermochron/Compat.toml
  T/Thermochron/Versions.toml
Labels: patch release

#72040 New package: Bumper v0.2.0
  B/Bumper/Compat.toml
  B/Bumper/Deps.toml
  B/Bumper/Package.toml
  B/Bumper/Versions.toml
  Registry.toml
Labels: new package, needs to be manually merged in 3 days, Override AutoMerge: name similarity is okay

#73290 New version: QuantumControlBase v0.7.0
  Q/QuantumControlBase/Compat.toml
  Q/QuantumControlBase/Versions.toml
Labels: BREAKING, minor release

#73130 New version: GeoThermalCloud v0.1.4
  G/GeoThermalCloud/Compat.toml
  G/GeoThermalCloud/Versions.toml
Labels: patch release

#73292 New version: NamedGraphs v0.1.3
  N/NamedGraphs/Versions.toml
Labels: patch release

#73253 New version: OneHotArrays v0.2.1
  O/OneHotArrays/Compat.toml
  O/OneHotArrays/Deps.toml
  O/OneHotArrays/Versions.toml
Labels: patch release

#73291 New version: OceanTurb v0.3.4
  O/OceanTurb/Compat.toml
  O/OceanTurb/Deps.toml
  O/OceanTurb/Versions.toml
Labels: patch release

#73293 New version: DataGraphs v0.1.0
  D/DataGraphs/Compat.toml
  D/DataGraphs/Deps.toml
  D/DataGraphs/Versions.toml
Labels: BREAKING, minor release

#72640 New version: LinearRegressionKit v0.7.10
  L/LinearRegressionKit/Versions.toml
Labels: patch release

#72461 New version: GMT v0.43.2
  G/GMT/Versions.toml
Labels: patch release

#72286 New package: PoGO v0.2.1
  P/PoGO/Compat.toml
  P/PoGO/Deps.toml
  P/PoGO/Package.toml
  P/PoGO/Versions.toml
  Registry.toml
Labels: new package

#72217 New version: NormalForms v0.1.1
  N/NormalForms/Compat.toml
  N/NormalForms/Versions.toml
Labels: patch release

#73294 New version: DataGraphs v0.1.1
  D/DataGraphs/Compat.toml
  D/DataGraphs/Versions.toml
Labels: patch release

#73295 New version: Nabla v0.12.4
  N/Nabla/Versions.toml
Labels: patch release

#73296 New version: PoGO v0.2.2
  P/PoGO/Versions.toml
Labels: patch release

#73297 New version: PoGO v0.3.0
  P/PoGO/Compat.toml
  P/PoGO/Deps.toml
  P/PoGO/Versions.toml
Labels: BREAKING, minor release

#73098 New version: GnollDiceNotation v4.2.0
  G/GnollDiceNotation/Versions.toml
Labels: minor release

#73298 New version: Krotov v0.5.0
  K/Krotov/Compat.toml
  K/Krotov/Versions.toml
Labels: BREAKING, minor release

#73299 New version: SBMLToolkit v0.1.18
  S/SBMLToolkit/Versions.toml
Labels: patch release

#73301 New version: StaticTools v0.8.3
  S/StaticTools/Versions.toml
Labels: patch release

#73302 New version: GRAPE v0.5.0
  G/GRAPE/Compat.toml
  G/GRAPE/Versions.toml
Labels: BREAKING, minor release

#73303 New version: QuantumControl v0.5.0
  Q/QuantumControl/Compat.toml
  Q/QuantumControl/Versions.toml
Labels: BREAKING, minor release

#73305 New version: ImagePhantoms v0.7.1
  I/ImagePhantoms/Compat.toml
  I/ImagePhantoms/Versions.toml
Labels: patch release

#73308 New version: StructuredArrays v0.2.6
  S/StructuredArrays/Versions.toml
Labels: patch release

#73309 New version: NeuroAnalysis v1.1.2
  N/NeuroAnalysis/Versions.toml
Labels: patch release

#73310 New version: MultiDocumenter v0.5.1
  M/MultiDocumenter/Versions.toml
Labels: patch release

#73313 New version: OceanRobots v0.1.12
  O/OceanRobots/Versions.toml
Labels: patch release

#73304 Yank ForwardDiff 0.10.33
  F/ForwardDiff/Versions.toml
Labels: yank

#73316 New version: RungeKutta v0.5.0
  R/RungeKutta/Compat.toml
  R/RungeKutta/Deps.toml
  R/RungeKutta/Versions.toml
Labels: BREAKING, minor release

#73317 New version: ApproxFunOrthogonalPolynomials v0.5.18
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#73319 New version: PlotRNA v0.1.4
  P/PlotRNA/Versions.toml
Labels: patch release

#73320 New version: ApproxFunBase v0.7.43
  A/ApproxFunBase/Versions.toml
Labels: patch release

#73321 New version: PreallocationTools v0.4.5
  P/PreallocationTools/Versions.toml
Labels: patch release

#73322 New version: Polymake v0.8.3
  P/Polymake/Versions.toml
Labels: patch release

#73324 New version: StanSample v6.13.3
  S/StanSample/Versions.toml
Labels: patch release

#73325 New version: Makie v0.18.4
  M/Makie/Versions.toml
Labels: patch release

#73327 New version: CairoMakie v0.9.4
  C/CairoMakie/Compat.toml
  C/CairoMakie/Versions.toml
Labels: patch release

#73328 New version: GLMakie v0.7.4
  G/GLMakie/Compat.toml
  G/GLMakie/Versions.toml
Labels: patch release

#73329 New version: WGLMakie v0.7.4
  W/WGLMakie/Compat.toml
  W/WGLMakie/Versions.toml
Labels: patch release

#73330 New version: RPRMakie v0.4.4
  R/RPRMakie/Compat.toml
  R/RPRMakie/Versions.toml
Labels: patch release

#73334 New version: GeometricEquations v0.9.1
  G/GeometricEquations/Versions.toml
Labels: patch release

#73335 New version: PolyChaos v0.2.10
  P/PolyChaos/Versions.toml
Labels: patch release

#73336 New version: ApproxFunSingularities v0.3.4
  A/ApproxFunSingularities/Versions.toml
Labels: patch release

#73337 New version: TranscodingStreams v0.9.10
  T/TranscodingStreams/Versions.toml
Labels: patch release

#73338 New version: GPUCompiler v0.16.7
  G/GPUCompiler/Compat.toml
  G/GPUCompiler/Versions.toml
Labels: patch release

#73339 New version: LazyArrays v0.22.13
  L/LazyArrays/Versions.toml
Labels: patch release

#73340 New version: PowerSimulations v0.15.10
  P/PowerSimulations/Versions.toml
Labels: patch release

#73341 New version: PowerFlows v0.1.3
  P/PowerFlows/Versions.toml
Labels: patch release

#73342 New version: Oscar v0.11.2
  O/Oscar/Versions.toml
Labels: patch release

#73343 New version: ScoreDrivenModels v0.2.1
  S/ScoreDrivenModels/Versions.toml
Labels: patch release

#73345 New version: RungeKutta v0.5.2
  R/RungeKutta/Versions.toml
Labels: patch release

#73346 New version: ConformalPrediction v0.1.4
  C/ConformalPrediction/Compat.toml
  C/ConformalPrediction/Deps.toml
  C/ConformalPrediction/Versions.toml
Labels: patch release

#73347 New version: PowerModels v0.19.7
  P/PowerModels/Versions.toml
Labels: patch release

#73100 New package: VoronoiFVMDiffEq v0.1.0
  Registry.toml
  V/VoronoiFVMDiffEq/Compat.toml
  V/VoronoiFVMDiffEq/Deps.toml
  V/VoronoiFVMDiffEq/Package.toml
  V/VoronoiFVMDiffEq/Versions.toml
Labels: new package

#73349 New version: JLD v0.13.3
  J/JLD/Versions.toml
Labels: patch release

#73350 New version: SymbolicPlanners v0.1.9
  S/SymbolicPlanners/Versions.toml
Labels: patch release

#73352 New version: HistoricalStdlibVersions v1.1.0
  H/HistoricalStdlibVersions/Versions.toml
Labels: minor release

#73353 New version: InfiniteArrays v0.12.9
  I/InfiniteArrays/Compat.toml
  I/InfiniteArrays/Versions.toml
Labels: patch release

#73356 New version: RigidBodyTools v0.3.4
  R/RigidBodyTools/Versions.toml
Labels: patch release

#73357 New version: TransmuteDims v0.1.15
  T/TransmuteDims/Versions.toml
Labels: patch release

#73358 New version: ODEInterfaceDiffEq v3.12.0
  O/ODEInterfaceDiffEq/Compat.toml
  O/ODEInterfaceDiffEq/Deps.toml
  O/ODEInterfaceDiffEq/Versions.toml
Labels: minor release

#73359 New version: LazyArrays v0.22.14
  L/LazyArrays/Versions.toml
Labels: patch release

#73360 New version: Semagrams v0.3.0
  S/Semagrams/Compat.toml
  S/Semagrams/Deps.toml
  S/Semagrams/Versions.toml
Labels: BREAKING, minor release

#73361 New version: PowerModelsWildfire v0.3.2
  P/PowerModelsWildfire/Versions.toml
Labels: patch release

#73307 New version: EvoLinear v0.4.0
  E/EvoLinear/Compat.toml
  E/EvoLinear/Deps.toml
  E/EvoLinear/Versions.toml
Labels: BREAKING, minor release

#73362 New version: StatGeochem v0.5.4
  S/StatGeochem/Compat.toml
  S/StatGeochem/Versions.toml
Labels: patch release

#73364 New version: MicroMamba v0.1.12
  M/MicroMamba/Compat.toml
  M/MicroMamba/Versions.toml
Labels: patch release

#73365 New version: CondaPkg v0.2.15
  C/CondaPkg/Versions.toml
Labels: patch release

#73144 New package: Bruno v0.1.0
  B/Bruno/Compat.toml
  B/Bruno/Deps.toml
  B/Bruno/Package.toml
  B/Bruno/Versions.toml
  Registry.toml
Labels: new package

#73366 New version: PythonCall v0.9.10
  P/PythonCall/Compat.toml
  P/PythonCall/Versions.toml
Labels: patch release

#73367 New version: PowerModelsWildfire v0.3.3
  P/PowerModelsWildfire/Versions.toml
Labels: patch release

#73368 New version: Oceananigans v0.78.4
  O/Oceananigans/Compat.toml
  O/Oceananigans/Versions.toml
Labels: patch release

#73134 New package: SubSIt v1.0.0
  Registry.toml
  S/SubSIt/Compat.toml
  S/SubSIt/Deps.toml
  S/SubSIt/Package.toml
  S/SubSIt/Versions.toml
Labels: new package

#73369 New version: RipQP v0.6.1
  R/RipQP/Compat.toml
  R/RipQP/Deps.toml
  R/RipQP/Versions.toml
Labels: patch release

#73370 New version: DiffEqPhysics v3.10.0
  D/DiffEqPhysics/Compat.toml
  D/DiffEqPhysics/Deps.toml
  D/DiffEqPhysics/Versions.toml
Labels: minor release

#73372 New version: Trixi v0.4.55
  T/Trixi/Compat.toml
  T/Trixi/Versions.toml
Labels: patch release

#73373 New version: KernelFunctions v0.10.51
  K/KernelFunctions/Compat.toml
  K/KernelFunctions/Versions.toml
Labels: patch release

#73374 New version: Polyomino v1.1.0
  P/Polyomino/Compat.toml
  P/Polyomino/Deps.toml
  P/Polyomino/Versions.toml
Labels: minor release

#73375 New version: TimeZoneFinder v0.3.0
  T/TimeZoneFinder/Compat.toml
  T/TimeZoneFinder/Versions.toml
Labels: BREAKING, minor release

#73377 New version: DelayDiffEq v5.40.4
  D/DelayDiffEq/Versions.toml
Labels: patch release

#73378 New version: OpenQuantumSystems v0.2.0
  O/OpenQuantumSystems/Versions.toml
Labels: BREAKING, minor release

#73157 New package: IUCNRedList v0.7.3
  I/IUCNRedList/Compat.toml
  I/IUCNRedList/Deps.toml
  I/IUCNRedList/Package.toml
  I/IUCNRedList/Versions.toml
  Registry.toml
Labels: new package

#73380 New version: QuasiArrays v0.9.4
  Q/QuasiArrays/Versions.toml
Labels: patch release

#73381 New version: ContinuumArrays v0.11.1
  C/ContinuumArrays/Versions.toml
Labels: patch release

#73382 New version: GoFish v0.1.2
  G/GoFish/Versions.toml
Labels: patch release
