Repository JuliaRegistries/General, pull requests merged in 2022-03, with the labels that each got.

#55675 New version: ClimaComms v0.2.0
  C/ClimaComms/Versions.toml
Labels: BREAKING, minor release

#55677 New version: Modia v0.8.0
  M/Modia/Compat.toml
  M/Modia/Deps.toml
  M/Modia/Versions.toml
Labels: BREAKING, minor release

#55679 New version: ArrayInterface v4.0.4
  A/ArrayInterface/Versions.toml
Labels: patch release

#55680 New version: SCS v1.0.1
  S/SCS/Compat.toml
  S/SCS/Versions.toml
Labels: patch release

#55691 New version: Modia v0.8.1
  M/Modia/Versions.toml
Labels: patch release

#55676 New version: ClimaCommsMPI v0.2.0
  C/ClimaCommsMPI/Compat.toml
  C/ClimaCommsMPI/Versions.toml
Labels: BREAKING, minor release

#55694 New version: MLJDecisionTreeInterface v0.1.4
  M/MLJDecisionTreeInterface/Compat.toml
  M/MLJDecisionTreeInterface/Versions.toml
Labels: patch release

#55497 New package: CircuitModelZoo v0.1.0
  C/CircuitModelZoo/Compat.toml
  C/CircuitModelZoo/Deps.toml
  C/CircuitModelZoo/Package.toml
  C/CircuitModelZoo/Versions.toml
  Registry.toml
Labels: new package

#55695 New version: Gaugefields v0.1.3
  G/Gaugefields/Versions.toml
Labels: patch release

#55696 New version: MathOptInterface v1.0.2
  M/MathOptInterface/Versions.toml
Labels: patch release

#55697 New version: Juniper v0.9.0
  J/Juniper/Compat.toml
  J/Juniper/Versions.toml
Labels: BREAKING, minor release

#55698 New version: Photosynthesis v0.3.6
  P/Photosynthesis/Versions.toml
Labels: patch release

#55699 New version: GRAPE v0.1.1
  G/GRAPE/Compat.toml
  G/GRAPE/Versions.toml
Labels: patch release

#55700 New version: ViscousFlow v0.5.0
  V/ViscousFlow/Compat.toml
  V/ViscousFlow/Deps.toml
  V/ViscousFlow/Versions.toml
Labels: BREAKING, minor release

#55701 New version: LegendrePolynomials v0.3.5
  L/LegendrePolynomials/Versions.toml
Labels: patch release

#55702 New version: UnitfulLatexify v1.6.1
  U/UnitfulLatexify/Versions.toml
Labels: patch release

#55704 New version: DiscriminativeCircuits v0.2.0
  D/DiscriminativeCircuits/Compat.toml
  D/DiscriminativeCircuits/Deps.toml
  D/DiscriminativeCircuits/Versions.toml
Labels: BREAKING, minor release

#55705 New version: ViscousFlow v0.5.1
  V/ViscousFlow/Versions.toml
Labels: patch release

#55707 New version: DFTK v0.4.7
  D/DFTK/Compat.toml
  D/DFTK/Versions.toml
Labels: patch release

#55714 New version: Groebner v0.2.0
  G/Groebner/Compat.toml
  G/Groebner/Deps.toml
  G/Groebner/Versions.toml
Labels: BREAKING, minor release

#55715 New version: GraphSignals v0.3.12
  G/GraphSignals/Versions.toml
Labels: patch release

#55718 New version: GradientRobustMultiPhysics v0.9.3
  G/GradientRobustMultiPhysics/Versions.toml
Labels: patch release

#55721 New version: Static v0.6.0
  S/Static/Versions.toml
Labels: BREAKING, minor release

#55722 New version: Pardiso v0.5.4
  P/Pardiso/Compat.toml
  P/Pardiso/Versions.toml
Labels: patch release

#55724 New version: LegendrePolynomials v0.3.6
  L/LegendrePolynomials/Versions.toml
Labels: patch release

#55726 New version: AMDGPU v0.3.3
  A/AMDGPU/Versions.toml
Labels: patch release

#55727 New version: ProbNumDiffEq v0.5.6
  P/ProbNumDiffEq/Versions.toml
Labels: patch release

#55728 New version: MonteCarloMeasurements v1.0.8
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#55729 New version: ChaoticEncryption v0.2.0
  C/ChaoticEncryption/Compat.toml
  C/ChaoticEncryption/Deps.toml
  C/ChaoticEncryption/Versions.toml
Labels: BREAKING, minor release

#55730 New version: RobustAndOptimalControl v0.4.2
  R/RobustAndOptimalControl/Compat.toml
  R/RobustAndOptimalControl/Deps.toml
  R/RobustAndOptimalControl/Versions.toml
Labels: patch release

#55731 New version: BitemporalPostgres v0.1.2
  B/BitemporalPostgres/Compat.toml
  B/BitemporalPostgres/Versions.toml
Labels: patch release

#55732 New version: Circuitscape v5.11.0
  C/Circuitscape/Compat.toml
  C/Circuitscape/Versions.toml
Labels: minor release

#55733 New version: TimeDag v0.1.7
  T/TimeDag/Versions.toml
Labels: patch release

#55734 New version: Stan v9.4.0
  S/Stan/Versions.toml
Labels: minor release

#55736 New version: BitemporalPostgres v0.1.3
  B/BitemporalPostgres/Compat.toml
  B/BitemporalPostgres/Deps.toml
  B/BitemporalPostgres/Versions.toml
Labels: patch release

#55737 New version: Krylov v0.7.13
  K/Krylov/Versions.toml
Labels: patch release

#55738 New version: JMcDM v0.3.5
  J/JMcDM/Compat.toml
  J/JMcDM/Versions.toml
Labels: patch release

#55741 New version: TuringGLM v2.0.0
  T/TuringGLM/Compat.toml
  T/TuringGLM/Deps.toml
  T/TuringGLM/Versions.toml
Labels: BREAKING, major release

#55742 New version: LinRegOutliers v0.8.10
  L/LinRegOutliers/Compat.toml
  L/LinRegOutliers/Versions.toml
Labels: patch release

#55743 New version: BilevelHeuristics v0.1.2
  B/BilevelHeuristics/Compat.toml
  B/BilevelHeuristics/Deps.toml
  B/BilevelHeuristics/Versions.toml
Labels: patch release

#55744 New version: Modia3D v0.10.0
  M/Modia3D/Compat.toml
  M/Modia3D/Deps.toml
  M/Modia3D/Versions.toml
Labels: BREAKING, minor release

#55747 New version: ClimaCache v0.2.1
  C/ClimaCache/Versions.toml
Labels: patch release

#55748 New version: ExponentialUtilities v1.12.0
  E/ExponentialUtilities/Deps.toml
  E/ExponentialUtilities/Versions.toml
Labels: minor release

#55749 New version: ArrayInterface v5.0.0
  A/ArrayInterface/Compat.toml
  A/ArrayInterface/Deps.toml
  A/ArrayInterface/Versions.toml
Labels: BREAKING, major release

#55750 New version: ComplexOptInterface v0.1.1
  C/ComplexOptInterface/Versions.toml
Labels: patch release

#55752 New version: HiGHS v1.1.0
  H/HiGHS/Compat.toml
  H/HiGHS/Versions.toml
Labels: minor release

#55753 New version: Clp v1.0.0
  C/Clp/Compat.toml
  C/Clp/Deps.toml
  C/Clp/Versions.toml
Labels: BREAKING, major release

#55754 New version: ECOS v1.1.0
  E/ECOS/Compat.toml
  E/ECOS/Versions.toml
Labels: minor release

#55755 New version: TaylorSeries v0.12.0
  T/TaylorSeries/Versions.toml
Labels: BREAKING, minor release

#55756 New version: MosekTools v0.12.0
  M/MosekTools/Compat.toml
  M/MosekTools/Versions.toml
Labels: BREAKING, minor release

#55757 New version: ExaPF v0.7.0
  E/ExaPF/Compat.toml
  E/ExaPF/Deps.toml
  E/ExaPF/Versions.toml
Labels: BREAKING, minor release

#55758 New version: SeDuMi v0.4.0
  S/SeDuMi/Compat.toml
  S/SeDuMi/Versions.toml
Labels: BREAKING, minor release

#55759 New version: BitTwiddlingConvenienceFunctions v0.1.3
  B/BitTwiddlingConvenienceFunctions/Compat.toml
  B/BitTwiddlingConvenienceFunctions/Versions.toml
Labels: patch release

#55760 New version: EllipticalSliceSampling v0.4.7
  E/EllipticalSliceSampling/Compat.toml
  E/EllipticalSliceSampling/Versions.toml
Labels: patch release

#55762 New version: InfrastructureModels v0.7.3
  I/InfrastructureModels/Compat.toml
  I/InfrastructureModels/Versions.toml
Labels: patch release

#55763 New version: BenchmarkCI v0.1.9
  B/BenchmarkCI/Versions.toml
Labels: patch release

#55764 New version: Aqua v0.5.3
  A/Aqua/Versions.toml
Labels: patch release

#55766 New version: RadiiPolynomial v0.4.5
  R/RadiiPolynomial/Versions.toml
Labels: patch release

#55768 New version: BinnedStatistics v0.1.1
  B/BinnedStatistics/Compat.toml
  B/BinnedStatistics/Deps.toml
  B/BinnedStatistics/Versions.toml
Labels: patch release

#55771 New version: GenericLinearAlgebra v0.3.0
  G/GenericLinearAlgebra/Compat.toml
  G/GenericLinearAlgebra/Deps.toml
  G/GenericLinearAlgebra/Versions.toml
Labels: BREAKING, minor release

#55776 New version: ClimaCache v0.3.0
  C/ClimaCache/Versions.toml
Labels: BREAKING, minor release

#55778 New version: UnROOT v0.8.3
  U/UnROOT/Compat.toml
  U/UnROOT/Deps.toml
  U/UnROOT/Versions.toml
Labels: patch release

#55779 New version: GeometricFlux v0.10.0
  G/GeometricFlux/Versions.toml
Labels: BREAKING, minor release

#55781 New version: SummationByPartsOperators v0.5.13
  S/SummationByPartsOperators/Compat.toml
  S/SummationByPartsOperators/Versions.toml
Labels: patch release

#55783 New version: BanyanImages v0.1.2
  B/BanyanImages/Compat.toml
  B/BanyanImages/Versions.toml
Labels: patch release

#55787 New version: OutlierDetectionInterface v0.1.6
  O/OutlierDetectionInterface/Versions.toml
Labels: patch release

#55788 New version: RegularizedLeastSquares v0.8.4
  R/RegularizedLeastSquares/Compat.toml
  R/RegularizedLeastSquares/Deps.toml
  R/RegularizedLeastSquares/Versions.toml
Labels: patch release

#55789 New version: Hecke v0.12.0
  H/Hecke/Versions.toml
Labels: BREAKING, minor release

#55791 New version: Plots v1.26.0
  P/Plots/Versions.toml
Labels: minor release

#55792 New version: BitemporalPostgres v0.1.4
  B/BitemporalPostgres/Versions.toml
Labels: patch release

#55793 New version: NaiveNASflux v2.0.3
  N/NaiveNASflux/Compat.toml
  N/NaiveNASflux/Versions.toml
Labels: patch release

#55794 New version: OutlierDetectionInterface v0.1.7
  O/OutlierDetectionInterface/Versions.toml
Labels: patch release

#55795 New version: OutlierDetectionNetworks v0.1.2
  O/OutlierDetectionNetworks/Compat.toml
  O/OutlierDetectionNetworks/Deps.toml
  O/OutlierDetectionNetworks/Versions.toml
Labels: patch release

#55796 New version: OutlierDetection v0.2.4
  O/OutlierDetection/Versions.toml
Labels: patch release

#55797 New version: DynamicPPL v0.17.8
  D/DynamicPPL/Versions.toml
Labels: patch release

#55560 New package: AlpacaMarkets v0.1.0
  A/AlpacaMarkets/Compat.toml
  A/AlpacaMarkets/Deps.toml
  A/AlpacaMarkets/Package.toml
  A/AlpacaMarkets/Versions.toml
  Registry.toml
Labels: new package

#55798 New version: FiniteDiff v2.11.0
  F/FiniteDiff/Compat.toml
  F/FiniteDiff/Versions.toml
Labels: minor release

#55799 New version: DiffEqCallbacks v2.21.0
  D/DiffEqCallbacks/Versions.toml
Labels: minor release

#55800 New version: DelayDiffEq v5.35.0
  D/DelayDiffEq/Compat.toml
  D/DelayDiffEq/Versions.toml
Labels: minor release

#55801 New version: Documenter v0.27.14
  D/Documenter/Versions.toml
Labels: patch release

#55802 New version: LayoutPointers v0.1.6
  L/LayoutPointers/Compat.toml
  L/LayoutPointers/Versions.toml
Labels: patch release

#55803 New version: HostCPUFeatures v0.1.7
  H/HostCPUFeatures/Compat.toml
  H/HostCPUFeatures/Versions.toml
Labels: patch release

#55804 New version: CloseOpenIntervals v0.1.6
  C/CloseOpenIntervals/Compat.toml
  C/CloseOpenIntervals/Versions.toml
Labels: patch release

#55805 New version: CitableCorpusAnalysis v0.6.1
  C/CitableCorpusAnalysis/Compat.toml
  C/CitableCorpusAnalysis/Deps.toml
  C/CitableCorpusAnalysis/Versions.toml
Labels: patch release

#55806 New version: PolyesterWeave v0.1.5
  P/PolyesterWeave/Compat.toml
  P/PolyesterWeave/Versions.toml
Labels: patch release

#55807 New version: StrideArraysCore v0.2.13
  S/StrideArraysCore/Compat.toml
  S/StrideArraysCore/Versions.toml
Labels: patch release

#55809 New version: SLEEFPirates v0.6.31
  S/SLEEFPirates/Compat.toml
  S/SLEEFPirates/Versions.toml
Labels: patch release

#55810 New version: CPUSummary v0.1.9
  C/CPUSummary/Compat.toml
  C/CPUSummary/Deps.toml
  C/CPUSummary/Versions.toml
Labels: patch release

#55814 New version: RobotDynamics v0.4.3
  R/RobotDynamics/Versions.toml
Labels: patch release

#55815 New version: CPUSummary v0.1.10
  C/CPUSummary/Versions.toml
Labels: patch release

#55818 New version: LRSLib v0.8.1
  L/LRSLib/Compat.toml
  L/LRSLib/Deps.toml
  L/LRSLib/Versions.toml
Labels: patch release

#55819 New version: Mill v2.6.0
  M/Mill/Compat.toml
  M/Mill/Deps.toml
  M/Mill/Versions.toml
Labels: minor release

#55821 New version: PowerModels v0.19.2
  P/PowerModels/Versions.toml
Labels: patch release

#55822 New version: TimeZones v1.7.2
  T/TimeZones/Versions.toml
Labels: patch release

#55823 New version: OSMMakie v0.0.4
  O/OSMMakie/Compat.toml
  O/OSMMakie/Versions.toml
Labels: BREAKING, patch release

#55826 New version: FMICore v0.6.2
  F/FMICore/Versions.toml
Labels: patch release

#55827 New version: FMIImport v0.6.2
  F/FMIImport/Compat.toml
  F/FMIImport/Versions.toml
Labels: patch release

#55828 New version: TrajectoryOptimization v0.6.2
  T/TrajectoryOptimization/Compat.toml
  T/TrajectoryOptimization/Versions.toml
Labels: patch release

#55829 New version: DotNET v0.2.1
  D/DotNET/Versions.toml
Labels: patch release

#55830 New version: TextGraphs v0.1.1
  T/TextGraphs/Versions.toml
Labels: patch release

#55573 New package: Wordlegames v0.1.1
  Registry.toml
  W/Wordlegames/Compat.toml
  W/Wordlegames/Deps.toml
  W/Wordlegames/Package.toml
  W/Wordlegames/Versions.toml
Labels: new package

#55813 New version: Polyester v0.6.7
  P/Polyester/Compat.toml
  P/Polyester/Versions.toml
Labels: patch release

#55831 New version: JuliaFormatter v0.22.5
  J/JuliaFormatter/Versions.toml
Labels: patch release

#55832 New version: ArrayInterface v5.0.1
  A/ArrayInterface/Versions.toml
Labels: patch release

#55574 New package: MethodOfLines v0.1.0
  M/MethodOfLines/Compat.toml
  M/MethodOfLines/Deps.toml
  M/MethodOfLines/Package.toml
  M/MethodOfLines/Versions.toml
  Registry.toml
Labels: new package

#55833 New version: Dualization v0.5.0
  D/Dualization/Compat.toml
  D/Dualization/Versions.toml
Labels: BREAKING, minor release

#55834 New version: SIAMFANLEquations v0.5.1
  S/SIAMFANLEquations/Compat.toml
  S/SIAMFANLEquations/Versions.toml
Labels: patch release

#55837 New version: SnpArrays v0.3.15
  S/SnpArrays/Versions.toml
Labels: patch release

#55838 New version: LoopVectorization v0.12.103
  L/LoopVectorization/Compat.toml
  L/LoopVectorization/Versions.toml
Labels: patch release

#55839 New version: PlutoHooks v0.0.5
  P/PlutoHooks/Versions.toml
Labels: BREAKING, patch release

#55840 New version: JuliaFormatter v0.22.6
  J/JuliaFormatter/Versions.toml
Labels: patch release

#55841 New version: MLJDecisionTreeInterface v0.2.0
  M/MLJDecisionTreeInterface/Compat.toml
  M/MLJDecisionTreeInterface/Deps.toml
  M/MLJDecisionTreeInterface/Versions.toml
Labels: BREAKING, minor release

#55842 New version: Random123 v1.4.3
  R/Random123/Deps.toml
  R/Random123/Versions.toml
Labels: patch release

#55584 New package: PQBaseCamp v0.1.0
  P/PQBaseCamp/Compat.toml
  P/PQBaseCamp/Deps.toml
  P/PQBaseCamp/Package.toml
  P/PQBaseCamp/Versions.toml
  Registry.toml
Labels: new package

#55588 New package: CoolProp v0.1.0
  C/CoolProp/Compat.toml
  C/CoolProp/Deps.toml
  C/CoolProp/Package.toml
  C/CoolProp/Versions.toml
  Registry.toml
Labels: new package

#55845 New version: TriangularSolve v0.1.11
  T/TriangularSolve/Compat.toml
  T/TriangularSolve/Versions.toml
Labels: patch release

#55846 New version: Gaston v1.0.5
  G/Gaston/Versions.toml
Labels: patch release

#54375 New version: BanyanONNXRunTime v0.1.1
  B/BanyanONNXRunTime/Compat.toml
  B/BanyanONNXRunTime/Versions.toml
Labels: new package

#55844 Yank Random123 1.4.3
  R/Random123/Versions.toml
Labels: yank

#55848 New version: KernelAbstractions v0.8.0
  K/KernelAbstractions/Compat.toml
  K/KernelAbstractions/Deps.toml
  K/KernelAbstractions/Versions.toml
Labels: BREAKING, minor release

#55849 New version: RewriteTools v0.1.1
  R/RewriteTools/Versions.toml
Labels: patch release

#55850 New version: CUDAKernels v0.4.0
  C/CUDAKernels/Compat.toml
  C/CUDAKernels/Deps.toml
  C/CUDAKernels/Versions.toml
Labels: BREAKING, minor release

#55852 New version: Downloads v1.5.3
  D/Downloads/Deps.toml
  D/Downloads/Versions.toml
Labels: patch release

#55853 New version: Cbc v1.0.0
  C/Cbc/Compat.toml
  C/Cbc/Deps.toml
  C/Cbc/Versions.toml
Labels: BREAKING, major release

#55854 New version: GameTheory v0.1.1
  G/GameTheory/Compat.toml
  G/GameTheory/Versions.toml
Labels: patch release

#55855 New version: RootsAndPoles v2.0.0
  R/RootsAndPoles/Compat.toml
  R/RootsAndPoles/Deps.toml
  R/RootsAndPoles/Versions.toml
Labels: BREAKING, major release

#55856 New version: Metadata v0.3.2
  M/Metadata/Compat.toml
  M/Metadata/Versions.toml
Labels: patch release

#55857 New version: Vulkan v0.5.0
  V/Vulkan/Compat.toml
  V/Vulkan/Deps.toml
  V/Vulkan/Versions.toml
Labels: BREAKING, minor release

#55858 New version: WildBootTests v0.7.4
  W/WildBootTests/Versions.toml
Labels: patch release

#55859 New version: JavaCall v0.7.8
  J/JavaCall/Versions.toml
Labels: patch release

#55860 New version: Oceananigans v0.71.5
  O/Oceananigans/Versions.toml
Labels: patch release

#55861 New version: PowerModels v0.19.3
  P/PowerModels/Compat.toml
  P/PowerModels/Versions.toml
Labels: patch release

#55862 New version: Swagger v0.3.5
  S/Swagger/Versions.toml
Labels: patch release

#55864 New version: Memoization v0.1.14
  M/Memoization/Versions.toml
Labels: patch release

#55605 New package: QRupdate v1.0.0
  Q/QRupdate/Compat.toml
  Q/QRupdate/Deps.toml
  Q/QRupdate/Package.toml
  Q/QRupdate/Versions.toml
  Registry.toml
Labels: new package

#55865 New version: CompositionalNetworks v0.3.2
  C/CompositionalNetworks/Compat.toml
  C/CompositionalNetworks/Versions.toml
Labels: patch release

#55866 New version: ParameterJuMP v0.4.0
  P/ParameterJuMP/Compat.toml
  P/ParameterJuMP/Versions.toml
Labels: BREAKING, minor release

#55867 New version: Clang v0.15.8
  C/Clang/Versions.toml
Labels: patch release

#55868 New version: MLJModelInterface v1.4.1
  M/MLJModelInterface/Versions.toml
Labels: patch release

#55870 New version: PyCall v1.93.1
  P/PyCall/Versions.toml
Labels: patch release

#55871 New version: CategoricalArrays v0.10.3
  C/CategoricalArrays/Versions.toml
Labels: patch release

#55873 New version: LegendrePolynomials v0.4.1
  L/LegendrePolynomials/Compat.toml
  L/LegendrePolynomials/Versions.toml
Labels: patch release

#55875 New version: PolyLog v1.10.0
  P/PolyLog/Versions.toml
Labels: minor release

#55876 New version: SparseArrayKit v0.2.1
  S/SparseArrayKit/Versions.toml
Labels: patch release

#55878 New version: Rocket v1.3.20
  R/Rocket/Versions.toml
Labels: patch release

#55879 New version: HetaSimulator v0.4.6
  H/HetaSimulator/Versions.toml
Labels: patch release

#55881 New version: GraphPPL v1.1.0
  G/GraphPPL/Versions.toml
Labels: minor release

#55883 New version: ROMEO v0.2.9
  R/ROMEO/Versions.toml
Labels: patch release

#55884 New version: LLVM v4.9.0
  L/LLVM/Compat.toml
  L/LLVM/Versions.toml
Labels: minor release

#55886 New version: ProjectManagement v1.2.0
  P/ProjectManagement/Compat.toml
  P/ProjectManagement/Deps.toml
  P/ProjectManagement/Versions.toml
Labels: minor release
