Repository JuliaRegistries/General, pull requests merged in 2022-11, with the labels that each got.

#71393 New version: UnROOT v0.8.18
  U/UnROOT/Versions.toml
Labels: patch release

#71394 New version: Crystalline v0.4.21
  C/Crystalline/Compat.toml
  C/Crystalline/Versions.toml
Labels: patch release

#71399 New version: PlutoTeachingTools v0.2.5
  P/PlutoTeachingTools/Compat.toml
  P/PlutoTeachingTools/Versions.toml
Labels: patch release

#71400 New version: OceanographyCruises v0.2.8
  O/OceanographyCruises/Compat.toml
  O/OceanographyCruises/Deps.toml
  O/OceanographyCruises/Versions.toml
Labels: patch release

#71401 New version: ControlSystems v1.5.1
  C/ControlSystems/Versions.toml
Labels: patch release

#71402 New version: KitBase v0.9.7
  K/KitBase/Versions.toml
Labels: patch release

#71403 New version: COPT v1.0.6
  C/COPT/Versions.toml
Labels: patch release

#71404 New version: JET v0.6.14
  J/JET/Versions.toml
Labels: patch release

#71406 New version: SolverTest v0.3.7
  S/SolverTest/Compat.toml
  S/SolverTest/Versions.toml
Labels: patch release

#71407 New version: StarAlgebras v0.1.8
  S/StarAlgebras/Compat.toml
  S/StarAlgebras/Versions.toml
Labels: patch release

#71408 New version: KernelFunctions v0.10.49
  K/KernelFunctions/Versions.toml
Labels: patch release

#71409 New version: RNAstructure v0.3.1
  R/RNAstructure/Versions.toml
Labels: patch release

#71410 New version: PlutoSliderServer v0.3.16
  P/PlutoSliderServer/Compat.toml
  P/PlutoSliderServer/Versions.toml
Labels: patch release

#71411 New version: FastGaussQuadrature v0.5.0
  F/FastGaussQuadrature/Compat.toml
  F/FastGaussQuadrature/Versions.toml
Labels: BREAKING, minor release

#71412 New version: GPUCompiler v0.16.6
  G/GPUCompiler/Versions.toml
Labels: patch release

#71398 New version: Pixell v0.2.4
  P/Pixell/Compat.toml
  P/Pixell/Deps.toml
  P/Pixell/Versions.toml
Labels: patch release

#71414 New version: ConvolutionOperators v0.3.0
  C/ConvolutionOperators/Versions.toml
Labels: BREAKING, minor release

#71415 New version: CompScienceMeshes v0.5.1
  C/CompScienceMeshes/Versions.toml
Labels: patch release

#71416 New version: UnROOT v0.8.19
  U/UnROOT/Versions.toml
Labels: patch release

#71417 New version: SciMLOperators v0.1.16
  S/SciMLOperators/Compat.toml
  S/SciMLOperators/Deps.toml
  S/SciMLOperators/Versions.toml
Labels: patch release

#71418 New version: StartUpDG v0.14.3
  S/StartUpDG/Versions.toml
Labels: patch release

#71419 New version: CaNNOLeS v0.7.1
  C/CaNNOLeS/Compat.toml
  C/CaNNOLeS/Versions.toml
Labels: patch release

#71421 New version: PlanetaryEphemeris v0.2.1
  P/PlanetaryEphemeris/Versions.toml
Labels: patch release

#71422 New version: DCISolver v0.4.2
  D/DCISolver/Compat.toml
  D/DCISolver/Versions.toml
Labels: patch release

#71283 New package: Inertia v0.1.0
  I/Inertia/Compat.toml
  I/Inertia/Deps.toml
  I/Inertia/Package.toml
  I/Inertia/Versions.toml
  Registry.toml
Labels: new package

#71420 New version: SellmeierFit v0.3.10
  S/SellmeierFit/Compat.toml
  S/SellmeierFit/Versions.toml
Labels: patch release

#71430 New version: FreezeCurves v0.5.0
  F/FreezeCurves/Compat.toml
  F/FreezeCurves/Deps.toml
  F/FreezeCurves/Versions.toml
Labels: BREAKING, minor release

#71424 New version: MaxwellSALT v0.1.6
  M/MaxwellSALT/Compat.toml
  M/MaxwellSALT/Deps.toml
  M/MaxwellSALT/Versions.toml
Labels: patch release

#71425 New version: SALTBase v0.1.5
  S/SALTBase/Compat.toml
  S/SALTBase/Deps.toml
  S/SALTBase/Versions.toml
Labels: patch release

#71427 New version: StaggeredGridCalculus v0.1.8
  S/StaggeredGridCalculus/Compat.toml
  S/StaggeredGridCalculus/Deps.toml
  S/StaggeredGridCalculus/Versions.toml
Labels: patch release

#71426 New version: MaxwellBase v0.1.17
  M/MaxwellBase/Compat.toml
  M/MaxwellBase/Deps.toml
  M/MaxwellBase/Versions.toml
Labels: patch release

#71423 New version: MaxwellGuidedMode v0.2.8
  M/MaxwellGuidedMode/Compat.toml
  M/MaxwellGuidedMode/Deps.toml
  M/MaxwellGuidedMode/Versions.toml
Labels: patch release

#71435 New version: RecipesPipeline v0.6.9
  R/RecipesPipeline/Versions.toml
Labels: patch release

#71436 New version: ClimaCore v0.10.19
  C/ClimaCore/Versions.toml
Labels: patch release

#71291 New package: HistoricalStdlibVersions v0.1.0
  H/HistoricalStdlibVersions/Compat.toml
  H/HistoricalStdlibVersions/Deps.toml
  H/HistoricalStdlibVersions/Package.toml
  H/HistoricalStdlibVersions/Versions.toml
  Registry.toml
Labels: new package

#71437 New version: BeastUtils v1.0.0
  B/BeastUtils/Compat.toml
  B/BeastUtils/Deps.toml
  B/BeastUtils/Versions.toml
Labels: BREAKING, major release

#71438 New version: CompositeGrids v0.1.2
  C/CompositeGrids/Compat.toml
  C/CompositeGrids/Deps.toml
  C/CompositeGrids/Versions.toml
Labels: patch release

#71439 New version: LeafGasExchange v0.1.5
  L/LeafGasExchange/Versions.toml
Labels: patch release

#71440 New version: BEASTXMLConstructor v1.0.0
  B/BEASTXMLConstructor/Compat.toml
  B/BEASTXMLConstructor/Deps.toml
  B/BEASTXMLConstructor/Versions.toml
Labels: BREAKING, major release

#71441 New version: Plots v1.35.7
  P/Plots/Compat.toml
  P/Plots/Versions.toml
Labels: patch release

#71444 New version: AlgebraicRewriting v0.1.0
  A/AlgebraicRewriting/Compat.toml
  A/AlgebraicRewriting/Versions.toml
Labels: BREAKING, minor release

#71445 New version: DataSets v0.2.7
  D/DataSets/Versions.toml
Labels: patch release

#71447 New version: GAP v0.9.0
  G/GAP/Compat.toml
  G/GAP/Versions.toml
Labels: BREAKING, minor release

#71449 New version: Cropbox v0.3.35
  C/Cropbox/Versions.toml
Labels: patch release

#71450 New version: InferenceObjectsNetCDF v0.2.2
  I/InferenceObjectsNetCDF/Versions.toml
Labels: patch release

#71451 New version: ImgCIFHandler v0.10.1
  I/ImgCIFHandler/Versions.toml
Labels: patch release

#71452 New version: RNAstructure v0.3.2
  R/RNAstructure/Versions.toml
Labels: patch release

#71455 New version: QRCoders v1.2.2
  Q/QRCoders/Compat.toml
  Q/QRCoders/Deps.toml
  Q/QRCoders/Versions.toml
Labels: patch release

#71456 New version: DataAssimilationBenchmarks v0.3.1
  D/DataAssimilationBenchmarks/Compat.toml
  D/DataAssimilationBenchmarks/Versions.toml
Labels: patch release

#71453 New version: Bonsai v0.5.3
  B/Bonsai/Compat.toml
  B/Bonsai/Deps.toml
  B/Bonsai/Versions.toml
Labels: patch release

#71459 New version: Taxonomy v0.4.0
  T/Taxonomy/Compat.toml
  T/Taxonomy/Deps.toml
  T/Taxonomy/Versions.toml
Labels: BREAKING, minor release

#71460 New version: StaticTools v0.8.1
  S/StaticTools/Versions.toml
Labels: patch release

#71461 New version: CloudStore v1.2.0
  C/CloudStore/Versions.toml
Labels: minor release

#71462 New version: NavAbilitySDK v0.4.8
  N/NavAbilitySDK/Compat.toml
  N/NavAbilitySDK/Versions.toml
Labels: patch release

#71463 New version: DistributedFactorGraphs v0.18.7
  D/DistributedFactorGraphs/Versions.toml
Labels: patch release

#71464 New version: MLStyle v0.4.15
  M/MLStyle/Versions.toml
Labels: patch release

#71465 New version: BSplineKit v0.12.3
  B/BSplineKit/Compat.toml
  B/BSplineKit/Versions.toml
Labels: patch release

#71466 New version: PolynomialBases v0.4.14
  P/PolynomialBases/Compat.toml
  P/PolynomialBases/Versions.toml
Labels: patch release

#71468 New version: StanSample v6.11.5
  S/StanSample/Versions.toml
Labels: patch release

#71469 New version: CompactBases v0.3.11
  C/CompactBases/Compat.toml
  C/CompactBases/Versions.toml
Labels: patch release

#71470 New version: NeuralAttentionlib v0.1.4
  N/NeuralAttentionlib/Versions.toml
Labels: patch release

#71471 New version: ConstraintCommons v0.1.3
  C/ConstraintCommons/Versions.toml
Labels: patch release

#71472 New version: ConstraintDomains v0.3.4
  C/ConstraintDomains/Versions.toml
Labels: patch release

#71473 New version: LeafGasExchange v0.1.6
  L/LeafGasExchange/Deps.toml
  L/LeafGasExchange/Versions.toml
Labels: patch release

#71474 New version: CompositionalNetworks v0.5.2
  C/CompositionalNetworks/Compat.toml
  C/CompositionalNetworks/Deps.toml
  C/CompositionalNetworks/Versions.toml
Labels: patch release

#71475 New version: ApproximateGPs v0.4.3
  A/ApproximateGPs/Compat.toml
  A/ApproximateGPs/Versions.toml
Labels: patch release

#71477 New version: PosteriorDB v0.2.0
  P/PosteriorDB/Versions.toml
Labels: BREAKING, minor release

#71479 New version: Cropbox v0.3.36
  C/Cropbox/Versions.toml
Labels: patch release

#71480 New version: QuantumLattices v0.9.3
  Q/QuantumLattices/Versions.toml
Labels: patch release

#71481 New version: FastTransforms v0.14.7
  F/FastTransforms/Compat.toml
  F/FastTransforms/Versions.toml
Labels: patch release

#71476 New version: Constraints v0.4.0
  C/Constraints/Compat.toml
  C/Constraints/Deps.toml
  C/Constraints/Versions.toml
Labels: BREAKING, minor release

#71483 New version: TightBindingApproximation v0.1.15
  T/TightBindingApproximation/Compat.toml
  T/TightBindingApproximation/Versions.toml
Labels: patch release

#71484 New version: PowerDynamics v3.1.4
  P/PowerDynamics/Versions.toml
Labels: patch release

#71486 New version: TruthTables v0.4.2
  T/TruthTables/Compat.toml
  T/TruthTables/Versions.toml
Labels: patch release

#71487 New version: ClimateModels v0.2.14
  C/ClimateModels/Versions.toml
Labels: patch release

#71488 New version: RNAstructure v0.3.3
  R/RNAstructure/Versions.toml
Labels: patch release

#71489 New version: SCS v1.1.3
  S/SCS/Compat.toml
  S/SCS/Deps.toml
  S/SCS/Versions.toml
Labels: patch release

#71490 New version: Comrade v0.6.8
  C/Comrade/Versions.toml
Labels: patch release

#71491 New version: MultipleScattering v0.1.13
  M/MultipleScattering/Compat.toml
  M/MultipleScattering/Versions.toml
Labels: patch release

#71493 New version: ActionModels v0.2.1
  A/ActionModels/Versions.toml
Labels: patch release

#71496 New version: Rocket v1.6.0
  R/Rocket/Versions.toml
Labels: minor release

#71499 New version: Bessels v0.2.6
  B/Bessels/Versions.toml
Labels: patch release

#71501 New version: GeoDataFrames v0.3.1
  G/GeoDataFrames/Versions.toml
Labels: patch release

#71502 New version: Accessors v0.1.22
  A/Accessors/Versions.toml
Labels: patch release

#71503 New version: RNAstructure v0.3.4
  R/RNAstructure/Versions.toml
Labels: patch release

#71505 New version: BlockDiagonals v0.1.38
  B/BlockDiagonals/Versions.toml
Labels: patch release

#71507 New version: PhylogeneticFactorAnalysis v1.0.0
  P/PhylogeneticFactorAnalysis/Compat.toml
  P/PhylogeneticFactorAnalysis/Deps.toml
  P/PhylogeneticFactorAnalysis/Versions.toml
Labels: BREAKING, major release

#71509 New version: GeoArrayOps v0.5.0
  G/GeoArrayOps/Versions.toml
Labels: BREAKING, minor release

#71510 New version: GeometryPrimitives v0.4.4
  G/GeometryPrimitives/Compat.toml
  G/GeometryPrimitives/Versions.toml
Labels: patch release

#71511 New version: Onda v0.15.0
  O/Onda/Compat.toml
  O/Onda/Deps.toml
  O/Onda/Versions.toml
Labels: BREAKING, minor release

#71512 New version: FCSFiles v0.2.0
  F/FCSFiles/Compat.toml
  F/FCSFiles/Deps.toml
  F/FCSFiles/Versions.toml
Labels: BREAKING, minor release

#71513 New version: MLJModelInterface v1.7.1
  M/MLJModelInterface/Versions.toml
Labels: patch release

#71515 New version: YaoAPI v0.4.3
  Y/YaoAPI/Versions.toml
Labels: patch release

#71516 New version: YaoArrayRegister v0.9.3
  Y/YaoArrayRegister/Versions.toml
Labels: patch release

#71517 New version: YaoBlocks v0.13.5
  Y/YaoBlocks/Compat.toml
  Y/YaoBlocks/Versions.toml
Labels: patch release

#71518 New version: YaoSym v0.6.2
  Y/YaoSym/Versions.toml
Labels: patch release

#71519 New version: DWave v0.1.1
  D/DWave/Compat.toml
  D/DWave/Deps.toml
  D/DWave/Versions.toml
Labels: patch release

#71520 New version: XGBoost v2.0.0
  X/XGBoost/Compat.toml
  X/XGBoost/Deps.toml
  X/XGBoost/Versions.toml
Labels: BREAKING, major release

#71521 New version: FrequencySweep v0.2.0
  F/FrequencySweep/Versions.toml
Labels: BREAKING, minor release

#71522 New version: GMMParameterEstimation v0.1.2
  G/GMMParameterEstimation/Versions.toml
Labels: patch release

#71523 New version: Yao v0.8.5
  Y/Yao/Versions.toml
Labels: patch release

#71524 New version: FlexiGroups v0.1.7
  F/FlexiGroups/Compat.toml
  F/FlexiGroups/Deps.toml
  F/FlexiGroups/Versions.toml
Labels: patch release

#71526 New version: Libtask v0.8.4
  L/Libtask/Versions.toml
Labels: patch release

#71527 New version: MLJTestIntegration v0.2.5
  M/MLJTestIntegration/Versions.toml
Labels: patch release

#71528 New version: OrdinaryDiffEq v6.30.1
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#71529 New version: FlexiGroups v0.1.8
  F/FlexiGroups/Versions.toml
Labels: patch release

#71531 New version: AlgebraicAgents v0.2.5
  A/AlgebraicAgents/Versions.toml
Labels: patch release

#71533 New version: GibbsSeaWater v0.1.2
  G/GibbsSeaWater/Compat.toml
  G/GibbsSeaWater/Deps.toml
  G/GibbsSeaWater/Versions.toml
Labels: patch release

#71534 New version: QuantumCircuitOpt v0.5.2
  Q/QuantumCircuitOpt/Compat.toml
  Q/QuantumCircuitOpt/Deps.toml
  Q/QuantumCircuitOpt/Versions.toml
Labels: patch release

#71535 New version: Pixell v0.2.5
  P/Pixell/Versions.toml
Labels: patch release

#71536 New version: SymbolicRegression v0.14.1
  S/SymbolicRegression/Versions.toml
Labels: patch release

#71538 New version: OrdinalGWAS v0.6.2
  O/OrdinalGWAS/Versions.toml
Labels: patch release

#71539 New version: Catlab v0.14.10
  C/Catlab/Versions.toml
Labels: patch release

#71540 New version: SymbolicRegression v0.14.2
  S/SymbolicRegression/Versions.toml
Labels: patch release

#71541 New version: SpinWaveTheory v0.1.9
  S/SpinWaveTheory/Compat.toml
  S/SpinWaveTheory/Versions.toml
Labels: patch release

#71332 New package: DataToolkitBase v0.1.0
  D/DataToolkitBase/Compat.toml
  D/DataToolkitBase/Deps.toml
  D/DataToolkitBase/Package.toml
  D/DataToolkitBase/Versions.toml
  Registry.toml
Labels: new package

#71543 New version: BandedMatrices v0.17.8
  B/BandedMatrices/Deps.toml
  B/BandedMatrices/Versions.toml
Labels: patch release

#71545 New version: DecisionProgramming v1.1.0
  D/DecisionProgramming/Compat.toml
  D/DecisionProgramming/Versions.toml
Labels: minor release

#71504 New version: ModeCouplingTheory v0.5.1
  M/ModeCouplingTheory/Compat.toml
  M/ModeCouplingTheory/Deps.toml
  M/ModeCouplingTheory/Versions.toml
Labels: patch release

#71547 New version: ReactiveMP v3.0.0
  R/ReactiveMP/Compat.toml
  R/ReactiveMP/Deps.toml
  R/ReactiveMP/Versions.toml
Labels: BREAKING, major release

#71549 New version: StanSample v6.11.6
  S/StanSample/Compat.toml
  S/StanSample/Versions.toml
Labels: patch release

#71550 New version: GraphNeuralNetworks v0.5.0
  G/GraphNeuralNetworks/Compat.toml
  G/GraphNeuralNetworks/Versions.toml
Labels: BREAKING, minor release

#71552 New version: BioMASS v0.8.0
  B/BioMASS/Compat.toml
  B/BioMASS/Versions.toml
Labels: BREAKING, minor release

#71553 New version: ApproxFunOrthogonalPolynomials v0.5.13
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#71346 New package: MieScattering v0.1.0
  M/MieScattering/Compat.toml
  M/MieScattering/Deps.toml
  M/MieScattering/Package.toml
  M/MieScattering/Versions.toml
  Registry.toml
Labels: new package

#71554 yank broken `GR_jll` (windows - vscode)
  G/GR_jll/Versions.toml
Labels: yank

#71555 New version: PlutoDevMacros v0.4.6
  P/PlutoDevMacros/Compat.toml
  P/PlutoDevMacros/Deps.toml
  P/PlutoDevMacros/Versions.toml
Labels: patch release

#71556 New version: JUDI v3.1.12
  J/JUDI/Versions.toml
Labels: patch release

#71557 New version: PostgresORM v0.5.4
  P/PostgresORM/Versions.toml
Labels: patch release

#71558 New version: ToQUBO v0.1.3
  T/ToQUBO/Compat.toml
  T/ToQUBO/Deps.toml
  T/ToQUBO/Versions.toml
Labels: patch release

#71559 New version: KeyedDistributions v0.1.11
  K/KeyedDistributions/Versions.toml
Labels: patch release

#71563 New version: RealTimeScheduling v0.1.2
  R/RealTimeScheduling/Versions.toml
Labels: patch release

#71565 New version: BlockDiagonals v0.1.39
  B/BlockDiagonals/Versions.toml
Labels: patch release

#71567 New version: Legolas v0.5.1
  L/Legolas/Versions.toml
Labels: patch release

#71568 New version: Makie v0.18.2
  M/Makie/Compat.toml
  M/Makie/Versions.toml
Labels: patch release

#71570 New version: TreeKnit v0.4.0
  T/TreeKnit/Compat.toml
  T/TreeKnit/Versions.toml
Labels: BREAKING, minor release

#71571 New version: GLMakie v0.7.2
  G/GLMakie/Compat.toml
  G/GLMakie/Versions.toml
Labels: patch release

#71573 New version: RPRMakie v0.4.2
  R/RPRMakie/Compat.toml
  R/RPRMakie/Versions.toml
Labels: patch release

#71574 New version: CairoMakie v0.9.2
  C/CairoMakie/Compat.toml
  C/CairoMakie/Versions.toml
Labels: patch release

#71575 New version: EDF v0.7.3
  E/EDF/Versions.toml
Labels: patch release

#71582 New version: Hypatia v0.7.1
  H/Hypatia/Compat.toml
  H/Hypatia/Versions.toml
Labels: patch release

#71583 New version: RxInfer v2.0.0
  R/RxInfer/Compat.toml
  R/RxInfer/Deps.toml
  R/RxInfer/Versions.toml
Labels: BREAKING, major release

#71584 New version: Impute v0.6.9
  I/Impute/Compat.toml
  I/Impute/Versions.toml
Labels: patch release

#71581 New version: EquivariantOperators v0.1.5
  E/EquivariantOperators/Compat.toml
  E/EquivariantOperators/Deps.toml
  E/EquivariantOperators/Versions.toml
Labels: patch release

#71587 New version: Oxygen v1.1.3
  O/Oxygen/Versions.toml
Labels: patch release

#71588 New version: FeatureTransforms v0.4.0
  F/FeatureTransforms/Compat.toml
  F/FeatureTransforms/Versions.toml
Labels: BREAKING, minor release

#71589 New version: MaskedArrays v0.2.0
  M/MaskedArrays/Compat.toml
  M/MaskedArrays/Deps.toml
  M/MaskedArrays/Versions.toml
Labels: BREAKING, minor release

#71578 New version: FeatureTransforms v0.4.1
  F/FeatureTransforms/Compat.toml
  F/FeatureTransforms/Versions.toml
Labels: minor release

#71590 New version: HTTP v1.5.2
  H/HTTP/Versions.toml
Labels: patch release

#71592 New version: EDF v0.7.4
  E/EDF/Versions.toml
Labels: patch release
