Repository JuliaRegistries/General, pull requests merged in 2022-05, with the labels that each got.

#59440 New version: FractionalCalculus v0.2.10
  F/FractionalCalculus/Compat.toml
  F/FractionalCalculus/Deps.toml
  F/FractionalCalculus/Versions.toml
Labels: patch release

#59266 New package: Mechanical v0.1.0
  M/Mechanical/Compat.toml
  M/Mechanical/Deps.toml
  M/Mechanical/Package.toml
  M/Mechanical/Versions.toml
  Registry.toml
Labels: new package

#59267 New package: ParameterEstimocean v0.13.1
  P/ParameterEstimocean/Compat.toml
  P/ParameterEstimocean/Deps.toml
  P/ParameterEstimocean/Package.toml
  P/ParameterEstimocean/Versions.toml
  Registry.toml
Labels: new package

#59443 New version: BasicBSpline v0.5.7
  B/BasicBSpline/Versions.toml
Labels: patch release

#59444 New version: BasicBSpline v0.6.0
  B/BasicBSpline/Versions.toml
Labels: BREAKING, minor release

#59445 New version: WavePropBase v0.2.0
  W/WavePropBase/Compat.toml
  W/WavePropBase/Deps.toml
  W/WavePropBase/Versions.toml
Labels: BREAKING, minor release

#59285 New package: GalacticBBO v0.1.0
  G/GalacticBBO/Compat.toml
  G/GalacticBBO/Deps.toml
  G/GalacticBBO/Package.toml
  G/GalacticBBO/Versions.toml
  Registry.toml
Labels: new package

#59286 New package: GalacticCMAEvolutionStrategy v0.1.0
  G/GalacticCMAEvolutionStrategy/Compat.toml
  G/GalacticCMAEvolutionStrategy/Deps.toml
  G/GalacticCMAEvolutionStrategy/Package.toml
  G/GalacticCMAEvolutionStrategy/Versions.toml
  Registry.toml
Labels: new package

#59287 New package: GalacticEvolutionary v0.1.0
  G/GalacticEvolutionary/Compat.toml
  G/GalacticEvolutionary/Deps.toml
  G/GalacticEvolutionary/Package.toml
  G/GalacticEvolutionary/Versions.toml
  Registry.toml
Labels: new package

#59288 New package: GalacticFlux v0.1.0
  G/GalacticFlux/Compat.toml
  G/GalacticFlux/Deps.toml
  G/GalacticFlux/Package.toml
  G/GalacticFlux/Versions.toml
  Registry.toml
Labels: new package

#59289 New package: GalacticGCMAES v0.1.0
  G/GalacticGCMAES/Compat.toml
  G/GalacticGCMAES/Deps.toml
  G/GalacticGCMAES/Package.toml
  G/GalacticGCMAES/Versions.toml
  Registry.toml
Labels: new package

#59290 New package: GalacticMetaheuristics v0.1.0
  G/GalacticMetaheuristics/Compat.toml
  G/GalacticMetaheuristics/Deps.toml
  G/GalacticMetaheuristics/Package.toml
  G/GalacticMetaheuristics/Versions.toml
  Registry.toml
Labels: new package

#59291 New package: GalacticMOI v0.1.0
  G/GalacticMOI/Compat.toml
  G/GalacticMOI/Deps.toml
  G/GalacticMOI/Package.toml
  G/GalacticMOI/Versions.toml
  Registry.toml
Labels: new package

#59292 New package: GalacticMultistartOptimization v0.1.0
  G/GalacticMultistartOptimization/Compat.toml
  G/GalacticMultistartOptimization/Deps.toml
  G/GalacticMultistartOptimization/Package.toml
  G/GalacticMultistartOptimization/Versions.toml
  Registry.toml
Labels: new package

#59293 New package: GalacticNLopt v0.1.0
  G/GalacticNLopt/Compat.toml
  G/GalacticNLopt/Deps.toml
  G/GalacticNLopt/Package.toml
  G/GalacticNLopt/Versions.toml
  Registry.toml
Labels: new package

#59294 New package: GalacticNOMAD v0.1.0
  G/GalacticNOMAD/Compat.toml
  G/GalacticNOMAD/Deps.toml
  G/GalacticNOMAD/Package.toml
  G/GalacticNOMAD/Versions.toml
  Registry.toml
Labels: new package

#59446 New version: ReinforcementLearningZoo v0.5.11
  R/ReinforcementLearningZoo/Versions.toml
Labels: patch release

#59447 New version: LegendrePolynomials v0.4.2
  L/LegendrePolynomials/Versions.toml
Labels: patch release

#59448 New version: Kanones v0.8.1
  K/Kanones/Versions.toml
Labels: patch release

#59450 New version: WavePropBase v0.2.1
  W/WavePropBase/Versions.toml
Labels: patch release

#59452 New version: MCMCChains v5.1.2
  M/MCMCChains/Versions.toml
Labels: patch release

#59453 New version: StructArrays v0.6.6
  S/StructArrays/Versions.toml
Labels: patch release

#59455 New version: WavePropBase v0.2.2
  W/WavePropBase/Compat.toml
  W/WavePropBase/Versions.toml
Labels: patch release

#59456 New version: ImageShow v0.3.4
  I/ImageShow/Versions.toml
Labels: patch release

#59457 New version: CloudSeis v1.6.2
  C/CloudSeis/Versions.toml
Labels: patch release

#59458 New version: MCMCChains v5.2.0
  M/MCMCChains/Versions.toml
Labels: minor release

#59307 New package: SeisPDF v0.0.1
  Registry.toml
  S/SeisPDF/Compat.toml
  S/SeisPDF/Deps.toml
  S/SeisPDF/Package.toml
  S/SeisPDF/Versions.toml
Labels: new package

#59460 New version: OceanRobots v0.1.7
  O/OceanRobots/Compat.toml
  O/OceanRobots/Deps.toml
  O/OceanRobots/Versions.toml
Labels: patch release

#59309 New package: KiteControllers v0.1.0
  K/KiteControllers/Compat.toml
  K/KiteControllers/Deps.toml
  K/KiteControllers/Package.toml
  K/KiteControllers/Versions.toml
  Registry.toml
Labels: new package

#59461 New version: HMatrices v0.1.1
  H/HMatrices/Compat.toml
  H/HMatrices/Versions.toml
Labels: patch release

#59462 New version: Kanones v0.8.2
  K/Kanones/Versions.toml
Labels: patch release

#59463 New version: ReSHOP_jll v0.1.3
  R/ReSHOP_jll/Versions.toml
Labels: patch release

#59316 New package: SpeedyWeather v0.1.0
  Registry.toml
  S/SpeedyWeather/Compat.toml
  S/SpeedyWeather/Deps.toml
  S/SpeedyWeather/Package.toml
  S/SpeedyWeather/Versions.toml
Labels: new package

#59464 New version: ReSHOP v0.1.4
  R/ReSHOP/Compat.toml
  R/ReSHOP/Versions.toml
Labels: patch release

#59465 New version: Symbolics v4.4.3
  S/Symbolics/Versions.toml
Labels: patch release

#59296 New package: GalacticOptimJL v0.1.0
  G/GalacticOptimJL/Compat.toml
  G/GalacticOptimJL/Deps.toml
  G/GalacticOptimJL/Package.toml
  G/GalacticOptimJL/Versions.toml
  Registry.toml
Labels: new package

#59466 New version: ReSHOP_jll v0.1.4
  R/ReSHOP_jll/Versions.toml
Labels: patch release

#59468 New version: ReSHOP v0.1.5
  R/ReSHOP/Compat.toml
  R/ReSHOP/Versions.toml
Labels: patch release

#59331 New package: GasChem v0.1.0
  G/GasChem/Compat.toml
  G/GasChem/Deps.toml
  G/GasChem/Package.toml
  G/GasChem/Versions.toml
  Registry.toml
Labels: new package

#59336 New package: ArrayAllocators v0.2.0
  A/ArrayAllocators/Compat.toml
  A/ArrayAllocators/Deps.toml
  A/ArrayAllocators/Package.toml
  A/ArrayAllocators/Versions.toml
  Registry.toml
Labels: new package

#59474 New version: AIBECS v0.12.0
  A/AIBECS/Compat.toml
  A/AIBECS/Deps.toml
  A/AIBECS/Versions.toml
Labels: BREAKING, minor release

#59475 New version: ExponentialUtilities v1.15.0
  E/ExponentialUtilities/Versions.toml
Labels: minor release

#59477 New version: RediSearch v0.1.1
  R/RediSearch/Versions.toml
Labels: patch release

#59479 New version: Metaheuristics v3.2.6
  M/Metaheuristics/Versions.toml
Labels: patch release

#59480 New version: TurbulenceConvection v0.22.0
  T/TurbulenceConvection/Versions.toml
Labels: BREAKING, minor release

#59481 New version: StartUpDG v0.13.2
  S/StartUpDG/Compat.toml
  S/StartUpDG/Deps.toml
  S/StartUpDG/Versions.toml
Labels: patch release

#59482 New version: SymbolicRegression v0.9.0
  S/SymbolicRegression/Compat.toml
  S/SymbolicRegression/Versions.toml
Labels: BREAKING, minor release

#59344 New package: Pinecone v0.1.0
  P/Pinecone/Compat.toml
  P/Pinecone/Deps.toml
  P/Pinecone/Package.toml
  P/Pinecone/Versions.toml
  Registry.toml
Labels: new package

#59484 New version: LegendrePolynomials v0.4.3
  L/LegendrePolynomials/Versions.toml
Labels: patch release

#59485 New version: Distributions v0.25.56
  D/Distributions/Versions.toml
Labels: patch release

#59486 New version: ManifoldsBase v0.13.6
  M/ManifoldsBase/Versions.toml
Labels: patch release

#59348 New package: Combinat v0.0.1
  C/Combinat/Compat.toml
  C/Combinat/Deps.toml
  C/Combinat/Package.toml
  C/Combinat/Versions.toml
  Registry.toml
Labels: new package

#59488 New version: CapAndHomalg v1.3.5
  C/CapAndHomalg/Versions.toml
Labels: patch release

#59489 New version: HomalgProject v1.1.4
  H/HomalgProject/Compat.toml
  H/HomalgProject/Versions.toml
Labels: patch release

#59490 New version: CapAndHomalg v1.4.0
  C/CapAndHomalg/Compat.toml
  C/CapAndHomalg/Versions.toml
Labels: minor release

#59491 New version: GridLayoutBase v0.7.5
  G/GridLayoutBase/Compat.toml
  G/GridLayoutBase/Versions.toml
Labels: patch release

#59492 New version: LiveServer v0.8.1
  L/LiveServer/Compat.toml
  L/LiveServer/Versions.toml
Labels: patch release

#59493 New version: Resample v1.0.2
  R/Resample/Versions.toml
Labels: patch release

#59494 New version: ViennaRNA v0.5.0
  V/ViennaRNA/Compat.toml
  V/ViennaRNA/Deps.toml
  V/ViennaRNA/Versions.toml
Labels: BREAKING, minor release

#59495 New version: UsingMerge v0.0.4
  U/UsingMerge/Versions.toml
Labels: BREAKING, patch release

#59359 New package: ImplicitDifferentiables v0.1.0
  I/ImplicitDifferentiables/Compat.toml
  I/ImplicitDifferentiables/Deps.toml
  I/ImplicitDifferentiables/Package.toml
  I/ImplicitDifferentiables/Versions.toml
  Registry.toml
Labels: new package

#59496 New version: PrecompileSignatures v3.0.1
  P/PrecompileSignatures/Versions.toml
Labels: patch release

#59499 New version: LogExpFunctions v0.3.14
  L/LogExpFunctions/Versions.toml
Labels: patch release

#59500 New version: Transparency v0.1.8
  T/Transparency/Versions.toml
Labels: patch release

#59501 New version: ReactiveMP v2.0.1
  R/ReactiveMP/Versions.toml
Labels: patch release

#59502 New version: JuliaFormatter v0.22.9
  J/JuliaFormatter/Versions.toml
Labels: patch release

#59498 New version: ReservoirComputing v0.8.0
  R/ReservoirComputing/Compat.toml
  R/ReservoirComputing/Deps.toml
  R/ReservoirComputing/Versions.toml
Labels: BREAKING, minor release

#59503 New version: Pathfinder v0.4.0
  P/Pathfinder/Compat.toml
  P/Pathfinder/Deps.toml
  P/Pathfinder/Versions.toml
Labels: BREAKING, minor release

#59504 New version: Plots v1.28.1
  P/Plots/Versions.toml
Labels: patch release

#59506 New version: JuliaFormatter v0.22.10
  J/JuliaFormatter/Versions.toml
Labels: patch release

#59507 New version: ModiaResult v0.4.2
  M/ModiaResult/Versions.toml
Labels: patch release

#59508 New version: JSServe v1.2.6
  J/JSServe/Compat.toml
  J/JSServe/Versions.toml
Labels: patch release

#59509 New version: LiveServer v0.8.2
  L/LiveServer/Compat.toml
  L/LiveServer/Versions.toml
Labels: patch release

#59510 New version: WidgetsBase v0.1.4
  W/WidgetsBase/Compat.toml
  W/WidgetsBase/Versions.toml
Labels: patch release

#59512 New version: ModiaResult v0.4.3
  M/ModiaResult/Versions.toml
Labels: patch release

#59513 New version: AtomicMass v0.2.0
  A/AtomicMass/Compat.toml
  A/AtomicMass/Deps.toml
  A/AtomicMass/Versions.toml
Labels: BREAKING, minor release

#59518 New version: TableTransforms v0.5.2
  T/TableTransforms/Versions.toml
Labels: patch release

#59520 New version: GMT v0.41.3
  G/GMT/Versions.toml
Labels: patch release

#59521 New version: Pathfinder v0.4.1
  P/Pathfinder/Compat.toml
  P/Pathfinder/Deps.toml
  P/Pathfinder/Versions.toml
Labels: patch release

#59522 New version: KNearestCenters v0.7.0
  K/KNearestCenters/Compat.toml
  K/KNearestCenters/Versions.toml
Labels: BREAKING, minor release

#59524 New version: PALEOboxes v0.17.1
  P/PALEOboxes/Versions.toml
Labels: patch release

#59383 New package: SixelTerm v1.0.0
  Registry.toml
  S/SixelTerm/Compat.toml
  S/SixelTerm/Deps.toml
  S/SixelTerm/Package.toml
  S/SixelTerm/Versions.toml
Labels: new package

#59525 New version: TextSearch v0.11.1
  T/TextSearch/Versions.toml
Labels: patch release

#59526 New version: DifferenceEquations v0.4.11
  D/DifferenceEquations/Compat.toml
  D/DifferenceEquations/Deps.toml
  D/DifferenceEquations/Versions.toml
Labels: patch release

#59528 New version: PALEOmodel v0.14.3
  P/PALEOmodel/Versions.toml
Labels: patch release

#59530 New version: GeoParams v0.3.6
  G/GeoParams/Versions.toml
Labels: patch release

#59532 New version: DifferentiableStateSpaceModels v0.4.13
  D/DifferentiableStateSpaceModels/Compat.toml
  D/DifferentiableStateSpaceModels/Versions.toml
Labels: patch release

#59531 New version: StaticTools v0.3.0
  S/StaticTools/Versions.toml
Labels: BREAKING, minor release

#59536 New version: MixedModels v4.6.3
  M/MixedModels/Compat.toml
  M/MixedModels/Versions.toml
Labels: patch release

#59541 New version: KiteModels v0.3.3
  K/KiteModels/Compat.toml
  K/KiteModels/Versions.toml
Labels: patch release

#59542 New version: DataFrames v1.3.4
  D/DataFrames/Compat.toml
  D/DataFrames/Versions.toml
Labels: patch release

#59545 New version: ReSHOP_jll v0.1.5
  R/ReSHOP_jll/Versions.toml
Labels: patch release

#59546 New version: PETLION v0.2.6
  P/PETLION/Versions.toml
Labels: patch release

#59547 New version: ReSHOP v0.1.6
  R/ReSHOP/Compat.toml
  R/ReSHOP/Versions.toml
Labels: patch release

#59548 New version: NLPModelsTest v0.7.0
  N/NLPModelsTest/Compat.toml
  N/NLPModelsTest/Versions.toml
Labels: BREAKING, minor release

#59549 New version: OceanRobots v0.1.8
  O/OceanRobots/Compat.toml
  O/OceanRobots/Deps.toml
  O/OceanRobots/Versions.toml
Labels: patch release

#59550 New version: Telescope v0.2.0
  T/Telescope/Compat.toml
  T/Telescope/Versions.toml
Labels: BREAKING, minor release

#59551 New version: TextSearch v0.11.2
  T/TextSearch/Versions.toml
Labels: patch release

#59552 New version: Starlight v0.2.0
  S/Starlight/Compat.toml
  S/Starlight/Deps.toml
  S/Starlight/Versions.toml
Labels: BREAKING, minor release

#59553 New version: GaussianBasis v0.3.0
  G/GaussianBasis/Compat.toml
  G/GaussianBasis/Deps.toml
  G/GaussianBasis/Versions.toml
Labels: BREAKING, minor release

#59554 New version: BitBasis v0.8.0
  B/BitBasis/Versions.toml
Labels: BREAKING, minor release

#59401 New package: BloqadeExpr v0.1.0
  B/BloqadeExpr/Compat.toml
  B/BloqadeExpr/Deps.toml
  B/BloqadeExpr/Package.toml
  B/BloqadeExpr/Versions.toml
  Registry.toml
Labels: new package

#59558 New version: OMEinsumContractionOrders v0.6.7
  O/OMEinsumContractionOrders/Versions.toml
Labels: patch release

#59559 New version: MLJBase v0.20.2
  M/MLJBase/Versions.toml
Labels: patch release

#59560 New version: PowerSimulationsDynamics v0.10.0
  P/PowerSimulationsDynamics/Compat.toml
  P/PowerSimulationsDynamics/Deps.toml
  P/PowerSimulationsDynamics/Versions.toml
Labels: BREAKING, minor release

#59561 New version: OMEinsumContractionOrders v0.6.8
  O/OMEinsumContractionOrders/Versions.toml
Labels: patch release

#59564 New version: InMemoryDatasets v0.7.3
  I/InMemoryDatasets/Versions.toml
Labels: patch release

#59565 New version: PowerSimulationsDynamics v0.10.1
  P/PowerSimulationsDynamics/Versions.toml
Labels: patch release

#59567 New version: SparseIR v0.11.0
  S/SparseIR/Compat.toml
  S/SparseIR/Deps.toml
  S/SparseIR/Versions.toml
Labels: BREAKING, minor release

#59569 New version: NLboxsolve v0.2.0
  N/NLboxsolve/Versions.toml
Labels: BREAKING, minor release

#59571 New version: Observables v0.5.1
  O/Observables/Versions.toml
Labels: patch release

#59572 New version: Infiltrator v1.3.1
  I/Infiltrator/Versions.toml
Labels: patch release

#59577 New version: JSServe v1.2.7
  J/JSServe/Compat.toml
  J/JSServe/Versions.toml
Labels: patch release

#59576 New version: DiffEqFlux v1.47.0
  D/DiffEqFlux/Compat.toml
  D/DiffEqFlux/Deps.toml
  D/DiffEqFlux/Versions.toml
Labels: minor release

#59578 New version: GradientRobustMultiPhysics v0.9.8
  G/GradientRobustMultiPhysics/Versions.toml
Labels: patch release

#59579 New version: DiffEqJump v8.4.0
  D/DiffEqJump/Versions.toml
Labels: minor release

#59581 New version: DiffEqFlux v1.47.1
  D/DiffEqFlux/Versions.toml
Labels: patch release

#59573 New version: Atom v0.12.37
  A/Atom/Compat.toml
  A/Atom/Deps.toml
  A/Atom/Versions.toml
Labels: patch release

#59574 New version: Tokenize v0.5.23
  T/Tokenize/Versions.toml
Labels: patch release

#59582 New version: StochasticGene v0.6.3
  S/StochasticGene/Versions.toml
Labels: patch release

#59586 New version: OrdinaryDiffEq v5.71.1
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#59587 New version: Lighthouse v0.14.6
  L/Lighthouse/Versions.toml
Labels: patch release

#59570 New version: SCIP v0.11.1
  S/SCIP/Versions.toml
Labels: patch release

#59425 New package: LinkCutTrees v0.1.0
  L/LinkCutTrees/Compat.toml
  L/LinkCutTrees/Deps.toml
  L/LinkCutTrees/Package.toml
  L/LinkCutTrees/Versions.toml
  Registry.toml
Labels: new package

#59583 New version: Extremes v0.2.3
  E/Extremes/Compat.toml
  E/Extremes/Versions.toml
Labels: patch release

#59588 New version: OpenQuantumSystems v0.1.7
  O/OpenQuantumSystems/Versions.toml
Labels: patch release

#59589 New version: GenericTensorNetworks v1.0.2
  G/GenericTensorNetworks/Versions.toml
Labels: patch release

#59590 New version: CamiXon v1.6.14
  C/CamiXon/Versions.toml
Labels: patch release

#59591 New version: JobSchedulers v0.6.5
  J/JobSchedulers/Versions.toml
Labels: patch release

#59596 New version: CamiXon v1.6.15
  C/CamiXon/Versions.toml
Labels: patch release

#59597 New version: StanSample v6.5.0
  S/StanSample/Compat.toml
  S/StanSample/Deps.toml
  S/StanSample/Versions.toml
Labels: minor release

#59598 New version: MRFingerprintingRecon v0.3.5
  M/MRFingerprintingRecon/Versions.toml
Labels: patch release

#59599 New version: LighthouseFlux v0.3.5
  L/LighthouseFlux/Compat.toml
  L/LighthouseFlux/Deps.toml
  L/LighthouseFlux/Versions.toml
Labels: patch release

#59601 New version: BasisMatrices v0.7.1
  B/BasisMatrices/Versions.toml
Labels: patch release

#59602 New version: REopt v0.15.1
  R/REopt/Compat.toml
  R/REopt/Deps.toml
  R/REopt/Versions.toml
Labels: patch release

#59603 New version: NPZ v0.4.2
  N/NPZ/Compat.toml
  N/NPZ/Deps.toml
  N/NPZ/Versions.toml
Labels: patch release

#59607 New version: REoptPlots v0.1.2
  R/REoptPlots/Compat.toml
  R/REoptPlots/Deps.toml
  R/REoptPlots/Versions.toml
Labels: patch release

#59608 New version: Stan v9.5.0
  S/Stan/Compat.toml
  S/Stan/Deps.toml
  S/Stan/Versions.toml
Labels: minor release

#59609 New version: ChainRules v1.28.4
  C/ChainRules/Versions.toml
Labels: patch release

#59593 Yank arpack_jll 3.7
  A/Arpack_jll/Versions.toml
Labels: yank

#59610 New version: Cbc v1.0.1
  C/Cbc/Compat.toml
  C/Cbc/Versions.toml
Labels: patch release

#59611 New version: FinEtools v5.4.0
  F/FinEtools/Compat.toml
  F/FinEtools/Deps.toml
  F/FinEtools/Versions.toml
Labels: minor release

#59612 New version: MinkowskiReduction v1.2.0
  M/MinkowskiReduction/Compat.toml
  M/MinkowskiReduction/Versions.toml
Labels: minor release

#59614 New version: StartUpDG v0.13.3
  S/StartUpDG/Compat.toml
  S/StartUpDG/Deps.toml
  S/StartUpDG/Versions.toml
Labels: patch release

#59615 New version: FluxMPI v0.4.0
  F/FluxMPI/Compat.toml
  F/FluxMPI/Deps.toml
  F/FluxMPI/Versions.toml
Labels: BREAKING, minor release

#59616 New version: EnsembleKalmanProcesses v0.8.0
  E/EnsembleKalmanProcesses/Versions.toml
Labels: BREAKING, minor release

#59617 New version: TextSearch v0.11.3
  T/TextSearch/Versions.toml
Labels: patch release

#59618 New version: SCS v1.1.2
  S/SCS/Versions.toml
Labels: patch release

#59439 New package: BitcoinRPC v0.1.0
  B/BitcoinRPC/Compat.toml
  B/BitcoinRPC/Deps.toml
  B/BitcoinRPC/Package.toml
  B/BitcoinRPC/Versions.toml
  Registry.toml
Labels: new package

#59619 New version: Xyce v0.2.0
  X/Xyce/Compat.toml
  X/Xyce/Versions.toml
Labels: BREAKING, minor release
