Repository JuliaRegistries/General, pull requests merged in 2023-09, with the labels that each got.

#90599 New version: SurfaceFluxes v0.7.0
  S/SurfaceFluxes/Compat.toml
  S/SurfaceFluxes/Deps.toml
  S/SurfaceFluxes/Versions.toml
Labels: BREAKING, minor release

#90608 New version: Roentgen v0.13.3
  R/Roentgen/Versions.toml
Labels: patch release

#90609 New version: GeometricSolutions v0.3.18
  G/GeometricSolutions/Compat.toml
  G/GeometricSolutions/Versions.toml
Labels: patch release

#90610 New version: PkgToSoftwareBOM v0.1.4
  P/PkgToSoftwareBOM/Compat.toml
  P/PkgToSoftwareBOM/Versions.toml
Labels: patch release

#90413 New package: SeeToDee v1.0.0
  Registry.toml
  S/SeeToDee/Compat.toml
  S/SeeToDee/Deps.toml
  S/SeeToDee/Package.toml
  S/SeeToDee/Versions.toml
Labels: new package

#90611 New version: ControlSystemIdentification v2.8.0
  C/ControlSystemIdentification/Compat.toml
  C/ControlSystemIdentification/Versions.toml
Labels: minor release

#90612 New version: MoM_Basics v0.0.8
  M/MoM_Basics/Compat.toml
  M/MoM_Basics/Versions.toml
Labels: BREAKING, patch release

#90383 New package: GeoIO v1.0.0
  G/GeoIO/Compat.toml
  G/GeoIO/Deps.toml
  G/GeoIO/Package.toml
  G/GeoIO/Versions.toml
  Registry.toml
Labels: new package

#90613 New version: LowLevelParticleFilters v3.3.8
  L/LowLevelParticleFilters/Versions.toml
Labels: patch release

#90614 New version: MoM_Kernels v0.0.4
  M/MoM_Kernels/Compat.toml
  M/MoM_Kernels/Versions.toml
Labels: BREAKING, patch release

#90616 New version: ReTestItems v1.18.0
  R/ReTestItems/Versions.toml
Labels: minor release

#90619 New version: GeoStatsImages v1.1.0
  G/GeoStatsImages/Compat.toml
  G/GeoStatsImages/Versions.toml
Labels: minor release

#90620 New version: GeoIO v1.0.1
  G/GeoIO/Compat.toml
  G/GeoIO/Deps.toml
  G/GeoIO/Versions.toml
Labels: patch release

#90622 New version: Meshes v0.35.0
  M/Meshes/Compat.toml
  M/Meshes/Deps.toml
  M/Meshes/Versions.toml
Labels: BREAKING, minor release

#90624 New version: GPUArrays v9.0.0
  G/GPUArrays/Compat.toml
  G/GPUArrays/Deps.toml
  G/GPUArrays/Versions.toml
Labels: BREAKING, major release

#90623 New version: Embeddings v0.4.4
  E/Embeddings/Compat.toml
  E/Embeddings/Deps.toml
  E/Embeddings/Versions.toml
Labels: patch release

#90625 New version: RootSolvers v0.4.0
  R/RootSolvers/Versions.toml
Labels: BREAKING, minor release

#90627 New version: CliMADatasets v0.6.0
  C/CliMADatasets/Compat.toml
  C/CliMADatasets/Versions.toml
Labels: BREAKING, minor release

#90633 New version: REoptPlots v0.1.4
  R/REoptPlots/Compat.toml
  R/REoptPlots/Deps.toml
  R/REoptPlots/Versions.toml
Labels: patch release

#90635 New version: MixedModels v4.21.0
  M/MixedModels/Versions.toml
Labels: minor release

#90637 New version: Metaheuristics v3.3.3
  M/Metaheuristics/Compat.toml
  M/Metaheuristics/Versions.toml
Labels: patch release

#90638 New version: Registrator v1.9.0
  R/Registrator/Versions.toml
Labels: minor release

#90639 New version: DynamicPPL v0.23.15
  D/DynamicPPL/Versions.toml
Labels: patch release

#90640 New version: PkgTemplates v0.7.42
  P/PkgTemplates/Versions.toml
Labels: patch release

#90641 New version: GeoTables v1.5.0
  G/GeoTables/Compat.toml
  G/GeoTables/Deps.toml
  G/GeoTables/Versions.toml
Labels: minor release

#90642 New version: PALEOmodel v0.15.31
  P/PALEOmodel/Versions.toml
Labels: patch release

#90644 New version: PALEOboxes v0.21.19
  P/PALEOboxes/Versions.toml
Labels: patch release

#90643 New version: Molly v0.18.0
  M/Molly/Compat.toml
  M/Molly/Deps.toml
  M/Molly/Versions.toml
Labels: BREAKING, minor release

#90645 New version: JMcDM v0.7.8
  J/JMcDM/Versions.toml
Labels: patch release

#90646 New version: GeoTables v1.5.1
  G/GeoTables/Versions.toml
Labels: patch release

#90648 New version: Thermodynamics v0.11.1
  T/Thermodynamics/Compat.toml
  T/Thermodynamics/Versions.toml
Labels: patch release

#90649 New version: GMT v1.4.0
  G/GMT/Compat.toml
  G/GMT/Versions.toml
Labels: minor release

#90650 New version: GslibIO v1.4.0
  G/GslibIO/Compat.toml
  G/GslibIO/Deps.toml
  G/GslibIO/Versions.toml
Labels: minor release

#90630 New version: REoptPlots v0.1.5
  R/REoptPlots/Versions.toml
Labels: patch release

#90651 New version: Krylov v0.9.4
  K/Krylov/Versions.toml
Labels: patch release

#90593 New version: CloudMicrophysics v0.13.1
  C/CloudMicrophysics/Compat.toml
  C/CloudMicrophysics/Versions.toml
Labels: minor release

#90652 New version: PhysiologyPlotting v0.1.5
  P/PhysiologyPlotting/Compat.toml
  P/PhysiologyPlotting/Deps.toml
  P/PhysiologyPlotting/Versions.toml
Labels: patch release

#90653 New version: SurfaceFluxes v0.7.1
  S/SurfaceFluxes/Compat.toml
  S/SurfaceFluxes/Deps.toml
  S/SurfaceFluxes/Versions.toml
Labels: patch release

#90655 New version: Meshes v0.35.1
  M/Meshes/Versions.toml
Labels: patch release

#90656 New version: Preconditioners v0.6.1
  P/Preconditioners/Versions.toml
Labels: patch release

#90657 New version: REoptPlots v0.1.6
  R/REoptPlots/Versions.toml
Labels: patch release

#90658 New version: ModelingToolkit v8.66.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#90660 New version: AutoHashEquals v2.0.0
  A/AutoHashEquals/Compat.toml
  A/AutoHashEquals/Deps.toml
  A/AutoHashEquals/Versions.toml
Labels: BREAKING, major release

#89916 New package: SFTPClient v0.3.3
  Registry.toml
  S/SFTPClient/Compat.toml
  S/SFTPClient/Deps.toml
  S/SFTPClient/Package.toml
  S/SFTPClient/Versions.toml
Labels: new package, needs to be manually merged in 3 days, Override AutoMerge: name similarity is okay

#90661 New version: GeoStatsBase v0.34.0
  G/GeoStatsBase/Compat.toml
  G/GeoStatsBase/Deps.toml
  G/GeoStatsBase/Versions.toml
Labels: BREAKING, minor release

#90659 New version: REoptPlots v0.1.7
  R/REoptPlots/Versions.toml
Labels: patch release

#90663 New version: DrillHoles v1.1.0
  D/DrillHoles/Compat.toml
  D/DrillHoles/Deps.toml
  D/DrillHoles/Versions.toml
Labels: minor release

#90665 New version: Grassmann v0.8.4
  G/Grassmann/Versions.toml
Labels: patch release

#90664 New version: ContinuousNormalizingFlows v0.12.0
  C/ContinuousNormalizingFlows/Versions.toml
Labels: BREAKING, minor release

#90666 New version: Variography v0.18.0
  V/Variography/Compat.toml
  V/Variography/Deps.toml
  V/Variography/Versions.toml
Labels: BREAKING, minor release

#90667 New version: GeoClustering v0.5.0
  G/GeoClustering/Compat.toml
  G/GeoClustering/Deps.toml
  G/GeoClustering/Versions.toml
Labels: BREAKING, minor release

#90505 New version: StableSpectralElements v0.2.2
  S/StableSpectralElements/Compat.toml
  S/StableSpectralElements/Deps.toml
  S/StableSpectralElements/Versions.toml
Labels: patch release

#90668 New version: SpeedyWeather v0.6.0
  S/SpeedyWeather/Compat.toml
  S/SpeedyWeather/Deps.toml
  S/SpeedyWeather/Versions.toml
Labels: BREAKING, minor release

#90671 New version: KrigingEstimators v0.12.0
  K/KrigingEstimators/Compat.toml
  K/KrigingEstimators/Deps.toml
  K/KrigingEstimators/Versions.toml
Labels: BREAKING, minor release

#90672 New version: ProjectAssigner v0.1.7
  P/ProjectAssigner/Versions.toml
Labels: patch release

#90673 New version: SPICEBodies v0.1.1
  S/SPICEBodies/Versions.toml
Labels: patch release

#90675 New version: JumpProblemLibrary v0.1.4
  J/JumpProblemLibrary/Compat.toml
  J/JumpProblemLibrary/Versions.toml
Labels: patch release

#90676 New version: GeoStatsSolvers v0.6.0
  G/GeoStatsSolvers/Compat.toml
  G/GeoStatsSolvers/Deps.toml
  G/GeoStatsSolvers/Versions.toml
Labels: BREAKING, minor release

#90677 New version: Sqids v0.2.1
  S/Sqids/Versions.toml
Labels: patch release

#90678 New version: Catalyst v13.4.0
  C/Catalyst/Compat.toml
  C/Catalyst/Deps.toml
  C/Catalyst/Versions.toml
Labels: minor release

#90674 New version: SPICEKernels v1.0.0
  S/SPICEKernels/Compat.toml
  S/SPICEKernels/Deps.toml
  S/SPICEKernels/Versions.toml
Labels: BREAKING, major release

#90670 New version: MagNav v1.1.3
  M/MagNav/Compat.toml
  M/MagNav/Deps.toml
  M/MagNav/Versions.toml
Labels: patch release

#90679 New version: EquationOfStateRecipes v0.5.0
  E/EquationOfStateRecipes/Versions.toml
Labels: BREAKING, minor release

#90680 New version: GMT v1.4.1
  G/GMT/Versions.toml
Labels: patch release

#90681 New version: REopt v0.32.7
  R/REopt/Compat.toml
  R/REopt/Versions.toml
Labels: patch release

#90682 New version: Lux v0.5.4
  L/Lux/Versions.toml
Labels: patch release

#90684 New version: CloudMicrophysics v0.13.2
  C/CloudMicrophysics/Versions.toml
Labels: patch release

#90686 New version: Catalyst v13.4.1
  C/Catalyst/Versions.toml
Labels: patch release

#90687 New version: RamseySpectroscopyCore v1.0.2
  R/RamseySpectroscopyCore/Versions.toml
Labels: patch release

#90688 New version: ADRIA v0.8.0
  A/ADRIA/Compat.toml
  A/ADRIA/Deps.toml
  A/ADRIA/Versions.toml
Labels: BREAKING, minor release

#90690 New version: GeoStatsBase v0.34.1
  G/GeoStatsBase/Versions.toml
Labels: patch release

#90691 New version: PointPatterns v0.7.0
  P/PointPatterns/Compat.toml
  P/PointPatterns/Versions.toml
Labels: BREAKING, minor release

#90692 New version: StratiGraphics v0.7.0
  S/StratiGraphics/Compat.toml
  S/StratiGraphics/Versions.toml
Labels: BREAKING, minor release

#90693 New version: TuringPatterns v0.6.0
  T/TuringPatterns/Compat.toml
  T/TuringPatterns/Versions.toml
Labels: BREAKING, minor release

#90694 New version: ImageQuilting v0.22.0
  I/ImageQuilting/Compat.toml
  I/ImageQuilting/Deps.toml
  I/ImageQuilting/Versions.toml
Labels: BREAKING, minor release

#90683 New version: SimpleTestRunner v0.1.1
  S/SimpleTestRunner/Compat.toml
  S/SimpleTestRunner/Deps.toml
  S/SimpleTestRunner/Versions.toml
Labels: patch release

#90481 New package: SunCalc v1.0.0
  Registry.toml
  S/SunCalc/Compat.toml
  S/SunCalc/Deps.toml
  S/SunCalc/Package.toml
  S/SunCalc/Versions.toml
Labels: new package

#90695 New version: SymbolicPlanners v0.1.16
  S/SymbolicPlanners/Compat.toml
  S/SymbolicPlanners/Versions.toml
Labels: patch release

#90697 New version: PkgTemplates v0.7.43
  P/PkgTemplates/Versions.toml
Labels: patch release

#90443 New package: ComplexPlots v0.1.0
  C/ComplexPlots/Compat.toml
  C/ComplexPlots/Deps.toml
  C/ComplexPlots/Package.toml
  C/ComplexPlots/Versions.toml
  Registry.toml
Labels: new package

#90698 New version: Manopt v0.4.34
  M/Manopt/Compat.toml
  M/Manopt/Versions.toml
  M/Manopt/WeakCompat.toml
Labels: patch release

#90699 New version: BaytesDiff v0.3.1
  B/BaytesDiff/Versions.toml
  B/BaytesDiff/WeakCompat.toml
  B/BaytesDiff/WeakDeps.toml
Labels: patch release

#90700 New version: MonotonicSplines v0.1.1
  M/MonotonicSplines/Compat.toml
  M/MonotonicSplines/Versions.toml
Labels: patch release

#90701 New version: DynamicPPL v0.23.16
  D/DynamicPPL/Versions.toml
Labels: patch release

#90703 New version: PALEOmodel v0.15.32
  P/PALEOmodel/Versions.toml
Labels: patch release

#90496 New package: RoomAcoustics v0.3.0
  R/RoomAcoustics/Compat.toml
  R/RoomAcoustics/Deps.toml
  R/RoomAcoustics/Package.toml
  R/RoomAcoustics/Versions.toml
  Registry.toml
Labels: new package

#90704 New version: BoxCox v0.2.2
  B/BoxCox/Versions.toml
Labels: patch release

#90497 New package: Pilates v0.0.1
  P/Pilates/Compat.toml
  P/Pilates/Deps.toml
  P/Pilates/Package.toml
  P/Pilates/Versions.toml
  Registry.toml
Labels: new package

#90705 Yank libcxxwrap_julia 0.10.0
  jll/L/libcxxwrap_julia_jll/Versions.toml
Labels: yank

#90706 New version: JulGame v0.0.3
  J/JulGame/Versions.toml
Labels: BREAKING, patch release

#90707 New version: AMDGPU v0.5.6
  A/AMDGPU/Compat.toml
  A/AMDGPU/Versions.toml
Labels: patch release

#90708 New version: Gtk4Makie v0.1.3
  G/Gtk4Makie/Compat.toml
  G/Gtk4Makie/Deps.toml
  G/Gtk4Makie/Versions.toml
Labels: patch release

#90520 New package: ThinPlateSplines v0.1.0
  Registry.toml
  T/ThinPlateSplines/Compat.toml
  T/ThinPlateSplines/Deps.toml
  T/ThinPlateSplines/Package.toml
  T/ThinPlateSplines/Versions.toml
Labels: new package

#90709 New version: LuxLib v0.3.3
  L/LuxLib/Compat.toml
  L/LuxLib/Versions.toml
Labels: patch release

#90710 New version: GeoIO v1.1.0
  G/GeoIO/Compat.toml
  G/GeoIO/Deps.toml
  G/GeoIO/Versions.toml
Labels: minor release

#90711 New version: Exodus v0.7.3
  E/Exodus/Versions.toml
Labels: patch release

#90712 New version: OpenQASM v2.1.3
  O/OpenQASM/Versions.toml
Labels: patch release

#90713 New version: Pilates v0.0.2
  P/Pilates/Versions.toml
Labels: BREAKING, patch release

#90715 New version: JuMP v1.14.1
  J/JuMP/Versions.toml
Labels: patch release

#90534 New package: NoteMate v0.0.1
  N/NoteMate/Compat.toml
  N/NoteMate/Deps.toml
  N/NoteMate/Package.toml
  N/NoteMate/Versions.toml
  Registry.toml
Labels: new package

#90716 New version: MacroModelling v0.1.28
  M/MacroModelling/Compat.toml
  M/MacroModelling/Versions.toml
Labels: patch release

#90718 New version: TensorFields v0.1.4
  T/TensorFields/Versions.toml
Labels: patch release

#90721 New version: GeometricBase v0.9.0
  G/GeometricBase/Versions.toml
Labels: BREAKING, minor release

#90722 New version: GeometricEquations v0.14.1
  G/GeometricEquations/Compat.toml
  G/GeometricEquations/Versions.toml
Labels: patch release

#90723 New version: GeometricSolutions v0.3.19
  G/GeometricSolutions/Compat.toml
  G/GeometricSolutions/Versions.toml
Labels: patch release

#90724 New version: RungeKutta v0.5.11
  R/RungeKutta/Compat.toml
  R/RungeKutta/Versions.toml
Labels: patch release

#90726 New version: GeometricProblems v0.5.6
  G/GeometricProblems/Compat.toml
  G/GeometricProblems/Versions.toml
Labels: patch release

#90727 New version: TimeZoneFinder v0.5.0
  T/TimeZoneFinder/Compat.toml
  T/TimeZoneFinder/Versions.toml
Labels: BREAKING, minor release

#90728 New version: PkgTemplates v0.7.44
  P/PkgTemplates/Versions.toml
Labels: patch release

#90729 New version: DifferentialEquations v7.9.1
  D/DifferentialEquations/Compat.toml
  D/DifferentialEquations/Versions.toml
Labels: patch release

#90732 New version: MeshBridge v0.0.4
  M/MeshBridge/Compat.toml
  M/MeshBridge/Versions.toml
Labels: BREAKING, patch release

#90734 New version: NeuralAttentionlib v0.2.12
  N/NeuralAttentionlib/Versions.toml
Labels: patch release

#90735 New version: Permutations v0.4.17
  P/Permutations/Versions.toml
Labels: patch release

#90577 New package: CellBasedModels v0.1.0
  C/CellBasedModels/Compat.toml
  C/CellBasedModels/Deps.toml
  C/CellBasedModels/Package.toml
  C/CellBasedModels/Versions.toml
  Registry.toml
Labels: new package

#90738 New version: Anatta v0.0.9
  A/Anatta/Versions.toml
Labels: BREAKING, patch release

#90579 New package: LanguageIdentification v0.1.0
  L/LanguageIdentification/Compat.toml
  L/LanguageIdentification/Package.toml
  L/LanguageIdentification/Versions.toml
  Registry.toml
Labels: new package

#90739 New version: SymbolicUtils v1.3.0
  S/SymbolicUtils/Versions.toml
Labels: minor release

#90741 New version: DataToolkitBase v0.6.0
  D/DataToolkitBase/Deps.toml
  D/DataToolkitBase/Versions.toml
Labels: BREAKING, minor release

#90742 New version: DataToolkitCommon v0.6.0
  D/DataToolkitCommon/Compat.toml
  D/DataToolkitCommon/Versions.toml
Labels: BREAKING, minor release

#90743 New version: CausalityTools v2.9.0
  C/CausalityTools/Compat.toml
  C/CausalityTools/Versions.toml
Labels: minor release

#90744 New version: Rasters v0.8.4
  R/Rasters/Versions.toml
Labels: patch release

#90745 New version: DataToolkit v0.6.0
  D/DataToolkit/Compat.toml
  D/DataToolkit/Deps.toml
  D/DataToolkit/Versions.toml
Labels: BREAKING, minor release

#90746 New version: PDDL v0.2.15
  P/PDDL/Compat.toml
  P/PDDL/Versions.toml
Labels: patch release

#90748 New version: DataToolkitCommon v0.6.1
  D/DataToolkitCommon/Versions.toml
Labels: patch release

#90749 New version: CxxWrap v0.14.0
  C/CxxWrap/Compat.toml
  C/CxxWrap/Versions.toml
Labels: BREAKING, minor release

#90750 New version: SymbolicWedderburn v0.3.7
  S/SymbolicWedderburn/Compat.toml
  S/SymbolicWedderburn/Versions.toml
Labels: patch release

#90751 New version: LuxCore v0.1.6
  L/LuxCore/Compat.toml
  L/LuxCore/Deps.toml
  L/LuxCore/Versions.toml
Labels: patch release

#90752 New version: ModelPredictiveControl v0.7.0
  M/ModelPredictiveControl/Versions.toml
Labels: BREAKING, minor release

#90753 New version: Grumps v0.2.2
  G/Grumps/Compat.toml
  G/Grumps/Deps.toml
  G/Grumps/Versions.toml
Labels: patch release

#90754 New version: SFTPClient v0.3.4
  S/SFTPClient/Compat.toml
  S/SFTPClient/Versions.toml
Labels: patch release

#90755 New version: OceanStateEstimation v0.3.6
  O/OceanStateEstimation/Compat.toml
  O/OceanStateEstimation/Deps.toml
  O/OceanStateEstimation/Versions.toml
  O/OceanStateEstimation/WeakCompat.toml
  O/OceanStateEstimation/WeakDeps.toml
Labels: patch release

#90607 New package: AstrodynamicalCalculations v0.1.0
  A/AstrodynamicalCalculations/Compat.toml
  A/AstrodynamicalCalculations/Deps.toml
  A/AstrodynamicalCalculations/Package.toml
  A/AstrodynamicalCalculations/Versions.toml
  Registry.toml
Labels: new package

#90758 New version: TexasHoldem v0.4.4
  T/TexasHoldem/Versions.toml
Labels: patch release

#90759 New version: Lux v0.5.5
  L/Lux/Compat.toml
  L/Lux/Deps.toml
  L/Lux/Versions.toml
Labels: patch release

#90761 New version: OceanRasterConversions v0.5.0
  O/OceanRasterConversions/Compat.toml
  O/OceanRasterConversions/Deps.toml
  O/OceanRasterConversions/Versions.toml
Labels: BREAKING, minor release

#90762 New version: MITgcmTools v0.2.7
  M/MITgcmTools/Versions.toml
Labels: patch release

#90731 New version: MeshBridge v0.0.5
  M/MeshBridge/Compat.toml
  M/MeshBridge/Versions.toml
Labels: BREAKING, patch release

#90763 New version: MacroUtilities v1.13.0
  M/MacroUtilities/Versions.toml
Labels: minor release

#90764 New version: GraphNeuralNetworks v0.6.12
  G/GraphNeuralNetworks/Versions.toml
Labels: patch release

#90765 New version: JET v0.8.13
  J/JET/Versions.toml
Labels: patch release

#90766 New version: FiniteElementContainers v0.2.0
  F/FiniteElementContainers/Versions.toml
Labels: BREAKING, minor release

#90767 New version: GadgetIO v0.7.11
  G/GadgetIO/Versions.toml
Labels: patch release

#90770 New version: EquationOfStateRecipes v0.5.1
  E/EquationOfStateRecipes/Versions.toml
Labels: patch release

#90771 New version: SpinAdaptedSecondQuantization v0.5.0
  S/SpinAdaptedSecondQuantization/Versions.toml
Labels: BREAKING, minor release

#90772 New version: UnitJuMP v0.2.2
  U/UnitJuMP/Versions.toml
Labels: patch release

#90618 New package: SimulinkSDIImporter v0.2.0
  Registry.toml
  S/SimulinkSDIImporter/Compat.toml
  S/SimulinkSDIImporter/Deps.toml
  S/SimulinkSDIImporter/Package.toml
  S/SimulinkSDIImporter/Versions.toml
Labels: new package

#90775 New version: FreezeCurves v0.8.7
  F/FreezeCurves/Versions.toml
Labels: patch release

#90776 New version: TableTransforms v1.14.2
  T/TableTransforms/Versions.toml
Labels: patch release

#90777 New version: HerbData v0.1.1
  H/HerbData/Versions.toml
Labels: patch release

#90778 New version: ProtoBuf v1.0.13
  P/ProtoBuf/Versions.toml
Labels: patch release
