Repository JuliaRegistries/General, pull requests merged in 2023-03, with the labels that each got.

#78721 New version: StanSample v7.2.1
  S/StanSample/Compat.toml
  S/StanSample/Versions.toml
Labels: patch release

#78720 New version: Stan v10.3.1
  S/Stan/Compat.toml
  S/Stan/Deps.toml
  S/Stan/Versions.toml
Labels: patch release

#78723 New version: WildBootTests v0.9.4
  W/WildBootTests/Versions.toml
Labels: patch release

#78724 New version: ThreeBodyProblem v1.0.3
  T/ThreeBodyProblem/Versions.toml
Labels: patch release

#78725 New version: AlgebraicAgents v0.3.12
  A/AlgebraicAgents/Compat.toml
  A/AlgebraicAgents/Deps.toml
  A/AlgebraicAgents/Versions.toml
Labels: patch release

#78538 New package: Isaac v0.2.0
  I/Isaac/Compat.toml
  I/Isaac/Deps.toml
  I/Isaac/Package.toml
  I/Isaac/Versions.toml
  Registry.toml
Labels: new package

#78727 New version: RRTMGP v0.7.0
  R/RRTMGP/Versions.toml
Labels: BREAKING, minor release

#78728 New version: ViennaRNA v0.10.0
  V/ViennaRNA/Versions.toml
Labels: BREAKING, minor release

#78719 New version: Ipopt v1.2.0
  I/Ipopt/Compat.toml
  I/Ipopt/Deps.toml
  I/Ipopt/Versions.toml
Labels: minor release

#78730 New version: QuasiStableColors v0.3.0
  Q/QuasiStableColors/Compat.toml
  Q/QuasiStableColors/Deps.toml
  Q/QuasiStableColors/Versions.toml
Labels: BREAKING, minor release

#78731 New version: ImgCIFHandler v0.11.0
  I/ImgCIFHandler/Compat.toml
  I/ImgCIFHandler/Deps.toml
  I/ImgCIFHandler/Versions.toml
Labels: BREAKING, minor release

#78732 New version: PlotRNA v0.1.7
  P/PlotRNA/Compat.toml
  P/PlotRNA/Versions.toml
Labels: patch release

#78733 New version: Pandoc v0.3.2
  P/Pandoc/Compat.toml
  P/Pandoc/Deps.toml
  P/Pandoc/Versions.toml
Labels: patch release

#78734 New version: EHTImages v0.1.3
  E/EHTImages/Compat.toml
  E/EHTImages/Deps.toml
  E/EHTImages/Versions.toml
Labels: patch release

#78735 New version: Tidier v0.4.0
  T/Tidier/Versions.toml
Labels: BREAKING, minor release

#78736 New version: JET v0.7.5
  J/JET/Versions.toml
Labels: patch release

#78737 New version: ControlSystemsMTK v0.1.9
  C/ControlSystemsMTK/Versions.toml
Labels: patch release

#78726 New version: InferenceObjects v0.3.6
  I/InferenceObjects/Compat.toml
  I/InferenceObjects/Deps.toml
  I/InferenceObjects/Versions.toml
  I/InferenceObjects/WeakCompat.toml
  I/InferenceObjects/WeakDeps.toml
Labels: patch release

#78739 New version: DFControl v0.5.27
  D/DFControl/Versions.toml
Labels: patch release

#78740 New version: SmoothedParticles v0.2.0
  S/SmoothedParticles/Compat.toml
  S/SmoothedParticles/Deps.toml
  S/SmoothedParticles/Versions.toml
Labels: BREAKING, minor release

#78741 New version: StatisticalGraphics v0.9.2
  S/StatisticalGraphics/Versions.toml
Labels: patch release

#78742 New version: MonteCarloMeasurements v1.1.0
  M/MonteCarloMeasurements/Versions.toml
Labels: minor release

#78743 New version: MathOptInterface v1.13.0
  M/MathOptInterface/Versions.toml
Labels: minor release

#78744 New version: ApproxFunOrthogonalPolynomials v0.6.15
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#78545 New package: Ducc0 v0.1.0
  D/Ducc0/Compat.toml
  D/Ducc0/Deps.toml
  D/Ducc0/Package.toml
  D/Ducc0/Versions.toml
  Registry.toml
Labels: new package

#78705 New version: PPInterpolation v0.6.1
  P/PPInterpolation/Compat.toml
  P/PPInterpolation/Deps.toml
  P/PPInterpolation/Versions.toml
Labels: patch release

#78556 New package: MRICompress v0.0.1
  M/MRICompress/Compat.toml
  M/MRICompress/Deps.toml
  M/MRICompress/Package.toml
  M/MRICompress/Versions.toml
  Registry.toml
Labels: new package

#78745 New version: SimpleGraphs v0.8.4
  S/SimpleGraphs/Versions.toml
Labels: patch release

#78746 New version: CloudStore v1.3.6
  C/CloudStore/Versions.toml
Labels: patch release

#78747 New version: SimplePadics v0.1.9
  S/SimplePadics/Compat.toml
  S/SimplePadics/Versions.toml
Labels: patch release

#78749 New version: DeconvOptim v0.7.0
  D/DeconvOptim/Compat.toml
  D/DeconvOptim/Deps.toml
  D/DeconvOptim/Versions.toml
Labels: BREAKING, minor release

#78751 New version: GradientRobustMultiPhysics v0.11.1
  G/GradientRobustMultiPhysics/Versions.toml
Labels: patch release

#78752 New version: ComplexityMeasures v2.6.0
  C/ComplexityMeasures/Versions.toml
Labels: minor release

#78755 New version: MonetDB v0.2.0
  M/MonetDB/Versions.toml
Labels: BREAKING, minor release

#78756 New version: CausalityTools v2.1.0
  C/CausalityTools/Compat.toml
  C/CausalityTools/Deps.toml
  C/CausalityTools/Versions.toml
Labels: minor release

#78758 New version: CBinding v1.0.10
  C/CBinding/Compat.toml
  C/CBinding/Versions.toml
Labels: patch release

#78561 New package: PsychometricsBazzarBase v0.1.0
  P/PsychometricsBazzarBase/Compat.toml
  P/PsychometricsBazzarBase/Deps.toml
  P/PsychometricsBazzarBase/Package.toml
  P/PsychometricsBazzarBase/Versions.toml
  Registry.toml
Labels: new package

#78761 New version: StarAlgebras v0.2.0
  S/StarAlgebras/Versions.toml
Labels: BREAKING, minor release

#78762 New version: Attractors v1.1.0
  A/Attractors/Versions.toml
Labels: minor release

#78763 New version: GMT v0.44.6
  G/GMT/Versions.toml
Labels: patch release

#78764 New version: PsychometricsBazzarBase v0.2.0
  P/PsychometricsBazzarBase/Versions.toml
Labels: BREAKING, minor release

#78765 New version: ClimaComms v0.3.5
  C/ClimaComms/Compat.toml
  C/ClimaComms/Versions.toml
Labels: patch release

#78766 New version: ITensors v0.3.31
  I/ITensors/Versions.toml
Labels: patch release

#78767 New version: YaoAPI v0.4.4
  Y/YaoAPI/Versions.toml
Labels: patch release

#78768 New version: YaoArrayRegister v0.9.4
  Y/YaoArrayRegister/Versions.toml
Labels: patch release

#78769 New version: YaoBlocks v0.13.7
  Y/YaoBlocks/Versions.toml
Labels: patch release

#78770 New version: YaoSym v0.6.3
  Y/YaoSym/Versions.toml
Labels: patch release

#78771 New version: Yao v0.8.7
  Y/Yao/Versions.toml
Labels: patch release

#78773 New version: Polymers v0.1.1
  P/Polymers/Versions.toml
Labels: patch release

#78772 New version: Polymers v0.1.2
  P/Polymers/Versions.toml
Labels: patch release

#78775 New version: SymbolicWedderburn v0.3.3
  S/SymbolicWedderburn/Compat.toml
  S/SymbolicWedderburn/Versions.toml
Labels: patch release

#78776 New version: ODMXMLTools v0.6.0
  O/ODMXMLTools/Deps.toml
  O/ODMXMLTools/Versions.toml
Labels: BREAKING, minor release

#78774 New version: PlutoExtras v0.7.0
  P/PlutoExtras/Deps.toml
  P/PlutoExtras/Versions.toml
Labels: BREAKING, minor release

#78777 New version: MonetDB v0.2.1
  M/MonetDB/Versions.toml
Labels: patch release

#78778 New version: ParetoSmooth v0.7.4
  P/ParetoSmooth/Compat.toml
  P/ParetoSmooth/Deps.toml
  P/ParetoSmooth/Versions.toml
Labels: patch release

#78779 New version: BifurcationKit v0.2.4
  B/BifurcationKit/Compat.toml
  B/BifurcationKit/Versions.toml
Labels: patch release

#78780 New version: Polymers v0.1.3
  P/Polymers/Versions.toml
Labels: patch release

#78782 New version: CategoricalDistributions v0.1.10
  C/CategoricalDistributions/Compat.toml
  C/CategoricalDistributions/Versions.toml
  C/CategoricalDistributions/WeakCompat.toml
  C/CategoricalDistributions/WeakDeps.toml
Labels: patch release

#78783 New version: MLJScikitLearnInterface v0.3.0
  M/MLJScikitLearnInterface/Compat.toml
  M/MLJScikitLearnInterface/Versions.toml
Labels: BREAKING, minor release

#78785 New version: Turing v0.24.1
  T/Turing/Compat.toml
  T/Turing/Versions.toml
Labels: patch release

#76452 New package: Valhalla_jll v3.3.0+0
  Registry.toml
  V/Valhalla_jll/Compat.toml
  V/Valhalla_jll/Deps.toml
  V/Valhalla_jll/Package.toml
  V/Valhalla_jll/Versions.toml
Labels: stale

#78789 New version: OpenAPI v0.1.9
  O/OpenAPI/Versions.toml
Labels: patch release

#78792 New version: ComradeAHMC v0.3.0
  C/ComradeAHMC/Compat.toml
  C/ComradeAHMC/Deps.toml
  C/ComradeAHMC/Versions.toml
Labels: BREAKING, minor release

#78791 New version: Comrade v0.7.2
  C/Comrade/Compat.toml
  C/Comrade/Deps.toml
  C/Comrade/Versions.toml
Labels: patch release

#78794 New version: Keldysh v0.6.3
  K/Keldysh/Versions.toml
Labels: patch release

#78795 New version: SchwarzChristoffel v0.1.13
  S/SchwarzChristoffel/Compat.toml
  S/SchwarzChristoffel/Deps.toml
  S/SchwarzChristoffel/Versions.toml
Labels: patch release

#78796 New version: ControlSystemsMTK v0.1.10
  C/ControlSystemsMTK/Compat.toml
  C/ControlSystemsMTK/Deps.toml
  C/ControlSystemsMTK/Versions.toml
Labels: patch release

#78800 New version: PlutoExtras v0.7.1
  P/PlutoExtras/Versions.toml
Labels: patch release

#78801 New version: AbstractDifferentiation v0.5.0
  A/AbstractDifferentiation/Compat.toml
  A/AbstractDifferentiation/Deps.toml
  A/AbstractDifferentiation/Versions.toml
  A/AbstractDifferentiation/WeakCompat.toml
  A/AbstractDifferentiation/WeakDeps.toml
Labels: BREAKING, minor release

#78802 New version: BetterInputFiles v1.1.5
  B/BetterInputFiles/Versions.toml
Labels: patch release

#78803 New version: MonteCarloMeasurements v1.1.1
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#78798 New version: ConformalPrediction v0.1.6
  C/ConformalPrediction/Compat.toml
  C/ConformalPrediction/Deps.toml
  C/ConformalPrediction/Versions.toml
Labels: patch release

#78804 New version: DynamicPPL v0.22.2
  D/DynamicPPL/Versions.toml
Labels: patch release

#78805 New version: JuDGE v0.5.1
  J/JuDGE/Versions.toml
Labels: patch release

#78806 New version: SyntheticEddyMethod v0.3.0
  S/SyntheticEddyMethod/Compat.toml
  S/SyntheticEddyMethod/Versions.toml
Labels: BREAKING, minor release

#76486 New version: FlightSims v1.0.2
  F/FlightSims/Compat.toml
  F/FlightSims/Versions.toml
Labels: stale, patch release

#78809 New version: BetterInputFiles v1.1.6
  B/BetterInputFiles/Compat.toml
  B/BetterInputFiles/Deps.toml
  B/BetterInputFiles/Versions.toml
Labels: patch release

#78812 New version: ControlSystemsMTK v0.1.11
  C/ControlSystemsMTK/Compat.toml
  C/ControlSystemsMTK/Versions.toml
Labels: patch release

#78813 New version: Rotations v1.4.0
  R/Rotations/Versions.toml
Labels: minor release

#78817 New version: JupyterPlutoConverter v0.1.1
  J/JupyterPlutoConverter/Versions.toml
Labels: patch release

#78818 New version: BasicBSpline v0.9.3
  B/BasicBSpline/Versions.toml
Labels: patch release

#78819 New version: Baytes v0.3.5
  B/Baytes/Compat.toml
  B/Baytes/Versions.toml
Labels: patch release

#78814 New version: AutomationLabsSystems v0.1.2
  A/AutomationLabsSystems/Compat.toml
  A/AutomationLabsSystems/Deps.toml
  A/AutomationLabsSystems/Versions.toml
Labels: patch release

#78820 New version: RadeonProRender v0.2.13
  R/RadeonProRender/Compat.toml
  R/RadeonProRender/Versions.toml
Labels: patch release

#78821 New version: Attractors v1.1.1
  A/Attractors/Versions.toml
Labels: patch release

#78822 New version: OceanStateEstimation v0.3.2
  O/OceanStateEstimation/Versions.toml
Labels: patch release

#78825 New version: DataFrameMacros v0.4.1
  D/DataFrameMacros/Versions.toml
Labels: patch release

#78827 New version: CloudStore v1.3.7
  C/CloudStore/Versions.toml
Labels: patch release

#78828 New version: ITensors v0.3.32
  I/ITensors/Versions.toml
Labels: patch release

#78830 New version: InvertibleNetworks v2.2.4
  I/InvertibleNetworks/Versions.toml
Labels: patch release

#78832 New version: AbbreviatedStackTraces v0.1.9
  A/AbbreviatedStackTraces/Versions.toml
Labels: patch release

#78624 New package: RMLImaging v0.1.0
  R/RMLImaging/Compat.toml
  R/RMLImaging/Deps.toml
  R/RMLImaging/Package.toml
  R/RMLImaging/Versions.toml
  Registry.toml
Labels: new package

#78833 New version: PotentialFlow v0.2.7
  P/PotentialFlow/Compat.toml
  P/PotentialFlow/Versions.toml
Labels: patch release

#78816 New version: RemoteHPC v0.3.16
  R/RemoteHPC/Versions.toml
Labels: patch release

#78836 New version: Schedulers v0.7.0
  S/Schedulers/Versions.toml
Labels: BREAKING, minor release

#78837 New version: PortfolioAnalytics v0.2.1
  P/PortfolioAnalytics/Compat.toml
  P/PortfolioAnalytics/Versions.toml
Labels: patch release

#78847 New version: Quaternionic v1.1.2
  Q/Quaternionic/Versions.toml
Labels: patch release

#78848 New version: PythonPlot v1.0.2
  P/PythonPlot/Versions.toml
Labels: patch release

#78849 New version: PyPlot v2.11.1
  P/PyPlot/Versions.toml
Labels: patch release

#78846 New version: MacroModelling v0.1.9
  M/MacroModelling/Compat.toml
  M/MacroModelling/Deps.toml
  M/MacroModelling/Versions.toml
Labels: patch release

#78729 New version: JLLPrefixes v0.2.0
  J/JLLPrefixes/Compat.toml
  J/JLLPrefixes/Deps.toml
  J/JLLPrefixes/Versions.toml
Labels: BREAKING, minor release

#78851 New version: PlanetOrbits v0.4.0
  P/PlanetOrbits/Compat.toml
  P/PlanetOrbits/Deps.toml
  P/PlanetOrbits/Versions.toml
Labels: BREAKING, minor release

#78858 New version: TruncatedStacktraces v1.0.1
  T/TruncatedStacktraces/Versions.toml
Labels: patch release

#78651 New package: PhysiologyAnalysis v0.1.0
  P/PhysiologyAnalysis/Compat.toml
  P/PhysiologyAnalysis/Deps.toml
  P/PhysiologyAnalysis/Package.toml
  P/PhysiologyAnalysis/Versions.toml
  Registry.toml
Labels: new package

#78860 New version: MortalityTables v2.4.0
  M/MortalityTables/Versions.toml
Labels: minor release

#78854 New version: MathOptInterface v1.13.1
  M/MathOptInterface/Versions.toml
Labels: patch release

#78857 New version: Catalyst v13.1.0
  C/Catalyst/Compat.toml
  C/Catalyst/Deps.toml
  C/Catalyst/Versions.toml
Labels: minor release

#78861 New version: OrdinaryDiffEq v6.48.1
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#78862 New version: TransformUtils v0.2.16
  T/TransformUtils/Compat.toml
  T/TransformUtils/Versions.toml
Labels: patch release

#78863 New version: ApproxManifoldProducts v0.6.4
  A/ApproxManifoldProducts/Compat.toml
  A/ApproxManifoldProducts/Versions.toml
Labels: patch release

#78864 New version: LowLevelParticleFilters v3.3.3
  L/LowLevelParticleFilters/Compat.toml
  L/LowLevelParticleFilters/Deps.toml
  L/LowLevelParticleFilters/Versions.toml
  L/LowLevelParticleFilters/WeakCompat.toml
  L/LowLevelParticleFilters/WeakDeps.toml
Labels: patch release

#78865 New version: ProfileView v1.6.0
  P/ProfileView/Compat.toml
  P/ProfileView/Deps.toml
  P/ProfileView/Versions.toml
Labels: minor release

#78866 New version: HomotopyContinuation v2.7.0
  H/HomotopyContinuation/Compat.toml
  H/HomotopyContinuation/Deps.toml
  H/HomotopyContinuation/Versions.toml
Labels: minor release

#78867 New version: OrdinaryDiffEq v6.48.2
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#78868 New version: EHTImages v0.1.4
  E/EHTImages/Versions.toml
Labels: patch release

#78869 New version: ReinforcementLearning v0.10.2
  R/ReinforcementLearning/Deps.toml
  R/ReinforcementLearning/Versions.toml
Labels: patch release

#78870 New version: BSplineKit v0.14.4
  B/BSplineKit/Versions.toml
Labels: patch release

#78871 New version: EHTImages v0.1.5
  E/EHTImages/Versions.toml
Labels: patch release

#78662 New package: Coils v0.1.0
  C/Coils/Compat.toml
  C/Coils/Deps.toml
  C/Coils/Package.toml
  C/Coils/Versions.toml
  Registry.toml
Labels: new package

#78876 New version: Distributions v0.25.86
  D/Distributions/Versions.toml
  D/Distributions/WeakCompat.toml
  D/Distributions/WeakDeps.toml
Labels: patch release

#78877 New version: ReactiveMP v3.7.2
  R/ReactiveMP/Versions.toml
Labels: patch release

#78878 New version: RecurrenceAnalysis v2.0.4
  R/RecurrenceAnalysis/Versions.toml
Labels: patch release

#78879 New version: Metal v0.2.0
  M/Metal/Compat.toml
  M/Metal/Deps.toml
  M/Metal/Versions.toml
Labels: BREAKING, minor release

#78880 New version: RMLImaging v0.1.1
  R/RMLImaging/Compat.toml
  R/RMLImaging/Deps.toml
  R/RMLImaging/Versions.toml
Labels: patch release

#78881 New version: ExponentialAction v0.2.5
  E/ExponentialAction/Compat.toml
  E/ExponentialAction/Versions.toml
Labels: patch release

#78883 New version: oneAPI v1.0.2
  O/oneAPI/Versions.toml
Labels: patch release

#78542 Set compat for OpenSSL_jll to 1.1.10-1 for OpenSSL_jll v3 transition
  A/Aria2_jll/Compat.toml
  B/BerkeleyDB_jll/Compat.toml
  C/CMake_jll/Compat.toml
  C/CyrusSASL_jll/Compat.toml
  E/Entwine_jll/Compat.toml
  F/FFMPEG_jll/Compat.toml
  G/Git_jll/Compat.toml
  G/git_crypt_jll/Compat.toml
  H/HDF5_jll/Compat.toml
  H/htslib_jll/Compat.toml
  L/LibArchive_jll/Compat.toml
  L/LibPQ_jll/Compat.toml
  L/libevent_jll/Compat.toml
  L/librdkafka_jll/Compat.toml
  M/MariaDB_Connector_C_jll/Compat.toml
  M/MariaDB_Connector_ODBC_jll/Compat.toml
  M/MongoC_jll/Compat.toml
  M/marble_jll/Compat.toml
  M/mold_jll/Compat.toml
  O/OpenLDAPClient_jll/Compat.toml
  O/OpenSSH_jll/Compat.toml
  O/opusfile_jll/Compat.toml
  O/oxigraph_server_jll/Compat.toml
  P/PDFIO/Compat.toml
  P/PulseAudio_jll/Compat.toml
  P/Python_jll/Compat.toml
  Q/Qt5Base_jll/Compat.toml
  Q/Qt6Base_jll/Compat.toml
  Q/Qt_jll/Compat.toml
  Q/qwtw_jll/Compat.toml
  R/rsync_jll/Compat.toml
  R/ruby_jll/Compat.toml
  S/S2Geometry_jll/Compat.toml
  S/SLEEF_jll/Compat.toml
  S/SQLCipher_jll/Compat.toml
  S/stork_jll/Compat.toml
  T/TDLib_jll/Compat.toml
  T/tectonic_jll/Compat.toml
  V/VerizonEctoken_jll/Compat.toml
  W/wget2_jll/Compat.toml
  X/XRootD_jll/Compat.toml
Labels: compat fix

#78888 New version: AzSessions v2.1.2
  A/AzSessions/Versions.toml
Labels: patch release

#76726 New package: CodecZlibNG v0.1.0
  C/CodecZlibNG/Compat.toml
  C/CodecZlibNG/Deps.toml
  C/CodecZlibNG/Package.toml
  C/CodecZlibNG/Versions.toml
  Registry.toml
Labels: new package

#78890 New version: ClimaCore v0.10.26
  C/ClimaCore/Versions.toml
Labels: patch release

#78891 New version: Manopt v0.4.9
  M/Manopt/Versions.toml
Labels: patch release

#78856 New version: Lighthouse v0.15.1
  L/Lighthouse/Versions.toml
Labels: patch release

#78887 New version: Lighthouse v0.15.2
  L/Lighthouse/Versions.toml
Labels: patch release

#78892 New version: ReinforcementLearningBase v0.11.0
  R/ReinforcementLearningBase/Compat.toml
  R/ReinforcementLearningBase/Deps.toml
  R/ReinforcementLearningBase/Versions.toml
Labels: BREAKING, minor release

#78894 New version: Mocking v0.7.6
  M/Mocking/Versions.toml
Labels: patch release

#78895 New version: RemoteHPC v0.3.17
  R/RemoteHPC/Versions.toml
Labels: patch release

#78893 New version: Lighthouse v0.14.17
  L/Lighthouse/Versions.toml
Labels: patch release

#78896 New version: ApproxFunBase v0.8.1
  A/ApproxFunBase/Versions.toml
Labels: patch release

#78897 New version: PeriodicGraphEmbeddings v0.2.3
  P/PeriodicGraphEmbeddings/Compat.toml
  P/PeriodicGraphEmbeddings/Deps.toml
  P/PeriodicGraphEmbeddings/Versions.toml
Labels: patch release

#78899 New version: PeriodicGraphs v0.9.6
  P/PeriodicGraphs/Compat.toml
  P/PeriodicGraphs/Deps.toml
  P/PeriodicGraphs/Versions.toml
Labels: patch release

#78900 New version: Lighthouse v0.14.18
  L/Lighthouse/Compat.toml
  L/Lighthouse/Versions.toml
Labels: patch release

#78902 New version: MultilayerGraphs v1.1.4
  M/MultilayerGraphs/Versions.toml
Labels: patch release

#78852 New version: LinearOperators v2.5.2
  L/LinearOperators/Versions.toml
Labels: patch release

#78903 New version: PlutoTeachingTools v0.2.7
  P/PlutoTeachingTools/Versions.toml
Labels: patch release

#78901 New version: Lighthouse v0.14.19
  L/Lighthouse/Versions.toml
Labels: patch release

#78904 New version: PowerModelsITD v0.7.7
  P/PowerModelsITD/Compat.toml
  P/PowerModelsITD/Versions.toml
Labels: patch release

#78898 New version: ReinforcementLearningCore v0.9.1
  R/ReinforcementLearningCore/Compat.toml
  R/ReinforcementLearningCore/Deps.toml
  R/ReinforcementLearningCore/Versions.toml
Labels: patch release

#78905 New version: SymbolicRegression v0.15.3
  S/SymbolicRegression/Versions.toml
Labels: patch release

#78908 New version: NCBITaxonomy v0.4.0
  N/NCBITaxonomy/Compat.toml
  N/NCBITaxonomy/Deps.toml
  N/NCBITaxonomy/Versions.toml
Labels: BREAKING, minor release

#78909 New version: FiniteDifferenceFormula v1.2.7
  F/FiniteDifferenceFormula/Versions.toml
Labels: patch release
