Repository JuliaRegistries/General, pull requests merged in 2023-07, with the labels that each got.

#86626 New version: GeoStats v0.40.8
  G/GeoStats/Versions.toml
Labels: patch release

#86627 New version: AlgebraicInference v0.13.1
  A/AlgebraicInference/Versions.toml
Labels: patch release

#86628 New version: FluxMPI v0.7.1
  F/FluxMPI/Versions.toml
Labels: patch release

#86629 New version: PDBTools v0.13.13
  P/PDBTools/Deps.toml
  P/PDBTools/Versions.toml
Labels: patch release

#86630 New version: PDBTools v0.13.14
  P/PDBTools/Versions.toml
Labels: patch release

#86407 New package: MotifCluster v0.2.3
  M/MotifCluster/Compat.toml
  M/MotifCluster/Deps.toml
  M/MotifCluster/Package.toml
  M/MotifCluster/Versions.toml
  Registry.toml
Labels: new package

#86632 New version: DMRJtensor v0.9.19
  D/DMRJtensor/Versions.toml
Labels: patch release

#86633 New version: Thinkers v0.2.1
  T/Thinkers/Versions.toml
Labels: patch release

#86634 New version: TensorPACK v0.2.0
  T/TensorPACK/Versions.toml
Labels: BREAKING, minor release

#86636 New version: Exodus v0.4.0
  E/Exodus/Versions.toml
Labels: BREAKING, minor release

#86637 New version: Continuables v1.0.3
  C/Continuables/Compat.toml
  C/Continuables/Deps.toml
  C/Continuables/Versions.toml
Labels: patch release

#86635 New version: TensorPACK v0.2.1
  T/TensorPACK/Versions.toml
Labels: minor release

#86638 New version: TensorPACK v0.2.2
  T/TensorPACK/Versions.toml
Labels: patch release

#86639 New version: TensorPACK v0.2.3
  T/TensorPACK/Versions.toml
Labels: patch release

#86640 New version: ProxyInterfaces v1.0.1
  P/ProxyInterfaces/Compat.toml
  P/ProxyInterfaces/Deps.toml
  P/ProxyInterfaces/Versions.toml
Labels: patch release

#86641 New version: DataTypesBasic v2.0.3
  D/DataTypesBasic/Compat.toml
  D/DataTypesBasic/Deps.toml
  D/DataTypesBasic/Versions.toml
Labels: patch release

#86642 New version: Stipple v0.27.1
  S/Stipple/Versions.toml
Labels: patch release

#86643 New version: TensorPACK v0.2.4
  T/TensorPACK/Versions.toml
Labels: patch release

#86646 New version: ExprParsers v1.2.1
  E/ExprParsers/Compat.toml
  E/ExprParsers/Deps.toml
  E/ExprParsers/Versions.toml
Labels: patch release

#86645 New version: DMRJtensor v0.9.20
  D/DMRJtensor/Compat.toml
  D/DMRJtensor/Versions.toml
Labels: patch release

#86648 New version: DMRJtensor v0.9.21
  D/DMRJtensor/Versions.toml
Labels: patch release

#86649 New version: TaylorIntegration v0.14.1
  T/TaylorIntegration/Versions.toml
Labels: patch release

#86653 New version: TaylorIntegration v0.14.2
  T/TaylorIntegration/Versions.toml
Labels: patch release

#86656 New version: BrainFlow v5.8.2
  B/BrainFlow/Versions.toml
Labels: patch release

#86657 New version: SequentialSamplingModels v0.4.0
  S/SequentialSamplingModels/Compat.toml
  S/SequentialSamplingModels/Deps.toml
  S/SequentialSamplingModels/Versions.toml
Labels: BREAKING, minor release

#86658 New version: Flowstar v0.2.5
  F/Flowstar/Compat.toml
  F/Flowstar/Versions.toml
Labels: patch release

#86660 New version: WaveguideQED v0.2.1
  W/WaveguideQED/Compat.toml
  W/WaveguideQED/Deps.toml
  W/WaveguideQED/Versions.toml
Labels: patch release

#86662 New version: Metal v0.5.0
  M/Metal/Compat.toml
  M/Metal/Versions.toml
Labels: BREAKING, minor release

#86663 New version: Sundials v4.19.1
  S/Sundials/Versions.toml
Labels: patch release

#86664 New version: SatelliteToolboxSgp4 v2.1.0
  S/SatelliteToolboxSgp4/Compat.toml
  S/SatelliteToolboxSgp4/Deps.toml
  S/SatelliteToolboxSgp4/Versions.toml
Labels: minor release

#86668 New version: SumOfSquares v0.7.0
  S/SumOfSquares/Compat.toml
  S/SumOfSquares/Deps.toml
  S/SumOfSquares/Versions.toml
Labels: BREAKING, minor release

#86669 New version: DMRJtensor v0.9.22
  D/DMRJtensor/Versions.toml
Labels: patch release

#86671 New version: DMRJtensor v0.9.23
  D/DMRJtensor/Versions.toml
Labels: patch release

#86672 New version: GadgetIO v0.7.9
  G/GadgetIO/Compat.toml
  G/GadgetIO/Deps.toml
  G/GadgetIO/Versions.toml
Labels: patch release

#86673 New version: Oxygen v1.1.11
  O/Oxygen/Versions.toml
Labels: patch release

#86674 New version: SPHtoGrid v0.4.3
  S/SPHtoGrid/Compat.toml
  S/SPHtoGrid/Deps.toml
  S/SPHtoGrid/Versions.toml
Labels: patch release

#86675 New version: Exodus v0.4.1
  E/Exodus/Versions.toml
Labels: patch release

#86676 New version: SatelliteToolboxPropagators v0.2.0
  S/SatelliteToolboxPropagators/Compat.toml
  S/SatelliteToolboxPropagators/Deps.toml
  S/SatelliteToolboxPropagators/Versions.toml
Labels: BREAKING, minor release

#86457 New package: MINDFulMakie v0.1.0
  M/MINDFulMakie/Compat.toml
  M/MINDFulMakie/Deps.toml
  M/MINDFulMakie/Package.toml
  M/MINDFulMakie/Versions.toml
  Registry.toml
Labels: new package

#86677 New version: ONSAS v0.3.0
  O/ONSAS/Compat.toml
  O/ONSAS/Deps.toml
  O/ONSAS/Versions.toml
Labels: BREAKING, minor release

#86679 New version: SatelliteToolboxSgp4 v2.1.1
  S/SatelliteToolboxSgp4/Compat.toml
  S/SatelliteToolboxSgp4/Deps.toml
  S/SatelliteToolboxSgp4/Versions.toml
Labels: patch release

#86680 New version: SatelliteToolboxTle v1.0.4
  S/SatelliteToolboxTle/Compat.toml
  S/SatelliteToolboxTle/Deps.toml
  S/SatelliteToolboxTle/Versions.toml
Labels: patch release

#86681 New version: SatelliteToolboxBase v0.2.3
  S/SatelliteToolboxBase/Compat.toml
  S/SatelliteToolboxBase/Deps.toml
  S/SatelliteToolboxBase/Versions.toml
Labels: patch release

#86683 New version: PSIS v0.9.0
  P/PSIS/Versions.toml
Labels: BREAKING, minor release

#86684 New version: Exodus v0.4.2
  E/Exodus/Versions.toml
Labels: patch release

#86685 New version: SCIP v0.11.13
  S/SCIP/Versions.toml
Labels: patch release

#86686 New version: PSIS v0.9.1
  P/PSIS/Versions.toml
Labels: patch release

#86688 New version: DMRJtensor v0.9.24
  D/DMRJtensor/Versions.toml
Labels: patch release

#86689 New version: WildBootTests v0.9.9
  W/WildBootTests/Versions.toml
Labels: patch release

#86690 New version: DMRJtensor v0.9.25
  D/DMRJtensor/Versions.toml
Labels: patch release

#86691 New version: TikzPictures v3.5.0
  T/TikzPictures/Compat.toml
  T/TikzPictures/Deps.toml
  T/TikzPictures/Versions.toml
Labels: minor release

#86692 New version: TensorPACK v0.2.5
  T/TensorPACK/Versions.toml
Labels: patch release

#86693 New version: TensorPACK v0.2.6
  T/TensorPACK/Versions.toml
Labels: patch release

#86694 New version: DMRJtensor v0.9.26
  D/DMRJtensor/Compat.toml
  D/DMRJtensor/Versions.toml
Labels: patch release

#86695 New version: OrdinaryDiffEq v6.53.3
  O/OrdinaryDiffEq/Versions.toml
Labels: patch release

#86696 New version: LinearRationalExpectations v0.5.3
  L/LinearRationalExpectations/Versions.toml
Labels: patch release

#86697 New version: ChunkedBase v0.2.1
  C/ChunkedBase/Versions.toml
Labels: patch release

#86698 New version: Sundials v4.19.2
  S/Sundials/Versions.toml
Labels: patch release

#86699 New version: ODEInterfaceDiffEq v3.13.1
  O/ODEInterfaceDiffEq/Versions.toml
Labels: patch release

#86700 New version: LSODA v0.7.4
  L/LSODA/Versions.toml
Labels: patch release

#86702 New version: Polymake v0.11.0
  P/Polymake/Compat.toml
  P/Polymake/Deps.toml
  P/Polymake/Versions.toml
Labels: BREAKING, minor release

#86508 New package: SyncSort v0.1.0
  Registry.toml
  S/SyncSort/Compat.toml
  S/SyncSort/Deps.toml
  S/SyncSort/Package.toml
  S/SyncSort/Versions.toml
Labels: new package

#86705 New version: CMDimCircuits v0.3.2
  C/CMDimCircuits/Versions.toml
Labels: patch release

#86706 New version: RSDeltaSigmaPort v0.4.2
  R/RSDeltaSigmaPort/Compat.toml
  R/RSDeltaSigmaPort/Versions.toml
Labels: patch release

#86707 New version: LinearSolve v2.3.0
  L/LinearSolve/Compat.toml
  L/LinearSolve/Versions.toml
Labels: minor release

#86708 New version: Sundials v4.19.3
  S/Sundials/Versions.toml
Labels: patch release

#86709 New version: ManifoldsBase v0.14.7
  M/ManifoldsBase/Versions.toml
Labels: patch release

#86710 New version: BVProblemLibrary v0.1.2
  B/BVProblemLibrary/Versions.toml
Labels: patch release

#86523 New package: ComposableCommands v0.2.0
  C/ComposableCommands/Compat.toml
  C/ComposableCommands/Deps.toml
  C/ComposableCommands/Package.toml
  C/ComposableCommands/Versions.toml
  Registry.toml
Labels: new package

#86711 New version: CMDimData v0.4.2
  C/CMDimData/Compat.toml
  C/CMDimData/Versions.toml
Labels: patch release

#86712 New version: HmtArchive v0.13.0
  H/HmtArchive/Versions.toml
Labels: BREAKING, minor release

#86714 New version: SciMLOperators v0.3.3
  S/SciMLOperators/Versions.toml
Labels: patch release

#86719 New version: SDDP v1.6.0
  S/SDDP/Versions.toml
Labels: minor release

#86720 New version: InverseFunctions v0.1.10
  I/InverseFunctions/Versions.toml
Labels: patch release

#86721 New version: SatelliteToolbox v0.11.0
  S/SatelliteToolbox/Compat.toml
  S/SatelliteToolbox/Deps.toml
  S/SatelliteToolbox/Versions.toml
Labels: BREAKING, minor release

#86722 New version: Electrum v0.1.5
  E/Electrum/Versions.toml
Labels: patch release

#86723 New version: MortalityTables v2.5.0
  M/MortalityTables/Versions.toml
Labels: minor release

#86725 New version: Gtk4 v0.4.2
  G/Gtk4/Versions.toml
Labels: patch release

#86726 New version: EarthSciData v0.1.1
  E/EarthSciData/Compat.toml
  E/EarthSciData/Deps.toml
  E/EarthSciData/Versions.toml
Labels: patch release

#86727 New version: PowerModelsACDC v0.6.3
  P/PowerModelsACDC/Versions.toml
Labels: patch release

#86728 New version: CbaOPF v0.2.5
  C/CbaOPF/Compat.toml
  C/CbaOPF/Versions.toml
Labels: patch release

#86729 New version: Thinkers v0.2.2
  T/Thinkers/Versions.toml
Labels: patch release

#86730 New version: Documenter v0.27.25
  D/Documenter/Versions.toml
Labels: patch release

#86557 Update Julia Compat for IntegerMathUtils
  I/IntegerMathUtils/Compat.toml
Labels: compat fix

#86732 New version: JET v0.8.5
  J/JET/Versions.toml
Labels: patch release

#86733 New version: FMIImport v0.15.6
  F/FMIImport/Compat.toml
  F/FMIImport/Versions.toml
Labels: patch release

#86734 New version: MolecularGraph v0.15.1
  M/MolecularGraph/Compat.toml
  M/MolecularGraph/Versions.toml
Labels: patch release

#86735 New version: Tensorial v0.12.19
  T/Tensorial/Versions.toml
Labels: patch release

#86736 New version: DrWatson v2.12.6
  D/DrWatson/Versions.toml
Labels: patch release

#86738 New version: Pesto v0.1.3
  P/Pesto/Versions.toml
Labels: patch release

#86739 New version: JET v0.8.6
  J/JET/Versions.toml
Labels: patch release

#86742 New version: cuDNN v1.1.0
  C/cuDNN/Compat.toml
  C/cuDNN/Versions.toml
Labels: minor release

#86743 New version: cuTENSOR v1.1.0
  C/cuTENSOR/Compat.toml
  C/cuTENSOR/Versions.toml
Labels: minor release

#86744 New version: OpenDSSDirect v0.9.5
  O/OpenDSSDirect/Compat.toml
  O/OpenDSSDirect/Versions.toml
Labels: patch release

#86746 New version: cuStateVec v1.0.5
  C/cuStateVec/Compat.toml
  C/cuStateVec/Versions.toml
Labels: patch release

#86748 New version: FMI v0.12.3
  F/FMI/Compat.toml
  F/FMI/Versions.toml
Labels: patch release

#86747 New version: cuTensorNet v1.0.5
  C/cuTensorNet/Compat.toml
  C/cuTensorNet/Versions.toml
Labels: patch release

#86750 New version: OffsetArrays v1.12.10
  O/OffsetArrays/Versions.toml
Labels: patch release

#86751 New version: FMIFlux v0.10.2
  F/FMIFlux/Compat.toml
  F/FMIFlux/Versions.toml
Labels: patch release

#86753 New version: FrankWolfe v0.2.27
  F/FrankWolfe/Versions.toml
Labels: patch release

#86754 New version: SequentialSamplingModels v0.4.1
  S/SequentialSamplingModels/Versions.toml
Labels: patch release

#86756 New version: ImageCorners v0.1.2
  I/ImageCorners/Compat.toml
  I/ImageCorners/Versions.toml
Labels: patch release

#86757 New version: SequentialSamplingModels v0.4.2
  S/SequentialSamplingModels/Versions.toml
Labels: patch release

#86758 New version: StaticArrays v1.6.0
  S/StaticArrays/Versions.toml
  S/StaticArrays/WeakDeps.toml
Labels: minor release

#86759 New version: PackageAnalyzer v3.0.0
  P/PackageAnalyzer/Compat.toml
  P/PackageAnalyzer/Deps.toml
  P/PackageAnalyzer/Versions.toml
Labels: BREAKING, major release

#86760 New version: Infiltrator v1.6.4
  I/Infiltrator/Versions.toml
Labels: patch release

#86578 New package: SoleData v0.9.0
  Registry.toml
  S/SoleData/Compat.toml
  S/SoleData/Deps.toml
  S/SoleData/Package.toml
  S/SoleData/Versions.toml
Labels: new package

#86763 New version: LaMEM v0.1.14
  L/LaMEM/Compat.toml
  L/LaMEM/Versions.toml
Labels: patch release

#86764 New version: BarnsleyFern v0.1.3
  B/BarnsleyFern/Compat.toml
  B/BarnsleyFern/Deps.toml
  B/BarnsleyFern/Versions.toml
Labels: patch release

#86765 New version: Coluna v0.6.4
  C/Coluna/Versions.toml
Labels: patch release

#86767 New version: Pathfinder v0.7.5
  P/Pathfinder/Compat.toml
  P/Pathfinder/Versions.toml
Labels: patch release

#86768 New version: RadeonProRender v0.3.0
  R/RadeonProRender/Compat.toml
  R/RadeonProRender/Deps.toml
  R/RadeonProRender/Versions.toml
Labels: BREAKING, minor release

#86771 New version: RetentionParameterEstimator v0.1.5
  R/RetentionParameterEstimator/Versions.toml
Labels: patch release

#86774 New version: Pathfinder v0.7.6
  P/Pathfinder/Compat.toml
  P/Pathfinder/Versions.toml
Labels: patch release

#86776 New version: InferOpt v0.5.1
  I/InferOpt/Versions.toml
Labels: patch release

#86593 New package: ElectronLiquid v0.1.0
  E/ElectronLiquid/Compat.toml
  E/ElectronLiquid/Deps.toml
  E/ElectronLiquid/Package.toml
  E/ElectronLiquid/Versions.toml
  Registry.toml
Labels: new package

#86777 New version: ChangesOfVariables v0.1.8
  C/ChangesOfVariables/Compat.toml
  C/ChangesOfVariables/Deps.toml
  C/ChangesOfVariables/Versions.toml
  C/ChangesOfVariables/WeakCompat.toml
  C/ChangesOfVariables/WeakDeps.toml
Labels: patch release

#86778 New version: MultipleTesting v0.6.0
  M/MultipleTesting/Compat.toml
  M/MultipleTesting/Versions.toml
Labels: BREAKING, minor release

#86779 New version: Hecke v0.18.15
  H/Hecke/Deps.toml
  H/Hecke/Versions.toml
Labels: patch release

#86780 New version: SymbolicPlanners v0.1.15
  S/SymbolicPlanners/Deps.toml
  S/SymbolicPlanners/Versions.toml
Labels: patch release

#86781 New version: FillArrays v1.3.0
  F/FillArrays/Versions.toml
Labels: minor release

#86782 New version: SequentialSamplingModels v0.4.3
  S/SequentialSamplingModels/Compat.toml
  S/SequentialSamplingModels/Deps.toml
  S/SequentialSamplingModels/Versions.toml
Labels: patch release

#86783 New version: Exodus v0.5.0
  E/Exodus/Versions.toml
Labels: BREAKING, minor release

#86784 New version: AutoBZCore v0.2.2
  A/AutoBZCore/Versions.toml
Labels: patch release

#86786 New version: ReTestItems v1.12.2
  R/ReTestItems/Versions.toml
Labels: patch release

#86788 New version: EnzymeCore v0.4.0
  E/EnzymeCore/Versions.toml
Labels: BREAKING, minor release

#86608 New package: KinematicCoordinateTransformations v0.4.3
  K/KinematicCoordinateTransformations/Compat.toml
  K/KinematicCoordinateTransformations/Deps.toml
  K/KinematicCoordinateTransformations/Package.toml
  K/KinematicCoordinateTransformations/Versions.toml
  Registry.toml
Labels: new package

#86789 New version: ModelingToolkit v8.61.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#86618 New package: SemanticAST v0.1.0
  Registry.toml
  S/SemanticAST/Compat.toml
  S/SemanticAST/Deps.toml
  S/SemanticAST/Package.toml
  S/SemanticAST/Versions.toml
Labels: new package

#86790 New version: ModelPredictiveControl v0.6.0
  M/ModelPredictiveControl/Compat.toml
  M/ModelPredictiveControl/Deps.toml
  M/ModelPredictiveControl/Versions.toml
Labels: BREAKING, minor release

#86792 New version: DecFP v1.3.2
  D/DecFP/Versions.toml
Labels: patch release

#86793 New version: DimensionfulAngles v0.1.3
  D/DimensionfulAngles/Versions.toml
Labels: patch release

#86797 New version: Electrum v0.1.6
  E/Electrum/Compat.toml
  E/Electrum/Deps.toml
  E/Electrum/Versions.toml
Labels: patch release

#86622 New package: StationaryRandomFields v0.1.0
  Registry.toml
  S/StationaryRandomFields/Compat.toml
  S/StationaryRandomFields/Deps.toml
  S/StationaryRandomFields/Package.toml
  S/StationaryRandomFields/Versions.toml
Labels: new package

#86798 New version: EarthSciData v0.2.0
  E/EarthSciData/Compat.toml
  E/EarthSciData/Deps.toml
  E/EarthSciData/Versions.toml
Labels: BREAKING, minor release

#86799 New version: TestingUtilities v1.5.0
  T/TestingUtilities/Versions.toml
Labels: minor release

#86801 New version: ExpressBase v0.4.4
  E/ExpressBase/Deps.toml
  E/ExpressBase/Versions.toml
Labels: patch release

#86800 New version: EpithelialDynamics1D v1.3.0
  E/EpithelialDynamics1D/Versions.toml
Labels: minor release

#86802 New version: SatelliteToolbox v0.11.1
  S/SatelliteToolbox/Versions.toml
Labels: patch release

#86796 New version: CloudMicrophysics v0.11.1
  C/CloudMicrophysics/Compat.toml
  C/CloudMicrophysics/Deps.toml
  C/CloudMicrophysics/Versions.toml
Labels: patch release

#86803 New version: SatelliteToolboxBase v0.2.4
  S/SatelliteToolboxBase/Versions.toml
Labels: patch release

#86804 New version: StaticStrings v0.2.6
  S/StaticStrings/Versions.toml
Labels: patch release

#86631 New package: FinEtoolsTetsFromTris v0.1.0
  F/FinEtoolsTetsFromTris/Compat.toml
  F/FinEtoolsTetsFromTris/Deps.toml
  F/FinEtoolsTetsFromTris/Package.toml
  F/FinEtoolsTetsFromTris/Versions.toml
  Registry.toml
Labels: new package

#86805 New version: TestingUtilities v1.5.1
  T/TestingUtilities/Versions.toml
Labels: patch release

#86806 New version: ModelingToolkit v8.62.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#86807 New version: CbaOPF v0.2.6
  C/CbaOPF/Versions.toml
Labels: patch release

#86808 New version: NeuroAnalysis v1.2.1
  N/NeuroAnalysis/Compat.toml
  N/NeuroAnalysis/Deps.toml
  N/NeuroAnalysis/Versions.toml
Labels: patch release

#86809 New version: BSplineKit v0.16.2
  B/BSplineKit/Compat.toml
  B/BSplineKit/Versions.toml
Labels: patch release

#86810 New version: QuantumClifford v0.8.9
  Q/QuantumClifford/Compat.toml
  Q/QuantumClifford/Versions.toml
Labels: patch release

#86811 New version: KOrderPerturbations v0.1.2
  K/KOrderPerturbations/Versions.toml
Labels: patch release
