Repository JuliaRegistries/General, pull requests merged in 2023-01, with the labels that each got.

#74865 New version: DiffinDiffsBase v0.4.2
  D/DiffinDiffsBase/Compat.toml
  D/DiffinDiffsBase/Versions.toml
Labels: patch release

#74867 New version: ExifViewer v0.1.1
  E/ExifViewer/Versions.toml
Labels: patch release

#74868 New version: InteractionWeightedDIDs v0.3.1
  I/InteractionWeightedDIDs/Compat.toml
  I/InteractionWeightedDIDs/Deps.toml
  I/InteractionWeightedDIDs/Versions.toml
Labels: patch release

#74870 New version: PrimitiveOneHot v0.1.3
  P/PrimitiveOneHot/Versions.toml
Labels: patch release

#74871 New version: StructWalk v0.2.1
  S/StructWalk/Versions.toml
Labels: patch release

#74872 New version: Polyester v0.6.20
  P/Polyester/Versions.toml
Labels: patch release

#74873 New version: JMcDM v0.7.1
  J/JMcDM/Versions.toml
Labels: patch release

#74847 New version: Jchemo v0.1.11
  J/Jchemo/Versions.toml
Labels: patch release

#74769 New package: StarStats v0.12.0
  Registry.toml
  S/StarStats/Compat.toml
  S/StarStats/Deps.toml
  S/StarStats/Package.toml
  S/StarStats/Versions.toml
Labels: new package

#74875 New version: SciMLSensitivity v7.12.0
  S/SciMLSensitivity/Versions.toml
Labels: minor release

#74878 New version: FiniteDifferenceFormula v1.0.2
  F/FiniteDifferenceFormula/Versions.toml
Labels: patch release

#74879 New version: Jchemo v0.1.12
  J/Jchemo/Versions.toml
Labels: patch release

#74880 New version: IntelVectorMath v0.4.2
  I/IntelVectorMath/Compat.toml
  I/IntelVectorMath/Versions.toml
Labels: patch release

#74881 New version: RemoteHPC v0.3.1
  R/RemoteHPC/Versions.toml
Labels: patch release

#74882 New version: GDAL v1.5.1
  G/GDAL/Versions.toml
Labels: patch release

#74883 New version: LuxorGraphPlot v0.2.0
  L/LuxorGraphPlot/Deps.toml
  L/LuxorGraphPlot/Versions.toml
Labels: BREAKING, minor release

#74884 New version: ManifoldsBase v0.13.28
  M/ManifoldsBase/Deps.toml
  M/ManifoldsBase/Versions.toml
Labels: patch release

#74885 New version: LinRegOutliers v0.8.18
  L/LinRegOutliers/Versions.toml
Labels: patch release

#74886 New version: GreekSyntax v0.3.0
  G/GreekSyntax/Compat.toml
  G/GreekSyntax/Deps.toml
  G/GreekSyntax/Versions.toml
Labels: BREAKING, minor release

#74887 New version: Turing v0.23.3
  T/Turing/Compat.toml
  T/Turing/Versions.toml
Labels: patch release

#74803 New version: KadanoffBaym v1.2.0
  K/KadanoffBaym/Deps.toml
  K/KadanoffBaym/Versions.toml
Labels: minor release

#74891 New version: MakieCore v0.6.1
  M/MakieCore/Versions.toml
Labels: patch release

#74892 New version: JuMP v1.6.0
  J/JuMP/Compat.toml
  J/JuMP/Versions.toml
Labels: minor release

#74893 New version: NodesAndModes v0.9.0
  N/NodesAndModes/Versions.toml
Labels: BREAKING, minor release

#74896 New version: MathOptInterface v1.11.2
  M/MathOptInterface/Versions.toml
Labels: patch release

#74897 New version: CUDASIMDTypes v1.3.3
  C/CUDASIMDTypes/Versions.toml
Labels: patch release

#74894 New version: Makie v0.19.1
  M/Makie/Compat.toml
  M/Makie/Deps.toml
  M/Makie/Versions.toml
Labels: patch release

#74903 New version: AlgebraicAgents v0.2.8
  A/AlgebraicAgents/Versions.toml
Labels: patch release

#74904 New version: DiffEqBase v6.113.0
  D/DiffEqBase/Versions.toml
Labels: minor release

#74898 New version: GLMakie v0.8.1
  G/GLMakie/Compat.toml
  G/GLMakie/Deps.toml
  G/GLMakie/Versions.toml
Labels: patch release

#74899 New version: WGLMakie v0.8.1
  W/WGLMakie/Compat.toml
  W/WGLMakie/Versions.toml
Labels: patch release

#74900 New version: RPRMakie v0.5.1
  R/RPRMakie/Compat.toml
  R/RPRMakie/Versions.toml
Labels: patch release

#74901 New version: CairoMakie v0.10.1
  C/CairoMakie/Compat.toml
  C/CairoMakie/Versions.toml
Labels: patch release

#74906 New version: PkgGraph v0.2.0
  P/PkgGraph/Compat.toml
  P/PkgGraph/Deps.toml
  P/PkgGraph/Versions.toml
Labels: BREAKING, minor release

#74907 New version: SpecialMatrices v3.0.0
  S/SpecialMatrices/Compat.toml
  S/SpecialMatrices/Deps.toml
  S/SpecialMatrices/Versions.toml
Labels: BREAKING, major release

#74908 New version: DistributedFactorGraphs v0.18.10
  D/DistributedFactorGraphs/Versions.toml
Labels: patch release

#74909 New version: Clang v0.17.2
  C/Clang/Versions.toml
Labels: patch release

#74911 New version: Hungarian v0.7.0
  H/Hungarian/Versions.toml
Labels: BREAKING, minor release

#74912 New version: Replay v0.4.3
  R/Replay/Versions.toml
Labels: patch release

#74913 New version: IncrementalInference v0.32.1
  I/IncrementalInference/Compat.toml
  I/IncrementalInference/Versions.toml
Labels: patch release

#74914 New version: SDDP v0.4.9
  S/SDDP/Versions.toml
Labels: patch release

#74915 New version: RandomVariables v0.1.3
  R/RandomVariables/Versions.toml
Labels: patch release

#74916 New version: ThreadPinning v0.7.2
  T/ThreadPinning/Versions.toml
Labels: patch release

#74917 New version: FunSQL v0.11.0
  F/FunSQL/Versions.toml
Labels: BREAKING, minor release

#74918 New version: Pathfinder v0.5.6
  P/Pathfinder/Versions.toml
Labels: patch release

#74919 New version: OHDSICohortExpressions v0.1.5
  O/OHDSICohortExpressions/Compat.toml
  O/OHDSICohortExpressions/Versions.toml
Labels: patch release

#74920 New version: BasisFunctions v0.5.6
  B/BasisFunctions/Versions.toml
Labels: patch release

#74921 New version: BlockBandedMatrices v0.11.10
  B/BlockBandedMatrices/Versions.toml
Labels: patch release

#74923 New version: FMIImport v0.14.1
  F/FMIImport/Versions.toml
Labels: patch release

#74924 New version: PowerAnalyses v0.2.5
  P/PowerAnalyses/Versions.toml
Labels: patch release

#74925 New version: FastMarching v0.2.7
  F/FastMarching/Versions.toml
Labels: patch release

#74927 New version: FrameFun v0.4.7
  F/FrameFun/Compat.toml
  F/FrameFun/Versions.toml
Labels: patch release

#74928 New version: QuantumCumulants v0.2.12
  Q/QuantumCumulants/Versions.toml
Labels: patch release

#74929 New version: Parquet2 v0.2.4
  P/Parquet2/Versions.toml
Labels: patch release

#74930 New version: Trixi v0.5.2
  T/Trixi/Versions.toml
Labels: patch release

#74931 New version: Sinograms v0.4.1
  S/Sinograms/Versions.toml
Labels: patch release

#74932 New version: JSServe v2.0.1
  J/JSServe/Compat.toml
  J/JSServe/Versions.toml
Labels: patch release

#74933 New version: BellDiagonalQudits v0.1.3
  B/BellDiagonalQudits/Versions.toml
Labels: patch release

#74934 New version: Metida v0.14.5
  M/Metida/Versions.toml
Labels: patch release

#74938 New version: WGLMakie v0.8.2
  W/WGLMakie/Compat.toml
  W/WGLMakie/Versions.toml
Labels: patch release

#74940 New version: AtomsBase v0.2.5
  A/AtomsBase/Deps.toml
  A/AtomsBase/Versions.toml
Labels: patch release

#74942 New version: Expectations v1.9.0
  E/Expectations/Compat.toml
  E/Expectations/Deps.toml
  E/Expectations/Versions.toml
Labels: minor release

#74823 New package: SoapySDRRecorder v0.1.0
  Registry.toml
  S/SoapySDRRecorder/Compat.toml
  S/SoapySDRRecorder/Deps.toml
  S/SoapySDRRecorder/Package.toml
  S/SoapySDRRecorder/Versions.toml
Labels: new package

#74943 New version: Gurobi v0.11.5
  G/Gurobi/Versions.toml
Labels: patch release

#74944 New version: LFAToolkit v0.6.1
  L/LFAToolkit/Compat.toml
  L/LFAToolkit/Versions.toml
Labels: patch release

#74945 New version: RecursiveTupleMath v0.1.1
  R/RecursiveTupleMath/Versions.toml
Labels: patch release

#74946 New version: ApproxManifoldProducts v0.6.3
  A/ApproxManifoldProducts/Versions.toml
Labels: patch release

#74947 New version: Manifolds v0.8.42
  M/Manifolds/Compat.toml
  M/Manifolds/Versions.toml
Labels: patch release

#74948 New version: NNlib v0.8.13
  N/NNlib/Versions.toml
Labels: patch release

#74949 New version: GreekSyntax v0.4.0
  G/GreekSyntax/Versions.toml
Labels: BREAKING, minor release

#74953 New version: MartaCT v0.3.4
  M/MartaCT/Versions.toml
Labels: patch release

#74954 New version: ParetoSmoothedImportanceSampling v1.5.1
  P/ParetoSmoothedImportanceSampling/Compat.toml
  P/ParetoSmoothedImportanceSampling/Deps.toml
  P/ParetoSmoothedImportanceSampling/Versions.toml
Labels: patch release

#74955 New version: MultilayerGraphs v1.1.0
  M/MultilayerGraphs/Compat.toml
  M/MultilayerGraphs/Deps.toml
  M/MultilayerGraphs/Versions.toml
Labels: minor release

#74957 New version: SDDP v1.0.0
  S/SDDP/Compat.toml
  S/SDDP/Deps.toml
  S/SDDP/Versions.toml
Labels: BREAKING, major release

#74960 New version: Gtk4 v0.3.0
  G/Gtk4/Compat.toml
  G/Gtk4/Versions.toml
Labels: BREAKING, minor release

#74961 New version: ColorVectorSpace v0.9.10
  C/ColorVectorSpace/Versions.toml
Labels: patch release

#74962 New version: DMRJtensor v0.9.5
  D/DMRJtensor/Compat.toml
  D/DMRJtensor/Versions.toml
Labels: patch release

#74964 New version: ApproxFunFourier v0.3.8
  A/ApproxFunFourier/Compat.toml
  A/ApproxFunFourier/Versions.toml
Labels: patch release

#74965 New version: ApproxFunOrthogonalPolynomials v0.6.1
  A/ApproxFunOrthogonalPolynomials/Compat.toml
  A/ApproxFunOrthogonalPolynomials/Versions.toml
Labels: patch release

#74845 New package: DimensionfulAngles v0.1.0
  D/DimensionfulAngles/Compat.toml
  D/DimensionfulAngles/Deps.toml
  D/DimensionfulAngles/Package.toml
  D/DimensionfulAngles/Versions.toml
  Registry.toml
Labels: new package

#74966 New version: RoMEPlotting v0.10.1
  R/RoMEPlotting/Compat.toml
  R/RoMEPlotting/Versions.toml
Labels: patch release

#74967 New version: MultiComponentFlash v1.1.4
  M/MultiComponentFlash/Compat.toml
  M/MultiComponentFlash/Versions.toml
Labels: patch release

#74968 New version: DiffEqGPU v1.25.0
  D/DiffEqGPU/Deps.toml
  D/DiffEqGPU/Versions.toml
Labels: minor release

#74969 New version: TMLE v0.8.7
  T/TMLE/Versions.toml
Labels: patch release

#74971 New version: CMAEvolutionStrategy v0.2.6
  C/CMAEvolutionStrategy/Versions.toml
Labels: patch release

#74972 New version: MultiJuMP v0.6.1
  M/MultiJuMP/Compat.toml
  M/MultiJuMP/Versions.toml
Labels: patch release

#74974 Set compat for FLAC_jll dependants
  L/libsndfile_jll/Compat.toml
  S/SDL2_mixer_jll/Compat.toml
  S/SFML_jll/Compat.toml
Labels: compat fix

#74975 New version: Rotations v1.3.4
  R/Rotations/Compat.toml
  R/Rotations/Versions.toml
Labels: patch release

#74978 New version: TSFrames v0.2.0
  T/TSFrames/Versions.toml
Labels: BREAKING, minor release

#74980 New version: HITRAN v0.2.15
  H/HITRAN/Compat.toml
  H/HITRAN/Versions.toml
Labels: patch release

#74981 New version: JSServe v2.0.2
  J/JSServe/Versions.toml
Labels: patch release

#74982 New version: DFControl v0.5.18
  D/DFControl/Compat.toml
  D/DFControl/Versions.toml
Labels: patch release

#74983 New version: RemoteHPC v0.3.2
  R/RemoteHPC/Compat.toml
  R/RemoteHPC/Deps.toml
  R/RemoteHPC/Versions.toml
Labels: patch release

#74984 New version: JumpProcesses v9.3.0
  J/JumpProcesses/Versions.toml
Labels: minor release

#74985 New version: Blink v0.12.6
  B/Blink/Compat.toml
  B/Blink/Deps.toml
  B/Blink/Versions.toml
Labels: patch release

#74987 New version: DFTforge v1.3.2
  D/DFTforge/Compat.toml
  D/DFTforge/Versions.toml
Labels: patch release

#74988 New version: WGLMakie v0.8.3
  W/WGLMakie/Versions.toml
Labels: patch release

#74989 New version: RasterDataSources v0.5.5
  R/RasterDataSources/Compat.toml
  R/RasterDataSources/Deps.toml
  R/RasterDataSources/Versions.toml
Labels: patch release

#74990 New version: GreekSyntax v0.4.1
  G/GreekSyntax/Versions.toml
Labels: patch release

#74991 New version: FaultDetectionTools v1.2.0
  F/FaultDetectionTools/Versions.toml
Labels: minor release

#74992 New version: YFinance v0.1.2
  Y/YFinance/Compat.toml
  Y/YFinance/Deps.toml
  Y/YFinance/Versions.toml
Labels: patch release

#74993 New version: PDDL v0.2.12
  P/PDDL/Compat.toml
  P/PDDL/Deps.toml
  P/PDDL/Versions.toml
Labels: patch release

#74994 New version: GraphBasedSystems v0.2.0
  G/GraphBasedSystems/Compat.toml
  G/GraphBasedSystems/Deps.toml
  G/GraphBasedSystems/Versions.toml
Labels: BREAKING, minor release

#74996 New version: ClausenFunctions v1.11.0
  C/ClausenFunctions/Versions.toml
Labels: minor release

#74997 New version: PolyLog v2.3.0
  P/PolyLog/Versions.toml
Labels: minor release

#74937 New version: Korg v0.14.0
  K/Korg/Compat.toml
  K/Korg/Deps.toml
  K/Korg/Versions.toml
Labels: BREAKING, minor release

#75001 New version: CitableCorpus v0.13.3
  C/CitableCorpus/Versions.toml
Labels: patch release

#75002 New version: SnoopCompile v2.9.6
  S/SnoopCompile/Versions.toml
Labels: patch release

#75003 New version: CartesianGrids v0.1.24
  C/CartesianGrids/Versions.toml
Labels: patch release

#75004 New version: ImmersedLayers v0.3.10
  I/ImmersedLayers/Versions.toml
Labels: patch release

#75007 New version: SymbolicPlanners v0.1.10
  S/SymbolicPlanners/Compat.toml
  S/SymbolicPlanners/Deps.toml
  S/SymbolicPlanners/Versions.toml
Labels: patch release

#75008 New version: HTTP v1.6.3
  H/HTTP/Versions.toml
Labels: patch release

#75010 New version: LinearSolve v1.33.0
  L/LinearSolve/Versions.toml
Labels: minor release

#74861 New package: KryburyCompress v0.1.0
  K/KryburyCompress/Compat.toml
  K/KryburyCompress/Deps.toml
  K/KryburyCompress/Package.toml
  K/KryburyCompress/Versions.toml
  Registry.toml
Labels: new package

#75011 New version: GreekSyntax v0.5.1
  G/GreekSyntax/Versions.toml
Labels: patch release

#75012 New version: PersistenceDiagrams v0.9.9
  P/PersistenceDiagrams/Compat.toml
  P/PersistenceDiagrams/Versions.toml
Labels: patch release

#75013 New version: PoGO v0.3.7
  P/PoGO/Versions.toml
Labels: patch release

#75014 New version: FHist v0.9.0
  F/FHist/Versions.toml
Labels: BREAKING, minor release

#74998 New version: PPInterpolation v0.4.0
  P/PPInterpolation/Versions.toml
Labels: BREAKING, minor release

#75015 New version: ClimaComms v0.3.3
  C/ClimaComms/Versions.toml
Labels: patch release

#75016 New version: BioAlignments v3.1.0
  B/BioAlignments/Versions.toml
Labels: minor release

#75018 New version: LoweredCodeUtils v2.3.0
  L/LoweredCodeUtils/Versions.toml
Labels: minor release

#75019 New version: ClimaCommsMPI v0.3.8
  C/ClimaCommsMPI/Compat.toml
  C/ClimaCommsMPI/Versions.toml
Labels: patch release

#75020 New version: Parquet2 v0.2.5
  P/Parquet2/Versions.toml
Labels: patch release

#75021 New version: Polynomials v3.2.1
  P/Polynomials/Versions.toml
Labels: patch release

#75022 New version: ModelingToolkit v8.39.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#75023 New version: GreekSyntax v0.5.2
  G/GreekSyntax/Versions.toml
Labels: patch release

#74863 New package: MarketDataFeeds v0.1.0
  M/MarketDataFeeds/Compat.toml
  M/MarketDataFeeds/Deps.toml
  M/MarketDataFeeds/Package.toml
  M/MarketDataFeeds/Versions.toml
  Registry.toml
Labels: new package

#75024 New version: IntelVectorMath v0.5.0
  I/IntelVectorMath/Versions.toml
Labels: BREAKING, minor release

#75025 New version: SegyIO v0.8.3
  S/SegyIO/Versions.toml
Labels: patch release

#74864 New package: HistoryTrees v0.2.0
  H/HistoryTrees/Compat.toml
  H/HistoryTrees/Deps.toml
  H/HistoryTrees/Package.toml
  H/HistoryTrees/Versions.toml
  Registry.toml
Labels: new package

#75026 New version: RegressionAndOtherStories v0.8.0
  R/RegressionAndOtherStories/Versions.toml
Labels: BREAKING, minor release

#75027 New version: PolyesterWeave v0.1.13
  P/PolyesterWeave/Compat.toml
  P/PolyesterWeave/Deps.toml
  P/PolyesterWeave/Versions.toml
Labels: patch release

#75028 New version: LaTeXTables v0.1.1
  L/LaTeXTables/Compat.toml
  L/LaTeXTables/Versions.toml
Labels: patch release

#75029 New version: CPUSummary v0.2.0
  C/CPUSummary/Versions.toml
Labels: BREAKING, minor release

#75030 New version: PolyesterWeave v0.1.14
  P/PolyesterWeave/Compat.toml
  P/PolyesterWeave/Versions.toml
Labels: patch release

#75031 New version: Polyester v0.7.0
  P/Polyester/Compat.toml
  P/Polyester/Versions.toml
Labels: BREAKING, minor release

#75033 New version: VideoIO v1.0.4
  V/VideoIO/Compat.toml
  V/VideoIO/Deps.toml
  V/VideoIO/Versions.toml
Labels: patch release

#75035 New version: Dataverse v0.1.4
  D/Dataverse/Compat.toml
  D/Dataverse/Deps.toml
  D/Dataverse/Versions.toml
Labels: patch release

#75034 New version: Chron v0.4.2
  C/Chron/Compat.toml
  C/Chron/Deps.toml
  C/Chron/Versions.toml
Labels: patch release

#75036 New version: CPUSummary v0.2.1
  C/CPUSummary/Versions.toml
Labels: patch release

#75038 New version: Comonicon v1.0.3
  C/Comonicon/Versions.toml
Labels: patch release

#75039 New version: FastBroadcast v0.2.4
  F/FastBroadcast/Compat.toml
  F/FastBroadcast/Versions.toml
Labels: patch release

#75042 New version: ExproniconLite v0.7.10
  E/ExproniconLite/Compat.toml
  E/ExproniconLite/Deps.toml
  E/ExproniconLite/Versions.toml
Labels: patch release

#74214 New version: ExproniconLite v0.7.11
  E/ExproniconLite/Versions.toml
Labels: patch release

#75043 New version: DimensionfulAngles v0.1.1
  D/DimensionfulAngles/Versions.toml
Labels: patch release

#75040 New version: PolyesterWeave v0.2.0
  P/PolyesterWeave/Versions.toml
Labels: BREAKING, minor release

#75050 New version: Octavian v0.3.19
  O/Octavian/Compat.toml
  O/Octavian/Versions.toml
Labels: patch release

#75051 New version: StrideArraysCore v0.4.5
  S/StrideArraysCore/Versions.toml
Labels: patch release

#75053 New version: FMIFlux v0.9.1
  F/FMIFlux/Compat.toml
  F/FMIFlux/Versions.toml
Labels: patch release
