Repository JuliaRegistries/General, pull requests merged in 2023-02, with the labels that each got.

#76759 New version: Mads v1.3.17
  M/Mads/Compat.toml
  M/Mads/Versions.toml
Labels: patch release

#76762 New version: FiniteDifferenceFormula v1.1.9
  F/FiniteDifferenceFormula/Versions.toml
Labels: patch release

#76763 New version: MakieTeX v0.3.0
  M/MakieTeX/Compat.toml
  M/MakieTeX/Versions.toml
Labels: BREAKING, minor release

#76764 New version: ModelingToolkit v8.44.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#76590 New package: QuantumGradientGenerators v0.1.0
  Q/QuantumGradientGenerators/Compat.toml
  Q/QuantumGradientGenerators/Deps.toml
  Q/QuantumGradientGenerators/Package.toml
  Q/QuantumGradientGenerators/Versions.toml
  Registry.toml
Labels: new package

#76766 New version: MixedModelsExtras v0.1.6
  M/MixedModelsExtras/Versions.toml
Labels: patch release

#76767 New version: PerfChecker v0.1.3
  P/PerfChecker/Compat.toml
  P/PerfChecker/Versions.toml
Labels: patch release

#76597 New package: ModelMiner v0.1.0
  M/ModelMiner/Compat.toml
  M/ModelMiner/Deps.toml
  M/ModelMiner/Package.toml
  M/ModelMiner/Versions.toml
  Registry.toml
Labels: new package

#76768 New version: EfficientFrontier v1.2.0
  E/EfficientFrontier/Compat.toml
  E/EfficientFrontier/Deps.toml
  E/EfficientFrontier/Versions.toml
Labels: minor release

#76769 New version: BlockArrays v0.16.24
  B/BlockArrays/Versions.toml
Labels: patch release

#76770 New version: CUDA v4.0.0
  C/CUDA/Compat.toml
  C/CUDA/Deps.toml
  C/CUDA/Versions.toml
Labels: BREAKING, major release

#76771 New version: DelaySSAToolkit v0.2.4
  D/DelaySSAToolkit/Compat.toml
  D/DelaySSAToolkit/Versions.toml
Labels: patch release

#76775 New version: StatisticalGraphics v0.8.0
  S/StatisticalGraphics/Versions.toml
Labels: BREAKING, minor release

#76776 New version: RxInfer v2.6.0
  R/RxInfer/Compat.toml
  R/RxInfer/Versions.toml
Labels: minor release

#76777 New version: EfficientFrontier v1.2.1
  E/EfficientFrontier/Versions.toml
Labels: patch release

#76778 New version: Agents v5.6.5
  A/Agents/Versions.toml
Labels: patch release

#76604 New package: Polylabel v0.1.0
  P/Polylabel/Compat.toml
  P/Polylabel/Deps.toml
  P/Polylabel/Package.toml
  P/Polylabel/Versions.toml
  Registry.toml
Labels: new package

#76779 New version: FastChebInterp v1.2.0
  F/FastChebInterp/Versions.toml
Labels: minor release

#76780 New version: VoronoiFVM v0.19.2
  V/VoronoiFVM/Versions.toml
Labels: patch release

#76781 New version: ModelWrappers v0.3.8
  M/ModelWrappers/Versions.toml
Labels: patch release

#76782 New version: ChargeTransport v0.2.1
  C/ChargeTransport/Compat.toml
  C/ChargeTransport/Versions.toml
Labels: patch release

#76784 New version: GPUArrays v8.6.2
  G/GPUArrays/Versions.toml
Labels: patch release

#76785 New version: AdaptiveResonance v0.8.1
  A/AdaptiveResonance/Versions.toml
Labels: patch release

#76786 New version: ModelWrappers v0.3.9
  M/ModelWrappers/Versions.toml
Labels: patch release

#76787 New version: GeometricFlux v0.13.8
  G/GeometricFlux/Compat.toml
  G/GeometricFlux/Versions.toml
Labels: patch release

#76788 New version: TaylorDiff v0.2.0
  T/TaylorDiff/Versions.toml
Labels: BREAKING, minor release

#76611 New package: ComputedFields v0.1.0
  C/ComputedFields/Compat.toml
  C/ComputedFields/Deps.toml
  C/ComputedFields/Package.toml
  C/ComputedFields/Versions.toml
  Registry.toml
Labels: new package

#76790 New version: AMDGPU v0.4.6
  A/AMDGPU/Compat.toml
  A/AMDGPU/Deps.toml
  A/AMDGPU/Versions.toml
Labels: patch release

#76792 New version: ModelingToolkit v8.45.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#76794 New version: EasyModelAnalysis v0.1.5
  E/EasyModelAnalysis/Versions.toml
Labels: patch release

#76795 New version: CitableParserBuilder v0.23.3
  C/CitableParserBuilder/Compat.toml
  C/CitableParserBuilder/Versions.toml
Labels: patch release

#76796 New version: SpmImages v0.3.1
  S/SpmImages/Versions.toml
Labels: patch release

#76797 New version: RxCiphers v0.2.0
  R/RxCiphers/Versions.toml
Labels: BREAKING, minor release

#76798 New version: JDQMCMeasurements v1.0.0
  J/JDQMCMeasurements/Compat.toml
  J/JDQMCMeasurements/Deps.toml
  J/JDQMCMeasurements/Versions.toml
Labels: BREAKING, major release

#76799 New version: AtticGreek v0.8.5
  A/AtticGreek/Compat.toml
  A/AtticGreek/Versions.toml
Labels: patch release

#76800 New version: OpenAI v0.5.1
  O/OpenAI/Versions.toml
Labels: patch release

#76802 New version: DistributedObjects v0.1.4
  D/DistributedObjects/Versions.toml
Labels: patch release

#76624 New package: TwoQubitWeylChamber v0.1.0
  Registry.toml
  T/TwoQubitWeylChamber/Compat.toml
  T/TwoQubitWeylChamber/Deps.toml
  T/TwoQubitWeylChamber/Package.toml
  T/TwoQubitWeylChamber/Versions.toml
Labels: new package

#76803 New version: EasyModelAnalysis v0.1.6
  E/EasyModelAnalysis/Versions.toml
Labels: patch release

#76626 New package: AlgebraicInference v0.1.0
  A/AlgebraicInference/Compat.toml
  A/AlgebraicInference/Deps.toml
  A/AlgebraicInference/Package.toml
  A/AlgebraicInference/Versions.toml
  Registry.toml
Labels: new package

#76804 New version: Pathfinder v0.7.0
  P/Pathfinder/Compat.toml
  P/Pathfinder/Deps.toml
  P/Pathfinder/Versions.toml
Labels: BREAKING, minor release

#76805 New version: PCHIPInterpolation v0.1.4
  P/PCHIPInterpolation/Versions.toml
Labels: patch release

#76628 New package: PCquery v0.3.0
  P/PCquery/Compat.toml
  P/PCquery/Deps.toml
  P/PCquery/Package.toml
  P/PCquery/Versions.toml
  Registry.toml
Labels: new package

#76806 New version: Pathfinder v0.7.1
  P/Pathfinder/Versions.toml
  P/Pathfinder/WeakCompat.toml
  P/Pathfinder/WeakDeps.toml
Labels: patch release

#76808 New version: ModelingToolkit v8.46.0
  M/ModelingToolkit/Versions.toml
Labels: minor release

#76811 New version: Microbiome v0.9.3
  M/Microbiome/Compat.toml
  M/Microbiome/Versions.toml
Labels: patch release

#76812 New version: Microbiome v0.9.4
  M/Microbiome/Versions.toml
Labels: patch release

#76814 New version: ClimaCoreTempestRemap v0.3.7
  C/ClimaCoreTempestRemap/Compat.toml
  C/ClimaCoreTempestRemap/Versions.toml
Labels: patch release

#76813 New version: EasyModelAnalysis v0.1.7
  E/EasyModelAnalysis/Versions.toml
Labels: patch release

#76818 New version: Bijectors v0.11.0
  B/Bijectors/Versions.toml
Labels: BREAKING, minor release

#76822 New version: HiGHS v1.4.3
  H/HiGHS/Compat.toml
  H/HiGHS/Versions.toml
Labels: patch release

#76823 New version: VLBILikelihoods v0.1.1
  V/VLBILikelihoods/Versions.toml
Labels: patch release

#76824 New version: GMMParameterEstimation v0.3.0
  G/GMMParameterEstimation/Versions.toml
Labels: BREAKING, minor release

#76825 New version: EfficientFrontier v1.2.2
  E/EfficientFrontier/Versions.toml
Labels: patch release

#76826 New version: EasyModelAnalysis v0.1.8
  E/EasyModelAnalysis/Versions.toml
Labels: patch release

#76827 New version: ActuaryUtilities v3.11.0
  A/ActuaryUtilities/Versions.toml
Labels: minor release

#76828 New version: Microbiome v0.10.0
  M/Microbiome/Versions.toml
Labels: BREAKING, minor release

#76832 New version: EvoTrees v0.14.8
  E/EvoTrees/Compat.toml
  E/EvoTrees/Versions.toml
Labels: patch release

#76833 New version: Parsers v2.5.4
  P/Parsers/Versions.toml
Labels: patch release

#76834 New version: AlgebraicInference v0.2.0
  A/AlgebraicInference/Versions.toml
Labels: BREAKING, minor release

#76835 New version: FourierFlows v0.10.2
  F/FourierFlows/Compat.toml
  F/FourierFlows/Versions.toml
Labels: patch release

#76836 New version: ERA5Reanalysis v0.2.1
  E/ERA5Reanalysis/Compat.toml
  E/ERA5Reanalysis/Versions.toml
Labels: patch release

#76837 New version: Trixi v0.5.10
  T/Trixi/Versions.toml
Labels: patch release

#76838 New version: NaiveGAflux v0.10.2
  N/NaiveGAflux/Compat.toml
  N/NaiveGAflux/Versions.toml
Labels: patch release

#76839 New version: ControlSystemIdentification v2.5.2
  C/ControlSystemIdentification/Versions.toml
Labels: patch release

#76840 New version: DistributedFactorGraphs v0.19.3
  D/DistributedFactorGraphs/Compat.toml
  D/DistributedFactorGraphs/Deps.toml
  D/DistributedFactorGraphs/Versions.toml
Labels: patch release

#76651 New package: SingleCellProjections v0.2.0
  Registry.toml
  S/SingleCellProjections/Compat.toml
  S/SingleCellProjections/Deps.toml
  S/SingleCellProjections/Package.toml
  S/SingleCellProjections/Versions.toml
Labels: new package

#76844 New version: CounterfactualExplanations v0.1.6
  C/CounterfactualExplanations/Compat.toml
  C/CounterfactualExplanations/Deps.toml
  C/CounterfactualExplanations/Versions.toml
Labels: patch release

#76845 New version: DMRJtensor v0.9.9
  D/DMRJtensor/Versions.toml
Labels: patch release

#76846 New version: Compat v4.6.0
  C/Compat/Versions.toml
Labels: minor release

#76848 New version: DynamicPolynomials v0.4.6
  D/DynamicPolynomials/Versions.toml
Labels: patch release

#76656 New package: AbstractItemResponseModels v0.1.0
  A/AbstractItemResponseModels/Compat.toml
  A/AbstractItemResponseModels/Deps.toml
  A/AbstractItemResponseModels/Package.toml
  A/AbstractItemResponseModels/Versions.toml
  Registry.toml
Labels: new package

#76849 New version: Plots v1.38.4
  P/Plots/Versions.toml
Labels: patch release

#76850 New version: Hecke v0.17.2
  H/Hecke/Versions.toml
Labels: patch release

#76853 New version: SingleCellProjections v0.2.1
  S/SingleCellProjections/Versions.toml
Labels: patch release

#76861 New version: LightenQP v1.0.6
  L/LightenQP/Versions.toml
Labels: patch release

#76858 New package: cuDNN v1.0.0
  C/cuDNN/Compat.toml
  C/cuDNN/Deps.toml
  C/cuDNN/Package.toml
  C/cuDNN/Versions.toml
  Registry.toml
Labels: new package

#76859 New package: cuTENSOR v1.0.0
  C/cuTENSOR/Compat.toml
  C/cuTENSOR/Deps.toml
  C/cuTENSOR/Package.toml
  C/cuTENSOR/Versions.toml
  Registry.toml
Labels: new package

#76862 New version: Stipple v0.25.19
  S/Stipple/Versions.toml
Labels: patch release

#76863 New version: JDQMCMeasurements v1.0.1
  J/JDQMCMeasurements/Versions.toml
Labels: patch release

#76864 New package: cuTensorNet v1.0.0
  C/cuTensorNet/Compat.toml
  C/cuTensorNet/Deps.toml
  C/cuTensorNet/Package.toml
  C/cuTensorNet/Versions.toml
  Registry.toml
Labels: new package

#76865 New package: cuStateVec v1.0.0
  C/cuStateVec/Compat.toml
  C/cuStateVec/Deps.toml
  C/cuStateVec/Package.toml
  C/cuStateVec/Versions.toml
  Registry.toml
Labels: new package

#76866 New version: BiobakeryUtils v0.7.0
  B/BiobakeryUtils/Compat.toml
  B/BiobakeryUtils/Versions.toml
Labels: BREAKING, minor release

#76868 New version: PSDMatrices v0.4.4
  P/PSDMatrices/Versions.toml
Labels: patch release

#76869 New version: EfficientFrontier v1.2.4
  E/EfficientFrontier/Versions.toml
Labels: patch release

#76870 New version: ModuleElts v0.1.0
  M/ModuleElts/Versions.toml
Labels: BREAKING, minor release

#76867 New version: CyclotomicNumbers v0.1.3
  C/CyclotomicNumbers/Compat.toml
  C/CyclotomicNumbers/Versions.toml
Labels: patch release

#76871 New version: ChargeTransport v0.2.2
  C/ChargeTransport/Versions.toml
Labels: patch release

#76873 New version: JosephsonCircuits v0.1.6
  J/JosephsonCircuits/Compat.toml
  J/JosephsonCircuits/Deps.toml
  J/JosephsonCircuits/Versions.toml
Labels: patch release

#76874 New version: MacroModelling v0.1.8
  M/MacroModelling/Versions.toml
Labels: patch release

#76877 New version: PlutoDevMacros v0.5.0
  P/PlutoDevMacros/Versions.toml
Labels: BREAKING, minor release

#76879 New version: SimilaritySearch v0.9.14
  S/SimilaritySearch/Compat.toml
  S/SimilaritySearch/Versions.toml
Labels: patch release

#76883 New version: NNlibCUDA v0.2.7
  N/NNlibCUDA/Compat.toml
  N/NNlibCUDA/Deps.toml
  N/NNlibCUDA/Versions.toml
Labels: patch release

#76647 New package: ToolipsDefaults v0.1.0
  Registry.toml
  T/ToolipsDefaults/Compat.toml
  T/ToolipsDefaults/Deps.toml
  T/ToolipsDefaults/Package.toml
  T/ToolipsDefaults/Versions.toml
Labels: new package

#76884 New version: IncrementalInference v0.32.3
  I/IncrementalInference/Compat.toml
  I/IncrementalInference/Versions.toml
Labels: patch release

#76885 New version: RegressionAndOtherStories v0.9.0
  R/RegressionAndOtherStories/Compat.toml
  R/RegressionAndOtherStories/Deps.toml
  R/RegressionAndOtherStories/Versions.toml
  R/RegressionAndOtherStories/WeakCompat.toml
  R/RegressionAndOtherStories/WeakDeps.toml
Labels: BREAKING, minor release

#76886 New version: RoMEPlotting v0.10.2
  R/RoMEPlotting/Compat.toml
  R/RoMEPlotting/Versions.toml
Labels: patch release

#76887 New version: PowerSystemCaseBuilder v1.0.2
  P/PowerSystemCaseBuilder/Versions.toml
Labels: patch release

#76888 New version: MarkovKernels v0.1.1
  M/MarkovKernels/Compat.toml
  M/MarkovKernels/Deps.toml
  M/MarkovKernels/Versions.toml
Labels: patch release

#76889 New version: PowerSystemCaseBuilder v1.0.3
  P/PowerSystemCaseBuilder/Versions.toml
Labels: patch release

#76890 New version: EasyModelAnalysis v0.1.9
  E/EasyModelAnalysis/Versions.toml
Labels: patch release

#76701 New package: GenerativeTopographicMapping v0.1.0
  G/GenerativeTopographicMapping/Compat.toml
  G/GenerativeTopographicMapping/Deps.toml
  G/GenerativeTopographicMapping/Package.toml
  G/GenerativeTopographicMapping/Versions.toml
  Registry.toml
Labels: new package

#76891 New version: MLJLinearModels v0.9.1
  M/MLJLinearModels/Compat.toml
  M/MLJLinearModels/Versions.toml
Labels: patch release

#76892 New version: GeoArrays v0.7.13
  G/GeoArrays/Compat.toml
  G/GeoArrays/Versions.toml
Labels: patch release

#76893 New version: Dynesty v0.2.0
  D/Dynesty/Versions.toml
Labels: BREAKING, minor release

#76894 New version: MathOptSymbolicAD v0.1.2
  M/MathOptSymbolicAD/Versions.toml
Labels: patch release

#76895 New version: CatBoost v0.3.0
  C/CatBoost/Compat.toml
  C/CatBoost/Deps.toml
  C/CatBoost/Versions.toml
Labels: BREAKING, minor release

#76707 New package: FewSpecialFunctions v0.1.0
  F/FewSpecialFunctions/Compat.toml
  F/FewSpecialFunctions/Deps.toml
  F/FewSpecialFunctions/Package.toml
  F/FewSpecialFunctions/Versions.toml
  Registry.toml
Labels: new package

#76896 New version: ToolipsBase64 v0.1.2
  T/ToolipsBase64/Compat.toml
  T/ToolipsBase64/Versions.toml
Labels: patch release

#76897 New version: EarthSciMLBase v0.2.0
  E/EarthSciMLBase/Compat.toml
  E/EarthSciMLBase/Deps.toml
  E/EarthSciMLBase/Versions.toml
Labels: BREAKING, minor release

#76898 New version: Implicit3DPlotting v0.2.4
  I/Implicit3DPlotting/Compat.toml
  I/Implicit3DPlotting/Deps.toml
  I/Implicit3DPlotting/Versions.toml
Labels: patch release

#76899 New version: XUnit v1.1.5
  X/XUnit/Versions.toml
Labels: patch release

#76900 New version: VideoIO v1.0.5
  V/VideoIO/Versions.toml
Labels: patch release

#76710 New package: BetterInputFiles v1.1.4
  B/BetterInputFiles/Compat.toml
  B/BetterInputFiles/Deps.toml
  B/BetterInputFiles/Package.toml
  B/BetterInputFiles/Versions.toml
  Registry.toml
Labels: new package

#76903 New version: Ignite v0.1.3
  I/Ignite/Compat.toml
  I/Ignite/Deps.toml
  I/Ignite/Versions.toml
Labels: patch release

#76904 New version: REopt v0.25.0
  R/REopt/Versions.toml
Labels: BREAKING, minor release

#76712 New package: PowerNetworkMatrices v0.1.0
  P/PowerNetworkMatrices/Compat.toml
  P/PowerNetworkMatrices/Deps.toml
  P/PowerNetworkMatrices/Package.toml
  P/PowerNetworkMatrices/Versions.toml
  Registry.toml
Labels: new package

#76905 New version: UnsupervisedClustering v0.1.2
  U/UnsupervisedClustering/Versions.toml
Labels: patch release

#75985 New version: MCMCTempering v0.3.0
  M/MCMCTempering/Compat.toml
  M/MCMCTempering/Deps.toml
  M/MCMCTempering/Versions.toml
Labels: BREAKING, minor release

#76906 New version: ZipStreams v2.0.0
  Z/ZipStreams/Compat.toml
  Z/ZipStreams/Deps.toml
  Z/ZipStreams/Versions.toml
Labels: BREAKING, major release

#76714 New package: QuantumSavory v0.1.0
  Q/QuantumSavory/Compat.toml
  Q/QuantumSavory/Deps.toml
  Q/QuantumSavory/Package.toml
  Q/QuantumSavory/Versions.toml
  Q/QuantumSavory/WeakCompat.toml
  Q/QuantumSavory/WeakDeps.toml
  Registry.toml
Labels: new package

#76907 New version: Trixi v0.5.11
  T/Trixi/Versions.toml
Labels: patch release

#76908 New version: CorrelationFunctions v0.9.0
  C/CorrelationFunctions/Compat.toml
  C/CorrelationFunctions/Deps.toml
  C/CorrelationFunctions/Versions.toml
Labels: BREAKING, minor release

#76909 New version: PatternFolds v0.2.3
  P/PatternFolds/Compat.toml
  P/PatternFolds/Deps.toml
  P/PatternFolds/Versions.toml
Labels: patch release

#76911 New version: OSMMakie v0.0.7
  O/OSMMakie/Compat.toml
  O/OSMMakie/Versions.toml
Labels: BREAKING, patch release

#76723 New package: Obsidian v0.1.0
  O/Obsidian/Compat.toml
  O/Obsidian/Deps.toml
  O/Obsidian/Package.toml
  O/Obsidian/Versions.toml
  Registry.toml
Labels: new package

#76917 New version: HypercubeTransform v0.4.0
  H/HypercubeTransform/Compat.toml
  H/HypercubeTransform/Deps.toml
  H/HypercubeTransform/Versions.toml
Labels: BREAKING, minor release

#76918 New version: ITensorTDVP v0.1.0
  I/ITensorTDVP/Versions.toml
Labels: BREAKING, minor release

#76727 New package: KdotP v0.2.1
  K/KdotP/Compat.toml
  K/KdotP/Deps.toml
  K/KdotP/Package.toml
  K/KdotP/Versions.toml
  Registry.toml
Labels: new package

#76919 New version: PlateMotionRequests v3.1.2
  P/PlateMotionRequests/Compat.toml
  P/PlateMotionRequests/Versions.toml
Labels: patch release

#76921 New version: JET v0.7.0
  J/JET/Versions.toml
Labels: BREAKING, minor release

#76922 New version: PoissonSolvers v0.3.0
  P/PoissonSolvers/Compat.toml
  P/PoissonSolvers/Deps.toml
  P/PoissonSolvers/Versions.toml
Labels: BREAKING, minor release

#76924 New version: FiniteDifferenceFormula v1.2.0
  F/FiniteDifferenceFormula/Versions.toml
Labels: minor release

#76734 New package: Hurst v0.1.0
  H/Hurst/Compat.toml
  H/Hurst/Deps.toml
  H/Hurst/Package.toml
  H/Hurst/Versions.toml
  Registry.toml
Labels: new package

#76925 New version: ReachabilityAnalysis v0.21.2
  R/ReachabilityAnalysis/Versions.toml
Labels: patch release

#76926 New version: GridVisualize v0.6.4
  G/GridVisualize/Versions.toml
Labels: patch release

#76927 New version: Bijectors v0.12.0
  B/Bijectors/Compat.toml
  B/Bijectors/Versions.toml
Labels: BREAKING, minor release

#76932 New version: StochasticAD v0.1.8
  S/StochasticAD/Versions.toml
Labels: patch release

#76933 New version: Anneal v0.6.1
  A/Anneal/Versions.toml
Labels: patch release

#76935 New version: Caesar v0.14.0
  C/Caesar/Compat.toml
  C/Caesar/Deps.toml
  C/Caesar/Versions.toml
Labels: BREAKING, minor release

#76738 New package: KomaMRIPlots v0.7.4
  K/KomaMRIPlots/Compat.toml
  K/KomaMRIPlots/Deps.toml
  K/KomaMRIPlots/Package.toml
  K/KomaMRIPlots/Versions.toml
  Registry.toml
Labels: new package

#76936 New version: PowerSimulations v0.17.0
  P/PowerSimulations/Compat.toml
  P/PowerSimulations/Deps.toml
  P/PowerSimulations/Versions.toml
Labels: BREAKING, minor release

#76938 New version: PowerGraphics v0.13.0
  P/PowerGraphics/Compat.toml
  P/PowerGraphics/Deps.toml
  P/PowerGraphics/Versions.toml
Labels: BREAKING, minor release

#76939 New version: PowerAnalytics v0.3.0
  P/PowerAnalytics/Compat.toml
  P/PowerAnalytics/Versions.toml
Labels: BREAKING, minor release

#76940 New version: GMMParameterEstimation v0.3.1
  G/GMMParameterEstimation/Versions.toml
Labels: patch release

#76941 New version: AxisKeys v0.2.11
  A/AxisKeys/Versions.toml
Labels: patch release

#76942 New version: AccelInterfaces v0.1.10
  A/AccelInterfaces/Versions.toml
Labels: patch release

#76944 New version: QuantumControlBase v0.7.2
  Q/QuantumControlBase/Versions.toml
Labels: patch release

#75017 [Cbc] restrict compat of Cbc_jll
  C/Cbc/Compat.toml
Labels: stale

#76880 New version: StochasticGroundMotionSimulation v0.1.11
  S/StochasticGroundMotionSimulation/Versions.toml
Labels: patch release
