Repository JuliaRegistries/General, pull requests merged in 2024-05, with the labels that each got.

#105934 New version: CryptographicHashFunctions v0.0.2
  C/CryptographicHashFunctions/Compat.toml
  C/CryptographicHashFunctions/Deps.toml
  C/CryptographicHashFunctions/Versions.toml
Labels: BREAKING, patch release

#105935 New version: NeuralAttentionlib v0.2.13
  N/NeuralAttentionlib/Compat.toml
  N/NeuralAttentionlib/Deps.toml
  N/NeuralAttentionlib/Versions.toml
  N/NeuralAttentionlib/WeakCompat.toml
  N/NeuralAttentionlib/WeakDeps.toml
Labels: patch release

#105927 New version: YaoPlots v0.9.1
  Y/YaoPlots/Compat.toml
  Y/YaoPlots/Deps.toml
  Y/YaoPlots/Versions.toml
Labels: patch release

#105936 New version: FieldTracer v0.1.12
  F/FieldTracer/Compat.toml
  F/FieldTracer/Versions.toml
Labels: patch release

#105938 New version: ToolipsServables v0.1.3
  T/ToolipsServables/Versions.toml
Labels: patch release

#105939 New version: Toolips v0.3.1
  T/Toolips/Compat.toml
  T/Toolips/Versions.toml
Labels: patch release

#105940 New version: Oxygen v1.5.7
  O/Oxygen/Versions.toml
Labels: patch release

#105941 New version: QuantumToolbox v0.8.0
  Q/QuantumToolbox/Compat.toml
  Q/QuantumToolbox/Deps.toml
  Q/QuantumToolbox/Versions.toml
Labels: BREAKING, minor release

#105942 New version: ProtPlot v0.3.5
  P/ProtPlot/Versions.toml
Labels: patch release

#105948 New version: Tapir v0.2.5
  T/Tapir/Versions.toml
Labels: patch release

#105949 New version: MoYe v4.0.0
  M/MoYe/Compat.toml
  M/MoYe/Deps.toml
  M/MoYe/Versions.toml
Labels: BREAKING, major release

#105950 New version: NLPModelsTest v0.10.1
  N/NLPModelsTest/Versions.toml
Labels: patch release

#105951 New version: Mosquitto v0.9.0
  M/Mosquitto/Compat.toml
  M/Mosquitto/Versions.toml
Labels: BREAKING, minor release

#105952 New version: AbstractAlgebra v0.41.1
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#105953 New version: DifferentiationInterface v0.3.2
  D/DifferentiationInterface/Versions.toml
  D/DifferentiationInterface/WeakCompat.toml
Labels: patch release

#105954 New version: Hecke v0.31.0
  H/Hecke/Compat.toml
  H/Hecke/Versions.toml
Labels: BREAKING, minor release

#105956 New version: ActionModels v0.5.1
  A/ActionModels/Versions.toml
Labels: patch release

#105958 [Libtiff_jll] Fix compat bound with `LERC_jll`
  jll/L/Libtiff_jll/Compat.toml
Labels: compat fix

#105957 New version: Dataverse v0.2.4
  D/Dataverse/Compat.toml
  D/Dataverse/Deps.toml
  D/Dataverse/Versions.toml
  D/Dataverse/WeakCompat.toml
  D/Dataverse/WeakDeps.toml
Labels: patch release

#105959 New version: PythonCall v0.9.20
  P/PythonCall/Versions.toml
Labels: patch release

#105960 New version: Tapir v0.2.6
  T/Tapir/Versions.toml
Labels: patch release

#105962 New version: PkgDependency v0.5.0
  P/PkgDependency/Compat.toml
  P/PkgDependency/Deps.toml
  P/PkgDependency/Versions.toml
Labels: BREAKING, minor release

#105963 New version: IndexSpaces v1.2.1
  I/IndexSpaces/Versions.toml
Labels: patch release

#105966 New version: ProtPlot v0.3.6
  P/ProtPlot/Versions.toml
Labels: patch release

#105967 New version: TaijaPlotting v1.1.2
  T/TaijaPlotting/Compat.toml
  T/TaijaPlotting/Versions.toml
Labels: patch release

#105968 New version: AzManagers v3.10.0
  A/AzManagers/Versions.toml
Labels: minor release

#105969 New version: Oceananigans v0.90.14
  O/Oceananigans/Versions.toml
Labels: patch release

#105970 New version: RxInfer v3.2.0
  R/RxInfer/Versions.toml
Labels: minor release

#105971 New version: AlgebraicSolving v0.4.14
  A/AlgebraicSolving/Compat.toml
  A/AlgebraicSolving/Versions.toml
Labels: patch release

#105972 New version: ThreeBodyDecays v0.11.2
  T/ThreeBodyDecays/Versions.toml
Labels: patch release

#105973 New version: MultiBroadcastFusion v0.3.0
  M/MultiBroadcastFusion/Versions.toml
  M/MultiBroadcastFusion/WeakCompat.toml
  M/MultiBroadcastFusion/WeakDeps.toml
Labels: BREAKING, minor release

#105974 New version: Serde v3.0.1
  S/Serde/Versions.toml
Labels: patch release

#105975 New version: SubsidenceChron v0.2.2
  S/SubsidenceChron/Versions.toml
Labels: patch release

#105976 New version: SeisMakie v0.1.1
  S/SeisMakie/Versions.toml
Labels: patch release

#105977 New version: Lux v0.5.41
  L/Lux/Versions.toml
  L/Lux/WeakCompat.toml
Labels: patch release

#105979 New version: InfiniteOpt v0.5.9
  I/InfiniteOpt/Compat.toml
  I/InfiniteOpt/Versions.toml
Labels: patch release

#105980 New version: PALEOboxes v0.21.25
  P/PALEOboxes/Versions.toml
Labels: patch release

#105985 New version: SpinGlassEngine v1.0.0
  S/SpinGlassEngine/Compat.toml
  S/SpinGlassEngine/Deps.toml
  S/SpinGlassEngine/Versions.toml
Labels: BREAKING, major release

#105989 New version: SteamTables v1.4.2
  S/SteamTables/Compat.toml
  S/SteamTables/Deps.toml
  S/SteamTables/Versions.toml
Labels: patch release

#105991 New version: Documenter v1.4.1
  D/Documenter/Versions.toml
Labels: patch release

#105992 New version: PhaseSpaceTools v1.0.4
  P/PhaseSpaceTools/Compat.toml
  P/PhaseSpaceTools/Versions.toml
Labels: patch release

#105993 New version: SpinGlassEngine v1.0.1
  S/SpinGlassEngine/Versions.toml
Labels: patch release

#105995 New version: Rimu v0.11.2
  R/Rimu/Versions.toml
  R/Rimu/WeakCompat.toml
Labels: patch release

#105996 New version: OpenPolicyAgent v0.3.2
  O/OpenPolicyAgent/Versions.toml
Labels: patch release

#105998 New version: EnergyModelsInvestments v0.5.5
  E/EnergyModelsInvestments/Versions.toml
Labels: patch release

#105999 New version: CategoryData v0.2.5
  C/CategoryData/Versions.toml
Labels: patch release

#106000 New version: ExaFMMt v0.1.1
  E/ExaFMMt/Versions.toml
Labels: patch release

#106003 New version: FastLapackInterface v2.0.3
  F/FastLapackInterface/Versions.toml
Labels: patch release

#106005 New version: HiQGA v0.4.5
  H/HiQGA/Versions.toml
Labels: patch release

#105797 New package: MusicProcessing v2.0.0
  M/MusicProcessing/Compat.toml
  M/MusicProcessing/Deps.toml
  M/MusicProcessing/Package.toml
  M/MusicProcessing/Versions.toml
  Registry.toml
Labels: new package

#106006 New version: MPIReco v0.5.3
  M/MPIReco/Compat.toml
  M/MPIReco/Versions.toml
Labels: patch release

#106008 New version: Trixi v0.7.9
  T/Trixi/Versions.toml
Labels: patch release

#106009 New version: BSplineKit v0.17.2
  B/BSplineKit/Versions.toml
Labels: patch release

#106010 New version: MolecularDynamicsFiles v0.2.1
  M/MolecularDynamicsFiles/Compat.toml
  M/MolecularDynamicsFiles/Versions.toml
Labels: patch release

#106011 New version: AbstractAlgebra v0.41.2
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#106012 New version: Tapir v0.2.7
  T/Tapir/Versions.toml
Labels: patch release

#106013 New version: ToricAtiyahBott v1.2.0
  T/ToricAtiyahBott/Compat.toml
  T/ToricAtiyahBott/Deps.toml
  T/ToricAtiyahBott/Versions.toml
Labels: minor release

#106014 New version: ITensorNetworks v0.10.2
  I/ITensorNetworks/Versions.toml
Labels: patch release

#106016 New version: YAXArrays v0.5.6
  Y/YAXArrays/Compat.toml
  Y/YAXArrays/Versions.toml
Labels: patch release

#106017 New version: CellListMap v0.8.30
  C/CellListMap/Compat.toml
  C/CellListMap/Deps.toml
  C/CellListMap/Versions.toml
Labels: patch release

#106018 New version: ManifoldsBase v0.15.9
  M/ManifoldsBase/Compat.toml
  M/ManifoldsBase/Deps.toml
  M/ManifoldsBase/Versions.toml
  M/ManifoldsBase/WeakCompat.toml
  M/ManifoldsBase/WeakDeps.toml
Labels: patch release

#106019 New version: JustRelax v0.2.0
  J/JustRelax/Compat.toml
  J/JustRelax/Deps.toml
  J/JustRelax/Versions.toml
  J/JustRelax/WeakCompat.toml
  J/JustRelax/WeakDeps.toml
Labels: BREAKING, minor release

#106020 New version: ADTypes v1.1.0
  A/ADTypes/Compat.toml
  A/ADTypes/Deps.toml
  A/ADTypes/Versions.toml
Labels: minor release

#106021 New version: SymbolicIndexingInterface v0.3.20
  S/SymbolicIndexingInterface/Versions.toml
Labels: patch release

#106022 New version: ModelingToolkit v9.12.2
  M/ModelingToolkit/Compat.toml
  M/ModelingToolkit/Deps.toml
  M/ModelingToolkit/Versions.toml
Labels: patch release

#106024 New version: SciMLBase v2.36.0
  S/SciMLBase/Compat.toml
  S/SciMLBase/Versions.toml
Labels: minor release

#106025 New version: PolyesterForwardDiff v0.1.2
  P/PolyesterForwardDiff/Versions.toml
Labels: patch release

#106026 New version: AtiyahBott v2.2.0
  A/AtiyahBott/Compat.toml
  A/AtiyahBott/Versions.toml
Labels: minor release

#106028 New version: TensorTrains v0.9.1
  T/TensorTrains/Compat.toml
  T/TensorTrains/Deps.toml
  T/TensorTrains/Versions.toml
Labels: patch release

#106029 New version: SIMD v3.4.7
  S/SIMD/Versions.toml
Labels: patch release

#106030 New version: SteamWebAPIs v1.0.0
  S/SteamWebAPIs/Compat.toml
  S/SteamWebAPIs/Deps.toml
  S/SteamWebAPIs/Versions.toml
Labels: BREAKING, major release

#106031 New version: Visor v0.6.1
  V/Visor/Versions.toml
Labels: patch release

#106032 New version: QuartoNotebookRunner v0.10.2
  Q/QuartoNotebookRunner/Versions.toml
Labels: patch release

#106033 New version: GMT v1.13.1
  G/GMT/Versions.toml
Labels: patch release

#106034 New version: MoM_Basics v0.1.1
  M/MoM_Basics/Versions.toml
Labels: patch release

#106035 New version: Serde v3.0.2
  S/Serde/Versions.toml
Labels: patch release

#106038 New version: DynamicPolynomials v0.5.7
  D/DynamicPolynomials/Versions.toml
Labels: patch release

#106040 New version: MoM_Kernels v0.1.0
  M/MoM_Kernels/Compat.toml
  M/MoM_Kernels/Versions.toml
Labels: BREAKING, minor release

#106042 New version: CellListMap v0.9.0
  C/CellListMap/Versions.toml
Labels: BREAKING, minor release

#106043 New version: ComplexMixtures v2.1.12
  C/ComplexMixtures/Compat.toml
  C/ComplexMixtures/Versions.toml
Labels: patch release

#106044 New version: Tryparse v0.3.5
  T/Tryparse/Versions.toml
  T/Tryparse/WeakCompat.toml
Labels: patch release

#106046 New version: CellListMap v0.9.1
  C/CellListMap/Versions.toml
Labels: patch release

#106047 New version: MolSimToolkit v1.12.10
  M/MolSimToolkit/Compat.toml
  M/MolSimToolkit/Versions.toml
Labels: patch release

#106048 New version: ToolipsSession v0.4.0
  T/ToolipsSession/Compat.toml
  T/ToolipsSession/Deps.toml
  T/ToolipsSession/Versions.toml
Labels: BREAKING, minor release

#106050 New version: ReachabilityBase v0.2.4
  R/ReachabilityBase/Compat.toml
  R/ReachabilityBase/Versions.toml
Labels: patch release

#106051 New version: TenNetLib v0.1.2
  T/TenNetLib/Compat.toml
  T/TenNetLib/Deps.toml
  T/TenNetLib/Versions.toml
Labels: patch release

#106052 New version: SpinGlassPEPS v1.0.0
  S/SpinGlassPEPS/Compat.toml
  S/SpinGlassPEPS/Deps.toml
  S/SpinGlassPEPS/Versions.toml
Labels: BREAKING, major release

#106053 New version: RRTMGP v0.13.2
  R/RRTMGP/Versions.toml
Labels: patch release

#106055 New version: Checkpointing v0.9.2
  C/Checkpointing/Versions.toml
Labels: patch release

#106056 New version: ClimaCore v0.14.0
  C/ClimaCore/Compat.toml
  C/ClimaCore/Deps.toml
  C/ClimaCore/Versions.toml
  C/ClimaCore/WeakCompat.toml
  C/ClimaCore/WeakDeps.toml
Labels: BREAKING, minor release

#106057 New version: ClimaCoreMakie v0.4.5
  C/ClimaCoreMakie/Compat.toml
  C/ClimaCoreMakie/Versions.toml
Labels: patch release

#106058 New version: ClimaCorePlots v0.2.9
  C/ClimaCorePlots/Compat.toml
  C/ClimaCorePlots/Versions.toml
Labels: patch release

#106059 New version: ClimaCoreSpectra v0.1.4
  C/ClimaCoreSpectra/Compat.toml
  C/ClimaCoreSpectra/Versions.toml
Labels: patch release

#106060 New version: ClimaCoreTempestRemap v0.3.15
  C/ClimaCoreTempestRemap/Compat.toml
  C/ClimaCoreTempestRemap/Versions.toml
Labels: patch release

#106061 New version: ClimaCoreVTK v0.7.6
  C/ClimaCoreVTK/Compat.toml
  C/ClimaCoreVTK/Versions.toml
Labels: patch release

#106062 New version: ClimaUtilities v0.1.6
  C/ClimaUtilities/Versions.toml
  C/ClimaUtilities/WeakCompat.toml
Labels: patch release

#106063 New version: SIMD v3.5.0
  S/SIMD/Versions.toml
Labels: minor release

#106064 New version: FinEtools v8.0.16
  F/FinEtools/Versions.toml
Labels: patch release

#106066 New version: SurrogatedDistanceModels v0.2.1
  S/SurrogatedDistanceModels/Versions.toml
Labels: patch release

#106067 New version: DifferentiationInterface v0.3.3
  D/DifferentiationInterface/Versions.toml
Labels: patch release

#105861 New package: RealFFTs v1.0.0
  R/RealFFTs/Compat.toml
  R/RealFFTs/Deps.toml
  R/RealFFTs/Package.toml
  R/RealFFTs/Versions.toml
  Registry.toml
Labels: new package

#106068 New version: Gridap v0.18.2
  G/Gridap/Versions.toml
Labels: patch release

#105863 New package: QuantumACES v0.1.0
  Q/QuantumACES/Compat.toml
  Q/QuantumACES/Deps.toml
  Q/QuantumACES/Package.toml
  Q/QuantumACES/Versions.toml
  Registry.toml
Labels: new package

#106069 New version: ITensors v0.5.0
  I/ITensors/Compat.toml
  I/ITensors/Deps.toml
  I/ITensors/Versions.toml
  I/ITensors/WeakCompat.toml
  I/ITensors/WeakDeps.toml
Labels: BREAKING, minor release

#106070 New version: FinEtools v8.0.17
  F/FinEtools/Versions.toml
Labels: patch release

#106071 New version: ModelPredictiveControl v0.21.1
  M/ModelPredictiveControl/Versions.toml
Labels: patch release

#106072 New version: Oxygen v1.5.8
  O/Oxygen/Versions.toml
Labels: patch release

#106075 New version: Jello v0.1.8
  J/Jello/Compat.toml
  J/Jello/Deps.toml
  J/Jello/Versions.toml
Labels: patch release

#106074 New version: Porcupine v0.1.15
  P/Porcupine/Versions.toml
Labels: patch release

#106076 New version: LuxorGraphPlot v0.4.1
  L/LuxorGraphPlot/Compat.toml
  L/LuxorGraphPlot/Versions.toml
Labels: patch release

#106045 New version: MoM_Visualizing v0.0.3
  M/MoM_Visualizing/Compat.toml
  M/MoM_Visualizing/Deps.toml
  M/MoM_Visualizing/Versions.toml
Labels: BREAKING, patch release

#106077 New version: MatrixProductBP v0.6.0
  M/MatrixProductBP/Compat.toml
  M/MatrixProductBP/Versions.toml
Labels: BREAKING, minor release

#106078 New version: Hecke v0.31.1
  H/Hecke/Versions.toml
Labels: patch release

#106079 New version: GridapP4est v0.3.7
  G/GridapP4est/Compat.toml
  G/GridapP4est/Versions.toml
Labels: patch release

#106081 New version: Hecke v0.31.2
  H/Hecke/Versions.toml
Labels: patch release

#106082 New version: RxEnvironments v0.2.11
  R/RxEnvironments/Versions.toml
  R/RxEnvironments/WeakCompat.toml
Labels: patch release

#106084 New version: SummaryTables v2.0.0
  S/SummaryTables/Compat.toml
  S/SummaryTables/Deps.toml
  S/SummaryTables/Versions.toml
Labels: BREAKING, major release

#106085 New version: TrixiParticles v0.1.1
  T/TrixiParticles/Versions.toml
Labels: patch release

#106086 New version: FMI v0.13.3
  F/FMI/Compat.toml
  F/FMI/Versions.toml
Labels: patch release

#106087 New version: SummationByPartsOperators v0.5.61
  S/SummationByPartsOperators/Versions.toml
Labels: patch release

#106088 New version: SymbolicIndexingInterface v0.3.21
  S/SymbolicIndexingInterface/Versions.toml
Labels: patch release

#106090 New version: ReachabilityBase v0.2.5
  R/ReachabilityBase/Versions.toml
Labels: patch release

#105882 New package: ZarrDatasets v0.1.0
  Registry.toml
  Z/ZarrDatasets/Compat.toml
  Z/ZarrDatasets/Deps.toml
  Z/ZarrDatasets/Package.toml
  Z/ZarrDatasets/Versions.toml
Labels: new package

#106092 New version: Manopt v0.4.62
  M/Manopt/Compat.toml
  M/Manopt/Versions.toml
Labels: patch release

#106093 New version: Polymake v0.11.16
  P/Polymake/Compat.toml
  P/Polymake/Deps.toml
  P/Polymake/Versions.toml
Labels: patch release

#106094 New version: CorrelationFunctions v0.12.0
  C/CorrelationFunctions/Versions.toml
Labels: BREAKING, minor release

#106097 New version: MallocArrays v1.0.1
  M/MallocArrays/Versions.toml
Labels: patch release

#106098 New version: Stipple v0.29.0
  S/Stipple/Versions.toml
Labels: BREAKING, minor release

#106099 New version: AtiyahBott v2.2.1
  A/AtiyahBott/Versions.toml
Labels: patch release

#106100 New version: ToricAtiyahBott v1.2.1
  T/ToricAtiyahBott/Versions.toml
Labels: patch release

#106101 New version: RecursiveArrayTools v3.15.0
  R/RecursiveArrayTools/Compat.toml
  R/RecursiveArrayTools/Versions.toml
Labels: minor release

#106102 New version: SciMLBase v2.36.1
  S/SciMLBase/Versions.toml
Labels: patch release

#106104 New version: Zarr v0.9.4
  Z/Zarr/Compat.toml
  Z/Zarr/Versions.toml
Labels: patch release

#106105 New version: ITensorGaussianMPS v0.1.6
  I/ITensorGaussianMPS/Compat.toml
  I/ITensorGaussianMPS/Versions.toml
Labels: patch release

#106106 New version: ITensorVisualizationBase v0.1.7
  I/ITensorVisualizationBase/Compat.toml
  I/ITensorVisualizationBase/Versions.toml
Labels: patch release

#106107 New version: Stipple v0.30.0
  S/Stipple/Versions.toml
Labels: BREAKING, minor release

#106108 New version: ObjectiveC v3.0.0
  O/ObjectiveC/Compat.toml
  O/ObjectiveC/Deps.toml
  O/ObjectiveC/Versions.toml
Labels: BREAKING, major release

#106109 New version: ITensorTDVP v0.2.5
  I/ITensorTDVP/Compat.toml
  I/ITensorTDVP/Versions.toml
Labels: patch release

#106110 New version: StippleUI v0.24.0
  S/StippleUI/Compat.toml
  S/StippleUI/Versions.toml
Labels: BREAKING, minor release

#106111 New version: StipplePlotly v0.14.0
  S/StipplePlotly/Compat.toml
  S/StipplePlotly/Versions.toml
Labels: BREAKING, minor release

#106112 New version: ClimaTimeSteppers v0.7.22
  C/ClimaTimeSteppers/Versions.toml
  C/ClimaTimeSteppers/WeakCompat.toml
  C/ClimaTimeSteppers/WeakDeps.toml
Labels: patch release

#106113 New version: Hecke v0.30.12
  H/Hecke/Versions.toml
Labels: patch release

#106114 New version: MAGEMinApp v0.2.7
  M/MAGEMinApp/Versions.toml
Labels: patch release

#106115 New version: ContinuousNormalizingFlows v0.22.2
  C/ContinuousNormalizingFlows/Compat.toml
  C/ContinuousNormalizingFlows/Deps.toml
  C/ContinuousNormalizingFlows/Versions.toml
Labels: patch release

#106121 New version: ITensorTDVP v0.2.6
  I/ITensorTDVP/Compat.toml
  I/ITensorTDVP/Deps.toml
  I/ITensorTDVP/Versions.toml
  I/ITensorTDVP/WeakCompat.toml
  I/ITensorTDVP/WeakDeps.toml
Labels: patch release

#106130 New version: SparseConnectivityTracer v0.3.1
  S/SparseConnectivityTracer/Versions.toml
Labels: patch release

#106131 New version: AbstractAlgebra v0.41.3
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#106135 New version: GR v0.73.5
  G/GR/Compat.toml
  G/GR/Deps.toml
  G/GR/Versions.toml
Labels: patch release, Override AutoMerge: package author approved

#106136 New version: StippleMathjs v0.1.3
  S/StippleMathjs/Compat.toml
  S/StippleMathjs/Versions.toml
Labels: patch release

#106137 New version: StippleDownloads v0.1.3
  S/StippleDownloads/Compat.toml
  S/StippleDownloads/Versions.toml
Labels: patch release
