Repository JuliaRegistries/General, pull requests merged in 2024-04, with the labels that each got.

#103973 New version: LuxCore v0.1.14
  L/LuxCore/Compat.toml
  L/LuxCore/Deps.toml
  L/LuxCore/Versions.toml
Labels: patch release

#103975 New version: EnzymeCore v0.7.2
  E/EnzymeCore/Compat.toml
  E/EnzymeCore/Deps.toml
  E/EnzymeCore/Versions.toml
Labels: patch release

#103976 New version: EnzymeCore v0.6.6
  E/EnzymeCore/Compat.toml
  E/EnzymeCore/Deps.toml
  E/EnzymeCore/Versions.toml
Labels: patch release

#103977 New version: KiteModels v0.5.7
  K/KiteModels/Versions.toml
Labels: patch release

#103978 New version: IteratorSampling v0.2.7
  I/IteratorSampling/Versions.toml
Labels: patch release

#103979 New version: NonlinearSolve v3.9.0
  N/NonlinearSolve/Compat.toml
  N/NonlinearSolve/Versions.toml
  N/NonlinearSolve/WeakCompat.toml
Labels: minor release

#103980 New version: JuMP v1.21.0
  J/JuMP/Versions.toml
  J/JuMP/WeakCompat.toml
Labels: minor release

#103982 New version: ReadStatTables v0.3.0
  R/ReadStatTables/Compat.toml
  R/ReadStatTables/Deps.toml
  R/ReadStatTables/Versions.toml
Labels: BREAKING, minor release

#103983 New version: Leibniz v0.2.3
  L/Leibniz/Versions.toml
Labels: patch release

#103985 New version: Leibniz v0.2.4
  L/Leibniz/Versions.toml
Labels: patch release

#103986 New version: Attractors v1.16.0
  A/Attractors/Versions.toml
Labels: minor release

#103987 New version: ControlSystems v1.10.2
  C/ControlSystems/Compat.toml
  C/ControlSystems/Versions.toml
Labels: patch release

#103988 New version: LoggingFormats v1.3.0
  L/LoggingFormats/Versions.toml
Labels: minor release

#103989 New version: TMLE v0.16.0
  T/TMLE/Versions.toml
Labels: BREAKING, minor release

#103990 New version: QuanticsGrids v0.3.1
  Q/QuanticsGrids/Versions.toml
Labels: patch release

#103992 New version: SolverTools v0.8.8
  S/SolverTools/Versions.toml
Labels: patch release

#103993 New version: KiteSimulators v0.3.4
  K/KiteSimulators/Versions.toml
Labels: patch release

#103994 New version: MeshArrays v0.3.2
  M/MeshArrays/Compat.toml
  M/MeshArrays/Versions.toml
  M/MeshArrays/WeakCompat.toml
Labels: patch release

#103995 New version: LoopVectorization v0.12.169
  L/LoopVectorization/Versions.toml
Labels: patch release

#103935 New version: Polylabel v0.2.0
  P/Polylabel/Compat.toml
  P/Polylabel/Deps.toml
  P/Polylabel/Versions.toml
Labels: BREAKING, minor release

#103996 New version: DepotDelivery v0.1.6
  D/DepotDelivery/Versions.toml
Labels: patch release

#103998 New version: KiteModels v0.5.8
  K/KiteModels/Versions.toml
Labels: patch release

#103999 New version: FASTX v2.1.5
  F/FASTX/Versions.toml
Labels: patch release

#104000 New version: Mads v1.5.19
  M/Mads/Compat.toml
  M/Mads/Deps.toml
  M/Mads/Versions.toml
Labels: patch release

#104001 New version: PowerModelsWildfire v0.5.1
  P/PowerModelsWildfire/Compat.toml
  P/PowerModelsWildfire/Versions.toml
Labels: patch release

#104002 New version: PowerPlots v0.4.9
  P/PowerPlots/Compat.toml
  P/PowerPlots/Versions.toml
Labels: patch release

#104003 New version: KiteModels v0.5.9
  K/KiteModels/Versions.toml
Labels: patch release

#104004 New version: Tapir v0.1.1
  T/Tapir/Compat.toml
  T/Tapir/Deps.toml
  T/Tapir/Versions.toml
Labels: patch release

#104008 New version: Dionysos v0.1.1
  D/Dionysos/Versions.toml
Labels: patch release

#104009 New version: GeneFinder v0.3.0
  G/GeneFinder/Compat.toml
  G/GeneFinder/Deps.toml
  G/GeneFinder/Versions.toml
Labels: BREAKING, minor release

#104010 New version: SimpleNonlinearSolve v1.7.0
  S/SimpleNonlinearSolve/Compat.toml
  S/SimpleNonlinearSolve/Versions.toml
Labels: minor release

#104012 New version: ClimateModels v0.3.2
  C/ClimateModels/Compat.toml
  C/ClimateModels/Versions.toml
Labels: patch release

#104013 New version: Tapir v0.1.2
  T/Tapir/Versions.toml
Labels: patch release

#104014 New version: JLLPrefixes v0.3.5
  J/JLLPrefixes/Versions.toml
Labels: patch release

#104015 New version: SpectralIndices v0.2.7
  S/SpectralIndices/Versions.toml
Labels: patch release

#104018 New version: Polyester v0.7.12
  P/Polyester/Versions.toml
Labels: patch release

#104020 New version: FastDifferentiation v0.3.7
  F/FastDifferentiation/Versions.toml
Labels: patch release

#104022 New version: OperationsResearchModels v0.1.7
  O/OperationsResearchModels/Versions.toml
Labels: patch release

#104024 New version: GCIdentifier v0.3.0
  G/GCIdentifier/Versions.toml
Labels: BREAKING, minor release

#104025 New version: TaylorSeries v0.17.4
  T/TaylorSeries/Versions.toml
  T/TaylorSeries/WeakCompat.toml
  T/TaylorSeries/WeakDeps.toml
Labels: patch release

#104026 New version: Manifolds v0.9.16
  M/Manifolds/Compat.toml
  M/Manifolds/Deps.toml
  M/Manifolds/Versions.toml
Labels: patch release

#104028 New version: MultiBisect v0.2.1
  M/MultiBisect/Versions.toml
Labels: patch release

#101935 Update package naming guidelines link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: stale

#104029 New version: PowerSystemCaseBuilder v1.2.5
  P/PowerSystemCaseBuilder/Versions.toml
Labels: patch release

#104031 New version: OceanStateEstimation v0.4.2
  O/OceanStateEstimation/Compat.toml
  O/OceanStateEstimation/Versions.toml
Labels: patch release

#104032 New version: OMETIFF v0.4.5
  O/OMETIFF/Compat.toml
  O/OMETIFF/Versions.toml
Labels: patch release

#104038 New version: ZipArchives v2.0.0
  Z/ZipArchives/Compat.toml
  Z/ZipArchives/Deps.toml
  Z/ZipArchives/Versions.toml
Labels: BREAKING, major release

#104041 New version: ChunkSplitters v2.4.1
  C/ChunkSplitters/Versions.toml
Labels: patch release

#104042 New version: ChunkSplitters v2.4.2
  C/ChunkSplitters/Versions.toml
Labels: patch release

#104043 New version: CassetteOverlay v0.1.9
  C/CassetteOverlay/Versions.toml
Labels: patch release

#104044 New version: UnROOT v0.10.28
  U/UnROOT/Versions.toml
Labels: patch release

#104045 New version: FlipPA v0.1.1
  F/FlipPA/Compat.toml
  F/FlipPA/Versions.toml
Labels: patch release

#104046 New version: EarthSciMLBase v0.7.0
  E/EarthSciMLBase/Compat.toml
  E/EarthSciMLBase/Versions.toml
Labels: BREAKING, minor release

#104048 New version: Oxygen v1.5.4
  O/Oxygen/Versions.toml
Labels: patch release

#104049 New version: UnrolledUtilities v0.1.1
  U/UnrolledUtilities/Versions.toml
Labels: patch release

#104050 New version: TransferMatrix v2.0.0
  T/TransferMatrix/Compat.toml
  T/TransferMatrix/Deps.toml
  T/TransferMatrix/Versions.toml
Labels: BREAKING, major release

#104051 New version: Rocket v1.7.4
  R/Rocket/Versions.toml
Labels: patch release

#104052 New version: Grassmann v0.8.7
  G/Grassmann/Versions.toml
Labels: patch release

#104053 New version: QuartoNotebookRunner v0.9.0
  Q/QuartoNotebookRunner/Versions.toml
Labels: BREAKING, minor release

#104054 New version: Zarr v0.9.3
  Z/Zarr/Compat.toml
  Z/Zarr/Deps.toml
  Z/Zarr/Versions.toml
Labels: patch release

#104055 New version: LazyArrays v1.9.0
  L/LazyArrays/Versions.toml
Labels: minor release

#103907 New package: HTMLTables v0.1.0
  H/HTMLTables/Compat.toml
  H/HTMLTables/Deps.toml
  H/HTMLTables/Package.toml
  H/HTMLTables/Versions.toml
  Registry.toml
Labels: new package

#104056 New version: BlockArrays v0.16.43
  B/BlockArrays/Versions.toml
Labels: patch release

#104005 New version: PointSpreadFunctions v0.3.0
  P/PointSpreadFunctions/Compat.toml
  P/PointSpreadFunctions/Versions.toml
Labels: BREAKING, minor release

#104058 New version: Optim v1.9.4
  O/Optim/Compat.toml
  O/Optim/Deps.toml
  O/Optim/Versions.toml
Labels: patch release

#104060 New version: DynamicalSystems v3.3.6
  D/DynamicalSystems/Versions.toml
Labels: patch release

#104061 New version: BundledWebResources v1.2.4
  B/BundledWebResources/Versions.toml
Labels: patch release

#104062 New version: ExtendableGrids v1.5.0
  E/ExtendableGrids/Versions.toml
Labels: minor release

#104063 New version: ProcessBasedModelling v1.2.0
  P/ProcessBasedModelling/Versions.toml
Labels: minor release

#104065 New version: CoordRefSystems v0.1.3
  C/CoordRefSystems/Versions.toml
Labels: patch release

#103811 New version: AbstractPPL v0.8.0
  A/AbstractPPL/Compat.toml
  A/AbstractPPL/Deps.toml
  A/AbstractPPL/Versions.toml
Labels: BREAKING, minor release

#104066 New version: SmallZarrGroups v0.8.5
  S/SmallZarrGroups/Compat.toml
  S/SmallZarrGroups/Versions.toml
Labels: patch release

#103923 New version: Sparlectra v0.4.10
  S/Sparlectra/Compat.toml
  S/Sparlectra/Deps.toml
  S/Sparlectra/Versions.toml
Labels: patch release, Override AutoMerge: package author approved

#104067 New version: Functors v0.4.9
  F/Functors/Versions.toml
Labels: patch release

#104068 New version: PlanetaryEphemeris v0.8.2
  P/PlanetaryEphemeris/Versions.toml
Labels: patch release

#104064 New version: JustPIC v0.2.3
  J/JustPIC/Compat.toml
  J/JustPIC/Versions.toml
Labels: patch release

#104069 New version: DiffEqCallbacks v3.5.0
  D/DiffEqCallbacks/Versions.toml
Labels: minor release

#104072 New version: PALEOboxes v0.21.24
  P/PALEOboxes/Versions.toml
Labels: patch release

#104073 New version: PlutoStaticHTML v6.0.21
  P/PlutoStaticHTML/Compat.toml
  P/PlutoStaticHTML/Versions.toml
Labels: patch release

#104074 New version: PALEOmodel v0.15.41
  P/PALEOmodel/Compat.toml
  P/PALEOmodel/Versions.toml
Labels: patch release

#104075 New version: PALEOcopse v0.4.9
  P/PALEOcopse/Versions.toml
Labels: patch release

#104076 New version: HTMLTables v0.2.0
  H/HTMLTables/Compat.toml
  H/HTMLTables/Deps.toml
  H/HTMLTables/Versions.toml
Labels: BREAKING, minor release

#104077 New version: PeriodicGraphEmbeddings v0.2.5
  P/PeriodicGraphEmbeddings/Versions.toml
Labels: patch release

#104079 New version: DocumenterVitepress v0.0.16
  D/DocumenterVitepress/Versions.toml
Labels: BREAKING, patch release

#104080 New version: AllocCheck v0.1.2
  A/AllocCheck/Compat.toml
  A/AllocCheck/Versions.toml
Labels: patch release

#104078 New version: TensorCrossInterpolation v0.9.1
  T/TensorCrossInterpolation/Compat.toml
  T/TensorCrossInterpolation/Deps.toml
  T/TensorCrossInterpolation/Versions.toml
Labels: patch release

#104081 New version: Contour v0.6.3
  C/Contour/Versions.toml
Labels: patch release

#104082 New version: SPICEKernels v1.2.49
  S/SPICEKernels/Versions.toml
Labels: patch release

#104083 New version: ArrayPadding v0.1.15
  A/ArrayPadding/Versions.toml
Labels: patch release

#104084 New version: ComplexMixtures v2.1.5
  C/ComplexMixtures/Versions.toml
Labels: patch release

#104085 New version: EarthSciMLBase v0.8.0
  E/EarthSciMLBase/Versions.toml
Labels: BREAKING, minor release

#104086 New version: PlanetaryEphemeris v0.8.3
  P/PlanetaryEphemeris/Versions.toml
Labels: patch release

#104087 New version: ITensors v0.3.61
  I/ITensors/Versions.toml
Labels: patch release

#104088 New version: NonlinearSolve v3.9.1
  N/NonlinearSolve/Versions.toml
Labels: patch release

#104090 New version: IceFloeTracker v0.4.2
  I/IceFloeTracker/Versions.toml
Labels: patch release

#104091 New version: GIRFReco v0.1.5
  G/GIRFReco/Versions.toml
Labels: patch release

#104089 New version: QWTWPlot v1.5.5
  Q/QWTWPlot/Versions.toml
Labels: patch release, Override AutoMerge: package author approved

#104092 New version: MemPool v0.4.7
  M/MemPool/Compat.toml
  M/MemPool/Deps.toml
  M/MemPool/Versions.toml
Labels: patch release

#104094 New version: Sqlite3Stats v0.1.6
  S/Sqlite3Stats/Compat.toml
  S/Sqlite3Stats/Versions.toml
Labels: patch release

#104097 New version: Korg v0.32.0
  K/Korg/Versions.toml
Labels: BREAKING, minor release

#104098 New version: GTPSA v0.5.0
  G/GTPSA/Versions.toml
Labels: BREAKING, minor release

#104099 New version: TidierPlots v0.6.1
  T/TidierPlots/Compat.toml
  T/TidierPlots/Deps.toml
  T/TidierPlots/Versions.toml
Labels: patch release

#104101 New version: UnROOT v0.10.29
  U/UnROOT/Versions.toml
Labels: patch release

#104102 New version: ITensors v0.3.62
  I/ITensors/Versions.toml
Labels: patch release

#104105 New version: Stipple v0.28.7
  S/Stipple/Versions.toml
Labels: patch release

#104107 New version: Aqua v0.8.5
  A/Aqua/Versions.toml
Labels: patch release

#104114 New version: GeometryOps v0.1.1
  G/GeometryOps/Versions.toml
Labels: patch release

#103015 New version: ITensorNetworks v0.4.1
  I/ITensorNetworks/Compat.toml
  I/ITensorNetworks/Deps.toml
  I/ITensorNetworks/Versions.toml
  I/ITensorNetworks/WeakCompat.toml
  I/ITensorNetworks/WeakDeps.toml
Labels: patch release

#104113 New version: WiSARD v0.3.3
  W/WiSARD/Compat.toml
  W/WiSARD/Deps.toml
  W/WiSARD/Versions.toml
Labels: patch release

#104115 New version: ITensorNetworks v0.5.0
  I/ITensorNetworks/Versions.toml
Labels: BREAKING, minor release

#104116 New version: Enlsip v0.9.4
  E/Enlsip/Versions.toml
Labels: patch release

#104117 New version: Gaston v1.1.1
  G/Gaston/Compat.toml
  G/Gaston/Deps.toml
  G/Gaston/Versions.toml
Labels: patch release

#104118 New version: FiniteElementContainers v0.5.2
  F/FiniteElementContainers/Versions.toml
  F/FiniteElementContainers/WeakCompat.toml
Labels: patch release

#104119 New version: SPICEKernels v1.2.50
  S/SPICEKernels/Versions.toml
Labels: patch release

#104120 New version: MITgcm v0.3.2
  M/MITgcm/Versions.toml
Labels: patch release

#104122 New version: CassetteOverlay v0.1.10
  C/CassetteOverlay/Versions.toml
Labels: patch release

#104123 New version: NEOs v0.8.2
  N/NEOs/Compat.toml
  N/NEOs/Versions.toml
Labels: patch release

#104124 New version: StippleUI v0.23.1
  S/StippleUI/Versions.toml
Labels: patch release

#104125 New version: SummationByPartsOperators v0.5.59
  S/SummationByPartsOperators/Versions.toml
Labels: patch release

#104126 New version: StenoGraphs v0.3.0
  S/StenoGraphs/Compat.toml
  S/StenoGraphs/Versions.toml
Labels: BREAKING, minor release

#104127 New version: Trixi v0.7.6
  T/Trixi/Versions.toml
Labels: patch release

#104128 New version: BundledWebResources v1.3.0
  B/BundledWebResources/Versions.toml
Labels: minor release

#104130 New version: KiteUtils v0.6.5
  K/KiteUtils/Versions.toml
Labels: patch release

#104132 New version: HORIZONS v0.4.5
  H/HORIZONS/Versions.toml
Labels: patch release

#104133 New version: CavityTools v1.0.1
  C/CavityTools/Versions.toml
Labels: patch release

#104135 New version: InfiniteArrays v0.13.6
  I/InfiniteArrays/Versions.toml
Labels: patch release

#104138 New version: ComplexMixtures v2.1.7
  C/ComplexMixtures/Versions.toml
Labels: patch release

#104139 New version: RxEnvironments v0.2.8
  R/RxEnvironments/Compat.toml
  R/RxEnvironments/Deps.toml
  R/RxEnvironments/Versions.toml
Labels: patch release

#103947 New package: SmallCollections v0.1.0
  Registry.toml
  S/SmallCollections/Compat.toml
  S/SmallCollections/Deps.toml
  S/SmallCollections/Package.toml
  S/SmallCollections/Versions.toml
  S/SmallCollections/WeakCompat.toml
  S/SmallCollections/WeakDeps.toml
Labels: new package

#104141 New version: JacobiElliptic v0.2.1
  J/JacobiElliptic/Versions.toml
  J/JacobiElliptic/WeakCompat.toml
Labels: patch release

#104143 New version: FillArrays v1.10.0
  F/FillArrays/Compat.toml
  F/FillArrays/Deps.toml
  F/FillArrays/Versions.toml
Labels: minor release

#104144 New version: CounterfactualExplanations v0.1.35
  C/CounterfactualExplanations/Compat.toml
  C/CounterfactualExplanations/Deps.toml
  C/CounterfactualExplanations/Versions.toml
Labels: patch release

#104146 New version: Hyperelastics v0.1.4
  H/Hyperelastics/Versions.toml
Labels: patch release

#104147 New version: TileProviders v0.1.4
  T/TileProviders/Versions.toml
Labels: patch release

#104148 New version: MAGEMin_C v1.4.3
  M/MAGEMin_C/Versions.toml
Labels: patch release

#104149 New version: NDTensors v0.2.30
  N/NDTensors/Versions.toml
Labels: patch release

#103950 New package: PartitionedLS v0.9.5
  P/PartitionedLS/Compat.toml
  P/PartitionedLS/Deps.toml
  P/PartitionedLS/Package.toml
  P/PartitionedLS/Versions.toml
  Registry.toml
Labels: new package

#104150 New version: StatsBase v0.34.3
  S/StatsBase/Compat.toml
  S/StatsBase/Versions.toml
Labels: patch release

#104151 New version: LFRBenchmarkGraphs v1.0.1
  L/LFRBenchmarkGraphs/Versions.toml
Labels: patch release

#104152 New version: ClimaUtilities v0.1.3
  C/ClimaUtilities/Versions.toml
Labels: patch release

#104154 New version: TuplesOfNTuples v0.2.0
  T/TuplesOfNTuples/Compat.toml
  T/TuplesOfNTuples/Deps.toml
  T/TuplesOfNTuples/Versions.toml
Labels: BREAKING, minor release

#104155 New version: KiteControllers v0.2.2
  K/KiteControllers/Compat.toml
  K/KiteControllers/Versions.toml
Labels: patch release

#104156 New version: OhMyThreads v0.5.2
  O/OhMyThreads/Versions.toml
Labels: patch release

#104157 New version: StatGeochemBase v0.5.8
  S/StatGeochemBase/Versions.toml
Labels: patch release

#104159 New version: SorptionModels v0.2.6
  S/SorptionModels/Versions.toml
Labels: patch release

#104160 New version: AbstractTensors v0.7.5
  A/AbstractTensors/Versions.toml
Labels: patch release

#104162 New version: Batsrus v0.5.3
  B/Batsrus/Compat.toml
  B/Batsrus/Deps.toml
  B/Batsrus/Versions.toml
Labels: patch release

#104163 New version: ITensors v0.3.63
  I/ITensors/Compat.toml
  I/ITensors/Deps.toml
  I/ITensors/Versions.toml
  I/ITensors/WeakCompat.toml
  I/ITensors/WeakDeps.toml
Labels: patch release

#104164 New version: MAGEMin_C v1.4.4
  M/MAGEMin_C/Compat.toml
  M/MAGEMin_C/Versions.toml
Labels: patch release

#104165 New version: TuplesOfNTuples v0.2.1
  T/TuplesOfNTuples/Versions.toml
  T/TuplesOfNTuples/WeakDeps.toml
Labels: patch release
