Repository JuliaRegistries/General, pull requests merged in 2024-01, with the labels that each got.

#97892 New package: KeplerGL v0.0.1
  K/KeplerGL/Compat.toml
  K/KeplerGL/Deps.toml
  K/KeplerGL/Package.toml
  K/KeplerGL/Versions.toml
  Registry.toml
Labels: new package

#97997 New version: MIPVerify v0.5.2
  M/MIPVerify/Compat.toml
  M/MIPVerify/Versions.toml
Labels: patch release

#97998 New version: Pixell v0.2.9
  P/Pixell/Versions.toml
Labels: patch release

#97897 New package: BplusCore v0.1.0
  B/BplusCore/Compat.toml
  B/BplusCore/Deps.toml
  B/BplusCore/Package.toml
  B/BplusCore/Versions.toml
  Registry.toml
Labels: new package

#98000 New version: Symbolics v5.15.0
  S/Symbolics/Compat.toml
  S/Symbolics/Versions.toml
  S/Symbolics/WeakDeps.toml
Labels: minor release

#97999 New version: OrdinaryDiffEq v6.67.0
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#98001 New version: SciMLBase v2.15.1
  S/SciMLBase/Versions.toml
Labels: patch release

#98003 New version: Symbolics v5.15.1
  S/Symbolics/Versions.toml
  S/Symbolics/WeakDeps.toml
Labels: patch release

#98002 New version: Rasters v0.10.1
  R/Rasters/Compat.toml
  R/Rasters/Versions.toml
Labels: patch release

#98005 New version: Thebes v1.0.0
  T/Thebes/Compat.toml
  T/Thebes/Deps.toml
  T/Thebes/Versions.toml
  T/Thebes/WeakCompat.toml
  T/Thebes/WeakDeps.toml
Labels: BREAKING, major release

#98007 New version: SciMLBase v2.15.2
  S/SciMLBase/Versions.toml
Labels: patch release

#98008 New version: KeplerGL v0.0.2
  K/KeplerGL/Versions.toml
Labels: BREAKING, patch release

#98010 New version: StaticArrays v1.8.2
  S/StaticArrays/Versions.toml
Labels: patch release

#98012 New version: BioStructures v3.0.0
  B/BioStructures/Compat.toml
  B/BioStructures/Deps.toml
  B/BioStructures/Versions.toml
  B/BioStructures/WeakCompat.toml
  B/BioStructures/WeakDeps.toml
Labels: BREAKING, major release

#98013 New version: DocInventories v0.2.0
  D/DocInventories/Compat.toml
  D/DocInventories/Deps.toml
  D/DocInventories/Versions.toml
Labels: BREAKING, minor release

#98014 New version: DataDrop v0.1.5
  D/DataDrop/Compat.toml
  D/DataDrop/Versions.toml
Labels: patch release

#98017 New version: Manopt v0.4.46
  M/Manopt/Versions.toml
Labels: patch release

#98019 New version: DiffEqBase v6.145.5
  D/DiffEqBase/Versions.toml
Labels: patch release

#98018 New version: Molly v0.18.4
  M/Molly/Compat.toml
  M/Molly/Versions.toml
Labels: patch release

#98020 New version: CSV v0.10.12
  C/CSV/Compat.toml
  C/CSV/Versions.toml
Labels: patch release

#98021 New version: PowerModels v0.19.10
  P/PowerModels/Versions.toml
Labels: patch release

#97928 New package: WordFrequencyDistributions v0.1.0
  Registry.toml
  W/WordFrequencyDistributions/Compat.toml
  W/WordFrequencyDistributions/Deps.toml
  W/WordFrequencyDistributions/Package.toml
  W/WordFrequencyDistributions/Versions.toml
Labels: new package

#98025 New version: ClimaCore v0.11.7
  C/ClimaCore/Compat.toml
  C/ClimaCore/Versions.toml
Labels: patch release

#98026 New version: WordFrequencyDistributions v0.2.0
  W/WordFrequencyDistributions/Versions.toml
Labels: BREAKING, minor release

#98027 New version: Fronts v2.5.2
  F/Fronts/Versions.toml
Labels: patch release

#98029 New version: ClimaCoreTempestRemap v0.3.12
  C/ClimaCoreTempestRemap/Compat.toml
  C/ClimaCoreTempestRemap/Deps.toml
  C/ClimaCoreTempestRemap/Versions.toml
Labels: patch release

#98030 New version: DocumenterInterLinks v0.2.0
  D/DocumenterInterLinks/Compat.toml
  D/DocumenterInterLinks/Versions.toml
Labels: BREAKING, minor release

#98031 New version: PowerModels v0.20.0
  P/PowerModels/Compat.toml
  P/PowerModels/Versions.toml
Labels: BREAKING, minor release

#98032 New version: JuMP v1.18.0
  J/JuMP/Compat.toml
  J/JuMP/Deps.toml
  J/JuMP/Versions.toml
Labels: minor release

#97933 New package: SIGPROCFiles v0.0.1
  Registry.toml
  S/SIGPROCFiles/Compat.toml
  S/SIGPROCFiles/Deps.toml
  S/SIGPROCFiles/Package.toml
  S/SIGPROCFiles/Versions.toml
Labels: new package

#98033 New version: PkgToSoftwareBOM v0.1.8
  P/PkgToSoftwareBOM/Deps.toml
  P/PkgToSoftwareBOM/Versions.toml
Labels: patch release

#98034 New version: BFloat16s v0.5.0
  B/BFloat16s/Versions.toml
Labels: BREAKING, minor release

#98035 New version: MathOptInterface v1.24.0
  M/MathOptInterface/Versions.toml
Labels: minor release

#98036 New version: AlgebraicSolving v0.4.5
  A/AlgebraicSolving/Versions.toml
Labels: patch release

#98037 New version: SpatialDatasets v0.1.5
  S/SpatialDatasets/Compat.toml
  S/SpatialDatasets/Versions.toml
Labels: patch release

#98038 New version: LaplaceRedux v0.1.4
  L/LaplaceRedux/Compat.toml
  L/LaplaceRedux/Deps.toml
  L/LaplaceRedux/Versions.toml
Labels: patch release

#98039 New version: GridapEmbedded v0.8.3
  G/GridapEmbedded/Compat.toml
  G/GridapEmbedded/Versions.toml
Labels: patch release

#98042 New version: SymbolicIndexingInterface v0.3.2
  S/SymbolicIndexingInterface/Compat.toml
  S/SymbolicIndexingInterface/Versions.toml
Labels: patch release

#98044 New version: GlobalSensitivity v2.5.0
  G/GlobalSensitivity/Compat.toml
  G/GlobalSensitivity/Versions.toml
Labels: minor release

#97087 New version: SeeToDee v1.2.2
  S/SeeToDee/Compat.toml
  S/SeeToDee/Versions.toml
Labels: patch release

#98046 New version: LoweredCodeUtils v2.4.3
  L/LoweredCodeUtils/Versions.toml
Labels: patch release

#98047 New version: FoldRNA v0.2.1
  F/FoldRNA/Compat.toml
  F/FoldRNA/Versions.toml
Labels: patch release

#98048 New version: IterTools v1.10.0
  I/IterTools/Versions.toml
Labels: minor release

#98049 New version: MakieRichText v0.1.2
  M/MakieRichText/Versions.toml
Labels: patch release

#98050 [CI] Pin `RegistryCI` to v8.4.1
  .ci/Project.toml
Labels: CI, github-actions

#98051 New version: RegularizedLeastSquares v0.11.3
  R/RegularizedLeastSquares/Compat.toml
  R/RegularizedLeastSquares/Deps.toml
  R/RegularizedLeastSquares/Versions.toml
Labels: patch release

#98056 New version: ApproxFunBase v0.8.62
  A/ApproxFunBase/Compat.toml
  A/ApproxFunBase/Versions.toml
Labels: patch release

#98058 New version: JLD2 v0.4.41
  J/JLD2/Versions.toml
Labels: patch release

#98059 New version: GasChromatographySimulator v0.4.6
  G/GasChromatographySimulator/Versions.toml
Labels: patch release

#97949 New package: RadioPropagation v0.1.0
  R/RadioPropagation/Compat.toml
  R/RadioPropagation/Deps.toml
  R/RadioPropagation/Package.toml
  R/RadioPropagation/Versions.toml
  Registry.toml
Labels: new package

#98061 New version: WeatherReport v0.19.0
  W/WeatherReport/Versions.toml
Labels: BREAKING, minor release

#98062 New version: PowerModelsAnnex v0.10.0
  P/PowerModelsAnnex/Compat.toml
  P/PowerModelsAnnex/Deps.toml
  P/PowerModelsAnnex/Versions.toml
Labels: BREAKING, minor release

#98063 New version: ClimaAtmos v0.18.0
  C/ClimaAtmos/Compat.toml
  C/ClimaAtmos/Versions.toml
Labels: BREAKING, minor release

#97755 New package: BioVossEncoder v0.1.0
  B/BioVossEncoder/Compat.toml
  B/BioVossEncoder/Deps.toml
  B/BioVossEncoder/Package.toml
  B/BioVossEncoder/Versions.toml
  Registry.toml
Labels: new package

#98065 New version: Cloudy v0.3.0
  C/Cloudy/Compat.toml
  C/Cloudy/Deps.toml
  C/Cloudy/Versions.toml
Labels: BREAKING, minor release

#98066 New version: RegularizedLeastSquares v0.11.4
  R/RegularizedLeastSquares/Compat.toml
  R/RegularizedLeastSquares/Deps.toml
  R/RegularizedLeastSquares/Versions.toml
Labels: patch release

#98068 New version: GeoIO v1.12.2
  G/GeoIO/Compat.toml
  G/GeoIO/Deps.toml
  G/GeoIO/Versions.toml
Labels: patch release

#96788 New package: DataMigrations v0.0.1
  D/DataMigrations/Compat.toml
  D/DataMigrations/Deps.toml
  D/DataMigrations/Package.toml
  D/DataMigrations/Versions.toml
  Registry.toml
Labels: new package

#98069 New version: RegularizedLeastSquares v0.12.0
  R/RegularizedLeastSquares/Compat.toml
  R/RegularizedLeastSquares/Deps.toml
  R/RegularizedLeastSquares/Versions.toml
Labels: BREAKING, minor release

#98070 New version: MinHash v0.2.1
  M/MinHash/Compat.toml
  M/MinHash/Deps.toml
  M/MinHash/Versions.toml
Labels: patch release

#98071 New version: DormandPrince v0.2.0
  D/DormandPrince/Versions.toml
Labels: BREAKING, minor release

#98073 New version: Revise v3.5.12
  R/Revise/Versions.toml
Labels: patch release

#98074 New version: KeplerGL v0.0.3
  K/KeplerGL/Versions.toml
Labels: BREAKING, patch release

#98075 New version: Expectations v1.9.2
  E/Expectations/Compat.toml
  E/Expectations/Versions.toml
Labels: patch release

#98076 New version: ResumableFunctions v0.6.7
  R/ResumableFunctions/Versions.toml
Labels: patch release

#97958 New package: PosixChannels v0.1.0
  P/PosixChannels/Compat.toml
  P/PosixChannels/Deps.toml
  P/PosixChannels/Package.toml
  P/PosixChannels/Versions.toml
  Registry.toml
Labels: new package

#98077 New version: MTH229 v0.2.12
  M/MTH229/Compat.toml
  M/MTH229/Versions.toml
Labels: patch release

#98079 New version: OpenAI v0.9.0
  O/OpenAI/Versions.toml
Labels: BREAKING, minor release

#98080 New version: PowerModelsSecurityConstrained v0.10.1
  P/PowerModelsSecurityConstrained/Compat.toml
  P/PowerModelsSecurityConstrained/Versions.toml
Labels: patch release

#98081 New version: Tidier v1.2.1
  T/Tidier/Compat.toml
  T/Tidier/Versions.toml
Labels: patch release

#98082 New version: ClimaLSM v0.5.0
  C/ClimaLSM/Compat.toml
  C/ClimaLSM/Deps.toml
  C/ClimaLSM/Versions.toml
Labels: BREAKING, minor release

#98083 New version: TidierData v0.14.4
  T/TidierData/Versions.toml
Labels: patch release

#98086 New version: StippleUI v0.22.12
  S/StippleUI/Versions.toml
Labels: patch release

#98087 New version: Stencils v0.2.4
  S/Stencils/Compat.toml
  S/Stencils/Deps.toml
  S/Stencils/Versions.toml
Labels: patch release

#98089 New version: PowerModelsRestoration v0.8.0
  P/PowerModelsRestoration/Compat.toml
  P/PowerModelsRestoration/Versions.toml
Labels: BREAKING, minor release

#98090 New version: ImageGeoms v0.10.1
  I/ImageGeoms/Compat.toml
  I/ImageGeoms/Deps.toml
  I/ImageGeoms/Versions.toml
  I/ImageGeoms/WeakCompat.toml
  I/ImageGeoms/WeakDeps.toml
Labels: patch release

#98091 New version: PowerModelsSecurityConstrained v0.11.0
  P/PowerModelsSecurityConstrained/Compat.toml
  P/PowerModelsSecurityConstrained/Versions.toml
Labels: BREAKING, minor release

#98092 New version: JUDI v3.3.9
  J/JUDI/Versions.toml
Labels: patch release

#98095 New version: Blink v0.12.9
  B/Blink/Versions.toml
Labels: patch release

#98096 New version: StaticArrays v1.9.0
  S/StaticArrays/Versions.toml
Labels: minor release

#98099 New version: WeatherReport v0.19.1
  W/WeatherReport/Versions.toml
Labels: patch release

#98100 New version: SpmImageTycoon v0.6.3
  S/SpmImageTycoon/Compat.toml
  S/SpmImageTycoon/Versions.toml
Labels: patch release

#98101 New version: GenomicAnnotations v0.3.4
  G/GenomicAnnotations/Versions.toml
Labels: patch release

#98102 New version: AlgebraOfGraphics v0.6.18
  A/AlgebraOfGraphics/Versions.toml
Labels: patch release

#98067 New version: HetaSimulator v0.4.15
  H/HetaSimulator/Compat.toml
  H/HetaSimulator/Versions.toml
Labels: patch release

#98106 New version: RadonKA v0.2.0
  R/RadonKA/Compat.toml
  R/RadonKA/Deps.toml
  R/RadonKA/Versions.toml
Labels: BREAKING, minor release

#98110 New version: Nerf v0.1.3
  N/Nerf/Versions.toml
Labels: patch release

#98111 New version: Dynare v0.9.1
  D/Dynare/Compat.toml
  D/Dynare/Versions.toml
Labels: patch release

#98117 New version: RheaReactions v0.6.1
  R/RheaReactions/Compat.toml
  R/RheaReactions/Versions.toml
Labels: patch release

#98118 New version: BiGGReactions v0.2.1
  B/BiGGReactions/Compat.toml
  B/BiGGReactions/Versions.toml
Labels: patch release

#98119 New version: MetaNetXReactions v0.1.1
  M/MetaNetXReactions/Compat.toml
  M/MetaNetXReactions/Versions.toml
Labels: patch release

#98120 New version: CamiXon v1.8.7
  C/CamiXon/Versions.toml
Labels: patch release

#98122 New version: NonuniformFFTs v0.3.0
  N/NonuniformFFTs/Versions.toml
Labels: BREAKING, minor release

#98123 New version: UpdateJulia v0.4.4
  U/UpdateJulia/Versions.toml
Labels: patch release

#98124 New version: TaijaPlotting v1.0.6
  T/TaijaPlotting/Compat.toml
  T/TaijaPlotting/Deps.toml
  T/TaijaPlotting/Versions.toml
Labels: patch release

#98125 New version: StippleUI v0.22.13
  S/StippleUI/Versions.toml
Labels: patch release

#98127 New version: GenieFramework v1.26.7
  G/GenieFramework/Compat.toml
  G/GenieFramework/Versions.toml
Labels: patch release

#98129 New version: LLVM v6.4.2
  L/LLVM/Versions.toml
Labels: patch release

#98131 New version: InfrastructureSystems v1.22.1
  I/InfrastructureSystems/Versions.toml
Labels: patch release

#98132 New version: FileIO v1.16.2
  F/FileIO/Compat.toml
  F/FileIO/Versions.toml
Labels: patch release

#98133 New version: TidierText v0.1.1
  T/TidierText/Versions.toml
Labels: patch release

#98134 New version: SimpleGA v0.2.0
  S/SimpleGA/Compat.toml
  S/SimpleGA/Versions.toml
Labels: BREAKING, minor release

#98138 New version: DiffEqBase v6.145.6
  D/DiffEqBase/Versions.toml
Labels: patch release

#98136 New version: Flavio v0.1.2
  F/Flavio/Compat.toml
  F/Flavio/Deps.toml
  F/Flavio/Versions.toml
Labels: patch release

#98140 New version: NCRegressionTests v0.2.3
  N/NCRegressionTests/Compat.toml
  N/NCRegressionTests/Versions.toml
Labels: patch release

#98141 New version: SaferIntegers v3.4.1
  S/SaferIntegers/Versions.toml
Labels: patch release

#98142 New version: HealpixMPI v1.0.0
  H/HealpixMPI/Compat.toml
  H/HealpixMPI/Deps.toml
  H/HealpixMPI/Versions.toml
Labels: BREAKING, major release

#98144 New version: LoopVectorization v0.12.167
  L/LoopVectorization/Versions.toml
Labels: patch release

#98145 New version: MCIntegration v0.4.2
  M/MCIntegration/Versions.toml
Labels: patch release

#98146 New version: WeatherReport v0.19.2
  W/WeatherReport/Versions.toml
Labels: patch release

#98147 New version: FHist v0.10.8
  F/FHist/Versions.toml
Labels: patch release

#98148 New version: GeoIO v1.12.3
  G/GeoIO/Versions.toml
Labels: patch release

#98149 New version: NodesAndModes v1.1.0
  N/NodesAndModes/Versions.toml
Labels: minor release

#98152 New version: MathematicalSystems v0.13.4
  M/MathematicalSystems/Versions.toml
Labels: patch release

#98153 New version: DormandPrince v0.3.0
  D/DormandPrince/Versions.toml
Labels: BREAKING, minor release

#98154 New version: SFTPClient v0.4.2
  S/SFTPClient/Versions.toml
Labels: patch release

#98156 New version: DormandPrince v0.4.0
  D/DormandPrince/Versions.toml
Labels: BREAKING, minor release

#98157 New version: PreallocationTools v0.4.17
  P/PreallocationTools/Versions.toml
Labels: patch release

#97987 New package: StateSpacePartitions v0.1.0
  Registry.toml
  S/StateSpacePartitions/Compat.toml
  S/StateSpacePartitions/Deps.toml
  S/StateSpacePartitions/Package.toml
  S/StateSpacePartitions/Versions.toml
Labels: new package

#98159 New version: DormandPrince v0.5.0
  D/DormandPrince/Versions.toml
Labels: BREAKING, minor release

#98160 New version: CUDASIMDTypes v1.6.1
  C/CUDASIMDTypes/Compat.toml
  C/CUDASIMDTypes/Versions.toml
Labels: patch release

#98162 New version: BundledWebResources v1.2.0
  B/BundledWebResources/Versions.toml
Labels: minor release

#98163 New version: ReloadableMiddleware v1.4.1
  R/ReloadableMiddleware/Versions.toml
Labels: patch release

#98164 New version: SymbolicRegression v0.23.1
  S/SymbolicRegression/Versions.toml
Labels: patch release

#98165 New version: FiniteElementContainers v0.3.1
  F/FiniteElementContainers/Versions.toml
  F/FiniteElementContainers/WeakCompat.toml
  F/FiniteElementContainers/WeakDeps.toml
Labels: patch release

#98167 New version: SimilaritySearch v0.10.10
  S/SimilaritySearch/Versions.toml
Labels: patch release

#98169 New version: Minc2 v0.1.2
  M/Minc2/Compat.toml
  M/Minc2/Versions.toml
Labels: patch release

#98168 New version: StochasticGroundMotionSimulation v0.2.0
  S/StochasticGroundMotionSimulation/Compat.toml
  S/StochasticGroundMotionSimulation/Deps.toml
  S/StochasticGroundMotionSimulation/Versions.toml
Labels: BREAKING, minor release

#98170 New version: DataMigrations v0.0.2
  D/DataMigrations/Versions.toml
Labels: BREAKING, patch release

#98172 New version: WordFrequencyDistributions v0.3.0
  W/WordFrequencyDistributions/Compat.toml
  W/WordFrequencyDistributions/Deps.toml
  W/WordFrequencyDistributions/Versions.toml
Labels: BREAKING, minor release

#98173 New version: AlgebraicRewriting v0.3.0
  A/AlgebraicRewriting/Compat.toml
  A/AlgebraicRewriting/Versions.toml
  A/AlgebraicRewriting/WeakCompat.toml
  A/AlgebraicRewriting/WeakDeps.toml
Labels: BREAKING, minor release

#98174 New version: QuantEcon v0.16.6
  Q/QuantEcon/Compat.toml
  Q/QuantEcon/Versions.toml
Labels: patch release

#98175 New version: Bonsai v0.6.1
  B/Bonsai/Compat.toml
  B/Bonsai/Deps.toml
  B/Bonsai/Versions.toml
Labels: patch release

#98176 New version: RealPolyhedralHomotopy v1.2.0
  R/RealPolyhedralHomotopy/Versions.toml
Labels: minor release

#98178 New version: OrdinaryDiffEq v6.68.0
  O/OrdinaryDiffEq/Compat.toml
  O/OrdinaryDiffEq/Deps.toml
  O/OrdinaryDiffEq/Versions.toml
Labels: minor release

#98179 New version: Genie v5.23.7
  G/Genie/Versions.toml
Labels: patch release

#98180 New version: GenieDevTools v2.8.4
  G/GenieDevTools/Versions.toml
Labels: patch release

#98181 New version: PkgTemplates v0.7.47
  P/PkgTemplates/Versions.toml
Labels: patch release

#98182 New version: OMEinsum v0.7.6
  O/OMEinsum/Versions.toml
Labels: patch release

#98183 New version: GenieFramework v1.26.8
  G/GenieFramework/Compat.toml
  G/GenieFramework/Versions.toml
Labels: patch release

#98184 New version: StochasticGroundMotionSimulation v0.2.1
  S/StochasticGroundMotionSimulation/Versions.toml
Labels: patch release

#98185 New version: Literate v2.16.1
  L/Literate/Versions.toml
Labels: patch release

#98186 New version: ProtoBuf v1.0.15
  P/ProtoBuf/Compat.toml
  P/ProtoBuf/Versions.toml
Labels: patch release

#98187 New version: GenomicAnnotations v0.3.5
  G/GenomicAnnotations/Compat.toml
  G/GenomicAnnotations/Versions.toml
Labels: patch release

#98188 New version: ObjectOriented v0.1.4
  O/ObjectOriented/Versions.toml
Labels: patch release

#98190 New version: Libxc v0.3.18
  L/Libxc/Versions.toml
Labels: patch release

#98191 New version: AbstractAlgebra v0.35.0
  A/AbstractAlgebra/Versions.toml
Labels: BREAKING, minor release

#98192 New version: HarmonicBalance v0.8.0
  H/HarmonicBalance/Deps.toml
  H/HarmonicBalance/Versions.toml
Labels: BREAKING, minor release

#98193 New version: MLUtils v0.4.4
  M/MLUtils/Compat.toml
  M/MLUtils/Versions.toml
Labels: patch release

#98195 New version: Jutul v0.2.18
  J/Jutul/Versions.toml
Labels: patch release
