Repository JuliaRegistries/General, pull requests merged in 2024-06, with the labels that each got.

#108057 New version: CliffordNumbers v0.1.2
  C/CliffordNumbers/Versions.toml
Labels: patch release

#108058 New version: NonlinearSolve v3.12.4
  N/NonlinearSolve/Versions.toml
  N/NonlinearSolve/WeakCompat.toml
Labels: patch release

#108059 New version: MethodInspector v0.2.0
  M/MethodInspector/Versions.toml
Labels: BREAKING, minor release

#108060 New version: TopoPlots v0.1.8
  T/TopoPlots/Compat.toml
  T/TopoPlots/Versions.toml
Labels: patch release

#108061 New version: SparseConnectivityTracer v0.5.1
  S/SparseConnectivityTracer/Versions.toml
Labels: patch release

#108062 New version: Pilates v0.0.5
  P/Pilates/Compat.toml
  P/Pilates/Deps.toml
  P/Pilates/Versions.toml
Labels: BREAKING, patch release

#108064 New version: DispatchDoctor v0.4.3
  D/DispatchDoctor/Versions.toml
Labels: patch release

#107888 New package: CompetingClocks v0.1.0
  C/CompetingClocks/Compat.toml
  C/CompetingClocks/Deps.toml
  C/CompetingClocks/Package.toml
  C/CompetingClocks/Versions.toml
  Registry.toml
Labels: new package

#108065 New version: TensorInference v0.4.2
  T/TensorInference/Compat.toml
  T/TensorInference/Versions.toml
Labels: patch release

#107895 New package: TruncatedMVN v1.0.0
  Registry.toml
  T/TruncatedMVN/Compat.toml
  T/TruncatedMVN/Deps.toml
  T/TruncatedMVN/Package.toml
  T/TruncatedMVN/Versions.toml
Labels: new package

#108067 New version: AtomsBuilder v0.0.4
  A/AtomsBuilder/Versions.toml
Labels: BREAKING, patch release

#108068 New version: IndividualDisplacements v0.4.7
  I/IndividualDisplacements/Versions.toml
Labels: patch release

#108069 New version: DispatchDoctor v0.4.4
  D/DispatchDoctor/Versions.toml
Labels: patch release

#108070 New version: BifurcationKit v0.3.4
  B/BifurcationKit/Compat.toml
  B/BifurcationKit/Versions.toml
Labels: patch release

#108075 New version: MicroCanonicalHMC v0.1.6
  M/MicroCanonicalHMC/Versions.toml
Labels: patch release

#108072 Yank cminpack latest release
  jll/C/cminpack_jll/Versions.toml
Labels: yank

#108077 New version: CallableExpressions v1.1.0
  C/CallableExpressions/Versions.toml
  C/CallableExpressions/WeakCompat.toml
  C/CallableExpressions/WeakDeps.toml
Labels: minor release

#108079 New version: SPDX v0.4.1
  S/SPDX/Versions.toml
Labels: patch release

#108076 New version: AlgebraicRewriting v0.3.4
  A/AlgebraicRewriting/Versions.toml
Labels: patch release

#107337 New version: UnixMmap v1.0.2
  U/UnixMmap/Versions.toml
Labels: patch release

#107928 New package: EEGToolkit v0.1.0
  E/EEGToolkit/Compat.toml
  E/EEGToolkit/Deps.toml
  E/EEGToolkit/Package.toml
  E/EEGToolkit/Versions.toml
  Registry.toml
Labels: new package

#108081 New version: EEGToolkit v0.1.1
  E/EEGToolkit/Versions.toml
Labels: patch release

#108082 New version: NMFk v1.3.8
  N/NMFk/Versions.toml
Labels: patch release

#108083 New version: TermInterface v0.5.0
  T/TermInterface/Versions.toml
Labels: BREAKING, minor release

#108084 New version: ContinuousNormalizingFlows v0.23.2
  C/ContinuousNormalizingFlows/Compat.toml
  C/ContinuousNormalizingFlows/Versions.toml
Labels: patch release

#108085 New version: JSMDInterfaces v1.6.0
  J/JSMDInterfaces/Versions.toml
Labels: minor release

#108086 New version: Damask v0.2.1
  D/Damask/Versions.toml
Labels: patch release

#108087 New version: BitBasis v0.9.3
  B/BitBasis/Versions.toml
Labels: patch release

#108088 New version: FrameTransformations v2.1.1
  F/FrameTransformations/Compat.toml
  F/FrameTransformations/Versions.toml
  F/FrameTransformations/WeakCompat.toml
Labels: patch release

#108089 New version: HistoricalStdlibVersions v1.2.3
  H/HistoricalStdlibVersions/Versions.toml
Labels: patch release

#108090 New version: Damask v0.2.2
  D/Damask/Compat.toml
  D/Damask/Versions.toml
Labels: patch release

#108091 New version: HistoricalStdlibVersions v1.2.4
  H/HistoricalStdlibVersions/Versions.toml
Labels: patch release

#108092 New version: Mill v2.10.4
  M/Mill/Versions.toml
Labels: patch release

#108093 New version: GasChromatographySystems v0.2.1
  G/GasChromatographySystems/Versions.toml
Labels: patch release

#108094 New version: ClimateModels v0.3.3
  C/ClimateModels/Compat.toml
  C/ClimateModels/Deps.toml
  C/ClimateModels/Versions.toml
  C/ClimateModels/WeakCompat.toml
  C/ClimateModels/WeakDeps.toml
Labels: patch release

#108096 New version: SIMDMathFunctions v0.1.1
  S/SIMDMathFunctions/Compat.toml
  S/SIMDMathFunctions/Versions.toml
Labels: patch release

#107972 New package: ProudPalettes v1.0.0
  P/ProudPalettes/Compat.toml
  P/ProudPalettes/Deps.toml
  P/ProudPalettes/Package.toml
  P/ProudPalettes/Versions.toml
  Registry.toml
Labels: new package

#108098 New version: Mill v2.10.5
  M/Mill/Versions.toml
Labels: patch release

#108099 New version: VulkanSpec v0.1.2
  V/VulkanSpec/Compat.toml
  V/VulkanSpec/Versions.toml
Labels: patch release

#108097 New version: TestParticle v0.11.0
  T/TestParticle/Compat.toml
  T/TestParticle/Deps.toml
  T/TestParticle/Versions.toml
Labels: BREAKING, minor release

#108100 New version: OptimizationPRIMA v0.1.0
  O/OptimizationPRIMA/Compat.toml
  O/OptimizationPRIMA/Versions.toml
Labels: BREAKING, minor release

#107975 New package: QuantumGraining v0.1.0
  Q/QuantumGraining/Compat.toml
  Q/QuantumGraining/Deps.toml
  Q/QuantumGraining/Package.toml
  Q/QuantumGraining/Versions.toml
  Registry.toml
Labels: new package

#108102 New version: AbstractCosmologicalEmulators v0.6.0
  A/AbstractCosmologicalEmulators/Compat.toml
  A/AbstractCosmologicalEmulators/Deps.toml
  A/AbstractCosmologicalEmulators/Versions.toml
Labels: BREAKING, minor release

#108103 New version: ReachabilityAnalysis v0.26.0
  R/ReachabilityAnalysis/Compat.toml
  R/ReachabilityAnalysis/Deps.toml
  R/ReachabilityAnalysis/Versions.toml
Labels: BREAKING, minor release

#108104 New version: ITensorMPS v0.2.4
  I/ITensorMPS/Versions.toml
Labels: patch release

#108107 New version: PhyNEST v0.1.12
  P/PhyNEST/Compat.toml
  P/PhyNEST/Versions.toml
Labels: patch release

#108108 New version: GridapTopOpt v0.1.1
  G/GridapTopOpt/Versions.toml
Labels: patch release

#108109 New version: Gtk4 v0.6.7
  G/Gtk4/Versions.toml
Labels: patch release

#108111 New version: BPGates v1.1.0
  B/BPGates/Versions.toml
  B/BPGates/WeakCompat.toml
  B/BPGates/WeakDeps.toml
Labels: minor release

#108112 New version: PreallocationTools v0.4.22
  P/PreallocationTools/Versions.toml
Labels: patch release

#108113 New version: Sunny v0.5.11
  S/Sunny/Versions.toml
Labels: patch release

#108114 New version: SymbolicUtils v2.0.2
  S/SymbolicUtils/Versions.toml
Labels: patch release

#108115 New version: ClimateModels v0.3.4
  C/ClimateModels/Versions.toml
  C/ClimateModels/WeakCompat.toml
  C/ClimateModels/WeakDeps.toml
Labels: patch release

#108116 New version: StatisticalTraits v3.3.0
  S/StatisticalTraits/Versions.toml
Labels: minor release

#108118 New version: MLJModelInterface v1.10.0
  M/MLJModelInterface/Compat.toml
  M/MLJModelInterface/Versions.toml
Labels: minor release

#108119 New version: HTMLTables v0.3.7
  H/HTMLTables/Versions.toml
Labels: patch release

#108120 New version: LazyBandedMatrices v0.10.1
  L/LazyBandedMatrices/Versions.toml
Labels: patch release

#108121 New version: BandedMatrices v1.7.1
  B/BandedMatrices/Versions.toml
Labels: patch release

#108122 New version: ChainRules v1.68.0
  C/ChainRules/Versions.toml
Labels: minor release

#108123 New version: LazyArrays v2.0.3
  L/LazyArrays/Versions.toml
Labels: patch release

#108124 New version: ClosedLoopReachability v0.6.0
  C/ClosedLoopReachability/Compat.toml
  C/ClosedLoopReachability/Versions.toml
Labels: BREAKING, minor release

#108125 New version: MLJBase v1.4.0
  M/MLJBase/Compat.toml
  M/MLJBase/Versions.toml
Labels: minor release

#108127 New version: MLJEnsembles v0.4.3
  M/MLJEnsembles/Compat.toml
  M/MLJEnsembles/Versions.toml
Labels: patch release

#108128 New version: MLJIteration v0.6.2
  M/MLJIteration/Compat.toml
  M/MLJIteration/Versions.toml
Labels: patch release

#108129 New version: MLJTuning v0.8.7
  M/MLJTuning/Compat.toml
  M/MLJTuning/Versions.toml
Labels: patch release

#108131 New version: Polymake v0.11.18
  P/Polymake/Compat.toml
  P/Polymake/Versions.toml
Labels: patch release

#108008 New package: XRootD v0.1.0
  Registry.toml
  X/XRootD/Compat.toml
  X/XRootD/Deps.toml
  X/XRootD/Package.toml
  X/XRootD/Versions.toml
Labels: new package, Override AutoMerge: name similarity is okay

#108133 New version: Supposition v0.3.3
  S/Supposition/Versions.toml
Labels: patch release

#108011 New package: NoiseModels v0.1.0
  N/NoiseModels/Compat.toml
  N/NoiseModels/Deps.toml
  N/NoiseModels/Package.toml
  N/NoiseModels/Versions.toml
  Registry.toml
Labels: new package

#108137 New version: MonteCarloMeasurements v1.1.7
  M/MonteCarloMeasurements/Compat.toml
  M/MonteCarloMeasurements/Versions.toml
Labels: patch release

#108138 New version: OptimizationOptimJL v0.3.2
  O/OptimizationOptimJL/Versions.toml
Labels: patch release

#108139 New version: ClimateModels v0.3.5
  C/ClimateModels/Versions.toml
Labels: patch release

#108140 New version: Mosek v10.2.0
  M/Mosek/Versions.toml
Labels: minor release

#108141 New version: Symbolics v5.29.0
  S/Symbolics/Compat.toml
  S/Symbolics/Deps.toml
  S/Symbolics/Versions.toml
  S/Symbolics/WeakCompat.toml
Labels: minor release

#108017 New package: FMIBase v1.0.0
  F/FMIBase/Compat.toml
  F/FMIBase/Deps.toml
  F/FMIBase/Package.toml
  F/FMIBase/Versions.toml
  F/FMIBase/WeakDeps.toml
  Registry.toml
Labels: new package, Override AutoMerge: name similarity is okay

#108142 New version: BirkhoffDecomposition v0.2.4
  B/BirkhoffDecomposition/Versions.toml
Labels: patch release

#108143 New version: HerbGrammar v0.2.2
  H/HerbGrammar/Versions.toml
Labels: patch release

#108145 New version: DocumenterInterLinks v0.3.2
  D/DocumenterInterLinks/Compat.toml
  D/DocumenterInterLinks/Versions.toml
Labels: patch release

#108117 New version: ContinuousWavelets v1.1.5
  C/ContinuousWavelets/Compat.toml
  C/ContinuousWavelets/Versions.toml
Labels: patch release

#108146 New version: HierarchicalUtils v2.2.2
  H/HierarchicalUtils/Versions.toml
Labels: patch release

#108147 New version: BundlerIO v0.1.4
  B/BundlerIO/Compat.toml
  B/BundlerIO/Deps.toml
  B/BundlerIO/Versions.toml
Labels: patch release

#108148 New version: Nemo v0.45.4
  N/Nemo/Compat.toml
  N/Nemo/Versions.toml
Labels: patch release

#108149 New version: ConcurrentSim v1.4.1
  C/ConcurrentSim/Compat.toml
  C/ConcurrentSim/Versions.toml
Labels: patch release

#108150 New version: JUDI v3.4.3
  J/JUDI/Versions.toml
  J/JUDI/WeakCompat.toml
Labels: patch release

#108151 New version: DocInventories v1.0.0
  D/DocInventories/Compat.toml
  D/DocInventories/Deps.toml
  D/DocInventories/Versions.toml
Labels: BREAKING, major release

#108152 New version: TimeProbeSeismic v1.1.4
  T/TimeProbeSeismic/Compat.toml
  T/TimeProbeSeismic/Versions.toml
Labels: patch release

#108153 New version: SatelliteAnalysis v0.3.3
  S/SatelliteAnalysis/Versions.toml
Labels: patch release

#108156 New version: UnfoldBIDS v0.2.0
  U/UnfoldBIDS/Compat.toml
  U/UnfoldBIDS/Deps.toml
  U/UnfoldBIDS/Versions.toml
Labels: BREAKING, minor release

#108157 New version: Fronts v2.5.4
  F/Fronts/Versions.toml
Labels: patch release

#108158 New version: ComplexMixtures v2.1.13
  C/ComplexMixtures/Compat.toml
  C/ComplexMixtures/Versions.toml
Labels: patch release

#108159 New version: CluGen v1.1.0
  C/CluGen/Versions.toml
Labels: minor release

#108160 New version: MethodInspector v0.3.1
  M/MethodInspector/Versions.toml
Labels: patch release

#108162 New version: JLLGenerator v0.3.0
  J/JLLGenerator/Versions.toml
Labels: BREAKING, minor release

#108163 New version: NDTensors v0.3.19
  N/NDTensors/Versions.toml
Labels: patch release

#108164 New version: ComplexMixtures v2.1.14
  C/ComplexMixtures/Versions.toml
Labels: patch release

#108165 New version: PolytonicGreek v0.21.12
  P/PolytonicGreek/Compat.toml
  P/PolytonicGreek/Versions.toml
Labels: patch release

#108167 New version: ComplexMixtures v2.1.15
  C/ComplexMixtures/Versions.toml
Labels: patch release

#108168 New version: UnitfulLinearAlgebra v0.3.6
  U/UnitfulLinearAlgebra/Versions.toml
Labels: patch release

#108169 New package: BinaryBuilderProducts v0.1.0
  B/BinaryBuilderProducts/Compat.toml
  B/BinaryBuilderProducts/Deps.toml
  B/BinaryBuilderProducts/Package.toml
  B/BinaryBuilderProducts/Versions.toml
  Registry.toml
Labels: new package

#108170 New version: LazyJLLWrappers v1.0.1
  L/LazyJLLWrappers/Compat.toml
  L/LazyJLLWrappers/Deps.toml
  L/LazyJLLWrappers/Versions.toml
Labels: patch release

#108172 New version: RegularizedProblems v0.1.1
  R/RegularizedProblems/Compat.toml
  R/RegularizedProblems/Deps.toml
  R/RegularizedProblems/Versions.toml
Labels: patch release

#108173 New version: ClimaUtilities v0.1.8
  C/ClimaUtilities/Versions.toml
  C/ClimaUtilities/WeakCompat.toml
Labels: patch release

#108174 New version: Peccon v0.1.1
  P/Peccon/Compat.toml
  P/Peccon/Versions.toml
Labels: patch release

#108175 New version: Serde v3.1.0
  S/Serde/Deps.toml
  S/Serde/Versions.toml
Labels: minor release

#108179 New version: JLLPrefixes v0.3.8
  J/JLLPrefixes/Compat.toml
  J/JLLPrefixes/Versions.toml
Labels: patch release

#108181 New version: RigidBodyTools v0.5.8
  R/RigidBodyTools/Versions.toml
Labels: patch release

#108182 New version: ProudPalettes v1.1.0
  P/ProudPalettes/Versions.toml
Labels: minor release

#108183 New version: Korg v0.34.0
  K/Korg/Versions.toml
Labels: BREAKING, minor release

#108184 New version: ClimaTimeSteppers v0.7.31
  C/ClimaTimeSteppers/Versions.toml
Labels: patch release

#108186 New version: Lux v0.5.53
  L/Lux/Compat.toml
  L/Lux/Versions.toml
Labels: patch release

#108187 New version: DiagrammaticEquations v0.1.4
  D/DiagrammaticEquations/Compat.toml
  D/DiagrammaticEquations/Deps.toml
  D/DiagrammaticEquations/Versions.toml
Labels: patch release

#108189 New version: ClimaCore v0.14.7
  C/ClimaCore/Versions.toml
Labels: patch release

#108191 New version: LazyArrays v2.0.4
  L/LazyArrays/Versions.toml
Labels: patch release

#108192 New version: InfiniteLinearAlgebra v0.8.1
  I/InfiniteLinearAlgebra/Versions.toml
Labels: patch release

#108194 New version: SDDP v1.7.0
  S/SDDP/Versions.toml
Labels: minor release

#108195 New version: PiecewiseOrthogonalPolynomials v0.5.0
  P/PiecewiseOrthogonalPolynomials/Compat.toml
  P/PiecewiseOrthogonalPolynomials/Versions.toml
Labels: BREAKING, minor release

#108196 New version: Ripserer v0.16.13
  R/Ripserer/Compat.toml
  R/Ripserer/Deps.toml
  R/Ripserer/Versions.toml
Labels: patch release

#108193 New version: HydroTools v0.1.4
  H/HydroTools/Compat.toml
  H/HydroTools/Deps.toml
  H/HydroTools/Versions.toml
  H/HydroTools/WeakDeps.toml
Labels: patch release, Override AutoMerge: package author approved

#108197 New version: BplusCore v0.2.0
  B/BplusCore/Compat.toml
  B/BplusCore/Versions.toml
Labels: BREAKING, minor release

#108199 New version: BplusApp v0.2.0
  B/BplusApp/Compat.toml
  B/BplusApp/Deps.toml
  B/BplusApp/Versions.toml
Labels: BREAKING, minor release

#108135 New version: CavityTools v1.2.1
  C/CavityTools/Versions.toml
Labels: patch release

#108200 New version: BplusTools v0.2.0
  B/BplusTools/Compat.toml
  B/BplusTools/Deps.toml
  B/BplusTools/Versions.toml
Labels: BREAKING, minor release

#85431 Add Julia <= 1.8 bound for old versions of SortingAlgorithms.jl
  S/SortingAlgorithms/Compat.toml
Labels: compat fix, needs manual merge

#108201 New version: Bplus v0.2.0
  B/Bplus/Compat.toml
  B/Bplus/Versions.toml
Labels: BREAKING, minor release

#107511 UnixMmap: Retroactive upper bound v1.0.0 and v1.0.1 to julia ≤ 1.10
  U/UnixMmap/Compat.toml
Labels: compat fix

#106848 [GeoMakie] Retroactively cap GeometryBasics versions to avoid method …
  G/GeoMakie/Compat.toml
Labels: compat fix

#108205 New version: FunctionalStateMachine v0.3.0
  F/FunctionalStateMachine/Compat.toml
  F/FunctionalStateMachine/Deps.toml
  F/FunctionalStateMachine/Versions.toml
  F/FunctionalStateMachine/WeakDeps.toml
Labels: BREAKING, minor release

#108206 New version: PhysiologyAnalysis v0.6.21
  P/PhysiologyAnalysis/Versions.toml
Labels: patch release

#108209 New version: DataInterpolations v5.1.0
  D/DataInterpolations/Compat.toml
  D/DataInterpolations/Versions.toml
  D/DataInterpolations/WeakCompat.toml
Labels: minor release

#108210 New version: Jutul v0.2.32
  J/Jutul/Versions.toml
  J/Jutul/WeakCompat.toml
  J/Jutul/WeakDeps.toml
Labels: patch release

#108211 New version: SemiDiscretizationMethod v0.4.0
  S/SemiDiscretizationMethod/Versions.toml
Labels: BREAKING, minor release

#108212 New version: DifferentiationInterface v0.5.3
  D/DifferentiationInterface/Versions.toml
Labels: patch release

#108213 New version: SwissVAMyKnife v0.2.0
  S/SwissVAMyKnife/Versions.toml
Labels: BREAKING, minor release

#108214 New version: Cthulhu v2.12.6
  C/Cthulhu/Versions.toml
Labels: patch release

#108215 New version: PlutoStaticHTML v6.0.24
  P/PlutoStaticHTML/Versions.toml
Labels: patch release

#108216 New version: EditorsRepo v0.19.0
  E/EditorsRepo/Compat.toml
  E/EditorsRepo/Deps.toml
  E/EditorsRepo/Versions.toml
Labels: BREAKING, minor release

#108217 New version: Triangulate v2.3.3
  T/Triangulate/Versions.toml
  T/Triangulate/WeakCompat.toml
Labels: patch release

#108219 New version: Backboner v0.10.0
  B/Backboner/Compat.toml
  B/Backboner/Deps.toml
  B/Backboner/Versions.toml
  B/Backboner/WeakCompat.toml
Labels: BREAKING, minor release

#108220 New version: SparseVariables v0.7.3
  S/SparseVariables/Compat.toml
  S/SparseVariables/Versions.toml
Labels: patch release

#108222 New version: TimeseriesSurrogates v2.7.0
  T/TimeseriesSurrogates/Versions.toml
Labels: minor release

#108223 New version: ItemResponseFunctions v0.1.1
  I/ItemResponseFunctions/Compat.toml
  I/ItemResponseFunctions/Deps.toml
  I/ItemResponseFunctions/Versions.toml
Labels: patch release

#108224 New version: PlutoDevMacros v0.8.1
  P/PlutoDevMacros/Versions.toml
Labels: patch release

#108225 New version: ComplexityMeasures v3.5.0
  C/ComplexityMeasures/Versions.toml
Labels: minor release

#108226 New version: AssigningSecondaryStructure v0.4.0
  A/AssigningSecondaryStructure/Compat.toml
  A/AssigningSecondaryStructure/Deps.toml
  A/AssigningSecondaryStructure/Versions.toml
  A/AssigningSecondaryStructure/WeakCompat.toml
  A/AssigningSecondaryStructure/WeakDeps.toml
Labels: BREAKING, minor release

#108233 New version: LatinOrthography v0.7.3
  L/LatinOrthography/Compat.toml
  L/LatinOrthography/Versions.toml
Labels: patch release

#108234 New version: ProtPlot v0.4.3
  P/ProtPlot/Compat.toml
  P/ProtPlot/Versions.toml
Labels: patch release

#108235 New version: TaijaBase v1.1.1
  T/TaijaBase/Compat.toml
  T/TaijaBase/Deps.toml
  T/TaijaBase/Versions.toml
Labels: patch release

#108236 New version: AlgebraicSolving v0.4.16
  A/AlgebraicSolving/Versions.toml
Labels: patch release

#108237 New version: REopt v0.47.1
  R/REopt/Versions.toml
Labels: patch release

#108239 New version: MAGEMin_C v1.4.9
  M/MAGEMin_C/Compat.toml
  M/MAGEMin_C/Versions.toml
Labels: patch release
