Repository JuliaRegistries/General, pull requests merged in 2025-09, with the labels that each got.

#137704 New version: JuMP v1.29.0
  J/JuMP/Compat.toml
  J/JuMP/Versions.toml
Labels: minor release

#137545 New package: ConstrainedStrategicEquilibrium v0.1.0
  C/ConstrainedStrategicEquilibrium/Compat.toml
  C/ConstrainedStrategicEquilibrium/Deps.toml
  C/ConstrainedStrategicEquilibrium/Package.toml
  C/ConstrainedStrategicEquilibrium/Versions.toml
  Registry.toml
Labels: new package

#137706 New version: StreamSampling v0.7.5
  S/StreamSampling/Versions.toml
Labels: patch release

#137707 New version: MLJTestIntegration v0.5.3
  M/MLJTestIntegration/Compat.toml
  M/MLJTestIntegration/Deps.toml
  M/MLJTestIntegration/Versions.toml
Labels: patch release

#137708 New version: OceanRobots v0.2.19
  O/OceanRobots/Versions.toml
Labels: patch release

#137710 New version: TypedPolynomials v0.4.2
  T/TypedPolynomials/Compat.toml
  T/TypedPolynomials/Deps.toml
  T/TypedPolynomials/Versions.toml
Labels: patch release

#137711 New version: PowerDynamics v4.1.1
  P/PowerDynamics/Versions.toml
Labels: patch release

#137713 New version: SBMLImporter v3.0.6
  S/SBMLImporter/Versions.toml
Labels: patch release

#137714 New version: FINUFFT v3.4.1
  F/FINUFFT/Compat.toml
  F/FINUFFT/Deps.toml
  F/FINUFFT/Versions.toml
Labels: patch release

#137715 New version: MemoryViews v0.3.3
  M/MemoryViews/Compat.toml
  M/MemoryViews/Versions.toml
  M/MemoryViews/WeakCompat.toml
  M/MemoryViews/WeakDeps.toml
Labels: patch release

#137716 New version: cuDNN v1.4.4
  C/cuDNN/Compat.toml
  C/cuDNN/Deps.toml
  C/cuDNN/Versions.toml
Labels: patch release

#137717 New version: NonlinearOptimizationTestFunctions v0.2.6
  N/NonlinearOptimizationTestFunctions/Versions.toml
Labels: patch release

#137718 New version: DiffusionFlux v0.1.8
  D/DiffusionFlux/Deps.toml
  D/DiffusionFlux/Versions.toml
Labels: patch release

#137724 New version: TimeseriesBase v0.1.2
  T/TimeseriesBase/Compat.toml
  T/TimeseriesBase/Versions.toml
Labels: patch release

#137735 New version: Stopping v0.6.7
  S/Stopping/Compat.toml
  S/Stopping/Deps.toml
  S/Stopping/Versions.toml
Labels: patch release

#137740 New version: JosephsonCircuits v0.4.19
  J/JosephsonCircuits/Compat.toml
  J/JosephsonCircuits/Deps.toml
  J/JosephsonCircuits/Versions.toml
Labels: patch release

#137741 New version: NonparametricRegression v0.2.2
  N/NonparametricRegression/Compat.toml
  N/NonparametricRegression/Deps.toml
  N/NonparametricRegression/Versions.toml
Labels: patch release

#137745 New version: InteroperableCSV v0.1.2
  I/InteroperableCSV/Versions.toml
Labels: patch release

#137746 New version: Optimization v4.6.0
  O/Optimization/Compat.toml
  O/Optimization/Versions.toml
Labels: minor release

#137751 New version: HomotopyContinuation v2.15.1
  H/HomotopyContinuation/Versions.toml
Labels: patch release

#137758 New version: StreamSampling v0.7.6
  S/StreamSampling/Versions.toml
Labels: patch release

#137759 New version: SciMLOperators v1.7.0
  S/SciMLOperators/Versions.toml
Labels: minor release

#137760 New version: FLORIDyn v0.5.2
  F/FLORIDyn/Versions.toml
Labels: patch release

#137761 New version: UnderwaterAcoustics v0.5.2
  U/UnderwaterAcoustics/Versions.toml
Labels: patch release

#137764 New version: Jchemo v0.8.13
  J/Jchemo/Compat.toml
  J/Jchemo/Versions.toml
Labels: patch release

#137765 New version: ImageView v0.13.0
  I/ImageView/Compat.toml
  I/ImageView/Deps.toml
  I/ImageView/Versions.toml
  I/ImageView/WeakCompat.toml
  I/ImageView/WeakDeps.toml
Labels: BREAKING, minor release

#137768 fix: upperbound Enzyme.jl for new Interpreter changes
  R/Reactant/Compat.toml
Labels: compat fix

#137769 New version: Batsrus v0.8.15
  B/Batsrus/Versions.toml
Labels: patch release

#137770 New version: LuxTestUtils v2.0.1
  L/LuxTestUtils/Versions.toml
Labels: patch release

#137772 New version: TimeseriesTools v0.8.0
  T/TimeseriesTools/Compat.toml
  T/TimeseriesTools/Deps.toml
  T/TimeseriesTools/Versions.toml
  T/TimeseriesTools/WeakCompat.toml
  T/TimeseriesTools/WeakDeps.toml
Labels: BREAKING, minor release

#137774 New version: ArrayInterface v7.20.0
  A/ArrayInterface/Compat.toml
  A/ArrayInterface/Deps.toml
  A/ArrayInterface/Versions.toml
  A/ArrayInterface/WeakCompat.toml
  A/ArrayInterface/WeakDeps.toml
Labels: minor release

#137776 New version: AbstractAlgebra v0.46.3
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#137777 New version: SymbolicUtils v3.32.0
  S/SymbolicUtils/Compat.toml
  S/SymbolicUtils/Versions.toml
Labels: minor release

#137778 New version: SPEDAS v0.2.1
  S/SPEDAS/Compat.toml
  S/SPEDAS/Deps.toml
  S/SPEDAS/Versions.toml
Labels: patch release

#137780 New version: Batsrus v0.8.16
  B/Batsrus/Versions.toml
Labels: patch release

#137781 New version: PauliPropagation v0.5.0
  P/PauliPropagation/Compat.toml
  P/PauliPropagation/Deps.toml
  P/PauliPropagation/Versions.toml
Labels: BREAKING, minor release

#137626 New package: MoreMaps v0.1.0
  M/MoreMaps/Compat.toml
  M/MoreMaps/Deps.toml
  M/MoreMaps/Package.toml
  M/MoreMaps/Versions.toml
  M/MoreMaps/WeakCompat.toml
  M/MoreMaps/WeakDeps.toml
  Registry.toml
Labels: new package

#137788 New version: AbstractAlgebra v0.46.4
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#137791 New version: PrecompilePlutoCourse v0.2.5
  P/PrecompilePlutoCourse/Compat.toml
  P/PrecompilePlutoCourse/Versions.toml
Labels: patch release

#137792 New version: Geant4 v0.2.3
  G/Geant4/Compat.toml
  G/Geant4/Deps.toml
  G/Geant4/Versions.toml
  G/Geant4/WeakCompat.toml
  G/Geant4/WeakDeps.toml
Labels: patch release

#137795 New version: ScopedSettings v0.1.1
  S/ScopedSettings/Versions.toml
Labels: patch release

#137796 New version: Trixi v0.13.5
  T/Trixi/Versions.toml
Labels: patch release

#137797 New version: LinearSolve v3.39.0
  L/LinearSolve/Compat.toml
  L/LinearSolve/Versions.toml
Labels: minor release

#137801 New version: MixedModelsSim v0.2.12
  M/MixedModelsSim/Compat.toml
  M/MixedModelsSim/Deps.toml
  M/MixedModelsSim/Versions.toml
Labels: patch release

#137803 New version: Symbolics v6.53.0
  S/Symbolics/Versions.toml
Labels: minor release

#137804 New version: SoleModels v0.10.3
  S/SoleModels/Compat.toml
  S/SoleModels/Versions.toml
Labels: patch release

#137811 New version: PreallocationTools v0.4.34
  P/PreallocationTools/Versions.toml
Labels: patch release

#137812 New version: LinearSolveAutotune v1.9.0
  L/LinearSolveAutotune/Compat.toml
  L/LinearSolveAutotune/Deps.toml
  L/LinearSolveAutotune/Versions.toml
Labels: minor release

#137815 New version: AcousticsToolbox v0.5.1
  A/AcousticsToolbox/Versions.toml
Labels: patch release

#137819 New version: SNNModels v1.5.10
  S/SNNModels/Versions.toml
Labels: patch release

#137821 New version: MLDataDevices v1.11.2
  M/MLDataDevices/Versions.toml
Labels: patch release

#137823 New version: SciMLJacobianOperators v0.1.9
  S/SciMLJacobianOperators/Versions.toml
Labels: patch release

#137825 New version: Ket v0.6.3
  K/Ket/Compat.toml
  K/Ket/Versions.toml
Labels: patch release

#137829 New version: ReversedSeries v1.1.3
  R/ReversedSeries/Compat.toml
  R/ReversedSeries/Versions.toml
Labels: patch release

#137831 New version: Devito v1.1.0
  D/Devito/Compat.toml
  D/Devito/Deps.toml
  D/Devito/Versions.toml
  D/Devito/WeakCompat.toml
  D/Devito/WeakDeps.toml
Labels: minor release

#137497 New version: Lux v1.21.0
  L/Lux/Compat.toml
  L/Lux/Versions.toml
Labels: minor release

#137581 New package: MTGeophysics v0.1.0
  M/MTGeophysics/Compat.toml
  M/MTGeophysics/Deps.toml
  M/MTGeophysics/Package.toml
  M/MTGeophysics/Versions.toml
  Registry.toml
Labels: new package, Override AutoMerge: name similarity is okay

#137835 New version: SciMLBase v2.116.0
  S/SciMLBase/Versions.toml
Labels: minor release

#137836 New version: SelectedInversion v0.1.6
  S/SelectedInversion/Versions.toml
Labels: patch release

#137837 New version: BinaryBuilderBase v1.41.0
  B/BinaryBuilderBase/Versions.toml
Labels: minor release

#137838 New version: OrdinaryDiffEqExtrapolation v1.9.0
  O/OrdinaryDiffEqExtrapolation/Versions.toml
Labels: minor release

#137839 New version: JSONWebTokens v1.1.2
  J/JSONWebTokens/Compat.toml
  J/JSONWebTokens/Deps.toml
  J/JSONWebTokens/Versions.toml
Labels: patch release

#137840 New version: SciMLJacobianOperators v0.1.10
  S/SciMLJacobianOperators/Versions.toml
Labels: patch release

#137845 New version: LinearSolve v3.39.1
  L/LinearSolve/Versions.toml
Labels: patch release

#137847 New version: TyJuliaCAPI v0.6.3
  T/TyJuliaCAPI/Versions.toml
Labels: patch release

#137849 New version: Boltz v1.7.0
  B/Boltz/Compat.toml
  B/Boltz/Deps.toml
  B/Boltz/Versions.toml
  B/Boltz/WeakCompat.toml
Labels: minor release

#137850 New version: MatrixBandwidth v0.1.4
  M/MatrixBandwidth/Versions.toml
Labels: patch release

#137851 New version: SciMLBase v2.116.1
  S/SciMLBase/Versions.toml
Labels: patch release

#137852 New version: LinearSolve v3.39.2
  L/LinearSolve/Versions.toml
Labels: patch release

#137853 New version: DataInterpolations v8.6.0
  D/DataInterpolations/Versions.toml
Labels: minor release

#137854 New version: SciMLJacobianOperators v0.1.11
  S/SciMLJacobianOperators/Versions.toml
Labels: patch release

#137856 New version: PaleobiologyDB v1.1.0
  P/PaleobiologyDB/Versions.toml
Labels: minor release

#137857 New version: YAXArrays v0.7.0
  Y/YAXArrays/Compat.toml
  Y/YAXArrays/Deps.toml
  Y/YAXArrays/Versions.toml
Labels: BREAKING, minor release

#137859 New version: JLD2 v0.6.1
  J/JLD2/Compat.toml
  J/JLD2/Versions.toml
Labels: patch release

#137862 New version: DynamicalCorrelators v0.5.0
  D/DynamicalCorrelators/Compat.toml
  D/DynamicalCorrelators/Deps.toml
  D/DynamicalCorrelators/Versions.toml
Labels: BREAKING, minor release

#137865 New version: EnzymeCore v0.8.13
  E/EnzymeCore/Compat.toml
  E/EnzymeCore/Deps.toml
  E/EnzymeCore/Versions.toml
  E/EnzymeCore/WeakCompat.toml
  E/EnzymeCore/WeakDeps.toml
Labels: patch release

#137867 New version: Geomorphometry v0.7.1
  G/Geomorphometry/Compat.toml
  G/Geomorphometry/Deps.toml
  G/Geomorphometry/Versions.toml
  G/Geomorphometry/WeakCompat.toml
  G/Geomorphometry/WeakDeps.toml
Labels: patch release

#137868 New version: PyBoltz v0.2.1
  P/PyBoltz/Compat.toml
  P/PyBoltz/Versions.toml
Labels: patch release

#137870 New version: QuantumToolbox v0.35.0
  Q/QuantumToolbox/Versions.toml
Labels: BREAKING, minor release

#137881 Update Enzyme version constraints in Compat.toml
  R/Reactant/Compat.toml
Labels: compat fix

#137880 New version: DelayDiffEq v5.59.0
  D/DelayDiffEq/Versions.toml
Labels: minor release

#137887 New version: XAIBase v4.1.0
  X/XAIBase/Compat.toml
  X/XAIBase/Deps.toml
  X/XAIBase/Versions.toml
Labels: minor release

#137890 New version: Korg v0.48.0
  K/Korg/Versions.toml
Labels: BREAKING, minor release

#137891 New version: OpenCL v0.10.4
  O/OpenCL/Compat.toml
  O/OpenCL/Versions.toml
Labels: patch release

#137893 New version: Cthulhu v2.17.6
  C/Cthulhu/Compat.toml
  C/Cthulhu/Versions.toml
Labels: patch release

#137896 New version: LinearSolveAutotune v1.10.0
  L/LinearSolveAutotune/Compat.toml
  L/LinearSolveAutotune/Versions.toml
Labels: minor release

#137898 New version: GPUArrays v11.2.4
  G/GPUArrays/Versions.toml
  G/GPUArrays/WeakCompat.toml
  G/GPUArrays/WeakDeps.toml
Labels: patch release

#137899 New version: Mooncake v0.4.158
  M/Mooncake/Versions.toml
  M/Mooncake/WeakCompat.toml
Labels: patch release

#137900 New version: Devito v1.1.2
  D/Devito/Versions.toml
Labels: patch release

#137901 New version: SciMLBase v2.116.3
  S/SciMLBase/Versions.toml
Labels: patch release

#137902 New version: RationalFunctionApproximation v0.2.6
  R/RationalFunctionApproximation/Compat.toml
  R/RationalFunctionApproximation/Deps.toml
  R/RationalFunctionApproximation/Versions.toml
  R/RationalFunctionApproximation/WeakCompat.toml
  R/RationalFunctionApproximation/WeakDeps.toml
Labels: patch release

#137903 New version: DiffEqBase v6.188.0
  D/DiffEqBase/Versions.toml
Labels: minor release

#137904 New version: Devito v1.1.3
  D/Devito/Versions.toml
Labels: patch release

#137698 New package: GWInference v0.1.0
  G/GWInference/Compat.toml
  G/GWInference/Deps.toml
  G/GWInference/Package.toml
  G/GWInference/Versions.toml
  Registry.toml
Labels: new package

#137909 New version: Inti v0.2.0
  I/Inti/Compat.toml
  I/Inti/Deps.toml
  I/Inti/Versions.toml
  I/Inti/WeakCompat.toml
  I/Inti/WeakDeps.toml
Labels: BREAKING, minor release

#137911 New version: DaggerWebDash v0.1.4
  D/DaggerWebDash/Compat.toml
  D/DaggerWebDash/Deps.toml
  D/DaggerWebDash/Versions.toml
Labels: patch release

#137912 New version: Tracking v0.15.6
  T/Tracking/Compat.toml
  T/Tracking/Deps.toml
  T/Tracking/Versions.toml
Labels: patch release

#137915 New version: ToolipsServables v0.2.11
  T/ToolipsServables/Versions.toml
Labels: patch release

#137917 New version: RayTraceHeatTransfer v0.4.1
  R/RayTraceHeatTransfer/Versions.toml
Labels: patch release

#137918 New version: NonlinearOptimizationTestFunctions v0.3.0
  N/NonlinearOptimizationTestFunctions/Versions.toml
Labels: BREAKING, minor release

#137919 New version: EmpiricalDistributions v0.3.9
  E/EmpiricalDistributions/Compat.toml
  E/EmpiricalDistributions/Deps.toml
  E/EmpiricalDistributions/Versions.toml
Labels: patch release

#137921 New version: SnoopCompileCore v3.1.0
  S/SnoopCompileCore/Compat.toml
  S/SnoopCompileCore/Deps.toml
  S/SnoopCompileCore/Versions.toml
Labels: minor release

#137907 New version: WENDy v1.0.2
  W/WENDy/Compat.toml
  W/WENDy/Versions.toml
Labels: patch release

#137920 New version: RayTraceHeatTransfer v0.4.2
  R/RayTraceHeatTransfer/Versions.toml
Labels: patch release

#137923 New version: Oceanostics v0.16.1
  O/Oceanostics/Compat.toml
  O/Oceanostics/Versions.toml
Labels: patch release

#137925 New version: LikelihoodProfiler v1.1.3
  L/LikelihoodProfiler/Versions.toml
Labels: patch release

#137926 New version: Devito v1.1.4
  D/Devito/Versions.toml
Labels: patch release

#137929 New version: TimeSeries v0.25.0
  T/TimeSeries/Compat.toml
  T/TimeSeries/Deps.toml
  T/TimeSeries/Versions.toml
Labels: BREAKING, minor release

#137931 New version: WENDy v1.0.3
  W/WENDy/Versions.toml
Labels: patch release

#137932 New version: MoreMaps v0.2.0
  M/MoreMaps/Compat.toml
  M/MoreMaps/Deps.toml
  M/MoreMaps/Versions.toml
Labels: BREAKING, minor release

#137933 New version: SCS v2.2.0
  S/SCS/Compat.toml
  S/SCS/Deps.toml
  S/SCS/Versions.toml
  S/SCS/WeakCompat.toml
Labels: minor release

#137940 New version: AtomicSymmetries v0.8.1
  A/AtomicSymmetries/Versions.toml
Labels: patch release

#137942 New version: Crystalline v0.6.22
  C/Crystalline/Compat.toml
  C/Crystalline/Versions.toml
Labels: patch release

#137555 New version: ClimaOcean v0.8.4
  C/ClimaOcean/Compat.toml
  C/ClimaOcean/Versions.toml
Labels: patch release, Override AutoMerge: package author approved

#137950 New version: WriteDocx v1.2.0
  W/WriteDocx/Compat.toml
  W/WriteDocx/Versions.toml
Labels: minor release

#137956 New version: MAGEMinApp v1.0.8
  M/MAGEMinApp/Versions.toml
Labels: patch release

#137957 New version: NMRInversions v1.1.3
  N/NMRInversions/Versions.toml
  N/NMRInversions/WeakCompat.toml
Labels: patch release

#137960 New version: BioStructures v4.6.1
  B/BioStructures/Versions.toml
Labels: patch release

#137962 New version: TimeseriesSurrogates v2.7.3
  T/TimeseriesSurrogates/Compat.toml
  T/TimeseriesSurrogates/Deps.toml
  T/TimeseriesSurrogates/Versions.toml
  T/TimeseriesSurrogates/WeakCompat.toml
  T/TimeseriesSurrogates/WeakDeps.toml
Labels: patch release

#137963 New version: TinyMachines v0.3.5
  T/TinyMachines/Versions.toml
Labels: patch release

#137964 New version: SimplexTableaux v0.3.0
  S/SimplexTableaux/Versions.toml
Labels: BREAKING, minor release

#137967 New version: MadNLPGPU v0.7.14
  M/MadNLPGPU/Versions.toml
  M/MadNLPGPU/WeakCompat.toml
  M/MadNLPGPU/WeakDeps.toml
Labels: patch release

#137972 New version: SHTnsKit v1.1.5
  S/SHTnsKit/Versions.toml
Labels: patch release

#137973 New version: MathOptInterface v1.44.0
  M/MathOptInterface/Versions.toml
Labels: minor release

#137976 New version: Stipple v0.31.34
  S/Stipple/Versions.toml
Labels: patch release

#137980 New version: YearMonths v1.1.3
  Y/YearMonths/Versions.toml
Labels: patch release

#137983 New version: ClimaParams v1.0.0
  C/ClimaParams/Compat.toml
  C/ClimaParams/Deps.toml
  C/ClimaParams/Versions.toml
Labels: BREAKING, major release

#137985 New version: FiniteElementContainers v0.8.0
  F/FiniteElementContainers/Compat.toml
  F/FiniteElementContainers/Versions.toml
  F/FiniteElementContainers/WeakCompat.toml
  F/FiniteElementContainers/WeakDeps.toml
Labels: BREAKING, minor release

#137987 New version: FiniteElementContainers v0.8.1
  F/FiniteElementContainers/Versions.toml
Labels: patch release

#137992 New version: Manopt v0.5.21
  M/Manopt/Compat.toml
  M/Manopt/Versions.toml
Labels: patch release

#137998 New version: AtomsView v0.1.5
  A/AtomsView/Compat.toml
  A/AtomsView/Deps.toml
  A/AtomsView/Versions.toml
Labels: patch release

#137999 New version: PeriodicOrbits v0.1.1
  P/PeriodicOrbits/Versions.toml
Labels: patch release

#137995 New version: TrackingLoopFilters v0.1.2
  T/TrackingLoopFilters/Compat.toml
  T/TrackingLoopFilters/Versions.toml
Labels: patch release

#138000 New version: MAGEMinApp v1.0.9
  M/MAGEMinApp/Versions.toml
Labels: patch release

#138001 New version: DynamicalSystems v3.5.0
  D/DynamicalSystems/Compat.toml
  D/DynamicalSystems/Deps.toml
  D/DynamicalSystems/Versions.toml
Labels: minor release

#138005 New version: Slint v0.1.2
  S/Slint/Versions.toml
Labels: patch release

#138008 New version: DynamicObjects v0.4.0
  D/DynamicObjects/Deps.toml
  D/DynamicObjects/Versions.toml
  D/DynamicObjects/WeakDeps.toml
Labels: BREAKING, minor release

#138009 New version: HAdaptiveIntegration v0.2.2
  H/HAdaptiveIntegration/Versions.toml
Labels: patch release

#138010 New version: EnforcedTypeSignatureCallables v3.0.0
  E/EnforcedTypeSignatureCallables/Compat.toml
  E/EnforcedTypeSignatureCallables/Versions.toml
Labels: BREAKING, major release

#138017 New version: PackageStates v0.2.1
  P/PackageStates/Compat.toml
  P/PackageStates/Deps.toml
  P/PackageStates/Versions.toml
Labels: patch release

#138022 New version: VariogramAnalysis v0.2.1
  V/VariogramAnalysis/Versions.toml
Labels: patch release

#138030 New version: AbstractAlgebra v0.46.5
  A/AbstractAlgebra/Versions.toml
Labels: patch release

#138033 New version: StartUpDG v1.3.3
  S/StartUpDG/Versions.toml
Labels: patch release

#138035 New version: TrendDecomposition v0.4.0
  T/TrendDecomposition/Compat.toml
  T/TrendDecomposition/Deps.toml
  T/TrendDecomposition/Versions.toml
Labels: BREAKING, minor release

#138036 New version: Beamlines v0.6.3
  B/Beamlines/Versions.toml
Labels: patch release

#138037 New version: EasyFit v0.6.12
  E/EasyFit/Versions.toml
Labels: patch release

#138041 New version: FastMultipole v2.0.3
  F/FastMultipole/Versions.toml
Labels: patch release

#138042 New version: FeastKit v1.0.1
  F/FeastKit/Compat.toml
  F/FeastKit/Deps.toml
  F/FeastKit/Versions.toml
Labels: patch release

#137842 New package: DoubleBetaDecayGenerators v0.1.0
  D/DoubleBetaDecayGenerators/Compat.toml
  D/DoubleBetaDecayGenerators/Deps.toml
  D/DoubleBetaDecayGenerators/Package.toml
  D/DoubleBetaDecayGenerators/Versions.toml
  Registry.toml
Labels: new package

#138043 New version: Clapeyron v0.6.16
  C/Clapeyron/Versions.toml
Labels: patch release
