Repository JuliaRegistries/General, pull requests merged in 2025-01, with the labels that each got.

#122233 New version: LuxLib v1.4.0
  L/LuxLib/Compat.toml
  L/LuxLib/Versions.toml
Labels: minor release

#122220 New version: RepeatingDecimalNotations v1.0.0
  R/RepeatingDecimalNotations/Compat.toml
  R/RepeatingDecimalNotations/Versions.toml
Labels: BREAKING, major release

#122235 New version: DynamicExpressions v1.9.2
  D/DynamicExpressions/Versions.toml
Labels: patch release

#122237 New version: ChainRules v1.72.2
  C/ChainRules/Versions.toml
Labels: patch release

#122238 New version: Zygote v0.6.75
  Z/Zygote/Versions.toml
  Z/Zygote/WeakCompat.toml
Labels: patch release

#122127 New package: DMRGenie v0.99.0
  D/DMRGenie/Compat.toml
  D/DMRGenie/Deps.toml
  D/DMRGenie/Package.toml
  D/DMRGenie/Versions.toml
  Registry.toml
Labels: new package

#122239 New version: FiniteVolumeMethod v1.1.5
  F/FiniteVolumeMethod/Versions.toml
Labels: patch release

#122241 New version: CounterfactualExplanations v1.4.2
  C/CounterfactualExplanations/Versions.toml
Labels: patch release

#122245 New version: GAP v0.12.3
  G/GAP/Versions.toml
Labels: patch release

#122247 New version: PeriodicMatrixEquations v0.1.1
  P/PeriodicMatrixEquations/Versions.toml
Labels: patch release

#122248 New version: Reactant v0.2.13
  R/Reactant/Versions.toml
  R/Reactant/WeakDeps.toml
Labels: patch release

#122250 New version: MadNLPTests v0.5.2
  M/MadNLPTests/Compat.toml
  M/MadNLPTests/Versions.toml
Labels: patch release

#122251 New version: MLDataDevices v1.6.6
  M/MLDataDevices/Versions.toml
  M/MLDataDevices/WeakCompat.toml
Labels: patch release

#122253 New version: CUSOLVERRF v0.2.5
  C/CUSOLVERRF/Compat.toml
  C/CUSOLVERRF/Versions.toml
Labels: patch release

#122254 New version: BeliefPropagation v0.4.1
  B/BeliefPropagation/Versions.toml
Labels: patch release

#122257 New version: Obsidian v0.3.0
  O/Obsidian/Compat.toml
  O/Obsidian/Versions.toml
Labels: BREAKING, minor release

#122258 New version: PALEOmodel v0.16.2
  P/PALEOmodel/Versions.toml
Labels: patch release

#122259 New version: ArrayPadding v1.0.2
  A/ArrayPadding/Compat.toml
  A/ArrayPadding/Deps.toml
  A/ArrayPadding/Versions.toml
Labels: patch release

#122260 New version: SatelliteToolboxTransformations v0.1.9
  S/SatelliteToolboxTransformations/Versions.toml
Labels: patch release

#122263 New version: Speculator v0.1.1
  S/Speculator/Versions.toml
Labels: patch release

#122264 New version: CAP v0.2.1
  C/CAP/Compat.toml
  C/CAP/Versions.toml
Labels: patch release

#122265 New version: MonoidalCategories v0.1.1
  M/MonoidalCategories/Versions.toml
Labels: patch release

#122266 New version: Lux v1.4.4
  L/Lux/Compat.toml
  L/Lux/Versions.toml
  L/Lux/WeakCompat.toml
Labels: patch release

#122267 New version: CartesianCategories v0.1.1
  C/CartesianCategories/Versions.toml
Labels: patch release

#122271 New version: SatelliteToolboxBase v1.0.0
  S/SatelliteToolboxBase/Compat.toml
  S/SatelliteToolboxBase/Deps.toml
  S/SatelliteToolboxBase/Versions.toml
Labels: BREAKING, major release

#122272 New version: SatelliteToolboxTle v1.1.0
  S/SatelliteToolboxTle/Compat.toml
  S/SatelliteToolboxTle/Versions.toml
Labels: minor release

#122273 New version: ArrayPadding v1.0.3
  A/ArrayPadding/Versions.toml
Labels: patch release

#122274 New version: SatelliteToolboxSgp4 v2.3.0
  S/SatelliteToolboxSgp4/Compat.toml
  S/SatelliteToolboxSgp4/Versions.toml
Labels: minor release

#122275 New version: SatelliteToolboxTransformations v1.0.0
  S/SatelliteToolboxTransformations/Compat.toml
  S/SatelliteToolboxTransformations/Deps.toml
  S/SatelliteToolboxTransformations/Versions.toml
Labels: BREAKING, major release

#122276 New version: SatelliteToolboxLegendre v1.1.0
  S/SatelliteToolboxLegendre/Compat.toml
  S/SatelliteToolboxLegendre/Versions.toml
Labels: minor release

#122277 New version: SatelliteToolboxPropagators v1.0.0
  S/SatelliteToolboxPropagators/Compat.toml
  S/SatelliteToolboxPropagators/Deps.toml
  S/SatelliteToolboxPropagators/Versions.toml
Labels: BREAKING, major release

#122278 New version: SatelliteToolboxCelestialBodies v1.0.0
  S/SatelliteToolboxCelestialBodies/Compat.toml
  S/SatelliteToolboxCelestialBodies/Deps.toml
  S/SatelliteToolboxCelestialBodies/Versions.toml
Labels: BREAKING, major release

#122279 New version: SatelliteToolboxGravityModels v1.0.0
  S/SatelliteToolboxGravityModels/Compat.toml
  S/SatelliteToolboxGravityModels/Deps.toml
  S/SatelliteToolboxGravityModels/Versions.toml
Labels: BREAKING, major release

#122280 New version: SatelliteToolboxGeomagneticField v1.0.0
  S/SatelliteToolboxGeomagneticField/Compat.toml
  S/SatelliteToolboxGeomagneticField/Deps.toml
  S/SatelliteToolboxGeomagneticField/Versions.toml
Labels: BREAKING, major release

#122281 New version: SatelliteToolboxAtmosphericModels v1.0.0
  S/SatelliteToolboxAtmosphericModels/Compat.toml
  S/SatelliteToolboxAtmosphericModels/Deps.toml
  S/SatelliteToolboxAtmosphericModels/Versions.toml
Labels: BREAKING, major release

#122282 New version: SatelliteToolbox v1.0.0
  S/SatelliteToolbox/Compat.toml
  S/SatelliteToolbox/Deps.toml
  S/SatelliteToolbox/Versions.toml
Labels: BREAKING, major release

#122283 New version: ClusterManagers v0.4.7
  C/ClusterManagers/Versions.toml
Labels: patch release

#122285 New version: AutoStructs v0.1.1
  A/AutoStructs/Versions.toml
Labels: patch release

#122287 New version: Reactant v0.2.14
  R/Reactant/Compat.toml
  R/Reactant/Versions.toml
  R/Reactant/WeakCompat.toml
Labels: patch release

#122288 New version: PawsomeTracker v1.1.3
  P/PawsomeTracker/Versions.toml
Labels: patch release

#122289 New version: Unitful v1.22.0
  U/Unitful/Versions.toml
Labels: minor release

#122290 New version: DispatchDoctor v0.4.18
  D/DispatchDoctor/Versions.toml
Labels: patch release

#122291 New version: TensorKit v0.14.1
  T/TensorKit/Versions.toml
Labels: patch release

#122293 New version: Manifolds v0.10.11
  M/Manifolds/Versions.toml
Labels: patch release

#122294 New version: Revise v3.6.6
  R/Revise/Versions.toml
Labels: patch release

#122295 New version: Revise v3.7.0
  R/Revise/Compat.toml
  R/Revise/Deps.toml
  R/Revise/Versions.toml
  R/Revise/WeakCompat.toml
  R/Revise/WeakDeps.toml
Labels: minor release

#122296 New version: Symbolics v6.22.1
  S/Symbolics/Versions.toml
  S/Symbolics/WeakCompat.toml
Labels: patch release

#122297 New version: BridgeStan v2.6.1
  B/BridgeStan/Versions.toml
Labels: patch release

#122299 New version: DynamicalSystemsBase v3.13.1
  D/DynamicalSystemsBase/Versions.toml
Labels: patch release

#122303 New version: CounterfactualExplanations v1.4.3
  C/CounterfactualExplanations/Versions.toml
Labels: patch release

#122302 New version: RemoteS v1.3.3
  R/RemoteS/Versions.toml
  R/RemoteS/WeakCompat.toml
Labels: patch release, Override AutoMerge: package author approved

#122304 New version: LaMEM v0.4.2
  L/LaMEM/Versions.toml
Labels: patch release

#122305 New version: PlotlyDocumenter v0.2.0
  P/PlotlyDocumenter/Versions.toml
  P/PlotlyDocumenter/WeakDeps.toml
Labels: BREAKING, minor release

#122306 New version: OceanBioME v0.13.4
  O/OceanBioME/Compat.toml
  O/OceanBioME/Versions.toml
Labels: patch release

#122307 New version: Mooncake v0.4.70
  M/Mooncake/Versions.toml
Labels: patch release

#122308 New version: Buffers v0.1.2
  B/Buffers/Compat.toml
  B/Buffers/Deps.toml
  B/Buffers/Versions.toml
Labels: patch release

#122309 New version: Hephaestus v0.2.0
  H/Hephaestus/Compat.toml
  H/Hephaestus/Deps.toml
  H/Hephaestus/Versions.toml
  H/Hephaestus/WeakCompat.toml
  H/Hephaestus/WeakDeps.toml
Labels: BREAKING, minor release

#122310 New version: Gumbo v0.8.3
  G/Gumbo/Versions.toml
Labels: patch release

#122312 New version: SIAN v1.6.0
  S/SIAN/Compat.toml
  S/SIAN/Versions.toml
Labels: minor release

#122179 New package: CheckMate v0.1.0
  C/CheckMate/Compat.toml
  C/CheckMate/Deps.toml
  C/CheckMate/Package.toml
  C/CheckMate/Versions.toml
  Registry.toml
Labels: new package

#122321 New version: IMASdd v2.4.13
  I/IMASdd/Compat.toml
  I/IMASdd/Deps.toml
  I/IMASdd/Versions.toml
Labels: patch release

#122323 New version: RecurrenceRelationships v0.2.0
  R/RecurrenceRelationships/Versions.toml
Labels: BREAKING, minor release

#122325 New version: SimplePadics v0.2.3
  S/SimplePadics/Compat.toml
  S/SimplePadics/Versions.toml
Labels: patch release

#122326 New version: Associations v4.4.1
  A/Associations/Compat.toml
  A/Associations/Versions.toml
Labels: patch release

#122327 New version: CheckMate v0.1.3
  C/CheckMate/Versions.toml
Labels: patch release, Override AutoMerge: package author approved

#122328 New version: SimpleExpressions v1.1.4
  S/SimpleExpressions/Compat.toml
  S/SimpleExpressions/Deps.toml
  S/SimpleExpressions/Versions.toml
Labels: patch release

#122331 New version: DelayDiffEq v5.52.0
  D/DelayDiffEq/Versions.toml
Labels: minor release

#122333 New version: Jello v1.0.2
  J/Jello/Versions.toml
Labels: patch release

#122332 New version: ArrayPadding v1.0.4
  A/ArrayPadding/Compat.toml
  A/ArrayPadding/Versions.toml
  A/ArrayPadding/WeakCompat.toml
  A/ArrayPadding/WeakDeps.toml
Labels: patch release

#122334 New version: FSimZoo v0.12.0
  F/FSimZoo/Versions.toml
Labels: BREAKING, minor release

#122336 New version: ChainRulesCore v1.25.1
  C/ChainRulesCore/Versions.toml
Labels: patch release

#122337 New version: Solaris v0.2.27
  S/Solaris/Compat.toml
  S/Solaris/Versions.toml
Labels: patch release

#122338 New version: FSimBase v0.2.3
  F/FSimBase/Compat.toml
  F/FSimBase/Deps.toml
  F/FSimBase/Versions.toml
Labels: patch release

#122339 New version: FSimZoo v0.12.1
  F/FSimZoo/Compat.toml
  F/FSimZoo/Versions.toml
Labels: patch release

#122340 New version: ChunkCodecCore v0.3.0
  C/ChunkCodecCore/Versions.toml
Labels: BREAKING, minor release

#121779 New version: OrdinaryDiffEqDefault v1.2.0
  O/OrdinaryDiffEqDefault/Compat.toml
  O/OrdinaryDiffEqDefault/Deps.toml
  O/OrdinaryDiffEqDefault/Versions.toml
Labels: minor release

#122335 New version: FlightSims v1.3.0
  F/FlightSims/Compat.toml
  F/FlightSims/Versions.toml
Labels: minor release

#122341 New version: Quaternionic v2.0.1
  Q/Quaternionic/Versions.toml
Labels: patch release

#122342 New version: ModelingToolkitStandardLibrary v2.19.0
  M/ModelingToolkitStandardLibrary/Versions.toml
Labels: minor release

#122344 New version: FSimPlots v0.5.0
  F/FSimPlots/Compat.toml
  F/FSimPlots/Versions.toml
Labels: BREAKING, minor release

#122345 New version: EntropyScaling v0.3.0
  E/EntropyScaling/Versions.toml
Labels: BREAKING, minor release

#122286 New version: Tsunami v0.2.0
  T/Tsunami/Compat.toml
  T/Tsunami/Deps.toml
  T/Tsunami/Versions.toml
  T/Tsunami/WeakCompat.toml
  T/Tsunami/WeakDeps.toml
Labels: BREAKING, minor release

#122346 New version: DispatchDoctor v0.4.19
  D/DispatchDoctor/Versions.toml
Labels: patch release

#122198 New package: Lexbor v1.0.0
  L/Lexbor/Compat.toml
  L/Lexbor/Deps.toml
  L/Lexbor/Package.toml
  L/Lexbor/Versions.toml
  Registry.toml
Labels: new package, Override AutoMerge: name similarity is okay

#122347 New version: PhysicalConstants v0.2.4
  P/PhysicalConstants/Versions.toml
Labels: patch release

#122348 New version: SUNRepresentations v0.3.0
  S/SUNRepresentations/Compat.toml
  S/SUNRepresentations/Deps.toml
  S/SUNRepresentations/Versions.toml
Labels: BREAKING, minor release

#122352 New version: PeriodicSystems v1.0.0
  P/PeriodicSystems/Compat.toml
  P/PeriodicSystems/Deps.toml
  P/PeriodicSystems/Versions.toml
  P/PeriodicSystems/WeakCompat.toml
  P/PeriodicSystems/WeakDeps.toml
Labels: BREAKING, major release

#122353 New version: HydroModels v0.1.5
  H/HydroModels/Versions.toml
Labels: patch release

#122354 New version: Revise v3.7.1
  R/Revise/Versions.toml
Labels: patch release

#122356 New version: NetCDF v0.12.1
  N/NetCDF/Versions.toml
Labels: patch release

#122359 New version: SymbolicRegression v1.5.2
  S/SymbolicRegression/Compat.toml
  S/SymbolicRegression/Versions.toml
Labels: patch release

#122360 New version: Pathfinder v0.9.9
  P/Pathfinder/Compat.toml
  P/Pathfinder/Deps.toml
  P/Pathfinder/Versions.toml
Labels: patch release

#122314 New version: Korg v0.42.0
  K/Korg/Compat.toml
  K/Korg/Deps.toml
  K/Korg/Versions.toml
Labels: BREAKING, minor release

#122363 New version: ClimaReproducibilityTests v0.1.1
  C/ClimaReproducibilityTests/Versions.toml
Labels: patch release

#122364 New version: GasChromatographySimulator v0.5.1
  G/GasChromatographySimulator/Versions.toml
Labels: patch release

#122365 New version: SmoQyDQMC v1.0.15
  S/SmoQyDQMC/Versions.toml
Labels: patch release

#122366 New version: Clapeyron v0.6.7
  C/Clapeyron/Versions.toml
Labels: patch release

#122367 New version: ClapeyronHANNA v1.1.1
  C/ClapeyronHANNA/Versions.toml
Labels: patch release

#122368 New version: TuringBenchmarking v0.5.7
  T/TuringBenchmarking/Compat.toml
  T/TuringBenchmarking/Versions.toml
Labels: patch release

#122369 New version: CLEARSWI v1.4.0
  C/CLEARSWI/Compat.toml
  C/CLEARSWI/Versions.toml
Labels: minor release

#122215 New package: FreeBird v0.0.1
  F/FreeBird/Compat.toml
  F/FreeBird/Deps.toml
  F/FreeBird/Package.toml
  F/FreeBird/Versions.toml
  Registry.toml
Labels: new package

#122370 New version: NMFk v1.4.3
  N/NMFk/Versions.toml
Labels: patch release

#122218 New package: Conspire v0.1.0
  C/Conspire/Compat.toml
  C/Conspire/Deps.toml
  C/Conspire/Package.toml
  C/Conspire/Versions.toml
  Registry.toml
Labels: new package

#122372 New version: ParameterEstimation v0.4.2
  P/ParameterEstimation/Compat.toml
  P/ParameterEstimation/Deps.toml
  P/ParameterEstimation/Versions.toml
Labels: patch release

#122210 New version: ReservoirComputing v0.10.5
  R/ReservoirComputing/Versions.toml
Labels: patch release

#122373 New version: CamiFITS v0.2.24
  C/CamiFITS/Versions.toml
Labels: patch release

#122374 New version: Conspire v0.1.1
  C/Conspire/Versions.toml
Labels: patch release

#122375 New version: RefractiveIndex v0.4.3
  R/RefractiveIndex/Versions.toml
Labels: patch release

#122376 New version: HiGHS v1.13.0
  H/HiGHS/Compat.toml
  H/HiGHS/Versions.toml
Labels: minor release

#122377 New version: StateSpaceLearning v1.3.1
  S/StateSpaceLearning/Versions.toml
Labels: patch release

#122378 New version: Porcupine v1.0.5
  P/Porcupine/Compat.toml
  P/Porcupine/Deps.toml
  P/Porcupine/Versions.toml
  P/Porcupine/WeakCompat.toml
  P/Porcupine/WeakDeps.toml
Labels: patch release

#122380 New version: SimpleExpressions v1.1.5
  S/SimpleExpressions/Versions.toml
Labels: patch release

#122381 New version: Speculator v0.1.2
  S/Speculator/Versions.toml
Labels: patch release

#122383 New version: SOLPS2imas v2.0.1
  S/SOLPS2imas/Versions.toml
Labels: patch release

#122384 New version: Porcupine v1.0.6
  P/Porcupine/Compat.toml
  P/Porcupine/Deps.toml
  P/Porcupine/Versions.toml
Labels: patch release

#122385 New version: Jello v1.0.3
  J/Jello/Versions.toml
Labels: patch release

#122386 New version: Conspire v0.1.2
  C/Conspire/Versions.toml
Labels: patch release

#122388 New version: CamiFITS v0.2.25
  C/CamiFITS/Versions.toml
Labels: patch release

#122389 New version: JosephsonCircuits v0.4.13
  J/JosephsonCircuits/Versions.toml
Labels: patch release

#122390 New version: CGcoefficient v0.3.0
  C/CGcoefficient/Versions.toml
Labels: BREAKING, minor release

#122392 New version: Jello v1.0.4
  J/Jello/Versions.toml
Labels: patch release

#122393 New version: MLUtils v0.4.5
  M/MLUtils/Versions.toml
Labels: patch release

#122394 New version: DFTK v0.7.6
  D/DFTK/Compat.toml
  D/DFTK/Deps.toml
  D/DFTK/Versions.toml
  D/DFTK/WeakCompat.toml
  D/DFTK/WeakDeps.toml
Labels: patch release

#122395 New version: SignalAnalysis v0.10.2
  S/SignalAnalysis/Versions.toml
Labels: patch release

#122396 New version: Zygote v0.7.0
  Z/Zygote/Compat.toml
  Z/Zygote/Versions.toml
Labels: BREAKING, minor release

#122397 New version: SignalAnalysis v0.10.3
  S/SignalAnalysis/Compat.toml
  S/SignalAnalysis/Versions.toml
Labels: patch release

#122398 New version: Manopt v0.5.5
  M/Manopt/Compat.toml
  M/Manopt/Deps.toml
  M/Manopt/Versions.toml
Labels: patch release

#122246 New package: LandSea v0.0.1
  L/LandSea/Compat.toml
  L/LandSea/Deps.toml
  L/LandSea/Package.toml
  L/LandSea/Versions.toml
  Registry.toml
Labels: new package

#122249 New package: TensorOperator v0.1.1
  Registry.toml
  T/TensorOperator/Compat.toml
  T/TensorOperator/Deps.toml
  T/TensorOperator/Package.toml
  T/TensorOperator/Versions.toml
Labels: new package

#122379 New version: Oceanostics v0.15.0
  O/Oceanostics/Versions.toml
Labels: BREAKING, minor release

#122400 New version: MLDataDevices v1.6.7
  M/MLDataDevices/Versions.toml
  M/MLDataDevices/WeakCompat.toml
Labels: patch release

#122401 New version: Oxygen v1.5.16
  O/Oxygen/Versions.toml
Labels: patch release

#122402 New version: FinEtoolsFlexStructures v3.0.7
  F/FinEtoolsFlexStructures/Versions.toml
Labels: patch release, Override AutoMerge: package author approved

#122403 New version: MadNLPGPU v0.7.5
  M/MadNLPGPU/Compat.toml
  M/MadNLPGPU/Deps.toml
  M/MadNLPGPU/Versions.toml
Labels: patch release

#122405 New version: ShuffleProofs v0.4.4
  S/ShuffleProofs/Versions.toml
Labels: patch release

#122268 New package: Toposes v0.1.0
  Registry.toml
  T/Toposes/Compat.toml
  T/Toposes/Deps.toml
  T/Toposes/Package.toml
  T/Toposes/Versions.toml
Labels: new package

#122059 [GHA] Set concurrency groups for automerge and registry consistency jobs
  .github/workflows/automerge.yml
  .github/workflows/registry-consistency-ci.yml
Labels: CI

#122406 New version: MagNav v1.2.1
  M/MagNav/Compat.toml
  M/MagNav/Versions.toml
Labels: patch release

#122408 New version: Hephaestus v0.3.0
  H/Hephaestus/Versions.toml
Labels: BREAKING, minor release

#122410 New version: Zygote v0.7.1
  Z/Zygote/Versions.toml
Labels: patch release

#122411 New version: ArrayPadding v1.0.5
  A/ArrayPadding/Compat.toml
  A/ArrayPadding/Deps.toml
  A/ArrayPadding/Versions.toml
  A/ArrayPadding/WeakCompat.toml
  A/ArrayPadding/WeakDeps.toml
Labels: patch release

#122412 New version: Porcupine v1.0.7
  P/Porcupine/Versions.toml
Labels: patch release

#122413 New version: Solaris v0.2.28
  S/Solaris/Compat.toml
  S/Solaris/Versions.toml
Labels: patch release

#122414 New version: SimulationBasedInference v0.1.9
  S/SimulationBasedInference/Versions.toml
Labels: patch release

#122418 New version: Jello v1.0.5
  J/Jello/Compat.toml
  J/Jello/Versions.toml
Labels: patch release

#122420 New version: Conspire v0.1.3
  C/Conspire/Versions.toml
Labels: patch release

#122423 New version: Thermochron v0.11.3
  T/Thermochron/Versions.toml
Labels: patch release

#122424 New version: Jello v1.0.6
  J/Jello/Versions.toml
Labels: patch release

#122425 New version: CoordRefSystems v0.16.7
  C/CoordRefSystems/Compat.toml
  C/CoordRefSystems/Versions.toml
Labels: patch release

#122427 New version: BinaryBuilderBase v1.34.2
  B/BinaryBuilderBase/Versions.toml
Labels: patch release
